Repository openfoodfacts/openfoodfacts-server, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, taxonomies, translations, tests, Template::Toolkit, Attributes, data quality, Display, ecoscore, Export, Food.pm, Food groups, forest footprint, geolite, producers platform, gs1, images, data import, ingredients, knowledge-panels, lang, Mail, MainCountries, Numbers, nutriscore, Orgs, packager codes, Packaging, Producers, ProducersFood, Products, Recipes, Tags, Text, Url, Users, Web

.github/labeler.yml:

github_actions:
- .github/**/*

taxonomies:
- taxonomies/**/*

translations:
- po/**/*

tests:
- test/**/*

Template::Toolkit:
- templates/**/*

Attributes:
- lib/ProductOpener/Attributes.pm

data quality:
- lib/ProductOpener/DataQuality.pm
- lib/ProductOpener/DataQualityCommon.pm
- lib/ProductOpener/DataQualityFood.pm

Display:
- lib/ProductOpener/Display.pm

ecoscore:
- lib/ProductOpener/Ecoscore.pm

Export:
- lib/ProductOpener/Export.pm

Food.pm:
- lib/ProductOpener/Food.pm

Food groups:
- lib/ProductOpener/FoodGroups.pm

forest footprint:
- lib/ProductOpener/ForestFootprint.pm

geolite:
- lib/ProductOpener/GeoIP.pm

producers platform:
- lib/ProductOpener/GS1.pm
- lib/ProductOpener/Orgs.pm
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm
- lib/ProductOpener/Producers.pm
- lib/ProductOpener/ProducersFood.pm

gs1:
- lib/ProductOpener/GS1.pm

images:
- lib/ProductOpener/Images.pm

data import:
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm

ingredients:
- lib/ProductOpener/Ingredients.pm

knowledge-panels:
- lib/ProductOpener/KnowledgePanels.pm

lang:
- lib/ProductOpener/Lang.pm

Mail:
- lib/ProductOpener/Mail.pm

MainCountries:
- lib/ProductOpener/MainCountries.pm

Numbers:
- lib/ProductOpener/Numbers.pm

nutriscore:
- lib/ProductOpener/Nutriscore.pm

Orgs:
- lib/ProductOpener/Orgs.pm

packager codes:
- lib/ProductOpener/PackagerCodes.pm

Packaging:
- lib/ProductOpener/Packaging.pm

Producers:
- lib/ProductOpener/Producers.pm

ProducersFood:
- lib/ProductOpener/ProducersFood.pm

Products:
- lib/ProductOpener/Products.pm

Recipes:
- lib/ProductOpener/Recipes.pm

Tags:
- lib/ProductOpener/Tags.pm

Text:
- lib/ProductOpener/Text.pm

Url:
- lib/ProductOpener/URL.pm

Users:
- lib/ProductOpener/Users.pm

Web:
- lib/ProductOpener/Web.pm

more wikidata
  taxonomies/categories.txt
Labels: taxonomies

more wikidata
  taxonomies/categories.txt
Labels: taxonomies

fix empty greek wine
  taxonomies/categories.txt
Labels: taxonomies

wines
  taxonomies/categories.txt
Labels: taxonomies

wikidata
  taxonomies/categories.txt
Labels: taxonomies

wikidata + fixes
  taxonomies/categories.txt
Labels: taxonomies

wikidata
  taxonomies/categories.txt
Labels: taxonomies

fixes and wikidata
  taxonomies/categories.txt
Labels: taxonomies

wines for countries
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

wikidata
  taxonomies/categories.txt
Labels: taxonomies

spanish cheeses
  taxonomies/categories.txt
Labels: taxonomies

wikidata
  taxonomies/categories.txt
Labels: taxonomies

wikidata
  taxonomies/categories.txt
Labels: taxonomies

wikidata
  taxonomies/categories.txt
Labels: taxonomies

wikidata
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies

more wikidata
  taxonomies/categories.txt
Labels: taxonomies

wikidata and fixes
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

fixes
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies

wikidata for categories.wip.txt
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies

fix
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies

wikidata
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies

more wikidata entries
  taxonomies/categories.txt
Labels: taxonomies

Delete .DS_Store
  .DS_Store
Labels: none

more wikidata
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

more Spanish wikidata
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

fixes
  taxonomies/categories.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@cd193e85353a5da60d046448e4bfe04e9be246cf 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

initial support for specific ingredients parsing #6242
  lib/ProductOpener/Ingredients.pm
  t/expected_test_results/ingredients/en-specific-ingredients.json
  t/expected_test_results/ingredients/fr-specific-ingredients.json
  t/expected_test_results/nutriscore/fr-gaspacho.json
  t/ingredients.t
  t/ingredients_parsing.t
  t/nutriscore.t
Labels: ingredients

wikidata
  taxonomies/categories.txt
Labels: taxonomies

fix utf8 issue
  t/expected_test_results/nutriscore/fr-gaspacho.json
  t/nutriscore.t
Labels: none

use specific ingredients for fruits/vegetables in nutriscore computation
  lib/ProductOpener/Ingredients.pm
  t/expected_test_results/nutriscore/fr-gaspacho.json
Labels: ingredients

update test
  t/expected_test_results/ingredients/fr-specific-ingredients.json
Labels: none

fix: increase timeout for gen_top_tags_per_country.pl - fixes #6244
  scripts/gen_top_tags_per_country.pl
Labels: none
