Repository openfoodfacts/openfoodfacts-server, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, taxonomies, translations, tests, Template::Toolkit, Attributes, data quality, Display, ecoscore, Export, Food.pm, Food groups, forest footprint, geolite, producers platform, gs1, images, data import, ingredients, knowledge-panels, lang, Mail, MainCountries, Numbers, nutriscore, Orgs, packager codes, Packaging, Producers, ProducersFood, Products, Recipes, Tags, Text, Url, Users, Web

.github/labeler.yml:

github_actions:
- .github/**/*

taxonomies:
- taxonomies/**/*

translations:
- po/**/*

tests:
- test/**/*

Template::Toolkit:
- templates/**/*

Attributes:
- lib/ProductOpener/Attributes.pm

data quality:
- lib/ProductOpener/DataQuality.pm
- lib/ProductOpener/DataQualityCommon.pm
- lib/ProductOpener/DataQualityFood.pm

Display:
- lib/ProductOpener/Display.pm

ecoscore:
- lib/ProductOpener/Ecoscore.pm

Export:
- lib/ProductOpener/Export.pm

Food.pm:
- lib/ProductOpener/Food.pm

Food groups:
- lib/ProductOpener/FoodGroups.pm

forest footprint:
- lib/ProductOpener/ForestFootprint.pm

geolite:
- lib/ProductOpener/GeoIP.pm

producers platform:
- lib/ProductOpener/GS1.pm
- lib/ProductOpener/Orgs.pm
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm
- lib/ProductOpener/Producers.pm
- lib/ProductOpener/ProducersFood.pm

gs1:
- lib/ProductOpener/GS1.pm

images:
- lib/ProductOpener/Images.pm

data import:
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm

ingredients:
- lib/ProductOpener/Ingredients.pm

knowledge-panels:
- lib/ProductOpener/KnowledgePanels.pm

lang:
- lib/ProductOpener/Lang.pm

Mail:
- lib/ProductOpener/Mail.pm

MainCountries:
- lib/ProductOpener/MainCountries.pm

Numbers:
- lib/ProductOpener/Numbers.pm

nutriscore:
- lib/ProductOpener/Nutriscore.pm

Orgs:
- lib/ProductOpener/Orgs.pm

packager codes:
- lib/ProductOpener/PackagerCodes.pm

Packaging:
- lib/ProductOpener/Packaging.pm

Producers:
- lib/ProductOpener/Producers.pm

ProducersFood:
- lib/ProductOpener/ProducersFood.pm

Products:
- lib/ProductOpener/Products.pm

Recipes:
- lib/ProductOpener/Recipes.pm

Tags:
- lib/ProductOpener/Tags.pm

Text:
- lib/ProductOpener/Text.pm

Url:
- lib/ProductOpener/URL.pm

Users:
- lib/ProductOpener/Users.pm

Web:
- lib/ProductOpener/Web.pm

Add Top Issues
  .github/workflows/top-issues.yml
Labels: github_actions

Update top-issues.yml
  .github/workflows/top-issues.yml
Labels: github_actions

Update top-issues.yml
  .github/workflows/top-issues.yml
Labels: github_actions

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@a8ce92fe2cbfe8c0ce9e76db4efcc08b1f1d8be7 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

ops: remove tab before comment in Makefile (#6213)
  Makefile
Labels: none

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@66110623ab592a0c184a6af2b376efe18c5a397c 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

run action on schedule
  .github/workflows/top-issues.yml
Labels: github_actions

fix Equadis import of Nutri-Score field (#6215)
  lib/ProductOpener/GS1.pm
  t/expected_test_results/import_gs1/equadis_pepsico_chips.json
  t/expected_test_results/import_gs1/equadis_pepsico_chips.off.json
Labels: producers platform, gs1

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@85e3c7f2f36f1313f5b0c2ce57e783c4c90b8a71 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

fix: keep eol to lf as default
  .gitattributes
Labels: none

fix: keep eol to lf as default (#6220)
  .gitattributes
Labels: none

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@e4a29117a44bca7a96e216d32282d20392446e6e 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Localize Eco-Score data even if we don't have an Eco-Score category (#6209)
  lib/ProductOpener/Ecoscore.pm
Labels: ecoscore

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@319b66b14a8717ddd3e8123eaaf6a30398d58d0c 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Fix: Reset email capitalization
  cgi/reset_password.pl
Labels: none

updates to the OBF categories taxonomy
  taxonomies.obf/categories.txt
Labels: none

wikidata fixes
  taxonomies.obf/categories.txt
Labels: none

Wikidata Fixes for the Open Beauty Facts categories (#6224)
  taxonomies.obf/categories.txt
Labels: none

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@16d2ccbd438729823c3b2efb382562d03144e87a 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

ops: makefile should not depend on project prefix
  Makefile
Labels: none

refactor: in import.pm
  lib/ProductOpener/Import.pm
Labels: producers platform, data import

fix: fix daily tasks
  .github/workflows/daily.yml
  Makefile
Labels: github_actions

dutch additions
  taxonomies/categories.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@7028b91ff734c390cc1032784c611490955e60a2 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

fix: fix daily tasks (#6227)
  .github/workflows/daily.yml
  Makefile
Labels: github_actions

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@5f9c7c774da4c1d6d0934044aeddcd2c2e74bb56 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@22b341ca389fc6c19e9ff1735c02235f382a0327 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Fix typo in vegan cheese category german (#6210)
  taxonomies/categories.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@4d80a62f9a22b5e822c60cce9be3a6b38ffd25d6 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

column groups for nutrition facts panel
  lib/ProductOpener/Display.pm
Labels: Display

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update me.po
  po/common/me.po
Labels: translations
