Repository openfoodfacts/openfoodfacts-server, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, taxonomies, translations, tests, Template::Toolkit, Attributes, data quality, Display, ecoscore, Export, Food.pm, Food groups, forest footprint, geolite, producers platform, gs1, images, data import, ingredients, knowledge-panels, lang, Mail, MainCountries, Numbers, nutriscore, Orgs, packager codes, Packaging, Producers, ProducersFood, Products, Recipes, Tags, Text, Url, Users, Web

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@d71eee339b7dc62ef2f2968974f4c4ff6c1075bf 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

feat: example product in API with code=example - #6250
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
Labels: Display

feat: example product in API with code=example - #6250 (#6252)
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
Labels: Display

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@c0605a4e7a40a8ac2b39c28e6007f95ffb150dba 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@f69e9a90e349bf6b04c3c02a5601aec47e14f807 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

add 'fruits and vegetables' entry + fr stopwords change
  taxonomies/ingredients.txt
Labels: taxonomies

fix: French translation for appetizers
  taxonomies/categories.txt
Labels: taxonomies

fix: ensure windows newlines don't break panels
  lib/ProductOpener/KnowledgePanels.pm
Labels: knowledge-panels

fix: ensure windows newlines don't break panels (#6254)
  lib/ProductOpener/KnowledgePanels.pm
Labels: knowledge-panels

fix: French translation for appetizers (#6253)
  taxonomies/categories.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@bcbc70ccf130db0cff7f391816f32e6b5a8cfedd 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

built taxonomies: categories, ingredients, additives
  taxonomies/categories.result.txt
  taxonomies/categories.txt
  taxonomies/ingredients.result.txt
Labels: taxonomies

add 'fruits and vegetables' entry + fr stopwords change (#6255)
  taxonomies/ingredients.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@343228f17b3f9f86bef14ba5dfd5122d1589ed1a 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@a4eeb246310b13b650213d3ef2a0a0a2971e0317 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Samples for key countries and backport
  lib/ProductOpener/Config_off.pm
Labels: none

built taxonomies: categories, ingredients, additives (#6257)
  taxonomies/categories.result.txt
  taxonomies/categories.txt
  taxonomies/ingredients.result.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@696c6612c99d712e475745f386b997b82d3c359c 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: github_actions

feat: add allergens and traces to ingredients panel
  lib/ProductOpener/Display.pm
  po/common/en.po
  po/common/fr.po
  templates/api/knowledge-panels/health/ingredients/ingredients.tt.json
Labels: translations, Template::Toolkit, Display

revert change for allergens string and use allergens_p instead
  po/common/en.po
  po/common/fr.po
  templates/api/knowledge-panels/health/ingredients/ingredients.tt.json
Labels: translations, Template::Toolkit

start of panel for additives
  lib/ProductOpener/KnowledgePanels.pm
  templates/api/knowledge-panels/health/health_card.tt.json
  templates/api/knowledge-panels/health/ingredients/additives.tt.json
Labels: Template::Toolkit, knowledge-panels

feat: add allergens and traces to ingredients panel (#6266)
  lib/ProductOpener/Display.pm
  templates/api/knowledge-panels/health/ingredients/ingredients.tt.json
Labels: Template::Toolkit, Display

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@686f4fdf5d2b26209581c91050c7c7fc08845814 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Feat: Add Top Issues (#6217)
  .github/workflows/top-issues.yml
Labels: github_actions

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@c68a4f51ff1fc9ccbbb680507dfae9cdd3b1b5a0 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@a1acd8d178518252c5b6d5845a2cf1a5a5dcd8cc 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

.github/labeler.yml:

github_actions:
- .github/**/*

taxonomies:
- taxonomies/**/*

translations:
- po/**/*

tests:
- test/**/*

Template::Toolkit:
- templates/**/*

Attributes:
- lib/ProductOpener/Attributes.pm

data quality:
- lib/ProductOpener/DataQuality.pm
- lib/ProductOpener/DataQualityCommon.pm
- lib/ProductOpener/DataQualityFood.pm

Display:
- lib/ProductOpener/Display.pm

ecoscore:
- lib/ProductOpener/Ecoscore.pm

Export:
- lib/ProductOpener/Export.pm

Food.pm:
- lib/ProductOpener/Food.pm

Food groups:
- lib/ProductOpener/FoodGroups.pm

forest footprint:
- lib/ProductOpener/ForestFootprint.pm

geolite:
- lib/ProductOpener/GeoIP.pm

producers platform:
- lib/ProductOpener/GS1.pm
- lib/ProductOpener/Orgs.pm
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm
- lib/ProductOpener/Producers.pm
- lib/ProductOpener/ProducersFood.pm

gs1:
- lib/ProductOpener/GS1.pm

images:
- lib/ProductOpener/Images.pm

data import:
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm

ingredients:
- lib/ProductOpener/Ingredients.pm

knowledge-panels:
- lib/ProductOpener/KnowledgePanels.pm

lang:
- lib/ProductOpener/Lang.pm

Mail:
- lib/ProductOpener/Mail.pm

MainCountries:
- lib/ProductOpener/MainCountries.pm

Numbers:
- lib/ProductOpener/Numbers.pm

nutriscore:
- lib/ProductOpener/Nutriscore.pm

Orgs:
- lib/ProductOpener/Orgs.pm

packager codes:
- lib/ProductOpener/PackagerCodes.pm

Packaging:
- lib/ProductOpener/Packaging.pm

Producers:
- lib/ProductOpener/Producers.pm

ProducersFood:
- lib/ProductOpener/ProducersFood.pm

Products:
- lib/ProductOpener/Products.pm

Recipes:
- lib/ProductOpener/Recipes.pm

Tags:
- lib/ProductOpener/Tags.pm

Text:
- lib/ProductOpener/Text.pm

Url:
- lib/ProductOpener/URL.pm

Users:
- lib/ProductOpener/Users.pm

Web:
- lib/ProductOpener/Web.pm
