Repository openfoodfacts/openfoodfacts-server, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, taxonomies, translations, tests, Template::Toolkit, Attributes, data quality, Display, ecoscore, Export, Food.pm, Food groups, forest footprint, geolite, producers platform, gs1, images, data import, ingredients, knowledge-panels, lang, Mail, MainCountries, Numbers, nutriscore, Orgs, packager codes, Packaging, Producers, ProducersFood, Products, Recipes, Tags, Text, Url, Users, Web

.github/labeler.yml:

github_actions:
- .github/**/*

taxonomies:
- taxonomies/**/*

translations:
- po/**/*

tests:
- test/**/*

Template::Toolkit:
- templates/**/*

Attributes:
- lib/ProductOpener/Attributes.pm

data quality:
- lib/ProductOpener/DataQuality.pm
- lib/ProductOpener/DataQualityCommon.pm
- lib/ProductOpener/DataQualityFood.pm

Display:
- lib/ProductOpener/Display.pm

ecoscore:
- lib/ProductOpener/Ecoscore.pm

Export:
- lib/ProductOpener/Export.pm

Food.pm:
- lib/ProductOpener/Food.pm

Food groups:
- lib/ProductOpener/FoodGroups.pm

forest footprint:
- lib/ProductOpener/ForestFootprint.pm

geolite:
- lib/ProductOpener/GeoIP.pm

producers platform:
- lib/ProductOpener/GS1.pm
- lib/ProductOpener/Orgs.pm
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm
- lib/ProductOpener/Producers.pm
- lib/ProductOpener/ProducersFood.pm

gs1:
- lib/ProductOpener/GS1.pm

images:
- lib/ProductOpener/Images.pm

data import:
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm

ingredients:
- lib/ProductOpener/Ingredients.pm

knowledge-panels:
- lib/ProductOpener/KnowledgePanels.pm

lang:
- lib/ProductOpener/Lang.pm

Mail:
- lib/ProductOpener/Mail.pm

MainCountries:
- lib/ProductOpener/MainCountries.pm

Numbers:
- lib/ProductOpener/Numbers.pm

nutriscore:
- lib/ProductOpener/Nutriscore.pm

Orgs:
- lib/ProductOpener/Orgs.pm

packager codes:
- lib/ProductOpener/PackagerCodes.pm

Packaging:
- lib/ProductOpener/Packaging.pm

Producers:
- lib/ProductOpener/Producers.pm

ProducersFood:
- lib/ProductOpener/ProducersFood.pm

Products:
- lib/ProductOpener/Products.pm

Recipes:
- lib/ProductOpener/Recipes.pm

Tags:
- lib/ProductOpener/Tags.pm

Text:
- lib/ProductOpener/Text.pm

Url:
- lib/ProductOpener/URL.pm

Users:
- lib/ProductOpener/Users.pm

Web:
- lib/ProductOpener/Web.pm

Update sh.po
  po/common/sh.po
Labels: translations

Update kmr.po
  po/common/kmr.po
Labels: translations

Update sr_CS.po
  po/common/sr_CS.po
Labels: translations

Update ku.po
  po/common/ku.po
Labels: translations

Update ingredients.txt
  taxonomies/ingredients.txt
Labels: taxonomies

Update sl.html
  html/donate/sl.html
Labels: none

Gelbwurst (#6234)
  taxonomies/categories.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@1bbb6a92a53f551850ba2c1b62943bdbf79760e1 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

column groups for nutrition facts panel
  templates/api/knowledge-panels/health/nutrition/nutrition_facts_table.tt.json
Labels: Template::Toolkit

Update po/common/ar.po
  po/common/ar.po
Labels: translations

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@1116cad64709ce48f8c782bee5f41827c11db071 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

docs: fix typos
  lib/ProductOpener/Import.pm
Labels: producers platform, data import

fix uncheck boxes in product edit form
  lib/ProductOpener/Food.pm
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: Template::Toolkit, Food.pm

refactor: in import.pm (#6226)
  lib/ProductOpener/Import.pm
Labels: producers platform, data import

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@a71242307ddb7da1d33aec30d06ce7d8791c446d 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

ops: makefile should not depend on project prefix (#6225)
  Makefile
Labels: none

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@3b4a5945d24bd66e00be31752f33f17b4fdf3715 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Fix Nutri-Score panel, add reason when not computed
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanels.pm
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/health/health_card.tt.json
  templates/api/knowledge-panels/health/nutriscore/nutriscore.tt.json
  templates/api/knowledge-panels/health/nutriscore/nutriscore_warnings.tt.json
Labels: translations, Template::Toolkit, Display, knowledge-panels

Clean packaging materials taxonomy, fix glass recycling codes
  t/expected_test_results/packaging/en-aa-84-c-pap.json
  t/expected_test_results/packaging/packaging_text_nl_blik_bij_restafval.json
  t/expected_test_results/packaging/packaging_text_nl_glazen_pot_met_deksel.json
  t/expected_test_results/packaging/packaging_text_nl_koffiepad_bij_gft.json
  t/expected_test_results/packaging/packaging_text_nl_over_plastic_afval.json
  t/expected_test_results/packaging/packaging_text_nl_plastic_fles.json
  t/expected_test_results/packaging/packaging_text_nl_statiegeldfles.json
  t/expected_test_results/packaging/packaging_text_nl_three_instructions.json
  t/expected_test_results/packaging/packaging_text_nl_verpakking_bij_drankencartons.json
  t/expected_test_results/packaging/packaging_text_nl_wel_pmd.json
  t/packaging.t
  taxonomies/packaging_materials.result.sto
  taxonomies/packaging_materials.result.txt
  taxonomies/packaging_materials.txt
Labels: taxonomies

Typos
  html/js/folksonomy.js
Labels: none

More dutch support (#6180)
  t/expected_test_results/packaging/packaging_text_nl_metalen_blikje.json
  t/packaging.t
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/packaging_materials.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@c3e70d01ef3e58f07f994f70161bc551e65c4086 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

genepi
  taxonomies/categories.wip.txt
Labels: taxonomies

categories
  taxonomies/categories.txt
Labels: taxonomies

apples
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies

more igp
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies

fix
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies

wikidata and fixes
  taxonomies/categories.txt
Labels: taxonomies

fixes
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies

wikidata
  taxonomies/categories.txt
Labels: taxonomies

harmonization
  .DS_Store
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

move chinese ravioli closer to duplicate
  taxonomies/categories.txt
Labels: taxonomies

fixes
  taxonomies/additives.txt
  taxonomies/brands.txt
  taxonomies/containers.txt
Labels: taxonomies

fixes
  taxonomies/categories.txt
Labels: taxonomies

fixes
  taxonomies/categories.txt
Labels: taxonomies

more wikidata and origin conversions
  taxonomies/categories.txt
Labels: taxonomies

TODO add proxy
  taxonomies/categories.txt
Labels: taxonomies

more wikidata
  taxonomies/categories.txt
Labels: taxonomies
