Repository openfoodfacts/openfoodfacts-server, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, taxonomies, translations, tests, Template::Toolkit, Attributes, data quality, Display, ecoscore, Export, Food.pm, Food groups, forest footprint, geolite, producers platform, gs1, images, data import, ingredients, knowledge-panels, lang, Mail, MainCountries, Numbers, nutriscore, Orgs, packager codes, Packaging, Producers, ProducersFood, Products, Recipes, Tags, Text, Url, Users, Web

.github/labeler.yml:

github_actions:
- .github/**/*

taxonomies:
- taxonomies/**/*

translations:
- po/**/*

tests:
- test/**/*

Template::Toolkit:
- templates/**/*

Attributes:
- lib/ProductOpener/Attributes.pm

data quality:
- lib/ProductOpener/DataQuality.pm
- lib/ProductOpener/DataQualityCommon.pm
- lib/ProductOpener/DataQualityFood.pm

Display:
- lib/ProductOpener/Display.pm

ecoscore:
- lib/ProductOpener/Ecoscore.pm

Export:
- lib/ProductOpener/Export.pm

Food.pm:
- lib/ProductOpener/Food.pm

Food groups:
- lib/ProductOpener/FoodGroups.pm

forest footprint:
- lib/ProductOpener/ForestFootprint.pm

geolite:
- lib/ProductOpener/GeoIP.pm

producers platform:
- lib/ProductOpener/GS1.pm
- lib/ProductOpener/Orgs.pm
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm
- lib/ProductOpener/Producers.pm
- lib/ProductOpener/ProducersFood.pm

gs1:
- lib/ProductOpener/GS1.pm

images:
- lib/ProductOpener/Images.pm

data import:
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm

ingredients:
- lib/ProductOpener/Ingredients.pm

knowledge-panels:
- lib/ProductOpener/KnowledgePanels.pm

lang:
- lib/ProductOpener/Lang.pm

Mail:
- lib/ProductOpener/Mail.pm

MainCountries:
- lib/ProductOpener/MainCountries.pm

Numbers:
- lib/ProductOpener/Numbers.pm

nutriscore:
- lib/ProductOpener/Nutriscore.pm

Orgs:
- lib/ProductOpener/Orgs.pm

packager codes:
- lib/ProductOpener/PackagerCodes.pm

Packaging:
- lib/ProductOpener/Packaging.pm

Producers:
- lib/ProductOpener/Producers.pm

ProducersFood:
- lib/ProductOpener/ProducersFood.pm

Products:
- lib/ProductOpener/Products.pm

Recipes:
- lib/ProductOpener/Recipes.pm

Tags:
- lib/ProductOpener/Tags.pm

Text:
- lib/ProductOpener/Text.pm

Url:
- lib/ProductOpener/URL.pm

Users:
- lib/ProductOpener/Users.pm

Web:
- lib/ProductOpener/Web.pm

wikidata
  taxonomies/categories.txt
Labels: taxonomies

Add column groups to nutrition facts knowledge panel (#6233)
  lib/ProductOpener/Display.pm
  templates/api/knowledge-panels/health/nutrition/nutrition_facts_table.tt.json
Labels: Template::Toolkit, Display

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@7d20f095e61f199c68204ccd2e7dbe069613fb00 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Fix Nutri-Score panel, add reason when not computed (#6237)
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanels.pm
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/health/health_card.tt.json
  templates/api/knowledge-panels/health/nutriscore/nutriscore.tt.json
  templates/api/knowledge-panels/health/nutriscore/nutriscore_warnings.tt.json
Labels: translations, Template::Toolkit, Display, knowledge-panels

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@d260e99355143388c362d3edb2755171122543ad 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

more wikidata
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

misc
  taxonomies/additives.txt
  taxonomies/brands.txt
  taxonomies/containers.txt
  taxonomies/ingredients.txt
Labels: taxonomies

remove empty wikidata
  taxonomies/additives.txt
  taxonomies/brands.txt
  taxonomies/categories.txt
  taxonomies/containers.txt
  taxonomies/ingredients.txt
Labels: taxonomies

activate wikidata entries
  taxonomies/categories.txt
Labels: taxonomies

Clean packaging materials taxonomy, fix glass recycling codes (#6239)
  t/expected_test_results/packaging/en-aa-84-c-pap.json
  t/expected_test_results/packaging/packaging_text_nl_blik_bij_restafval.json
  t/expected_test_results/packaging/packaging_text_nl_glazen_pot_met_deksel.json
  t/expected_test_results/packaging/packaging_text_nl_koffiepad_bij_gft.json
  t/expected_test_results/packaging/packaging_text_nl_over_plastic_afval.json
  t/expected_test_results/packaging/packaging_text_nl_plastic_fles.json
  t/expected_test_results/packaging/packaging_text_nl_statiegeldfles.json
  t/expected_test_results/packaging/packaging_text_nl_three_instructions.json
  t/expected_test_results/packaging/packaging_text_nl_verpakking_bij_drankencartons.json
  t/expected_test_results/packaging/packaging_text_nl_wel_pmd.json
  t/packaging.t
  taxonomies/packaging_materials.result.sto
  taxonomies/packaging_materials.result.txt
  taxonomies/packaging_materials.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@5515a02d8cd5ec9d6633ee353fad981bd01748fc 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

misc (#6247)
  taxonomies/additives.txt
  taxonomies/brands.txt
  taxonomies/containers.txt
  taxonomies/ingredients.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@ebf5eb4668e08092f3d096ff926eda0c0637a522 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

feat: Categories taxonomy improvements for Wikidata and IGPs (#6196)
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@b854c27810b8d970d6cb45c567b43449217e0ef0 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

ops: mongo deploy should run on script changes
  .github/workflows/mongo-deploy.yml
Labels: github_actions

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

refactor: avoid perlcritic error for octal
  scripts/gen_top_tags_per_country.pl
Labels: none

Update categories.txt
  taxonomies/categories.txt
Labels: taxonomies

harmonize wikidata entries
  taxonomies/categories.txt
Labels: taxonomies

add lc and language field in text element
  templates/api/knowledge-panels/health/ingredients/ingredients.tt.json
  templates/web/panels/panel.tt.html
Labels: Template::Toolkit

Start of ingredients knowledge panel (#6162)
  lib/ProductOpener/KnowledgePanels.pm
  templates/api/knowledge-panels/health/ingredients/ingredients.tt.json
  templates/web/panels/panel.tt.html
Labels: Template::Toolkit, knowledge-panels

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@7f5519eec43b644dc1c8ea4f1084cc2f9cf90b14 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

refactor: avoid perlcritic error for octal
  scripts/gen_top_tags_per_country.pl
Labels: none

ops: mongo deploy should run on script changes
  .github/workflows/mongo-deploy.yml
Labels: github_actions

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@9108014f5dbc0a3618f7cfd324ea958c9be1ee61 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

fix: increase timeout for gen_top_tags_per_country.pl - fixes #6244 (#6246)
  scripts/gen_top_tags_per_country.pl
Labels: none

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@35d4d248cefd89c3800d86ec369f620e0a34d38d 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

use Modern::Perl
  t/additives.t
  t/additives_tags.t
  t/allergens.t
  t/allergens_tags.t
  t/attributes.t
  t/dataquality.t
  t/dataqualityfood.t
  t/display.t
  t/ecoscore.t
  t/food.t
  t/food_groups.t
  t/food_normalize_serving_size.t
  t/forest_footprint.t
  t/i18n.t
  t/images.t
  t/import.t
  t/import_gs1.t
  t/ingredients.t
  t/ingredients_analysis.t
  t/ingredients_clean.t
  t/ingredients_nesting.t
  t/ingredients_nutriscore.t
  t/ingredients_parsing.t
  t/ingredients_percent.t
  t/ingredients_processing.t
  t/ingredients_tags.t
  t/lang.t
  t/nova.t
  t/numbers.t
  t/nutriscore.t
  t/packaging.t
  t/producers.t
  t/products.t
  t/recipes.t
  t/store.t
  t/tags.t
  t/templates.t
  t/text.t
  t/vitamins.t
Labels: none

add support for origins in specific ingredients
  lib/ProductOpener/Ingredients.pm
  t/expected_test_results/ingredients/en-specific-ingredients-multiple-strings-of-one-ingredient.json
  t/expected_test_results/ingredients/fr-specific-ingredients.json
  t/ingredients.t
Labels: ingredients

fix 'teneur en légumes de 100%'
  lib/ProductOpener/Ingredients.pm
  t/ingredients.t
Labels: ingredients

update test
  t/expected_test_results/ingredients/fr-specific-ingredients.json
Labels: none

fix: allow unchecking checked boxes in product edit form (#6203)
  lib/ProductOpener/Food.pm
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: Template::Toolkit, Food.pm

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@dd25800e8e16f25282be90bc43d0fe4cf2c388fa 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

make specific_ingredients an array, display them in details
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ingredients.pm
  t/expected_test_results/ingredients/en-specific-ingredients-multiple-strings-of-one-ingredient.json
  t/expected_test_results/ingredients/en-specific-ingredients.json
  t/expected_test_results/ingredients/fr-specific-ingredients.json
  t/expected_test_results/nutriscore/fr-gaspacho.json
  templates/web/pages/product/includes/ingredients_analysis_details.tt.html
Labels: Template::Toolkit, Display, ingredients

dutch
  taxonomies/ingredients.txt
Labels: taxonomies

feat: Add Wikidata items to categories (#5805)
  taxonomies/categories.txt
Labels: taxonomies
