Repository openfoodfacts/openfoodfacts-server, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, nginx, mongodb, tagline, taxonomies, taxonomies rebuild, open pet food facts, open beauty facts, open products facts, icons, css, translations, tests, dependancies, Template::Toolkit, documentation, docker, folksonomy project, Attributes, data quality, Display, ecoscore, Export, Food.pm, Food groups, forest footprint, geolite, gs1, images, data import, ingredients, ingredients analysis, labels, categories, additives, origins, knowledge-panels, lang, Mail, MainCountries, Numbers, nutriscore, Orgs, packager codes, Packaging, producers platform, Products, Recipes, Tags, Text, Url, Users, Web

.github/labeler.yml:

github_actions:
- .github/**/*

nginx:
- conf/nginx/**/*

mongodb:
- conf/mongodb/create_indexes.js
- scripts/refresh_products_tags.js
- .github/workflows/mongo-deploy.yml

tagline:
- html/files/app/tagline/tagline-off-ios.json
- html/files/tagline-off.json
- html/files/tagline.txt
- html/files/tagline-obf.json
- html/files/tagline-opf.json
- html/files/tagline-opff.json
  
taxonomies:
- taxonomies/**/*

taxonomies rebuild:
- taxonomies/additives.result.sto
- taxonomies/additives.result.txt
- taxonomies/allergens.result.sto
- taxonomies/allergens.result.txt
- taxonomies/categories.result.sto
- taxonomies/categories.result.txt
- taxonomies/countries.result.sto
- taxonomies/countries.result.txt
- taxonomies/ingredients.result.sto
- taxonomies/ingredients.result.txt
- taxonomies/states.result.sto
- taxonomies/states.result.txt

open pet food facts:
- taxonomies.opff/**/*
- po/openpetfoodfacts/**/*

open beauty facts:
- taxonomies.obf/**/*
- po/openbeautyfacts/**/*

open products facts:
- taxonomies.opf/**/*
- po/openproductsfacts/**/*

icons:
- icons/**/*

css:
- scss/**/*

translations:
- po/**/*
- po/common/**/*
- po/openfoodfacts/**/*
- po/openbeautyfacts/**/*
- po/openpetfoodfacts/**/*
- po/openproductsfacts/**/*

tests:
- test/**/*
- t/**/*

dependancies:
- package.json
- package-lock.json

Template::Toolkit:
- templates/**/*

documentation:
- docs/**/*

docker:
- docker/**/*

folksonomy project:
- html/js/folksonomy.js

Attributes:
- lib/ProductOpener/Attributes.pm

data quality:
- lib/ProductOpener/DataQuality.pm
- lib/ProductOpener/DataQualityCommon.pm
- lib/ProductOpener/DataQualityFood.pm

Display:
- lib/ProductOpener/Display.pm

ecoscore:
- lib/ProductOpener/Ecoscore.pm
- ecoscore/**/*
- templates/api/knowledge-panels/environment/ecoscore/ecoscore_unknown.tt.json

Export:
- lib/ProductOpener/Export.pm
- t/expected_test_results/export/**/*

Food.pm:
- lib/ProductOpener/Food.pm

Food groups:
- lib/ProductOpener/FoodGroups.pm

forest footprint:
- lib/ProductOpener/ForestFootprint.pm

geolite:
- lib/ProductOpener/GeoIP.pm

gs1:
- lib/ProductOpener/GS1.pm

images:
- lib/ProductOpener/Images.pm

data import:
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm

ingredients:
- lib/ProductOpener/Ingredients.pm
- taxonomies/ingredients.txt

ingredients analysis:
- templates/web/pages/product/includes/ingredients_analysis.tt.html

labels:
- taxonomies/labels.txt

categories:
- taxonomies/categories.txt

additives:
- taxonomies/additives.txt

origins:
- taxonomies/origins.txt

knowledge-panels:
- lib/ProductOpener/KnowledgePanels.pm
- templates/api/knowledge-panels/**/*
- templates/api/knowledge-panels/environment/ecoscore/ecoscore_unknown.tt.json

lang:
- lib/ProductOpener/Lang.pm

Mail:
- lib/ProductOpener/Mail.pm

MainCountries:
- lib/ProductOpener/MainCountries.pm

Numbers:
- lib/ProductOpener/Numbers.pm

nutriscore:
- lib/ProductOpener/Nutriscore.pm

Orgs:
- lib/ProductOpener/Orgs.pm

packager codes:
- lib/ProductOpener/PackagerCodes.pm

Packaging:
- lib/ProductOpener/Packaging.pm
- taxonomies/packaging_materials.txt
- t/packaging.t
- cgi/packaging.pl
- icons/packaging.svg
- taxonomies/old/packagings.txt
- taxonomies/packaging.result.sto
- taxonomies/packaging.result.txt
- taxonomies/packaging_shapes.txt
- taxonomies/packaging_materials.txt
- taxonomies/packaging_recycling.txt
- taxonomies/packaging_shapes.result.sto
- taxonomies/packaging_shapes.result.txt
- html/images/lang/en/packaging/**/*
- html/images/icons/packaging-shapes/README
- taxonomies/packaging_materials.result.sto
- taxonomies/packaging_materials.result.txt
- taxonomies/packaging_recycling.result.sto
- taxonomies/packaging_recycling.result.txt
- html/images/icons/packaging-shapes/LICENCE
- html/images/lang/jp/packaging/**/*
- html/images/lang/de/packaging/**/*
- t/expected_test_results/packaging/**/*
- html/images/icons/packaging-shapes/dark-mode/**/*
  
producers platform:
- lib/ProductOpener/GS1.pm
- lib/ProductOpener/Orgs.pm
- lib/ProductOpener/Import.pm
- lib/ProductOpener/ImportConvert.pm
- lib/ProductOpener/Producers.pm
- lib/ProductOpener/ProducersFood.pm
- lib/ProductOpener/Producers.pm
- scripts/export_producers_platform_data_to_public_database.sh
- lib/ProductOpener/ProducersFood.pm

Products:
- lib/ProductOpener/Products.pm

Recipes:
- lib/ProductOpener/Recipes.pm

Tags:
- lib/ProductOpener/Tags.pm

Text:
- lib/ProductOpener/Text.pm

Url:
- lib/ProductOpener/URL.pm

Users:
- lib/ProductOpener/Users.pm

Web:
- lib/ProductOpener/Web.pm

Typo correction (#6488)
  CONTRIBUTING.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@69e4f4ed452c1b7837889f881ff33a93d4b45022 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/ImportConvertCarrefourFrance.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Test.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

chore: Translations for labels.txt (#6490)
  taxonomies/labels.txt
Labels: taxonomies, labels

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@d950828bb732b99fc719867dda0a0920d55aadaa 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/ImportConvertCarrefourFrance.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Test.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

chore: Add BG to packaging_shapes.txt (#6489)
  taxonomies/packaging_shapes.txt
Labels: taxonomies, Packaging

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-server@07d0e2bb7e7cb08649a79b2e06a120ad630b61ff 🚀
  ProductOpener/Attributes.html
  ProductOpener/DataQuality.html
  ProductOpener/DataQualityCommon.html
  ProductOpener/DataQualityFood.html
  ProductOpener/Display.html
  ProductOpener/Ecoscore.html
  ProductOpener/Export.html
  ProductOpener/Food.html
  ProductOpener/FoodGroups.html
  ProductOpener/ForestFootprint.html
  ProductOpener/GS1.html
  ProductOpener/GeoIP.html
  ProductOpener/Images.html
  ProductOpener/Import.html
  ProductOpener/ImportConvert.html
  ProductOpener/ImportConvertCarrefourFrance.html
  ProductOpener/Ingredients.html
  ProductOpener/KnowledgePanels.html
  ProductOpener/Lang.html
  ProductOpener/Mail.html
  ProductOpener/MainCountries.html
  ProductOpener/Numbers.html
  ProductOpener/Nutriscore.html
  ProductOpener/Orgs.html
  ProductOpener/PackagerCodes.html
  ProductOpener/Packaging.html
  ProductOpener/Producers.html
  ProductOpener/ProducersFood.html
  ProductOpener/Products.html
  ProductOpener/Recipes.html
  ProductOpener/Tags.html
  ProductOpener/Test.html
  ProductOpener/Text.html
  ProductOpener/URL.html
  ProductOpener/Users.html
  ProductOpener/Web.html
  generate_perl_html_doc_from_pod.html
  index.html
Labels: none

Update en.po
  po/common/en.po
Labels: translations
