Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2018-06, with the labels that each got.

#1228 Remove HTML::Defang
  cpanfile
  lib/ProductOpener/Index.pm
Labels: bug

#1229 Dereference scalars for some operations
  cgi/product_jqm_multilingual.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/SiteQuality_off.pm
Labels: bug

#1210 Issue/1128 add tags api
  cgi/product_jqm_multilingual.pl
Labels: api-write

#1236 Treat all stops/commas as to be replaced
  lib/ProductOpener/Ingredients.pm
  t/ingredients.t
Labels: China, ingredients

#1221 Update MongoDB retry handling (master)
  cpanfile
  lib/ProductOpener/Data.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Missions.pm
  lib/ProductOpener/Products.pm
Labels: mongodb

#1220 Update MongoDB retry handling (with Log::Any)
  cpanfile
  lib/ProductOpener/Data.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Missions.pm
  lib/ProductOpener/Products.pm
Labels: mongodb

#1081 Structured Logging
  cgi/display.pl
  cgi/ingredients.pl
  cgi/madenearme.pl
  cgi/madenearyou.pl
  cgi/product_image_crop.pl
  cgi/product_image_move.pl
  cgi/product_image_rotate.pl
  cgi/product_image_unselect.pl
  cgi/product_image_upload.pl
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  cgi/reset_password.pl
  cgi/search.pl
  cgi/session.pl
  cgi/sucres_random.pl
  cgi/sugar_random.pl
  cpanfile
  docker/backend-git/conf/log.conf
  docker/docker-compose-dev.yml
  lib/ProductOpener/Cache.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/I18N.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Index.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Lang.pm
  lib/ProductOpener/Mail.pm
  lib/ProductOpener/Missions.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/SiteQuality_off.pm
  lib/ProductOpener/Store.pm
  lib/ProductOpener/Tags.pm
  lib/ProductOpener/Users.pm
  lib/startup.pl
  lib/startup_apache2.pl
  log.conf
Labels: task

#1223 Update data URLs in data.en.html
  lang/en/texts/data.en.html
Labels: documentation

#1222 Add delta files to data docs
  lang/en/texts/data.en.html
Labels: documentation
