Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2018-11, with the labels that each got.

#1456 Enable HTTP/2
  conf/nginx/sites-available/cestemballepresdechezvous
  conf/nginx/sites-available/combiendesucres
  conf/nginx/sites-available/howmuchsugar
  conf/nginx/sites-available/madenearme
  conf/nginx/sites-available/madenearme-uk
  conf/nginx/sites-available/obf
  conf/nginx/sites-available/off
  conf/nginx/sites-available/off-preprod
  conf/nginx/sites-available/opf
  conf/nginx/sites-available/opff
  conf/nginx/sites-available/whatsinmyshampoo
  conf/nginx/sites-available/whatsinmyyogurt
Labels: installation, server, speed

#1398 Lazy load product images/thumbnails
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Images.pm
  package.json
  yarn.lock
Labels: P1, frontend

#1491 Packager codes from various countries + Scripts
  packager-codes/BE-merge.csv
  packager-codes/HU-merge.csv
  packager-codes/LT-merge.csv
  packager-codes/LU-merge.csv
  packager-codes/SV-merge.csv
  scripts/packager-codes/concatenate-csv-sections.py
  scripts/packager-codes/geocode.sh
Labels: packager codes

#1484 Translation of OBF static in Italian
  lang/obf/it/texts/contribute.html
  lang/obf/it/texts/discover.html
  lang/obf/it/texts/faq.html
  lang/obf/it/texts/index.html
  lang/obf/it/texts/press-and-blogs.html
Labels: translations

#1481 Italian translations
  lang/it/texts/code-of-conduct.html
  lang/it/texts/contact.en.html
  lang/it/texts/contribute.html
  lang/it/texts/faq.html
  lang/it/texts/how-to-add-a-product.html
  lang/it/texts/index.foundation.en.html
  lang/it/texts/legal.html
  lang/it/texts/missions.html
  lang/it/texts/nova-groups-for-food-processing.html
  lang/it/texts/nutrition-score-uk.html
  lang/it/texts/open-food-hunt.html
  lang/it/texts/press-and-blogs.html
  lang/it/texts/press.html
  lang/it/texts/producers.html
  lang/it/texts/products.html
  lang/it/texts/rateyourvendingmachine.html
Labels: translations

#1457 Remove apparently obsolete translation
  po/common/common.pot
  po/openbeautyfacts/openbeautyfacts.pot
  po/openpetfoodfacts/openpetfoodfacts.pot
  po/openproductsfacts/openproductsfacts.pot
Labels: translations

#1486 Added E341 and removed synonyms
  taxonomies/ingredients.txt
Labels: ingredients

#1497 Gelling agent and pectine E440
  taxonomies/ingredients.txt
Labels: ingredients

#1495 Added E301 translations
  taxonomies/ingredients.txt
Labels: ingredients

#1507 Ajout carbonfoodprint foodges 3 aliments poulet
  taxonomies/ingredients.txt
Labels: ingredients

#1509 Update ingredients.txt
  taxonomies/ingredients.txt
Labels: ingredients

#1508 Update ingredients.txt
  taxonomies/ingredients.txt
Labels: ingredients
