Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2018-12, with the labels that each got.

#1547 Re-add opensearch
  lib/ProductOpener/Display.pm
Labels: frontend

#1546 Move JavaScript from devDependencies
  package.json
  shrinkwrap.yaml
Labels: frontend

#1545 Update ingredients.txt
  taxonomies/ingredients.txt
Labels: carbon-footprint, ingredients, taxonomies

#1543 Carbon footprint
  taxonomies/ingredients.txt
Labels: carbon-footprint, ingredients, taxonomies

#1542 Update taxonomy for carbon foot print estimation
  taxonomies/ingredients.txt
Labels: carbon-footprint, taxonomies

#1532 Fix menu and footer broken links in all languages (checked all .po files in /po/common/)
  po/common/bn.po
  po/common/ca.po
  po/common/da.po
  po/common/de.po
  po/common/el.po
  po/common/eo.po
  po/common/es.po
  po/common/eu.po
  po/common/fa.po
  po/common/fi.po
  po/common/fil.po
  po/common/gl.po
  po/common/he.po
  po/common/hr.po
  po/common/hy.po
  po/common/id.po
  po/common/is.po
  po/common/it.po
  po/common/kab.po
  po/common/ko.po
  po/common/ku.po
  po/common/lv.po
  po/common/mr.po
  po/common/ms.po
  po/common/nb.po
  po/common/nl_BE.po
  po/common/nl_NL.po
  po/common/nn.po
  po/common/no.po
  po/common/oc.po
  po/common/pl.po
  po/common/pt_PT.po
  po/common/ro.po
  po/common/sco.po
  po/common/sl.po
  po/common/sq.po
  po/common/sr_CS.po
  po/common/sv.po
  po/common/sw.po
  po/common/th.po
  po/common/tr.po
  po/common/ug.po
  po/common/uk.po
  po/common/vec.po
  po/common/zh_CN.po
Labels: translations

#1531 taxonomie FoodGES Victor 2
  taxonomies/ingredients.txt
Labels: carbon-footprint, taxonomies

#1554 Herbes de Provence
  taxonomies/ingredients.txt
Labels: ingredients

#1562 fix zh.po
  po/common/zh.po
Labels: translations

#1578 Typo in ingredients
  t/ingredients.t
  taxonomies/ingredients.txt
Labels: translations

#1580 Ingredients taxonomy patch 9
  taxonomies/ingredients.txt
Labels: ingredients

#1586 Ingredient rice
  taxonomies/ingredients.txt
Labels: ingredients
