Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2018-02, with the labels that each got.

#1061 Check for missing/empty code or created_t
  lib/ProductOpener/SiteQuality_off.pm
Labels: bug, quality

#1060 Finish IU support
  cgi/product_multilingual.pl
  html/js/product-multilingual.js
Labels: Nutrients, units

#1059 Fix 'Attempt to access disallowed key'
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
Labels: Nutrients, units

#1057 Add OCR links
  lib/ProductOpener/Display.pm
Labels: OCR, admin tools

#1039 Remember entered search term
  lib/ProductOpener/Display.pm
Labels: Search

#1038 Update US nutrition label structure
  lib/ProductOpener/Food.pm
Labels: nutrition facts, us project

#1058 Tests for translated URIs
  t/lang.t
Labels: translations

#971 Praise translators
  cgi/top_translators.pl
  lib/ProductOpener/Config2_sample.pm
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Display.pm
  package.json
  po/common/common.pot
  po/common/en.po
  scripts/update_top_translators.pl
  yarn.lock
Labels: translations

#1062 merge master into l10n_master
  README.md
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  html/js/product-multilingual.js
  lang/de/texts/discover.de.html
  lang/el/texts/discover.el.html
  lang/en/texts/discover.html
  lang/en/texts/index.en.html
  lang/es/texts/contribuir.html
  lang/es/texts/descubrir.html
  lang/es/texts/discover.es.html
  lang/it/texts/index.it.html
  lang/nl/texts/discover.nl.html
  lang/pl/texts/discover.pl.html
  lang/pt/texts/index.pt.html
  lang/ro/texts/discover.ro.html
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/SiteQuality_off.pm
  po/common/common-web.pot
  po/common/sr.po
  po/openbeautyfacts/openbeautyfacts.pot
  po/openbeautyfacts/sr.po
  po/openfoodfacts/openfoodfacts.pot
  po/openfoodfacts/sr.po
  po/openpetfoodfacts/nl_BE.po
  po/openpetfoodfacts/openpetfoodfacts.pot
  po/openpetfoodfacts/sr.po
  po/tags/nl_BE.po
  po/tags/pt_pt.po
  po/tags/sr.po
  po/tags/tags.pot
  t/lang.t
Labels: translations

#1034 Disable maketext for gettext
  cpanfile
  lib/ProductOpener/I18N.pm
  t/lang.t
Labels: translations

#968 Map for tags with Wikidata
  html/js/display-tag.js
  lib/ProductOpener/Display.pm
  package.json
  yarn.lock
Labels: linked data

#967 Wikidata and other linked data in JSON api
  lib/ProductOpener/Display.pm
Labels: api, api-read, linked data

#1101 Make $cursor immortal
  scripts/update_all_products.pl
Labels: mongodb

#1100 Remove surrounding whitespace for tags/xml
  lib/ProductOpener/Display.pm
Labels: Nutrients, nutrition facts

#1103 script to deleted old images - bug #1102
  scripts/delete_old_cropped_images.pl
Labels: images, server

#1110 add optional fields parameter to JSON API
  cgi/search.pl
  lib/ProductOpener/Display.pm
Labels: api, api-read
