Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2018-10, with the labels that each got.

#1400 add .editorconfig
  .editorconfig
Labels: maintenance

#1234 fix unitialized values warnings
  lib/ProductOpener/Tags.pm
Labels: Tags.pm

#1403 Add memcached to config
  docker/backend-dev/conf/Config.pm
  docker/backend-dev/conf/Config2.pm
  docker/productopener/requirements.lock
  docker/productopener/requirements.yaml
  docker/productopener/templates/backend-conf.yaml
  lib/ProductOpener/Cache.pm
  lib/ProductOpener/Config2_sample.pm
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Display.pm
Labels: server

#1382 Month and Weekday translations from CLDR
  cpanfile
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Lang.pm
  po/common/common.pot
  t/lang.t
Labels: translations

#1362 Use SameSite cookie for CSRF defense
  cgi/product_multilingual.pl
  cgi/reset_password.pl
  cgi/user.pl
  cpanfile
  docker/backend-dev/conf/Config.pm
  docker/backend-dev/conf/Config2.pm
  lib/ProductOpener/Config2_sample.pm
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Users.pm
  po/common/common.pot
  po/common/de.po
  po/common/en.po
  po/common/obsolete.pot
Labels: Security, blocking-mobile-apps

#1326 Nutrition table with CLDR::Number
  cpanfile
  lib/ProductOpener/Display.pm
Labels: multingual products
