Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2019-03, with the labels that each got.

#1691 Escape quotes in I10N files
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  po/openbeautyfacts/en.po
Labels: translations

#1685 Ensure that <<site_name>> is not translated
  po/common/da.po
  po/common/fr.po
  po/common/gl.po
  po/common/id.po
  po/common/it.po
  po/common/ku.po
  po/common/nb.po
  po/common/nl_BE.po
  po/common/nl_NL.po
  po/common/pl.po
  po/common/tr.po
  po/common/yo.po
  po/common/zh.po
  t/i18n.t
Labels: translations

#1683 Remove `capture` attribute to allow file selection
  html/js/product-multilingual.js
  lib/ProductOpener/Images.pm
Labels: frontend, responsive ux

#1684 Get code from the correct hidden field
  html/js/product-multilingual.js
Labels: frontend, responsive ux

#1695 Don't overwrite `no_nutrition_data` if a value was given in the request
  cgi/product_jqm_multilingual.pl
Labels: admin tools, bug

#1681 Update ingredients.txt
  taxonomies/ingredients.txt
Labels: ingredients

#1704 Fix ES packager code normalization
  lib/ProductOpener/Food.pm
  t/food.t
Labels: packager codes

#1694 Nutrients JSON API
  cgi/nutrients.pl
  lib/ProductOpener/Food.pm
Labels: Nutrients, api-read, nutrition facts, taxonomies

#1705 Display Robotoff on product pages
  docker/backend-dev/conf/Config.pm
  docker/backend-dev/conf/Config2.pm
  docker/productopener/templates/backend-conf.yaml
  html/js/display-product.js
  lib/ProductOpener/Config2_sample.pm
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/de.po
  po/common/en.po
Labels: gamification
