Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2019-02, with the labels that each got.

#1641 Fix 404 nutriscore-not-applicable.svg
  lib/ProductOpener/Display.pm
Labels: images

#1573 Update concatenate-csv-sections.py
  scripts/packager-codes/concatenate-csv-sections.py
Labels: packager codes

#1643 Fix <<site_name>> in German translations
  po/common/de.po
  po/openbeautyfacts/de.po
  po/openpetfoodfacts/de.po
  po/openproductsfacts/de.po
Labels: translations

#1675 Support TSV for packager codes
  packager-codes/BE-merge-UTF-8.tsv
  packager-codes/HU-merge-UTF-8.tsv
  packager-codes/LT-merge-UTF-8.tsv
  packager-codes/LU-merge-UTF-8.tsv
  packager-codes/RS-merge-UTF-8.tsv
  packager-codes/SE-merge-UTF-8.tsv
  scripts/update_packager_codes.pl
Labels: packager codes

#1678 Fix "prefer_related_applications" being ignored
  cgi/manifest.pl
Labels: 5 minute fix

#1646 Warning about ambiguous barcodes
  lib/ProductOpener/Display.pm
  po/common/common.pot
Labels: Barcodes
