Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2019-06, with the labels that each got.

#1842 Add windowsphone.openfoodfacts.org redirect
  conf/nginx/sites-available/off
Labels: maintenance

#1841 Sort by completeness
  cgi/search.pl
  lib/ProductOpener/Products.pm
  po/common/common.pot
  po/common/de.po
  po/common/en.po
  t/products.t
Labels: Search

#1840 Update dependencies
  package.json
  yarn.lock
Labels: frontend

#1870 Bump stylelint-scss from 3.6.1 to 3.8.0
  package.json
  yarn.lock
Labels: frontend

#1814 Fix 1422
  cgi/manifest.pl
  cgi/product_multilingual.pl
  gulpfile.js
  lib/ProductOpener/Cache.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/SiteQuality_off.pm
  package.json
  yarn.lock
Labels: javascript

#1877 Update issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: 5 minute fix

#1879 Set `ingredients-($lc-)over-30-percent-digits` quality tag
  lib/ProductOpener/SiteQuality_off.pm
  t/sitequality.t
Labels: quality

#1878 Update index page caption
  lang/en/texts/index.en.html
  lang/en/texts/index.foundation.en.html
Labels: frontend

#1914 Bump stylelint from 10.0.1 to 10.1.0
  package.json
  yarn.lock
Labels: frontend

#1784 minerals translations
  t/additives.t
  taxonomies/minerals.txt
Labels: translations

#1959 Replace standard icon fonts with custom build
  .gitignore
  cgi/product_multilingual.pl
  cgi/search.pl
  conf/nginx/sites-available/cestemballepresdechezvous
  conf/nginx/sites-available/combiendesucres
  conf/nginx/sites-available/howmuchsugar
  conf/nginx/sites-available/madenearme
  conf/nginx/sites-available/madenearme-uk
  conf/nginx/sites-available/obf
  conf/nginx/sites-available/off
  conf/nginx/sites-available/off-preprod
  conf/nginx/sites-available/opf
  conf/nginx/sites-available/opff
  conf/nginx/sites-available/whatsinmyshampoo
  conf/nginx/sites-available/whatsinmyyogurt
  docker/frontend-git/conf/nginx.conf
  docker/productopener/templates/frontend-conf.yaml
  gulpfile.js
  icons/brand-android-robot.svg
  icons/brand-apple.svg
  icons/bubble-right.svg
  icons/chart-bar-graph.svg
  icons/gear.svg
  icons/info-circle.svg
  icons/list.svg
  icons/pencil.svg
  icons/plus.svg
  icons/share.svg
  icons/stock-mobile.svg
  icons/trash.svg
  icons/ui-camera.svg
  icons/ui-search.svg
  icons/user.svg
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Images.pm
  package.json
  scss/app.scss
  scss/templates/_icons.scss
  yarn.lock
Labels: frontend

#1967 Fix salt and sodium issues
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/Food.pm
Labels: Nutrients, nutrition facts

#1965 Removed `$parentid eq 'fr:'` check
  lib/ProductOpener/Tags.pm
Labels: taxonomies

#1964 Fix typo when building tags
  scripts/build_tags_taxonomy.pl
Labels: bug

#1941 Send an actual 404 status if a product does not exist
  lib/ProductOpener/Display.pm
Labels: api, api-read

#1969 Remove ManUp.js
  lib/ProductOpener/Display.pm
  package.json
  yarn.lock
Labels: bug, frontend

#1970 Remove bower_components
  cgi/madenearyou.pl
  cgi/top_translators.pl
  conf/nginx/sites-available/obf
  conf/nginx/sites-available/off
  conf/nginx/sites-available/off-preprod
  conf/nginx/sites-available/opf
  conf/nginx/sites-available/opff
  docker/frontend-git/conf/nginx.conf
  gulpfile.js
  lib/ProductOpener/Display.pm
  package.json
  yarn.lock
Labels: frontend

#1981 Enhancement for cgi scripts
  cgi/reset_password.pl
  cgi/user.pl
  gulpfile.js
Labels: design, foundation, ♿ a11y

#1985 fix icon's line-height
  scss/templates/_icons.scss
Labels: frontend

#1988 Poland packaging
  packager-codes/PL-merge-UTF-8.csv
  scripts/packager-codes/poland_packager_code.py
  scripts/update_packager_codes.pl
Labels: carbon-footprint, packager codes

#1998 Bump eslint from 5.16.0 to 6.0.1
  package.json
  yarn.lock
Labels: 3rd party contributions, frontend

#2017 Added scripts to start dev docker
  docker/start_dev.bat
  docker/start_dev.sh
Labels: dev

#2018 Added back button and made save button match bar height
  cgi/product_multilingual.pl
  html/js/product-multilingual.js
  po/common/en.po
Labels: frontend

#1917 Add missing "en:" to parent category
  taxonomies/categories.txt
Labels: categories, taxonomies
