Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2019-08, with the labels that each got.

#2129 Bump papaparse from 5.0.0 to 5.0.1
  package.json
  yarn.lock
Labels: frontend

#2128 Bump eslint from 6.0.1 to 6.1.0
  package.json
  yarn.lock
Labels: frontend

#2133 Docker updates and fixes
  docker/README.md
  docker/backend-dev/conf/po-foreground.sh
  docker/backend-dev/scripts/import_sample_data.sh
  docker/build_yarn.bat
  docker/build_yarn.sh
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/frontend/Dockerfile
Labels: dev

#2097 Reviewed creams
  taxonomies/ingredients.txt
Labels: taxonomies

#1962 Migrate lazy-loading of images to HTML5 `loading` attribute.
  gulpfile.js
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Images.pm
  package.json
  yarn.lock
Labels: frontend

#2058 Allergens & Compliants
  taxonomies/additives.txt
  taxonomies/allergensCheck.txt
  taxonomies/compliant.txt
  taxonomies/ingredients.txt
  taxonomies/other_nutritional_substances.txt
Labels: taxonomies

#2069 Sulfates added
  taxonomies/minerals.txt
  taxonomies/nutriments.txt
Labels: taxonomies

#2197 Fix bad hashes in yarn.lock
  yarn.lock
Labels: frontend

#2209 Bump eslint from 6.1.0 to 6.2.0
  package.json
  yarn.lock
Labels: frontend

#1979 Nucleotides translations and structuring
  taxonomies/nucleotides.txt
Labels: ingredients

#2225 [Security] Bump eslint-utils from 1.4.0 to 1.4.2
  yarn.lock
Labels: frontend, security

#2222 Bump papaparse from 5.0.1 to 5.0.2
  package.json
  yarn.lock
Labels: frontend

#2247 Fixed issue #2205 - size of app stores logos
  scss/_footer.scss
Labels: frontend
