Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2019-07, with the labels that each got.

#2031 Allergens dictionaries translation to italian and reformatting
  docker/start_dev.bat
  lib/ProductOpener/Ingredients.pm
  t/allergens_tags.t
  t/ingredients_parsing.t
  t/ingredients_tags.t
Labels: translations

#1781 Other Nutri translations
  taxonomies/other_nutritional_substances.txt
Labels: translations

#2078 Replace Email::IsEmail with Email::Valid
  cpanfile
  lib/ProductOpener/Users.pm
Labels: startup

#2090 [Security] Bump lodash from 4.17.11 to 4.17.14
  yarn.lock
Labels: frontend, security

#2089 Bump stylelint-scss from 3.8.0 to 3.9.1
  package.json
  yarn.lock
Labels: frontend

#2070 Show information about current revision if not latest
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
Labels: design, product history, responsive ux

#2122 Bump yarn from 1.16.0 to 1.17.3
  package.json
  yarn.lock
Labels: frontend

#2123 Bump stylelint-scss from 3.9.1 to 3.9.2
  package.json
  yarn.lock
Labels: frontend
