Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2019-05, with the labels that each got.

#1761 Quality tag for max energy
  lib/ProductOpener/SiteQuality_off.pm
  t/sitequality.t
Labels: quality

#1768 Use Text::CSV for CSV output
  lib/ProductOpener/Display.pm
Labels: Search

#1786 Add quality tags for GS1 prefixes
  lib/ProductOpener/SiteQuality_off.pm
  t/sitequality.t
Labels: Barcodes, quality

#1760 Add a product doc draft 1
  html/images/misc/off-add-product.png
  html/images/misc/off-product-pic.png
  lang/en_AU/texts/how-to-add-a-product.html
Labels: documentation

#1787 Categories translations
  taxonomies/categories.txt
Labels: translations
