Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2019-11, with the labels that each got.

#2519 Added translations for Food.pm properties
  lib/ProductOpener/Food.pm
Labels: i18n

#2469 Creams (again)
  taxonomies/categories.txt
Labels: categories, taxonomies

#2542 adjustments for nova based on nova paper
  lib/ProductOpener/Config_off.pm
Labels: nova

#1758 Remove Hollywood from cigarettes brands
  lib/ProductOpener/DataQualityFood.pm
Labels: quality

#2555 Replace Spreadsheet::CSV by a call to gnumeric's ssconvert
  cgi/session.pl
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/ImportConvert.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Producers.pm
  t/import.t
Labels: producers platform

#2537 Ingredients taxonomy: update Finnish translations
  t/ingredients.t
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#2578 Taxonomies translations (ita)
  taxonomies/categories.txt
Labels: i18n, taxonomies

#2583 Refactored Display.pm partially
  lib/ProductOpener/Display.pm
Labels: Perl, refactor

#2587 Cache CLDR and it's formatters
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Text.pm
Labels: Perl, performance

#2593 Conditionally run normalize_percentages
  lib/ProductOpener/Text.pm
Labels: Perl, performance

#2594 Replace some regular expressions
  lib/ProductOpener/Store.pm
Labels: Perl, performance

#2621 Change bad translations
  po/common/nl.po
  po/common/sr.po
Labels: i18n

#2432 Build Docker images using GitHub Actions
  .github/workflows/containerimage.yml
  docker/docker-compose.yml
Labels: ci

#2533 patches-packaging-taxonomy
  taxonomies/categories.txt
  taxonomies/packagings.txt
Labels: packaging, taxonomies

#2632 Use correct image from GitHub packages for the frontend
  docker/docker-compose.yml
Labels: docker

#2653 Made energy-kJ and energy-kcal have only one unit, removed select
  cgi/product_multilingual.pl
Labels: editing, feature, frontend

#2623 SVG icons
  .gitignore
  cgi/import_file_upload.pl
  cgi/import_photos_upload.pl
  cgi/product_multilingual.pl
  cgi/search.pl
  docker/docker-compose.admin-uis.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/frontend/Dockerfile
  gulpfile.js
  html/js/product-multilingual.js
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Images.pm
  package-lock.json
  package.json
  scss/_off.scss
  scss/app.scss
  scss/templates/_icons.scss
Labels: frontend, performance

#2656 add support for user groups to define permissions, bug #2085
  cgi/product_image_move.pl
  cgi/product_image_upload.pl
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Users.pm
  po/common/common.pot
  po/common/en.po
Labels: user groups

#2659 Added icon for product without front image
  html/images/svg/product-silhouette.svg
  lib/ProductOpener/Images.pm
Labels: Product Page

#2660 ingredient parsing: improve Finnish parsing
  lib/ProductOpener/Ingredients.pm
  t/ingredients.t
  t/ingredients_clean.t
  t/ingredients_parsing.t
  t/ingredients_tags.t
Labels: i18n, ingredient-list-cutting, taxonomies

#2669 Replace 'index' text later
  lib/ProductOpener/Display.pm
Labels: bug, i18n

#2654 Added and fixed tests for producers platform, small fixes
  cgi/export_products.pl
  html/js/product-multilingual.js
  icons/arrow_upward.svg
  icons/material/baseline-arrow_upward-24px.svg
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Producers.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
Labels: producers platform

#2670 Fix SVG icons for Docker
  .github/workflows/containerimage.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
Labels: docker

#2655 Made NOVA score 1 for waters
  lib/ProductOpener/Food.pm
Labels: nova

#2674 Remove unused JavaScript
  cgi/product_multilingual.pl
  html/js/jQueryRotateCompressed.2.1.js
  html/js/jquery.autoresize.js
  html/js/jquery.iframe-transport.min.js
Labels: frontend, performance

#2681 Add server option to whitelist IPs for all session cookies
  lib/ProductOpener/Config2_sample.pm
  lib/ProductOpener/Users.pm
Labels: feature, robotoff

#2682 Add CORS headers to the write API
  cgi/product_jqm_multilingual.pl
Labels: API, bug, security

#2684 Add 'Brand' microformat
  lib/ProductOpener/Display.pm
Labels: SEO, brands, microformats

#2687 Add 'DietarySupplement' microformat
  lib/ProductOpener/Display.pm
Labels: SEO, microformats

#2628 Update various translation files
  po/openbeautyfacts/en.po
  po/openbeautyfacts/nl.po
  po/openfoodfacts/en.po
Labels: i18n

#2694 Fix unit tests
  po/openbeautyfacts/de.po
Labels: i18n
