Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2020-10, with the labels that each got.

#4289 Add Catalan unaccenting to docker Config.pm, to match ProductOpener/Config_off.pm, fixes #4276
  docker/backend-dev/conf/Config.pm
Labels: docker, i18n

#4294 Perl modules from apt
  .github/workflows/pull_request.yml
  cpanfile
  docker/backend/Dockerfile
Labels: docker, github_actions

#4275 Script to compute stats from calls to the scan API
  scripts/api_stats.pl
Labels: scan statistics

#4295 Capture signal when refreshing taxonomies
  scripts/refresh_taxonomies.js
Labels: dev

#4311 export_database.pl - make cursor immortal
  scripts/export_database.pl
Labels: data export

#4257 Add build:watch command to watch changes on scss and js files
  gulpfile.js
  package.json
Labels: css, javascript

#4319 startup_apache2.pl - setup error log before running code
  lib/startup_apache2.pl
Labels: docker

#4320 po-foreground.sh - add ecoscore folder into dev docker
  docker/backend-dev/conf/po-foreground.sh
Labels: docker

#4304 Add new packaging image type + packaging_text field - #4286
  cgi/packaging.pl
  cgi/product_image_upload.pl
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  html/js/product-multilingual.js
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Packaging.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Tags.pm
  po/common/common.pot
  po/common/en.po
  scripts/update_all_products.pl
  t/products.t
  taxonomies/states.result.sto
  taxonomies/states.result.txt
  taxonomies/states.txt
  templates/display_product.tt.html
Labels: ecoscore, images, packaging

#4216 Flakes
  taxonomies/categories.txt
Labels: categories, taxonomies

#4139 Corrections ciqual
  taxonomies/categories.txt
Labels: categories, taxonomies

#4326 energy for the iOS app
  taxonomies/nutrients.txt
Labels: blocking mobile apps, nutrients, taxonomies

#4334 more performance tweaks for update_all_products.pl
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Store.pm
Labels: performance

#4328 perl syntax checking in parallel, but limit the number of processes.
  .github/workflows/pull_request.yml
  scripts/check_perl.js
Labels: github_actions

#4329 refresh_taxonomies.js - handle signals & limit parallelism (for Travis)
  scripts/refresh_taxonomies.js
Labels: github_actions

#4342 Don't count '... photo selected' as a TODO state
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Products.pm
  t/display.t
  taxonomies/states.result.sto
  taxonomies/states.result.txt
  taxonomies/states.txt
Labels: Perl, taxonomies

#4344 Run unit tests in parallel
  .github/workflows/pull_request.yml
  package.json
Labels: github_actions

#4343 added ingredients analysis attributes: vegan, vegetarian, palm oil free #4105 #4266
  html/images/icons/contains-palm-oil.svg
  html/images/icons/ecoscore-a.svg
  html/images/icons/ecoscore-b.svg
  html/images/icons/ecoscore-c.svg
  html/images/icons/ecoscore-d.svg
  html/images/icons/ecoscore-e.svg
  html/images/icons/may-contain-palm-oil.svg
  html/images/icons/maybe-vegan.svg
  html/images/icons/maybe-vegetarian.svg
  html/images/icons/non-vegan.svg
  html/images/icons/non-vegetarian.svg
  html/images/icons/palm-oil-content-unknown.svg
  html/images/icons/palm-oil-free.svg
  html/images/icons/vegan-status-unknown.svg
  html/images/icons/vegan.svg
  html/images/icons/vegetarian-status-unknown.svg
  html/images/icons/vegetarian.svg
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/Config_off.pm
Labels: personal search, product attributes

#4347 Read API: new images_to_update_[lc] field, fixes #4292
  lib/ProductOpener/Display.pm
Labels: API, images

#4338 default userid for logged in users
  cgi/user.pl
Labels: producers platform

#4340 Corrections
  taxonomies/categories.txt
Labels: categories, taxonomies

#4356 Handle edit page ajax failures
  html/js/product-multilingual.js
Labels: editing, javascript

#4360 Chicken
  taxonomies/categories.txt
Labels: categories, taxonomies

#4354 Add ability to pass a wait timeout to the mongodb connection
  docker/backend-dev/conf/Config.pm
  docker/backend-dev/conf/Config2.pm
  docker/productopener/templates/backend-conf.yaml
  lib/ProductOpener/Config2_sample.pm
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Data.pm
  scripts/update_all_products.pl
Labels: mongodb

#4361 Agribalyse fixes
  taxonomies/categories.txt
Labels: categories

#4366 remove existing ingedients_text_with_allergens fields, bug #3836
  lib/ProductOpener/Ingredients.pm
Labels: ingredients

#4373 Taxonomy edits 19 - mostly ingredient additions
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/minerals.txt
Labels: categories, ingredients, ingredients-analysis

#4376 migrate from defunct cropper to cropperjs+jquery-cropper
  cgi/product_multilingual.pl
  gulpfile.js
  package-lock.json
  package.json
Labels: cropping, javascript

#4378 Pgi products
  taxonomies/categories.txt
Labels: categories, taxonomies

#4375 Remainder 15 oct
  taxonomies/categories.txt
Labels: categories

#4374 AGB 16 OCT
  taxonomies/categories.txt
Labels: categories

#4371 Add org profiles #4370, start to refactor user profiles
  cgi/org.pl
  icons/email.svg
  icons/phone.svg
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Orgs.pm
  po/common/common.pot
  po/common/en.po
  templates/org_form.tt.html
  templates/org_profile.tt.html
  templates/user_profile.tt.html
Labels: producers platform, profiles

#4384 Icons, accordion and styling for user food preferences
  html/images/icons/0-additives.svg
  html/images/icons/1-additives.svg
  html/images/icons/10-additives.svg
  html/images/icons/2-additives.svg
  html/images/icons/3-additives.svg
  html/images/icons/4-additives.svg
  html/images/icons/5-additives.svg
  html/images/icons/6-additives.svg
  html/images/icons/7-additives.svg
  html/images/icons/8-additives.svg
  html/images/icons/9-additives.svg
  html/js/product-preferences.js
  html/js/product-search.js
  icons/food-cog.svg
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/Config_off.pm
  po/common/common.pot
  po/common/en.po
Labels: personal search

#4387 add Mongolian to language taxonomy
  scripts/build_languages_taxonomy_from_wikidata.pl
  taxonomies/languages.result.sto
  taxonomies/languages.result.txt
  taxonomies/languages.txt
Labels: i18n, taxonomies

#4388 display.js - fix searching in country dropdown
  html/js/display.js
Labels: javascript

#4386 Agribalyse 20 oct
  taxonomies/categories.txt
Labels: categories, ecoscore

#4390 add ecoscore bonuses for labels
  lib/ProductOpener/Ecoscore.pm
Labels: ecoscore, labels

#4395 Taxonomy edits 20 - ingredient & parsing additions
  cgi/spellcheck_test.pl
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/minerals.txt
  taxonomies/vitamins.txt
Labels: ingredients

#4398 update tagify to fix #4280 - searching for tags with accented characters
  package-lock.json
  package.json
Labels: javascript

#4385 Default language-less xx: values for tags, fixes #3872, enables brands taxonomy
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  cgi/suggest.pl
  lib/ProductOpener/Tags.pm
  t/tags.t
  taxonomies/labels.result.sto
  taxonomies/labels.result.txt
  taxonomies/labels.txt
  taxonomies/test.result.sto
  taxonomies/test.result.txt
  taxonomies/test.txt
Labels: Tags.pm, brands, labels, taxonomies

#4393 Display "at a glance" attributes on top of product page based on user preferences
  html/js/product-preferences.js
  html/js/product-search.js
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
Labels: Product Page, design, personal search, product attributes

#4394 Add tests for ecoscore
  lib/ProductOpener/Ecoscore.pm
  t/ecoscore.t
Labels: ecoscore

#4402 add agribalyse proxy for margarines
  taxonomies/categories.txt
Labels: categories

#4401 new generic icons for Organic and Fair trade attributes
  html/images/icons/fair-trade-unknown.svg
  html/images/icons/fair-trade.svg
  html/images/icons/not-fair-trade.svg
  html/images/icons/not-organic.svg
  html/images/icons/organic-unknown.svg
  html/images/icons/organic.svg
  lib/ProductOpener/Attributes.pm
  templates/display_product.tt.html
Labels: product attributes

#4403 add palm oil malus for ecoscore, #4287
  lib/ProductOpener/Ecoscore.pm
  t/ecoscore.t
Labels: ecoscore

#4409 fixes #4365, allergen 0%
  lib/ProductOpener/Ingredients.pm
  t/allergens.t
Labels: allergens

#4408 new US labels: use mg instead of %DV, #4377
  cgi/product_multilingual.pl
  lib/ProductOpener/Food.pm
  scss/_off.scss
Labels: nutrition facts

#4412 mass AGB semi-manual cleanup
  taxonomies/categories.txt
Labels: agribalyse, categories, ecoscore

#4414 Update categories.txt
  taxonomies/categories.txt
Labels: categories, taxonomies

#4422 Taxonomy edits 21 - mostly ingredient additions
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: ingredients

#4426 temporary redirect instead of permanent
  cgi/user.pl
Labels: producers platform

#4424 refactor ingredient.t - move expected test results to JSON files
  t/expected_test_results/ingredients/en-flavour-synonyms.json
  t/expected_test_results/ingredients/fi-additive.json
  t/expected_test_results/ingredients/fi-additives-origins.json
  t/expected_test_results/ingredients/fi-additives-percents.json
  t/expected_test_results/ingredients/fi-do-not-match-myanmar.json
  t/expected_test_results/ingredients/fi-labels.json
  t/expected_test_results/ingredients/fi-organic-label-part-of-ingredient.json
  t/expected_test_results/ingredients/fi-origins.json
  t/expected_test_results/ingredients/fi-percents.json
  t/expected_test_results/ingredients/fr-additive.json
  t/expected_test_results/ingredients/fr-chocolate-cake.json
  t/expected_test_results/ingredients/fr-label-and-multiple-origins.json
  t/expected_test_results/ingredients/fr-labels.json
  t/expected_test_results/ingredients/fr-marmelade.json
  t/expected_test_results/ingredients/fr-origins-labels.json
  t/expected_test_results/ingredients/fr-palm-kernel-fat.json
  t/expected_test_results/ingredients/fr-percents-origins-2.json
  t/expected_test_results/ingredients/fr-percents-origins.json
  t/expected_test_results/ingredients/fr-percents.json
  t/expected_test_results/ingredients/fr-processing-multi.json
  t/expected_test_results/ingredients/fr-starred-label.json
  t/expected_test_results/ingredients/fr-truncated-puree.json
  t/expected_test_results/ingredients/fr-vegetal-origin.json
  t/expected_test_results/ingredients/label-and-multiple-origins.json
  t/expected_test_results/ingredients/single-letters.json
  t/expected_test_results/ingredients/xx-single-letters.json
  t/ingredients.t
Labels: ingredients-analysis, tests

#4437 convert Eco-Score tests to new system
  t/ecoscore.t
  t/expected_test_results/ecoscore/empty-product.json
  t/expected_test_results/ecoscore/ingredient-palm-oil-rspo.json
  t/expected_test_results/ecoscore/ingredient-palm-oil.json
  t/expected_test_results/ecoscore/known-category-butters.json
  t/expected_test_results/ecoscore/known-category-margarines.json
  t/expected_test_results/ecoscore/label-organic.json
  t/expected_test_results/ecoscore/unknown-category.json
Labels: ecoscore, tests

#4440 Cereal flakes
  taxonomies/categories.txt
Labels: categories, taxonomies

#4420 Agribalyse 26 oct
  taxonomies/categories.txt
Labels: categories

#4444 catalan synonyms
  taxonomies/additives.txt
Labels: additives, taxonomies

#4448 Ecoscore display
  html/images/icons/ecoscore-a.svg
  html/images/icons/ecoscore-b.svg
  html/images/icons/ecoscore-c.svg
  html/images/icons/ecoscore-d.svg
  html/images/icons/ecoscore-e.svg
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
  templates/display_product.tt.html
  templates/ecoscore_details.tt.html
Labels: ecoscore

#4439 Ecoscore: take into account bonuses/maluses computed from the origins of ingredients
  ecoscore/data/Eco_score_Calculateur.csv.9
  ecoscore/data/ssconvert.sh
  lib/ProductOpener/Ecoscore.pm
  t/ecoscore.t
  t/expected_test_results/ecoscore/empty-product.json
  t/expected_test_results/ecoscore/ingredient-palm-oil-rspo.json
  t/expected_test_results/ecoscore/ingredient-palm-oil.json
  t/expected_test_results/ecoscore/known-category-butters.json
  t/expected_test_results/ecoscore/known-category-margarines.json
  t/expected_test_results/ecoscore/label-organic.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field.json
  t/expected_test_results/ecoscore/origins-of-ingredients-not-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-partly-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients.json
  t/expected_test_results/ecoscore/unknown-category.json
Labels: ecoscore

#4445 disable travis tests, fixes #4438
  .travis.yml
Labels: ci, tests

#4449 Taxonomy edits 22 - ingredients & labels additions
  lib/ProductOpener/Ingredients.pm
  t/ingredients_processing.t
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/minerals.txt
Labels: ingredients, labels
