Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2020-07, with the labels that each got.

#3773 automate the Equadis import, #3772
  lib/ProductOpener/Import.pm
  scripts/equadis-import/README.md
  scripts/equadis-import/equadis-xml2csv.js
  scripts/equadis-import/equadis2off.sh
  scripts/equadis-import/run_equadis_import.sh
  scripts/import_csv_file.pl
Labels: data import, producers platform

#3769 fix for utf8 import filenames in producers platform, fixes #3736
  cgi/import_file_upload.pl
Labels: producers platform

#3775 better org functions + doc
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Orgs.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Users.pm
Labels: producers platform

#3782 fix regexp for Portuguese addtives parsing bug #3771
  lib/ProductOpener/Ingredients.pm
  t/ingredients_parsing.t
Labels: ingredients-analysis

#3787 Update tagline for France
  html/files/tagline-off.json
Labels: tagline

#3597 Remove the petition from the iPhone tagline
  html/files/app/tagline/tagline-off-ios.json
Labels: tagline

#3790 New categories
  taxonomies/categories.txt
Labels: categories, taxonomies

#3529 Logo BBC
  html/images/lang/fr/labels/bleu-blanc-coeur.98x90.svg
Labels: logos

#3723 Adding an OBF version of the Crowdsourcing illustration
  html/images/svg/crowdsourcing-obf-round-smartphones.svg
Labels: design, open beauty facts

#3809 fix: eslint warning
  html/js/product-multilingual.js
Labels: frontend

#3807 ADD: Maïs doux frais
  taxonomies/categories.txt
Labels: categories, taxonomies

#3811 ADD Polémos frais (Fresh grapefruit)
  taxonomies/categories.txt
Labels: taxonomies

#3810 Finnish category spelling corrections
  taxonomies/categories.txt
Labels: categories, taxonomies

#3796 (Discover/contribute) page fixes for Open (Food/Beauty) Facts
  lang/en/texts/contribute.html
  lang/obf/en/texts/contribute.html
  lang/obf/en/texts/discover.html
Labels: static content

#3792 Added origins constraints to the Labels taxonomy
  taxonomies/labels.txt
Labels: labels, taxonomies

#3761 Start adding properties to brands
  taxonomies/brands.txt
Labels: brands, taxonomies

#3729 Start for WHO categories
  taxonomies/categories.txt
Labels: categories, taxonomies

#3755 Preliminary attempt to categorize labels into clusters
  taxonomies/labels.txt
Labels: labels, taxonomies

#3780 Add script to generate missing OCR JSON (#3779)
  scripts/run_ocr.py
Labels: OCR

#3802 Search and display products templatization
  lib/ProductOpener/Display.pm
  templates/search_and_display_products.tt.html
Labels: Template::Toolkit

#3747 Add countries to the Store taxonomy
  taxonomies/stores.txt
Labels: stores, taxonomies

#3645 EU Establishment Sections
  taxonomies/eu_establishments_sections.txt
Labels: packager codes, taxonomies

#3797 Some Belgian ingredient parsing additions
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
Labels: ingredients, taxonomies

#3728 Nutrient Levels Templatization
  lib/ProductOpener/Display.pm
  templates/nutrient_levels.tt.html
Labels: Product Page, Template::Toolkit

#3798 Commit label logos
  html/images/lang/de/labels/austria-bio.90x90.png
  html/images/lang/de/labels/eg-oko-verordnung.110x90.svg
  html/images/lang/de/labels/eu-organic.135x90.png
  html/images/lang/de/labels/g-g-a.90x90.png
  html/images/lang/de/labels/g-g-a.90x90.svg
  html/images/lang/de/labels/g-u.90x90.png
  html/images/lang/de/labels/g-u.90x90.svg
  html/images/lang/de/labels/halal.90x90.png
  html/images/lang/de/labels/migros-aus-der-region.132x90.png
  html/images/lang/de/labels/thailand-diversity-refinement.100x90.png
  html/images/lang/en/labels/assured-food-standards.82x90.png
  html/images/lang/en/labels/belgian-family-brewers.90x90.png
  html/images/lang/en/labels/bio-suisse.111x90.png
  html/images/lang/en/labels/biogarantie.90x90.png
  html/images/lang/en/labels/brown-dot-india.90x90.png
  html/images/lang/en/labels/eu-ecolabel.90x90.png
  html/images/lang/en/labels/eu-organic.135x90.png
  html/images/lang/en/labels/fairtrade-international.77x90.png
  html/images/lang/en/labels/fsc.73x90.png
  html/images/lang/en/labels/green-dot-india.90x90.png
  html/images/lang/en/labels/max-havelaar.64x90.png
  html/images/lang/en/labels/terrasuisse.99x90.png
  html/images/lang/en/labels/usda-organic.90x90.png
  html/images/lang/en/labels/utz-certified.90x90.png
  html/images/lang/fi/labels/avainlippu.svg
  html/images/lang/fi/labels/hyvaa-suomesta.svg
  html/images/lang/fi/labels/sirkkalehtimerkki.svg
  html/images/lang/fr/labels/ab-agriculture-biologique.74x90.png
  html/images/lang/fr/labels/bio-europeen.135x90.png
  html/images/lang/fr/labels/fairtrade-international.77x90.png
  html/images/lang/fr/labels/fruits-legumes-de-france.94x90.png
  html/images/lang/fr/labels/fsc.73x90.png
  html/images/lang/fr/labels/halal.90x90.png
  html/images/lang/fr/labels/lapin-de-france.94x90.png
  html/images/lang/fr/labels/le-porc-francais.94x90.png
  html/images/lang/fr/labels/max-havelaar.64x90.png
  html/images/lang/fr/labels/stg.90x90.png
  html/images/lang/fr/labels/thailand-diversity-refinement.100x90.png
  html/images/lang/fr/labels/viande-bovine-francaise.94x90.png
  html/images/lang/fr/labels/viande-chevaline-francaise.94x90.png
  html/images/lang/fr/labels/viande-d-agneau-francais.94x90.png
  html/images/lang/fr/labels/viande-de-chevreau-francais.94x90.png
  html/images/lang/fr/labels/viande-de-veau-francaise.94x90.png
  html/images/lang/fr/labels/viande-ovine-francaise.94x90.png
  html/images/lang/fr/labels/viande-porcine-francaise.94x90.png
  html/images/lang/fr/labels/volaille-francaise.94x90.png
Labels: logos

#3881 Add missing $producers_email configuration settings
  docker/backend-dev/conf/Config.pm
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
Labels: bug

#3891 Move en:label-rouge icon
  html/images/lang/en/labels/label-rouge.90x90.svg
Labels: taxonomies

#3887 Make codacy happier
  .eslintignore
  .stylelintignore
  .stylelintrc.json
  html/css/madenearme.css
  html/js/display-tag.js
  html/js/jquery.tagsinput.20160520/jquery.tagsinput.js
  html/js/jquery.tagsinput.20160520/jquery.tagsinput.min.css
  html/js/jquery.tagsinput.20160520/jquery.tagsinput.min.js
  html/js/product-multilingual.js
  html/js/search.js
  package.json
Labels: frontend

#3644 FAO Zones taxonomy
  taxonomies/fao_zones.txt
Labels: location, taxonomies

#3935 Fixes for the packaging & materials taxos (should compile)
  taxonomies/materials.txt
  taxonomies/packagings.txt
Labels: packaging, taxonomies

#3902 Ingredients Analysis Templatization
  lib/ProductOpener/Display.pm
  templates/ingredients_analysis.tt.html
Labels: Template::Toolkit

#3898 Ingredient Analysis Details Templatization
  lib/ProductOpener/Display.pm
  templates/ingredients_analysis_details.tt.html
Labels: Template::Toolkit

#3956 Fix for broken blue "Explore by" button link
  templates/search_and_display_products.tt.html
Labels: bug
