Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2020-02, with the labels that each got.

#2906 Small fixes for auchan import
  cgi/import_photos_upload.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/ImportConvert.pm
  lib/ProductOpener/Producers.pm
  po/common/common.pot
  po/common/en.po
Labels: producers platform

#2940 added one es synonym
  taxonomies/additives.txt
Labels: additives, taxonomies

#2949 Tagatose
  taxonomies/additives.txt
Labels: additives
