Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2020-05, with the labels that each got.

#3356 Normalize Finnish packager codes
  lib/ProductOpener/Food.pm
  t/food.t
Labels: Perl, packager codes

#3349 Small improvements for producers platform
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Producers.pm
Labels: producers platform

#3355 Fixed overlap in country dropdown
  scss/_off.scss
Labels: css

#3351 set max_retries_number to 0 for MongoDB queries, bug #3350
  lib/ProductOpener/Data.pm
Labels: mongodb

#3327 Update linking to hunger-games
  conf/nginx/sites-available/off
  lang/en/texts/hunger-game.html
Labels: hunger games

#3357 ingredient parsing: normalize Finnish vitamins correctly
  lib/ProductOpener/Ingredients.pm
  t/ingredients_parsing.t
  t/ingredients_tags.t
Labels: Perl, ingredients, vitamins

#3358 New ciqual_food_name facet
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Tags.pm
  po/common/common.pot
  po/common/en.po
  po/tags/en.po
  po/tags/tags.pot
  scripts/update_all_products.pl
Labels: data4good-environment

#3342 CIQUAL ericwang2
  taxonomies/categories.txt
Labels: categories, data4good-environment, taxonomies

#3370 Add PERL5LIB environment variable to the docker images
  docker/backend-dev/scripts/import_sample_data.sh
  docker/backend/Dockerfile
Labels: ci, docker

#3369 Move ECMAScript scripts to the `scripts` directory
  .github/workflows/pull_request.yml
  .travis.yml
  gulpfile.js
  package.json
  scripts/check_perl.js
  scripts/refresh_products_tags.js
  scripts/refresh_taxonomies.js
Labels: ci

#3367 Ciqual changes about yogurts
  taxonomies/categories.txt
Labels: categories, taxonomies

#3368 Use spawn to check perl scripts
  scripts/check_perl.js
Labels: ci

#3381 Issue 3380/restore deleted values
  lib/ProductOpener/Tags.pm
  scripts/update_all_products.pl
Labels: maintenance

#3400 Fix Broth and Radish WikiData
  taxonomies/categories.txt
Labels: taxonomies, wikidata

#3402 Fix malformed wiki-links
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/minerals.txt
  taxonomies/nucleotides.txt
  taxonomies/nutriments.txt
Labels: taxonomies, wikidata

#3378 Add Health Star Rating System from Australia
  taxonomies/labels.txt
Labels: scores

#3416 put back wikidata fixes
  taxonomies/ingredients.txt
Labels: taxonomies, wikidata

#3434 Fresh vegetables
  taxonomies/categories.txt
Labels: categories, taxonomies

#3433 ingredients-analysis: expand abbreviated fi stopwords
  lib/ProductOpener/Ingredients.pm
  t/ingredients.t
  taxonomies/ingredients.txt
Labels: ingredients-analysis

#3439 ingredients-analysis
  lang/en/texts/ingredients-analysis.html
Labels: static content

#3446 Pt translation
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#3438 mozilla-ford-nlnet
  html/images/misc/eucommission_logo.svg
  html/images/misc/ford_logo.svg
  html/images/misc/mozilla_logo.svg
  html/images/misc/nlnet_logo.svg
  html/images/misc/opencollective_logo.svg
  lang/en/texts/partners.html
Labels: static content

#3335 contribute-to-open-food-facts-by-playing.html
  crowdin.yml
  lang/en/texts/contribute-to-open-food-facts-by-playing.html
Labels: gamification, static content

#3471 Correction ethanol
  taxonomies/additives.txt
Labels: additives, taxonomies

#3469 German ingredients
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#3472 Update ingredients.txt
  taxonomies/ingredients.txt
Labels: taxonomies

#3418 Add a new process: pressed
  taxonomies/ingredients_processing.txt
Labels: processing, taxonomies

#3481 Correction confusion se sv
  taxonomies/categories.txt
Labels: categories, taxonomies

#3496 Fix unescaped string in ingredient analysis
  po/common/common.pot
Labels: i18n

#3485 Adding Haute Valeur Environnementale to labels
  taxonomies/labels.txt
Labels: labels, taxonomies

#3461 Feature page to present the new ingredient detector
  html/images/misc/ingredient-detector.png
  lang/en/texts/ingredient-detector.html
Labels: static content

#3506 Use dynamically produced manifest for Open Pet Food Facts
  lib/ProductOpener/Config_opff.pm
Labels: open pet food facts
