Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2020-03, with the labels that each got.

#2963 better wording for combined nutriscore warning
  po/common/common.pot
  po/common/en.po
Labels: nutriscore

#2965 additives: update Finnish translations
  t/additives.t
  t/additives_tags.t
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
Labels: additives, taxonomies

#2983 Fix encoding of map labels
  lib/ProductOpener/Display.pm
Labels: bug, maps

#2984 Use same color for ingredients analysis
  lib/ProductOpener/Display.pm
  scss/_off.scss
Labels: css, frontend, needs deployment

#2985 Bump dependencies
  cpanfile
  docker/build_npm.bat
  docker/build_npm.sh
  docker/docker-compose.admin-uis.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.geolite2.yml
  docker/docker-compose.yml
  docker/frontend/Dockerfile
  gulpfile.js
  package-lock.json
  package.json
Labels: dependencies

#2981 Issue 2980/ingredients analysis
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ingredients.pm
  po/common/common.pot
  po/common/en.po
  t/ingredients.t
  t/ingredients_percent.t
Labels: ingredients

#2978 massify-ios-tagline
  html/files/app/tagline/tagline-off-ios.json
Labels: i18n

#2977 massify-tagline
  html/files/tagline-off.json
Labels: i18n

#2993 script to print all translation of a string, for debugging
  scripts/print_all_translations.pl
Labels: Q&A, i18n

#3003 improved ingredients parsing, fixes #2999
  lib/ProductOpener/Ingredients.pm
  t/ingredients_parsing.t
  taxonomies/labels.result.sto
  taxonomies/labels.result.txt
  taxonomies/labels.txt
Labels: ingredients

#3014 About running the docker container on another port
  docker/dev-environment-quick-start-guide.md
Labels: docker

#3005 Ca translations
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#3035 New ingredients
  t/ingredients_percent.t
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#3037 Updated deps to fix vulnerabilities
  package-lock.json
Labels: dependencies

#3060 Added css stylelint config
  .stylelintrc
  .stylelintrc.json
  package-lock.json
  package.json
Labels: css

#3025 Correction in German.txt
  taxonomies/categories.txt
Labels: categories, taxonomies

#3063 fix-for-nl
  crowdin.yml
Labels: i18n

#3028 Add 公克 for metric grams in chinese, see #1618
  lib/ProductOpener/Food.pm
  t/food.t
Labels: Food.pm, documented, tested

#3056 [WIP] Added: new tests for Text.pm
  lib/ProductOpener/Text.pm
  t/text.t
Labels: tests

#3059 Document the ProductOpener::Text.pm module
  lib/ProductOpener/Text.pm
Labels: documentation

#3085 Ktipiti, panini breads and other
  taxonomies/categories.txt
Labels: categories, taxonomies
