Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2020-11, with the labels that each got.

#4452 italian synonym
  taxonomies/additives.txt
Labels: additives, taxonomies

#4451 Taxonomy edits 23 - mostly italian additions
  lib/ProductOpener/Ingredients.pm
  t/ingredients_parsing.t
  taxonomies/additives.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: ingredients

#4446 Start of packagings data extraction and structuration, #219
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Packaging.pm
  t/expected_test_results/packaging/merge_en_add_packaging.json
  t/expected_test_results/packaging/merge_en_merge_packaging_add_property.json
  t/expected_test_results/packaging/merge_en_merge_packaging_less_specific_property.json
  t/expected_test_results/packaging/merge_en_merge_packaging_more_specific_property.json
  t/expected_test_results/packaging/merge_en_merge_packaging_tag_and_packaging_text.json
  t/expected_test_results/packaging/merge_en_merge_packaging_tag_and_packaging_text_2.json
  t/expected_test_results/packaging/packaging_text_en_glass_bottle.json
  t/expected_test_results/packaging/packaging_text_en_plastic_bottle.json
  t/expected_test_results/packaging/packaging_text_fr_boite_cartonee_accents.json
  t/expected_test_results/packaging/packaging_text_fr_bouteille_en_plastique.json
  t/expected_test_results/packaging/packaging_text_fr_bouteille_pet.json
  t/expected_test_results/packaging/packaging_text_fr_bouteille_plastique_pet.json
  t/expected_test_results/packaging/packaging_text_fr_multiple.json
  t/packaging.t
  taxonomies/packaging_materials.result.sto
  taxonomies/packaging_materials.result.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_recycling.result.sto
  taxonomies/packaging_recycling.result.txt
  taxonomies/packaging_recycling.txt
  taxonomies/packaging_shapes.result.sto
  taxonomies/packaging_shapes.result.txt
  taxonomies/packaging_shapes.txt
Labels: ecoscore, packaging, taxonomies

#4456 italian synonym
  taxonomies/additives.txt
Labels: additives, taxonomies

#4455 Display attributes on top of product page (for moderators for now), i18n + small visual changes
  html/js/product-preferences.js
  html/js/product-search.js
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
Labels: personal search, product attributes

#4462 Images and values for attributes with unknown status
  html/images/icons/additives-unknown.svg
  html/images/icons/ecoscore-unknown.svg
  html/images/icons/nutrient-level-fat-unknown.svg
  html/images/icons/nutrient-level-salt-unknown.svg
  html/images/icons/nutrient-level-saturated-fat-unknown.svg
  html/images/icons/nutrient-level-sugars-unknown.svg
  html/images/misc/nova-group-unknown.svg
  html/images/misc/nutriscore-unknown.svg
  lib/ProductOpener/Attributes.pm
  po/common/common.pot
  po/common/en.po
Labels: personal search, product attributes

#4469 Fix translations breaking html & translating slack channel name
  po/common/ko.po
  po/common/nl_BE.po
  po/common/nl_NL.po
  po/common/ru.po
  po/common/tr.po
  t/i18n.t
Labels: i18n

#4465 Many small fixes and improvements for the Eco-score
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ecoscore.pm
  lib/ProductOpener/Tags.pm
  lib/startup_apache2.pl
  po/common/common.pot
  po/common/en.po
  po/tags/en.po
  po/tags/tags.pot
  scripts/update_all_products.pl
  t/ecoscore.t
  t/expected_test_results/ecoscore/empty-product.json
  t/expected_test_results/ecoscore/ingredient-palm-oil-rspo.json
  t/expected_test_results/ecoscore/ingredient-palm-oil.json
  t/expected_test_results/ecoscore/known-category-butters.json
  t/expected_test_results/ecoscore/known-category-margarines.json
  t/expected_test_results/ecoscore/label-organic.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested-2.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested.json
  t/expected_test_results/ecoscore/origins-of-ingredients-not-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-partly-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unknown-origin.json
  t/expected_test_results/ecoscore/unknown-category.json
  templates/ecoscore_details.tt.html
Labels: ecoscore, origins

#4472 Oceans and seas
  taxonomies/origins.txt
Labels: ecoscore, fishing, origins

#4470 Perform GetText checks on all translation files
  .github/workflows/translation-check.yml
  po/common/common.pot
Labels: i18n, tests

#4474 Display search results with cards using user preferences
  html/js/product-preferences.js
  html/js/product-search.js
  scss/_off.scss
  scss/_settings.scss
  templates/display_new.tt.html
Labels: personal search, product attributes

#4491 add title for unknown organic/fair trade attributes, fixes #4479
  lib/ProductOpener/Attributes.pm
  po/common/common.pot
  po/common/en.po
Labels: product attributes

#4490 Fix search sort key for search API v2
  html/js/product-search.js
  lib/ProductOpener/Display.pm
Labels: API, personal search, search

#4498 update github workflows using checkout@v1 to v2
  .github/workflows/containerimage.yml
  .github/workflows/pull_request.yml
Labels: github_actions

#4497 Taxonomy edits 24 - ingredient additions
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: categories, ingredients

#4496 Add lang= attribute to moderator ingredients edit on product view
  lib/ProductOpener/Display.pm
  templates/display_product.tt.html
Labels: editing

#4499 Improvements for displaying and editing preferences
  html/js/product-preferences.js
  html/js/product-search.js
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
  templates/search_results.tt.html
Labels: personal search

#4500 Better packaging parsing (quantity contained and number of units) and display #219
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ecoscore.pm
  lib/ProductOpener/Packaging.pm
  po/common/common.pot
  po/common/en.po
  scripts/update_all_products.pl
  t/ecoscore.t
  t/expected_test_results/ecoscore/packaging-en-multiple.json
  t/expected_test_results/packaging/packaging_text_en_plastic_bottle.json
  t/expected_test_results/packaging/packaging_text_en_plurals.json
  t/expected_test_results/packaging/packaging_text_en_quantity_1_l_plastic_bottles.json
  t/expected_test_results/packaging/packaging_text_en_quantity_25_cl_bottles.json
  t/expected_test_results/packaging/packaging_text_en_quantity_6_plastic_bottles.json
  t/expected_test_results/packaging/packaging_text_fr_quantity_6_bouteilles_plastiques_de_25_cl.json
  t/packaging.t
  templates/display_product.tt.html
Labels: packaging

#4502 add quality tests for packaging data
  lib/ProductOpener/DataQualityCommon.pm
Labels: data quality, packaging, quality-facet

#4382 Add JSONL data export - closes #3385
  lang/en/texts/data.html
Labels: data export

#4507 server option to turn on ecoscore + ecoscore_alpha override
  lib/ProductOpener/Display.pm
Labels: API, ecoscore

#4508 improvements for packaging parsing
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Packaging.pm
  t/expected_test_results/packaging/merge_en_merge_packaging_tag_and_packaging_text_2.json
  t/expected_test_results/packaging/packaging_text_fr_line_feeds.json
  t/expected_test_results/packaging/packaging_text_fr_unknown_shape.json
  t/packaging.t
  taxonomies/packaging_materials.result.sto
  taxonomies/packaging_materials.result.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.result.sto
  taxonomies/packaging_shapes.result.txt
  taxonomies/packaging_shapes.txt
Labels: packaging

#4493 Sprouts
  taxonomies/categories.txt
Labels: categories, taxonomies

#4517 Bug fixes for ingredients parsing
  lib/ProductOpener/Ingredients.pm
  t/expected_test_results/ingredients/fr-origins-emmental-allemagne-france-pays-bas-contient-lait.json
  t/ingredients.t
  t/ingredients_parsing.t
  taxonomies/labels.result.sto
  taxonomies/labels.result.txt
  taxonomies/labels.txt
Labels: allergens, ingredients-analysis, vitamins

#4520 fixes #4519, graphs links
  lib/ProductOpener/Display.pm
Labels: graphs

#4526 script to generate a list of producers accounts
  scripts/gen_pro_users_emails_list.pl
Labels: producers platform

#4514 Agribalyse fixes
  taxonomies/categories.txt
Labels: agribalyse, categories, ecoscore

#4510 Personal search - Enable user preferences for facets pages and search results
  html/images/icons/match-no.svg
  html/images/icons/match-unknown.svg
  html/images/icons/match-yes.svg
  html/js/product-search.js
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
  scss/_off.scss
  templates/search_and_display_products.tt.html
  templates/search_results.tt.html
Labels: facets, personal search

#4495 bigger button icons, fixes #4494
  scss/_off.scss
Labels: design

#4530 increase timeout for export
  scripts/export_database.pl
Labels: data export

#4534 Improvements for product cards
  html/images/icons/product-silhouette-transparent.svg
  html/js/product-search.js
  lib/ProductOpener/Display.pm
Labels: personal search

#4513 Honey
  taxonomies/categories.txt
Labels: categories, taxonomies

#4531 Taxonomy edits 25 - a few ingredient additions
  lib/ProductOpener/Ingredients.pm
  taxonomies/amino_acids.txt
  taxonomies/ingredients.txt
Labels: ingredients

#4536 Ecoscore & packaging fixes / improvements
  lib/ProductOpener/Ecoscore.pm
  lib/ProductOpener/Packaging.pm
  lib/ProductOpener/Tags.pm
  t/expected_test_results/ecoscore/packaging-en-pet-bottle.json
  t/expected_test_results/ecoscore/packaging-en-shape-sepcific-materials.json
  t/expected_test_results/packaging/packaging_text_en_biobased.json
  t/expected_test_results/packaging/packaging_text_fr_biosource.json
  templates/ecoscore_details.tt.html
Labels: ecoscore, packaging

#4540 Delete 2020-gold-medal-of-the-german-agricultural-society.90x90.png
  html/images/lang/en/labels/2020-gold-medal-of-the-german-agricultural-society.90x90.png
Labels: labels

#4541 Add an experimental message for producers
  lang/fr/texts/index-pro.html
Labels: producers platform

#4548 Forest footprint computation and display
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  cgi/search.pl
  forest-footprint/envol-vert/Empreinte Forêt - Envol Vert - OFF.csv.0
  forest-footprint/envol-vert/Empreinte Forêt - Envol Vert - OFF.csv.1
  forest-footprint/envol-vert/Empreinte Forêt - Envol Vert - OFF.csv.2
  forest-footprint/envol-vert/Empreinte Forêt - Envol Vert - OFF.ods
  forest-footprint/envol-vert/ssconvert.sh
  html/images/misc/envol-vert-empreinte-foret.png
  lib/ProductOpener/Display.pm
  lib/ProductOpener/ForestFootprint.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Packaging.pm
  lib/startup_apache2.pl
  po/common/common.pot
  po/common/en.po
  scripts/update_all_products.pl
  t/expected_test_results/forest_footprint/empty-product.json
  t/expected_test_results/forest_footprint/fr-category-poulets-du-gers.json
  t/expected_test_results/forest_footprint/fr-ingredients-filet-de-poulet-bio-oeuf-label-rouge-os-de-poulet-igp.json
  t/expected_test_results/forest_footprint/fr-ingredients-filet-de-poulet-bio.json
  t/expected_test_results/forest_footprint/fr-ingredients-lait.json
  t/expected_test_results/forest_footprint/fr-ingredients-nested-matching-ingredient.json
  t/expected_test_results/forest_footprint/fr-ingredients-nested-matching-sub-ingredient.json
  t/expected_test_results/forest_footprint/fr-ingredients-poulet-du-gers.json
  t/expected_test_results/forest_footprint/fr-ingredients-poulet.json
  t/forest_footprint.t
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
  taxonomies/origins.txt
  templates/display_product.tt.html
Labels: environment, forest footprint

#4551 small fixes for Ferrero import
  lib/ProductOpener/Import.pm
  scripts/equadis-import/dereference.sh
Labels: producers platform

#4554 Mostly German ingredients
  taxonomies/ingredients.txt
Labels: ingredients

#4553 small fix for packagings parsing
  lib/ProductOpener/Packaging.pm
  t/expected_test_results/packaging/packaging_text_fr_1_etui.json
  t/packaging.t
  taxonomies/packaging_shapes.result.sto
  taxonomies/packaging_shapes.result.txt
  taxonomies/packaging_shapes.txt
Labels: packaging

#4567 Whole chickens
  taxonomies/categories.txt
Labels: categories, taxonomies

#4568 Re-evaluation EFSA E507, E508, E509, E511
  taxonomies/additives.txt
Labels: additives, taxonomies

#4569 small fixes for product cards
  html/js/product-search.js
Labels: personal search
