Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2020-12, with the labels that each got.

#4563 mostly added German words that end the ingredient list
  taxonomies/ingredients.txt
Labels: ingredients

#4576 fix ingredients percent loop, fixes #4575
  lib/ProductOpener/Ingredients.pm
  t/expected_test_results/ingredients/es-percent-loop.json
  t/expected_test_results/ingredients/xx-single-letters.json
  t/ingredients.t
Labels: ingredients-analysis

#4570 Small improvements to template system + better display for organizations
  cgi/product_multilingual.pl
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
  templates/display_product.tt.html
  templates/user_profile.tt.html
Labels: Template::Toolkit, producers platform

#4578 import products on another server (obf etc.) only if they do not exist on target server
  lib/ProductOpener/Import.pm
Labels: producers platform

#4564 PGI completions and Agribalyse tweaks for Eco-Score
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: agribalyse, categories, ecoscore, origins

#4593 update forest footprint data
  forest-footprint/envol-vert/Empreinte Forêt - Envol Vert - OFF.csv.0
  forest-footprint/envol-vert/Empreinte Forêt - Envol Vert - OFF.csv.1
  forest-footprint/envol-vert/Empreinte Forêt - Envol Vert - OFF.ods
  t/expected_test_results/forest_footprint/fr-ingredients-filet-de-poulet-bio-oeuf-label-rouge-os-de-poulet-igp.json
  t/expected_test_results/forest_footprint/fr-ingredients-filet-de-poulet-bio.json
  t/expected_test_results/forest_footprint/fr-ingredients-nested-matching-ingredient.json
  t/expected_test_results/forest_footprint/fr-ingredients-nested-matching-sub-ingredient.json
  t/expected_test_results/forest_footprint/fr-ingredients-poulet-du-gers.json
  t/expected_test_results/forest_footprint/fr-ingredients-poulet.json
  taxonomies/labels.result.sto
  taxonomies/labels.result.txt
  taxonomies/labels.txt
Labels: forest footprint

#4594 Translations for the Empreinte Forêt
  po/common/fr.po
Labels: forest footprint, translations

#4596 enable display of forest footprint in France
  lang/fr/texts/empreinte-foret-des-produits-alimentaires.html
  lib/ProductOpener/Display.pm
  templates/display_product.tt.html
Labels: ecoscore

#4592 add ecoscore and forest-footprint files, #4591
  docker/backend-dev/conf/po-foreground.sh
  docker/productopener/templates/backend-deployment.yaml
Labels: ecoscore, forest footprint

#4604 fruit extract
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#4601 better ecoscore details display
  lib/ProductOpener/Display.pm
  templates/ecoscore_details.tt.html
Labels: ecoscore

#4606 Ecoscore details icons
  icons/agriculture.svg
  icons/lca.svg
  icons/material/agriculture-24px.svg
  icons/material/public-24px.svg
  icons/packaging.svg
  icons/public.svg
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ecoscore.pm
  scss/_off.scss
  t/expected_test_results/ecoscore/empty-product.json
  t/expected_test_results/ecoscore/ingredient-palm-oil-rspo.json
  t/expected_test_results/ecoscore/ingredient-palm-oil.json
  t/expected_test_results/ecoscore/known-category-butters.json
  t/expected_test_results/ecoscore/known-category-margarines.json
  t/expected_test_results/ecoscore/label-organic.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested-2.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested.json
  t/expected_test_results/ecoscore/origins-of-ingredients-not-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-partly-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unknown-origin.json
  t/expected_test_results/ecoscore/packaging-en-multiple.json
  t/expected_test_results/ecoscore/packaging-en-pet-bottle.json
  t/expected_test_results/ecoscore/packaging-en-plastic-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-can.json
  t/expected_test_results/ecoscore/unknown-category.json
  templates/ecoscore_details.tt.html
Labels: ecoscore

#4610 add support for importing packaging image and text through producers platform
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Producers.pm
  t/producers.t
Labels: packaging, producers platform

#4619 fix % unit specified in imports
  lib/ProductOpener/Import.pm
Labels: producers platform

#4612 Add xx:AT-BIO-301 thingies (translations)
  taxonomies/labels.txt
Labels: labels, taxonomy translation, translations

#4626 Added agribalyse proxy for dates
  taxonomies/categories.txt
Labels: ecoscore, taxonomies

#4633 E461 cs and sk
  taxonomies/additives.txt
Labels: additives, taxonomies

#4634 cs antioxidanty
  taxonomies/additives_classes.txt
Labels: additives, taxonomies

#4635 Cs ingredients
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#4641 SVG favicon
  html/images/favicon/OFF.svg
Labels: favicons

#4624 mount logs, update Config.pm, fixes #4591
  .gitignore
  docker/backend-dev/conf/Config.pm
  docker/docker-compose.dev.yml
Labels: docker

#4643 fix #4307 and improve focus by rolling.
  .eslintrc.js
  html/js/search.js
Labels: javascript

#4644 Small bug fixes related to exporting and importing cropped photos from the producers platform
  lib/ProductOpener/Export.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Import.pm
Labels: images, producers platform

#4658 Nordic label translations W52
  taxonomies/labels.txt
Labels: labels, taxonomy translation

#4631 Added olive oil related categories
  taxonomies/categories.txt
Labels: categories

#4654 fix id for attribute_group_ingredients_analysis_name
  po/common/common.pot
  po/common/en.po
Labels: personal search

#4656 fixes #4655, more than 2 nutrient filters
  cgi/search.pl
Labels: API

#4660 Ingredient analyzer patterns sourced from Nordic ingredient lists
  lib/ProductOpener/Ingredients.pm
Labels: Perl, ingredients-analysis

#4649 fix export for Nutri-Score rename
  scripts/generate_dump_for_offline_apps_off.py
Labels: bug, data export, export

#4632 Mostly German Ingredients
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: ingredients, ingredients-analysis, labels

#4657 Nordic unknown ingredients W52
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
  taxonomies/minerals.txt
  taxonomies/vitamins.txt
Labels: ingredients, taxonomy translation

#4638 Choice of sort order for products + interaction with Personal Search with user preferences
  html/js/product-preferences.js
  html/js/product-search.js
  icons/material/check_circle-24px.svg
  icons/material/help-24px.svg
  icons/material/sort-24px.svg
  icons/material/subdirectory_arrow_right-24px.svg
  icons/sort.svg
  icons/sort_arrows.svg
  icons/subdirectory_arrow_right.svg
  lang/en/texts/index.html
  lang/fr/texts/index.html
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Products.pm
  po/common/common.pot
  po/common/en.po
  scripts/refresh_products_tags.js
  scss/_off.scss
  templates/search_and_display_products.tt.html
  templates/search_results.tt.html
Labels: personal search

#4673 Beans
  taxonomies/categories.txt
Labels: categories, taxonomies

#4681 Syn it E401
  taxonomies/additives.txt
Labels: additives, taxonomies

#4683 New colors and icons for Eco-Score details + impacts for each LCA step
  icons/cart.svg
  icons/cooking-pan.svg
  icons/material/cart.svg
  icons/material/truck.svg
  icons/processing.svg
  icons/truck.svg
  lib/ProductOpener/Ecoscore.pm
  scss/_off.scss
  t/expected_test_results/ecoscore/ingredient-palm-oil-rspo.json
  t/expected_test_results/ecoscore/ingredient-palm-oil.json
  t/expected_test_results/ecoscore/known-category-butters.json
  t/expected_test_results/ecoscore/known-category-margarines.json
  t/expected_test_results/ecoscore/label-organic.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested-2.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested.json
  t/expected_test_results/ecoscore/origins-of-ingredients-not-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-partly-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unknown-origin.json
  t/expected_test_results/ecoscore/packaging-en-multiple.json
  t/expected_test_results/ecoscore/packaging-en-pet-bottle.json
  t/expected_test_results/ecoscore/packaging-en-plastic-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-can.json
  templates/ecoscore_details.tt.html
Labels: ecoscore
