Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2020-08, with the labels that each got.

#3897 User Form Templatization
  cgi/user.pl
  templates/user_form.tt.html
Labels: Template::Toolkit

#3858 Search Form Templatization
  cgi/search.pl
  templates/search_form.tt.html
Labels: Template::Toolkit

#3973 Areesha product page
  lib/ProductOpener/Display.pm
  templates/display_product.tt.html
Labels: Template::Toolkit

#3984 return translated tags to the API, bug #3983
  lib/ProductOpener/Display.pm
Labels: API, API read

#3976 Search Form Template
  cgi/search.pl
  templates/search_form.tt.html
Labels: Template::Toolkit

#3987 Beer proxy for Agribalyse
  taxonomies/categories.txt
Labels: data4good-environment

#3985 Top Translators using Template::Toolkit
  cgi/top_translators.pl
  lib/ProductOpener/Display.pm
  templates/top_translators.tt.html
Labels: Template::Toolkit

#3988 Areesha product page
  lib/ProductOpener/Display.pm
  templates/display_product.tt.html
Labels: Template::Toolkit

#3991 fix translate taxonomy interface, bug #3954
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Tags.pm
  t/tags.t
Labels: taxonomy translation

#3996 Removed template initialization from CGI Scripts
  cgi/search.pl
  cgi/user.pl
Labels: Template::Toolkit

#3986 de:unknown inspiration
  lib/ProductOpener/Ingredients.pm
  t/ingredients_parsing.t
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: additives, ingredients

#3994 small fixes to materials.txt
  taxonomies/materials.txt
Labels: packaging

#4001 small fixes for product page template
  lib/ProductOpener/Display.pm
  templates/display_product.tt.html
Labels: Template::Toolkit

#4002 More taxonomy error repairs
  t/ingredients_processing.t
  t/ingredients_tags.t
  taxonomies/additives.txt
  taxonomies/ingredients.txt
Labels: taxonomies

#3870 label categories taxonomy
  taxonomies/labels_categories.txt
Labels: labels, taxonomies

#3893 CO2 with white circle behind text
  html/images/misc/co2-high.svg
  html/images/misc/co2-low.svg
  html/images/misc/co2-medium.svg
Labels: darkmode, data4good-environment

#3800 Add Australian Health Star rating label images (PNG)
  html/images/lang/en/labels/health-star-rating-0-5.90x90.png
  html/images/lang/en/labels/health-star-rating-1-5.90x90.png
  html/images/lang/en/labels/health-star-rating-1.90x90.png
  html/images/lang/en/labels/health-star-rating-2-5.90x90.png
  html/images/lang/en/labels/health-star-rating-2.90x90.png
  html/images/lang/en/labels/health-star-rating-3-5.90x90.png
  html/images/lang/en/labels/health-star-rating-3.90x90.png
  html/images/lang/en/labels/health-star-rating-4-5.90x90.png
  html/images/lang/en/labels/health-star-rating-4.90x90.png
  html/images/lang/en/labels/health-star-rating-5.90x90.png
Labels: labels, logos

#4022 Preparse fi organic label from compound words
  lib/ProductOpener/Ingredients.pm
  t/ingredients.t
  t/ingredients_parsing.t
Labels: ingredients, labels

#4017 added The Perl Foundation
  html/images/misc/the-perl-foundation.jpg
  lang/en/texts/partners.html
Labels: partners page, static content

#4021 Product Image Templatization
  cgi/product_image.pl
  templates/product_image.tt.html
Labels: Template::Toolkit

#4003 Reset Password Templatization
  cgi/reset_password.pl
  templates/reset_password.tt.html
Labels: Template::Toolkit

#3995 Spellcheck test Templatization
  cgi/spellcheck_test.pl
  templates/spellcheck_test.tt.html
Labels: Template::Toolkit

#4016 Add Nordic organic labels
  html/images/lang/en/labels/danish-state-controlled-organic.98x90.svg
  html/images/lang/en/labels/krav.136x90.svg
  html/images/lang/fi/labels/aurinkomerkki.92x90.svg
  html/images/lang/fi/labels/leppäkerttumerkki.90x90.svg
  html/images/lang/is/labels/vottað-lífrænt-tún.110x90.svg
  html/images/lang/nb/labels/debio-ø-merke.90x90.svg
  taxonomies/labels.txt
Labels: labels

#4038 Display barcode bug fix
  lib/ProductOpener/Display.pm
  templates/display_product.tt.html
Labels: Product Page, Template::Toolkit

#4031 Taxonomy edits
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: categories, ingredients

#4020 More taxonomy errors resolved
  t/additives.t
  t/additives_tags.t
  t/ingredients.t
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
  taxonomies/vitamins.txt
Labels: taxonomies

#3978 Small categories changes for Spain
  taxonomies/categories.txt
Labels: categories, spanish, taxonomies

#4042 Taxonomy edits - ingredients and categories
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: categories, ingredients

#4043 Use PERL5LIB for lib location instead of a symlink
  lib/ProductOpener/Producers.pm
  scripts/Blogs
  scripts/ProductOpener
  scripts/convert_auchan_data.sh
  scripts/convert_barilla_data.sh
  scripts/convert_biscuiterie_sainte_victoire_data.sh
  scripts/convert_carrefour_data.sh
  scripts/convert_casino_data.sh
  scripts/convert_ferrero_data.sh
  scripts/convert_ferrero_photos.sh
  scripts/convert_foodrepo_data.sh
  scripts/convert_harrys_data.sh
  scripts/convert_iglo_data.sh
  scripts/convert_intermarche_data.sh
  scripts/convert_ldc_data.sh
  scripts/convert_saintelucie_data.sh
  scripts/convert_scamark_data.sh
  scripts/convert_scamark_test.sh
  scripts/equadis-import/run_equadis_import.sh
  scripts/gen_feeds.sh
  scripts/gen_feeds_daily.sh
  scripts/gen_feeds_daily_obf.sh
  scripts/gen_feeds_daily_off.sh
  scripts/gen_feeds_daily_opf.sh
  scripts/gen_feeds_daily_opff.sh
  scripts/gen_feeds_obf.sh
  scripts/gen_feeds_off.sh
  scripts/gen_feeds_opf.sh
  scripts/gen_feeds_opff.sh
  scripts/gen_opff_leaderboard.sh
  scripts/import_auchan.sh
  scripts/import_biscuiterie_sainte_victoire.sh
  scripts/import_carrefour.sh
  scripts/import_carrefour_test.sh
  scripts/import_ferrero.sh
  scripts/import_intermarche.sh
  scripts/import_ldc_test.sh
  scripts/import_scamark.sh
  scripts/process_new_image_off.sh
Labels: Perl

#4046 Correct minor issues in the search form
  templates/search_form.tt.html
Labels: Template::Toolkit, frontend

#4047 Taxonomy edits - ingredients and additives
  taxonomies/additives.txt
  taxonomies/ingredients.txt
Labels: additives, ingredients

#4058 Update perlcritic Action to v2
  .github/workflows/perlcritic.yml
Labels: Perl

#4057 [READY] Polish translations for the states taxonomy
  taxonomies/states.txt
Labels: taxonomies

#4064 Taxonomy edits 5 - ingredient dedupes
  t/ingredients_processing.t
  taxonomies/ingredients.txt
Labels: ingredients

#4063 Taxonomy edits 5 - ingredient additions
  taxonomies/ingredients.txt
Labels: ingredients

#4056 [READY] label translations
  taxonomies/labels.txt
Labels: labels, taxonomies, taxonomy translation

#4055 [READY] ingredients_analysis translations
  taxonomies/ingredients_analysis.txt
Labels: taxonomies, taxonomy translation

#4079 Changing "Modern Greek" to "Greek", fixes #4070
  taxonomies/languages.txt
Labels: i18n

#4081 Taxonomy edits 6 - ingredients & additives
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: additives, categories, ingredients

#4089 Taxonomy edits 7 - additions only this time ;)
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
  taxonomies/minerals.txt
  taxonomies/vitamins.txt
Labels: additives, categories, ingredients, labels

#4090 Fix JSON formatting
  gulpfile.js
  html/js/jquery-jvectormap-1.2.2.css
  html/js/jquery-jvectormap-1.2.2.min.js
  html/js/jquery-jvectormap-world-mill-en.js
  lib/ProductOpener/Display.pm
  package-lock.json
  package.json
  templates/display_new.tt.html
Labels: frontend

#4084 More taxonomy errors
  t/ingredients.t
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
Labels: additives, ingredients

#4093 harmonize location of OPFF taxonomy
  taxonomies.opff/categories.txt
Labels: taxonomies

#4092 Templatize revision info and navigator
  lib/ProductOpener/Display.pm
  scss/_off.scss
  templates/display_rev_info.tt.html
Labels: Template::Toolkit

#4094 Templatize product history
  lib/ProductOpener/Display.pm
  templates/display_product_history.tt.html
Labels: Template::Toolkit

#4097 Templatize leaflet maps
  html/js/display-map.js
  html/js/display-tag.js
  lib/ProductOpener/Display.pm
  templates/display_map.tt.html
  templates/display_tag_map.tt.html
Labels: Template::Toolkit

#3980 Adding more European PGI categories
  taxonomies/categories.txt
Labels: categories, location, taxonomies

#4083 Agribalyse proxies
  taxonomies/categories.txt
Labels: categories

#4110 removing duplicate entry
  taxonomies/categories.txt
Labels: categories

#4098 Categories - move en: translation to top where it exists. For #4082
  taxonomies/categories.txt
Labels: categories, i18n

#4111 Taxonomy edits 8 - mostly adding romanian ingredients
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
  taxonomies/minerals.txt
Labels: additives, ingredients, ingredients-analysis
