Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2020-01, with the labels that each got.

#2827 Fix footer site name
  lib/ProductOpener/Display.pm
Labels: 5 minute fix, i18n

#2829 fix: Translations needs to contain site_name tag
  po/common/sq.po
Labels: i18n

#2830 Make the download of GeoLite2 optional
  docker/README.md
  docker/backend/Dockerfile
  docker/docker-compose.geolite2.yml
  lib/ProductOpener/GeoIP.pm
Labels: docker

#2822 nuts update
  taxonomies/allergens.txt
Labels: taxonomies

#2837 categories oqali
  taxonomies/categories.txt
Labels: categories, refactor, taxonomies

#2842 fix too aggressive uuid extraction from edit comments, fixes #2835
  lib/ProductOpener/Products.pm
  t/products.t
Labels: comments

#2841 fix allergens parsing, bug #2598
  lib/ProductOpener/Ingredients.pm
  t/allergens.t
Labels: allergens, editing

#1556 Adding Packager code for slovakia
  packager-codes/SK-merge-UTF-8.csv
Labels: packager codes

#2590 added tests with tags with percent signs
  t/tags.t
  taxonomies/test.result.sto
  taxonomies/test.result.txt
  taxonomies/test.txt
Labels: taxonomies, tests

#2806 Hungarian taxonomy translations
  lib/ProductOpener/Food.pm
  po/common/ms.po
  po/common/pt_BR.po
  po/common/sq.po
  po/openbeautyfacts/ro.po
  po/openpetfoodfacts/ro.po
  taxonomies/allergens.txt
  taxonomies/labels.txt
  taxonomies/nutrient_levels.result.txt
  taxonomies/nutriments.txt
  taxonomies/packagings.txt
  taxonomies/states.txt
Labels: taxonomies

#2863 deps(docker): Bump dependencies
  docker/build_npm.bat
  docker/build_npm.sh
  docker/docker-compose.admin-uis.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/frontend/Dockerfile
Labels: docker

#2833 Initialize %emb_codes_* on demand
  docker/backend-dev/conf/po-foreground.sh
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Tags.pm
  lib/startup_apache2.pl
  scripts/export_database.pl
  scripts/infobot_dk_irma.pl
  scripts/obsolete/update_all_products_all_fields.pl
  scripts/obsolete/update_all_products_emb_codes.pl
  scripts/obsolete/update_all_products_packager_codes.pl
  scripts/obsolete/upload_photos_2016_franprix.pl
  t/import.t
  t/ingredients.t
  t/ingredients_tags.t
  t/nutriscore.t
  t/tags.t
Labels: performance

#2888 Update yearly contests for 2019, 2020
  taxonomies/labels.txt
Labels: labels, taxonomies

#2886 Update categories.txt
  taxonomies/categories.txt
Labels: categories, taxonomies
