Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2020-06, with the labels that each got.

#3520 Update the taglines
  html/files/tagline-off.json
Labels: tagline

#3525 propose clarification for Energy
  html/data/data-fields.txt
Labels: API, documentation

#3421 Mobile Fix for Product List layout
  scss/_off.scss
Labels: css

#3526 Turn the contact us into a more visible CTA on the partners page
  lang/en/texts/partners.html
Labels: static content

#3528 Added Nature et Progres (without logo)
  taxonomies/labels.txt
Labels: taxonomies

#3430 Unknown CIQUAL codes in taxonomie Boissons
  taxonomies/categories.txt
Labels: data4good-environment, taxonomies

#3464 Web version of the Advanced User Guide
  lang/en/texts/advanced-user-guide.html
Labels: documentation, static content

#3515 Spanish translation of the ingredients taxonomy (2)
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: ingredients, taxonomies

#3514 Update ingredients.txt with additional Spanish translations
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#3524 Add packager codes for Estonia
  lib/ProductOpener/Food.pm
  packager-codes/EE-merge-UTF-8.tsv
  packager-codes/geocode_addresses.sto
  scripts/packager-codes/ee-packagers-xml2tsv.pl
  scripts/packager-codes/fi-packagers-xls2csv.pl
  scripts/packager-codes/fi-packagers-xls2cvs.pl
  scripts/packager-codes/toidukaitlejad-tsv.xsl
  scripts/update_packager_codes.pl
  t/food.t
Labels: packager codes

#3539 Tests for spanish ingredient processing taxonomy
  t/ingredients_processing.t
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies, tests

#3532 Translation en, sv for categories
  taxonomies/categories.txt
Labels: categories, taxonomies

#3521 make the page edge to edge
  lang/en/texts/better-food-choices-for-a-better-health-lets-mobilize.html
Labels: static content

#3541 display NOVA groups histogram for /nova-groups, fix #3540
  lib/ProductOpener/Display.pm
  po/common/fr.po
Labels: graphs

#3538 Spanish translations and additions
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: taxonomies

#3547 fix contributor link in the Who We Are page
  lang/en/texts/who-we-are.html
Labels: static content

#3551 Fix the link to useful queries
  lang/en/texts/graphs-in-3-clicks.html
Labels: static content

#3503 NutritionScore Calculation Details HTML Template
  .gitattributes
  cpanfile
  docker/backend-dev/conf/po-foreground.sh
  docker/backend/Dockerfile
  lib/ProductOpener/Display.pm
  templates/nutrition_score.tt
Labels: Template::Toolkit

#3548 support for apps data and photos upload through the producers platform
  cgi/export_products.pl
  cgi/import_file_process.pl
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Import.pm
  po/common/common.pot
  po/common/en.po
  scripts/import_fleurymichon.pl
  scripts/import_systemeu.pl
  scripts/obsolete/upload_photos.pl
  scripts/obsolete/upload_photos_2018_liege.pl
Labels: producers platform

#3553 fix-to-the-guide
  lang/en/texts/advanced-user-guide.html
Labels: static content

#3535 New APK logo more in line with the others
  html/images/misc/android-apk-40x135.svg
Labels: design

#3527 Add an initial producer funnel
  lang/en/texts/index-pro.html
  lib/ProductOpener/Display.pm
  po/common/common.pot
Labels: producers platform

#3552 Add link to graphs help page
  lang/en/texts/discover.html
Labels: graphs, static content

#3569 Danish ingredients improvements, part II
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#3565 Spanish translations of ingredients taxonomy
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/minerals.txt
Labels: ingredients, taxonomies

#3580 add editors etc. to tags_fields, fixes #3579
  cgi/search.pl
  lib/ProductOpener/Tags.pm
Labels: search

#3586 remove the EU petition as it is now over
  lang/en/texts/nutriscore.html
Labels: static content

#3516 more localized donation pages
  conf/nginx/sites-available/off
Labels: static content

#3522 Logo for Haute Valeur Environnementale
  html/images/lang/fr/labels/haute-valeur-environnementale-500x500.png
  html/images/lang/fr/labels/haute-valeur-environnementale-90x90.svg
Labels: data4good-environment

#3546 changes to the FAQ to redirect more producers towards us
  lang/en/texts/faq.html
Labels: producers platform, static content

#3425 New mission to help fill the fiber value
  lang/en/texts/help-us-fill-up-on-fiber.html
Labels: static content

#3608 simplify template data structure for nutrition table
  lib/ProductOpener/Display.pm
  templates/nutrition_facts_table.tt.html
Labels: Template::Toolkit

#3611 Simplify data structure and template for nutrition facts table, add debug mode
  lib/ProductOpener/Display.pm
  templates/nutrition_facts_table.tt.html
Labels: Template::Toolkit

#3628 Nordic unknown ingredients
  t/ingredients_nesting.t
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/minerals.txt
  taxonomies/vitamins.txt
Labels: taxonomies

#3632 improve search form: new fields, abc order, select2
  cgi/search.pl
  lib/ProductOpener/Display.pm
Labels: advanced search

#3437 Extra lines from TODO Association CIQUAL/AGB
  taxonomies/categories.txt
Labels: data4good-environment, taxonomies

#3444 Non-EU packager codes extraction
  .editorconfig
  scripts/packager-codes/non-eu/README.md
  scripts/packager-codes/non-eu/non_eu_spider.py
  scripts/packager-codes/non-eu/packager_codes.py
  scripts/packager-codes/non-eu/pdf_extraction.py
  scripts/packager-codes/non-eu/requirements.txt
Labels: data4good-environment, packager codes

#3674 Fix add_tags_to_field()
  cgi/product_jqm_multilingual.pl
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Tags.pm
  t/tags.t
Labels: multingual products

#3681 added one es syn
  taxonomies/additives.txt
Labels: additives, taxonomies

#3654 Nordic ingredient preparsing
  lib/ProductOpener/Ingredients.pm
  t/ingredients_parsing.t
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
Labels: Perl, ingredients-analysis

#3683 OPFF index to avoid OFF index
  lang/opff/en/texts/index.html
Labels: open pet food facts

#3684 OPF index to avoid OFF index
  crowdin.yml
  lang/opf/en/texts/index.html
Labels: Open Products Facts

#3672 Self-service platform for producers: self-creation of professional accounts and orgs
  cgi/user.pl
  lang/en/texts/index-pro.html
  lang/fr/texts/index-pro.html
  lib/ProductOpener/Orgs.pm
  lib/ProductOpener/Users.pm
  po/common/common.pot
  po/common/en.po
Labels: producers platform

#3695 fix opf homepage typo
  lang/opf/en/texts/index.html
Labels: static content

#3665 Body parts taxonomy
  taxonomies.obf/body_parts.txt
Labels: open beauty facts, taxonomies

#3664 Brands taxonomy for OBF
  taxonomies.obf/brands.txt
Labels: open beauty facts, taxonomies

#3663 Global Abbreviations for OBF
  taxonomies.obf/abbreviations.txt
Labels: open beauty facts, taxonomies

#3549 Small backported changes to Food.pm
  lib/ProductOpener/Food.pm
Labels: Food.pm

#3725 Add Health Star Rating X parent
  taxonomies/labels.txt
Labels: labels, taxonomies

#3720 Fix a compilation error in the brands taxonomy for Open Beauty Facts
  taxonomies.obf/brands.txt
Labels: brands, open beauty facts, taxonomies

#3724 Improve the README to create more engagement with the server
  README.md
Labels: dev

#3730 My label taxonomies
  taxonomies/categories.txt
Labels: categories, taxonomies

#3722 Spanish and Catalan plus tidy up of ingredients
  taxonomies/additives.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: ingredients, ingredients-analysis, spanish, taxonomies

#3631 Nutrition Facts Table templatization
  lib/ProductOpener/Display.pm
  templates/nutrition_facts_table.tt.html
Labels: Template::Toolkit

#3734 Polish Quality Guarantee
  taxonomies/labels.txt
Labels: labels, taxonomies

#3733 Spanish and catalan Taxonomy updates
  taxonomies/additives.txt
  taxonomies/ingredients.txt
Labels: taxonomies

#3717 add search_key, bug #3702
  cgi/search.pl
  lib/ProductOpener/Products.pm
  scripts/update_all_products.pl
Labels: advanced search, personal search

#3763 show the language of the ingredients displayed, fixes #3620
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
Labels: Product Page, ingredients, ingredients-analysis

#3751 Spanish and Catalan taxonomy
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/vitamins.txt
Labels: taxonomies
