Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2021-05, with the labels that each got.

#5188 small fix for data quality en:all-nutrition-values-are-set-to-0
  lib/ProductOpener/DataQualityFood.pm
Labels: quality-facet

#5189 Soybeans and reconstituted crisps
  taxonomies/categories.txt
Labels: categories, taxonomies

#5202 Improvements for importing producers images + small fixes for producers imports
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Producers.pm
  lib/ProductOpener/Tags.pm
  t/expected_test_results/import_gs1/codeonline_bonduelle.off.json
  t/expected_test_results/import_gs1/codeonline_bongou_anguille_en_conserve.off.json
  t/expected_test_results/import_gs1/codeonline_elvir.off.json
  t/expected_test_results/import_gs1/codeonline_lou_perac.off.json
  t/expected_test_results/import_gs1/codeonline_materne_pomme_bio.off.json
  t/expected_test_results/import_gs1/codeonline_orea_pate_a_tartinet.off.json
  t/expected_test_results/import_gs1/codeonline_pepsico_benenuts_3d.off.json
  t/expected_test_results/import_gs1/codeonline_pepsico_lays.off.json
  t/expected_test_results/import_gs1/equadis_brasseries_kronenbourg_grimbergen_rouge.off.json
  t/expected_test_results/import_gs1/equadis_brasseries_kronenbourg_tourtel.off.json
  t/expected_test_results/import_gs1/equadis_knorr_pesto_rouge.off.json
  t/expected_test_results/import_gs1/equadis_nestle_france_ricore.off.json
  t/expected_test_results/import_gs1/equadis_unilever_magnum_100g_plus_100ml_nutrition.off.json
  t/expected_test_results/import_gs1/equadis_unilever_magnum_mini_ruby.off.json
  t/expected_test_results/import_gs1/equadis_unilever_moutarde_maille.off.json
  t/expected_test_results/import_gs1/equadis_unilever_obf_signal.off.json
Labels: producers platform

#5206 Minor modifications to categories
  taxonomies/categories.txt
Labels: categories, taxonomies

#5207 Email template when a producer asks for an export
  cgi/export_products.pl
Labels: producers platform

#5222 Added alcoholic beverage categories
  taxonomies/categories.txt
Labels: taxonomies

#5227 Templatize emails for the producers platform
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Users.pm
  templates/emails/user_new_pro_account.tt.txt
  templates/emails/user_new_pro_account_admin_notification.tt.html
  templates/emails/user_new_pro_account_org_request_validated.tt.txt
Labels: producers platform

#5228 new checkboxes to fix GS1 data issues
  cgi/org.pl
  lib/ProductOpener/Import.pm
  po/common/common.pot
  po/common/en.po
Labels: producers platform

#5231 Fontal and fontina
  taxonomies/categories.txt
Labels: categories, taxonomies

#5139 create orgs directory if it does not exist
  lib/ProductOpener/Orgs.pm
Labels: producers platform

#5236 Imports: do not overwrite product name with generic name
  lib/ProductOpener/Display.pm
  lib/ProductOpener/ImportConvert.pm
  lib/ProductOpener/Products.pm
  t/import.t
Labels: producers platform

#5234 small fix for data quality food facet
  lib/ProductOpener/DataQualityFood.pm
Labels: quality-facet

#5237 Portuguese translations
  taxonomies/categories.txt
Labels: categories, taxonomies

#5244 Fix admin link in producers platform notification email
  templates/emails/user_new_pro_account_admin_notification.tt.html
Labels: producers platform

#5243 Deploy new templated user form
  cgi/user.pl
  cgi/user2.pl
  templates/user_form.tt.html
  templates/user_form.tt.js
  templates/user_form2.tt.html
Labels: Template::Toolkit

#5242 Allow producers platform admins to use GS1 GLN as orgid
  lib/ProductOpener/Users.pm
Labels: producers platform

#5257 ingredients and ingredients processing taxonomy changes for cassoulets
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: ingredients-analysis, taxonomies

#5265 add ingredient fr:féverole, féverolle
  taxonomies/ingredients.txt
Labels: ingredients

#5267 corrections
  taxonomies/categories.txt
Labels: categories, taxonomies

#5263 very small start of a refactoring for handling links of texts translations
  lib/ProductOpener/Display.pm
  templates/display_product.tt.html
Labels: ecoscore

#5245 Show 'Chat with us' on producers platform
  templates/display_new.tt.html
Labels: producers platform
