Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2021-01, with the labels that each got.

#4697 Ecoscore fix for products without ingredients, use origin from origins field
  lib/ProductOpener/Ecoscore.pm
  t/expected_test_results/ecoscore/origins-of-ingredients-empty-ingredients-specified-origin.json
Labels: ecoscore, origins

#4704 Add Eco-score facets and graphs
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Products.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  po/tags/en.po
  po/tags/tags.pot
  taxonomies/states.result.sto
  taxonomies/states.result.txt
  taxonomies/states.txt
Labels: ecoscore

#4706 when possible, run count on products_tags collection, #4705
  lib/ProductOpener/Display.pm
Labels: mongodb, performance

#4714 Always use smaller products_tags collection for MongoDB aggregate queries unless nocache is set
  lib/ProductOpener/Display.pm
  scripts/refresh_products_tags.js
Labels: mongodb

#4717 add misc tags for ecoscore
  lib/ProductOpener/Ecoscore.pm
  t/expected_test_results/ecoscore/empty-product.json
  t/expected_test_results/ecoscore/ingredient-palm-oil-rspo.json
  t/expected_test_results/ecoscore/ingredient-palm-oil.json
  t/expected_test_results/ecoscore/known-category-butters.json
  t/expected_test_results/ecoscore/known-category-margarines.json
  t/expected_test_results/ecoscore/label-organic.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested-2.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested.json
  t/expected_test_results/ecoscore/origins-of-ingredients-not-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-partly-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unknown-origin.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unspecified-origin.json
  t/expected_test_results/ecoscore/packaging-en-multiple.json
  t/expected_test_results/ecoscore/packaging-en-pet-bottle.json
  t/expected_test_results/ecoscore/packaging-en-plastic-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-can.json
  t/expected_test_results/ecoscore/unknown-category.json
Labels: ecoscore

#4716 add abbreviated_product_name field + changes for LDC import
  cgi/import_file_select_format.pl
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/ImportConvert.pm
  lib/ProductOpener/Producers.pm
  lib/ProductOpener/Products.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
Labels: producers platform

#4727 ecoscore: distinguish heavy and light aluminium
  lib/ProductOpener/Ecoscore.pm
  t/expected_test_results/ecoscore/packaging-en-aluminium-can.json
  t/expected_test_results/ecoscore/packaging-en-aluminium-seal.json
  t/expected_test_results/packaging/packaging_text_fr_1_etuit_spelling.json
  t/expected_test_results/packaging/packaging_text_fr_opercule_en_aluminium.json
  taxonomies/packaging_materials.result.sto
  taxonomies/packaging_materials.result.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.result.sto
  taxonomies/packaging_shapes.result.txt
  taxonomies/packaging_shapes.txt
Labels: ecoscore, packaging

#4726 Ecoscore page updates
  lang/fr/texts/eco-score-l-impact-environnemental-des-produits-alimentaires.html
Labels: ecoscore

#4732 Attributes : enable forest footprint + add factor and minimum_match for preferences
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
Labels: product attributes

#4730 display products even if count is 0, workaround for #4729
  lib/ProductOpener/Display.pm
Labels: mongodb

#4723 Microbial culture changes
  taxonomies/ingredients.txt
Labels: taxonomies

#4724 Eco-Score page in English
  lang/en/texts/ecoscore-the-environmental-impact-of-food-products.html
Labels: ecoscore, static content

#4735 equadis import - fix for nutrition_data_per / nutrition_data_prepared_per
  lib/ProductOpener/Import.pm
Labels: producers platform

#4742 ci: Label stale issues automatically
  .github/workflows/stale.yml
Labels: ci

#4524 Adding AFNIC to Partner's page
  html/images/misc/logo_fondation_afnic.png
  lang/en/texts/partners.html
Labels: partners page, static content

#4749 removed incorrect Russian translation in categories.txt
  taxonomies/categories.txt
Labels: categories, taxonomy translation

#4744 Add handling for de:"Bienenwachs, Weiß und Gelb"
  lib/ProductOpener/Ingredients.pm
  t/ingredients_parsing.t
Labels: ingredients-analysis

#4753 better combination of packaging tags, fix #4752
  lib/ProductOpener/Packaging.pm
  t/expected_test_results/packaging/packaging_fr_redundant_entries.json
  t/packaging.t
Labels: packaging

#4478 remove press-and-blogs from translatable pages
  crowdin.yml
Labels: i18n

#4483 Disable translation of the "vending-machines" page
  crowdin.yml
Labels: i18n, ready to merge, translations

#4587 Add a design section to the README
  README.md
Labels: design

#4694 (Design) Nutri-Score variants
  html/images/misc/nutriscore/nutriscore-vertical-border-a.svg
  html/images/misc/nutriscore/nutriscore-vertical-border-b.svg
  html/images/misc/nutriscore/nutriscore-vertical-border-c.svg
  html/images/misc/nutriscore/nutriscore-vertical-border-d.svg
  html/images/misc/nutriscore/nutriscore-vertical-border-e.svg
  html/images/misc/nutriscore/nutriscore-vertical-no-border-a.svg
  html/images/misc/nutriscore/nutriscore-vertical-no-border-b.svg
  html/images/misc/nutriscore/nutriscore-vertical-no-border-c.svg
  html/images/misc/nutriscore/nutriscore-vertical-no-border-d.svg
  html/images/misc/nutriscore/nutriscore-vertical-no-border-e.svg
  html/images/misc/nutriscore/nutriscore-white-a.svg
  html/images/misc/nutriscore/nutriscore-white-b.svg
  html/images/misc/nutriscore/nutriscore-white-c.svg
  html/images/misc/nutriscore/nutriscore-white-e.svg
Labels: design, nutriscore

#4719 Added some wikidata links
  taxonomies/packaging_materials.txt
Labels: packaging, taxonomies, wikidata

#4759 enable memcached compression for MongoDB results
  cpanfile
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Products.pm
  log.conf
  mongodb_indexes.txt
  scripts/update_all_products.pl
Labels: mongodb, performance

#4764 add org-panzani-sa, org-cristalco to nightly equadis imports
  scripts/export_producers_platform_data_to_public_database.sh
Labels: producers platform

#4767 better tags for nutriscore status unknown/not-applicable, fixes #4766
  lib/ProductOpener/Food.pm
Labels: nutriscore

#4769 add mapping table from GLN to org-ids for GS1/Equadis imports
  lib/ProductOpener/Import.pm
Labels: producers platform

#4765 update_all_products.pl script - allow OR queries for tags
  scripts/update_all_products.pl
Labels: mongodb, update-all-products

#4772 small fixes for ldc import
  lib/ProductOpener/ImportConvert.pm
  lib/ProductOpener/Producers.pm
  taxonomies/ingredients.txt
Labels: producers platform

#4518 Add mold to possible packaging shapes
  taxonomies/packaging_shapes.txt
Labels: ecoscore, packaging, ready to merge

#4777 buttons to remove nutrients, fixes #4776 #1141
  cgi/product_multilingual.pl
  po/common/common.pot
  po/common/en.po
Labels: editing

#4781 make save button green in product edit form
  cgi/product_multilingual.pl
Labels: editing

#4778 small improvements for producers platform in Spanish
  lib/ProductOpener/Producers.pm
  t/producers.t
Labels: producers platform

#4785 Implement new Eco-Score formula, fixes #4783
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ecoscore.pm
  t/ecoscore.t
  t/expected_test_results/ecoscore/category-without-ecoscore-sodas.json
  t/expected_test_results/ecoscore/ingredient-palm-oil-rspo.json
  t/expected_test_results/ecoscore/ingredient-palm-oil.json
  t/expected_test_results/ecoscore/known-category-butters.json
  t/expected_test_results/ecoscore/known-category-margarines.json
  t/expected_test_results/ecoscore/label-organic.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested-2.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested.json
  t/expected_test_results/ecoscore/origins-of-ingredients-not-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-partly-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unknown-origin.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unspecified-origin.json
  t/expected_test_results/ecoscore/packaging-en-multiple.json
  t/expected_test_results/ecoscore/packaging-en-pet-bottle.json
  t/expected_test_results/ecoscore/packaging-en-plastic-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-can.json
Labels: ecoscore

#4793 Imports - Load data needed for packaging and ecoscore, fixes #4791
  scripts/minion_producers.pl
Labels: ecoscore, packaging, producers platform

#4796 Gomasio
  taxonomies/categories.txt
Labels: categories, taxonomies

#4794 Cheese
  taxonomies/categories.txt
Labels: categories, taxonomies

#4787 Crystallized ginger and milks
  taxonomies/categories.txt
Labels: categories, taxonomies

#4784 Added Danish taxonomy
  taxonomies/additives.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomy translation

#4609 Add missing packaging photo code
  lib/ProductOpener/Tags.pm
Labels: packaging

#4590 Data contribution section
  lang/en/texts/data.html
Labels: ready to merge

#4799 disable ecoscore for other countries than France
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/Display.pm
Labels: ecoscore, product attributes

#4736 Added German translations and some new ingredients
  t/ingredients_processing.t
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/packaging_materials.txt
Labels: ingredients, translations

#4018 Accessibility fixes on the "How to add a product" page
  lang/en/texts/how-to-add-a-product.html
Labels: accessibility ♿

#4029 Small addition to the Python doc for Outside EU codes
  scripts/packager-codes/non-eu/README.md
Labels: packager codes

#4741 Add wikidata to countries
  taxonomies/countries.txt
Labels: taxonomies, wikidata

#4623 PGI improvements
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: categories

#4750 Yaourts
  taxonomies/categories.txt
Labels: categories, taxonomies
