Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2021-04, with the labels that each got.

#5098 Internationalization of the (forest footprint + ecoscore) warnings and computation details
  po/common/common.pot
  po/common/en.po
  templates/display_product.tt.html
  templates/ecoscore_details.tt.html
  templates/ecoscore_details_simple_html.tt.html
Labels: ecoscore

#5101 breakfast cereals
  taxonomies/categories.txt
Labels: categories, taxonomies

#5088 New feature to detect main countries of products based on scans and languages
  lib/ProductOpener/MainCountries.pm
  scripts/update_all_products.pl
Labels: scan statistics

#5108 fruits and nuts
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#5118 Danish and German translations in packaging and origins
  taxonomies/origins.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.txt
Labels: origins, packaging, taxonomy translation

#5122 Rices
  taxonomies/categories.txt
Labels: categories, taxonomies

#5125 rearrange Calvados categories
  taxonomies/categories.txt
Labels: categories

#5127 Biscottes
  taxonomies/categories.txt
Labels: categories, taxonomies

#5128 taxonomy edits 28 - ingredient additions
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/ingredients.txt
Labels: ingredients, ingredients-analysis

#5094 Add language agnostic image for the Eco-Score scale
  html/images/misc/ecoscore-scale-en.svg
  html/images/misc/ecoscore-scale-fr.svg
  html/images/misc/ecoscore-scale-text.svg
  html/images/misc/ecoscore-scale.svg
Labels: ecoscore

#5141 Fix to return different Eco-Score values based on the requested country
  lib/ProductOpener/Ecoscore.pm
Labels: ecoscore

#5146 Translations for allergens.txt
  taxonomies/allergens.txt
Labels: taxonomy translation

#5145 Translations for states.txt
  taxonomies/states.txt
Labels: taxonomy translation

#5144 Translations for nova-groups.txt
  taxonomies/nova_groups.txt
Labels: taxonomy translation

#5143 Translations for ingredients_analysis.txt
  taxonomies/ingredients_analysis.txt
Labels: taxonomy translation

#5134 Hungarian taxonomy translations
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/materials.txt
  taxonomies/nucleotides.txt
  taxonomies/origins.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_recycling.txt
  taxonomies/packaging_shapes.txt
  taxonomies/packagings.txt
  taxonomies/recycling_bins.txt
  taxonomies/recycling_instructions.txt
  taxonomies/states.txt
  taxonomies/vitamins.txt
Labels: additives, ingredients, ingredients-analysis, labels, origins, taxonomies, taxonomy translation

#5149 Translations for ingredients_processing.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomy translation

#5161 fix palmolein typo in ingredients taxonomy
  taxonomies/ingredients.txt
Labels: ingredients, taxonomies

#5150 Refactor the user creation / user profile form
  cgi/user2.pl
  templates/user_form2.tt.html
  templates/user_form2.tt.js
Labels: Signup Page, Template::Toolkit, outreachy

#5166 Add ecoscore in CSV export
  lib/ProductOpener/Config_off.pm
  scripts/export_database.pl
Labels: ecoscore

#5176 Improvements for CodeOnline import
  cgi/org.pl
  lib/ProductOpener/Import.pm
  lib/ProductOpener/ImportConvert.pm
  lib/ProductOpener/Orgs.pm
  t/import.t
Labels: producers platform

#5178 Make en:all-nutrition-values-set-to-0 a data quality error to prevent imports
  lib/ProductOpener/DataQualityFood.pm
  taxonomies/data_quality.result.sto
  taxonomies/data_quality.result.txt
  taxonomies/data_quality.txt
Labels: producers platform

#5177 fix serving_size parsing for GS1 imports
  lib/ProductOpener/GS1.pm
  t/expected_test_results/import_gs1/codeonline_bonduelle.off.json
  t/expected_test_results/import_gs1/codeonline_pepsico_benenuts_3d.json
  t/expected_test_results/import_gs1/codeonline_pepsico_benenuts_3d.off.json
  t/expected_test_results/import_gs1/codeonline_pepsico_lays.json
  t/expected_test_results/import_gs1/codeonline_pepsico_lays.off.json
Labels: producers platform

#5181 fix for data quality en:all-nutrition-values-set-to-0
  lib/ProductOpener/DataQualityFood.pm
Labels: producers platform

#5184 Small fixes / improvements for CodeOnline import
  lib/ProductOpener/ImportConvert.pm
  t/expected_test_results/import_gs1/codeonline_bongou_anguille_en_conserve.json
  t/expected_test_results/import_gs1/codeonline_bongou_anguille_en_conserve.off.json
  t/expected_test_results/import_gs1/codeonline_orea_pate_a_tartinet.json
  t/expected_test_results/import_gs1/codeonline_orea_pate_a_tartinet.off.json
  t/import.t
Labels: producers platform
