Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2021-02, with the labels that each got.

#4814 increase timeout to 3 hours for export mongodb query
  scripts/export_database.pl
Labels: export, mongodb

#1903 [WIP] Adding documentation in Hindi
  html/images/misc/android/first-step-to-add-product.jpeg
  html/images/misc/android/open-food-facts-home.jpeg
  lang/hi/texts/code-of-conduct.html
  lang/hi/texts/donate.html
Labels: documentation

#4486 Experimental promo for the producer platform
  lang/en/texts/index-pro.html
  lang/fr/texts/index-pro.html
Labels: ecoscore, producers platform

#3659 EU allergens for OBF
  taxonomies.obf/allergens.txt
Labels: open beauty facts, taxonomies

#4802 Allow displaying a list of products specified by barcodes - fixes #4399
  lib/ProductOpener/Display.pm
Labels: product lists

#4822 Small fixes for OBF (new version of product opener)
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ingredients.pm
  taxonomies.obf/allergens.result.sto
  taxonomies.obf/allergens.result.txt
  taxonomies.obf/allergens.txt
  taxonomies.obf/categories.result.sto
  taxonomies.obf/categories.result.txt
  taxonomies.obf/labels.result.sto
  taxonomies.obf/labels.result.txt
  templates/donate_banner.tt.html
Labels: open beauty facts

#4817 EG Oko-Verordnung is EU Organic
  taxonomies/labels.txt
Labels: ecoscore, labels

#4824 Update E150 - EFSA 2012
  taxonomies/additives.txt
Labels: additives

#4808 Cocoa beans
  taxonomies/categories.txt
Labels: categories, taxonomies

#4816 Initial updates for GSOC 2021
  lang/en/texts/google-summer-of-code.html
Labels: static content

#4687 Additions for the origins taxonomy
  taxonomies/origins.txt
Labels: origins, taxonomies

#4838 small improvements to handle more variations of producer data
  lib/ProductOpener/ImportConvert.pm
  t/import.t
Labels: producers platform

#4841 small fixes for producers platform
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Producers.pm
Labels: producers platform

#4611 Added the Israeli Mandatory labels
  taxonomies/labels.txt
Labels: labels

#4845 update to periods after opening taxonomy
  scripts/generate_pao_taxonomy.pl
  taxonomies.obf/periods_after_opening.result.sto
  taxonomies.obf/periods_after_opening.txt
  taxonomies/periods_after_opening.result.sto
  taxonomies/periods_after_opening.result.txt
  taxonomies/periods_after_opening.txt
Labels: open beauty facts, taxonomies

#3993 Add themes to labels
  taxonomies/labels.txt
Labels: labels, taxonomies

#3825 OBF, OPFF, OPF no tagline logos for the Android app
  html/images/misc/openbeautyfacts-logo-no-tagline-dark-mode.svg
  html/images/misc/openbeautyfacts-logo-no-tagline.svg
  html/images/misc/openpetfoodfacts-logo-en-no-tagline-dark-mode.svg
  html/images/misc/openpetfoodfacts-logo-en-no-tagline.svg
  html/images/misc/openproductsfacts-logo-en-no-tagline-dark-mode.svg
  html/images/misc/openproductsfacts-logo-en-no-tagline.svg
Labels: Open Products Facts, logos, open pet food facts

#3662 Global safety taxonomy for OBF
  taxonomies.obf/safety.txt
Labels: open beauty facts, taxonomies

#4618 Some stuffed ingredients
  taxonomies/ingredients.txt
Labels: ingredients

#4481 Adding the Israeli mandatory labels
  html/images/lang/he/labels/green-label.90x90.svg
  html/images/lang/he/labels/high-level-of-fat.90x90.svg
  html/images/lang/he/labels/high-level-of-sodium.90x90.svg
  html/images/lang/he/labels/high-level-of-sugar.90x90.svg
Labels: labels

#4790 Try to detect MSC ingredients
  lib/ProductOpener/Ingredients.pm
  t/ingredients_tags.t
  taxonomies/labels.result.sto
  taxonomies/labels.result.txt
  taxonomies/labels.txt
Labels: ingredients-analysis

#4849 handle ¹ and ² symbols in ingredients lists
  lib/ProductOpener/Ingredients.pm
  t/ingredients_parsing.t
Labels: ingredients

#4844 Page to present the Online grocery shopping extension (DriveOFF)
  html/images/misc/driveoff/Auchan.png
  html/images/misc/driveoff/Biocoop.png
  html/images/misc/driveoff/Carrefour.png
  html/images/misc/driveoff/Intermarche.png
  html/images/misc/driveoff/chrome.png
  html/images/misc/driveoff/empty.png
  html/images/misc/driveoff/firefox.png
  html/images/misc/driveoff/list-carrefour.png
  html/images/misc/driveoff/list-intermarche.png
  html/images/misc/driveoff/logo-chrome-webstore.png
  html/images/misc/driveoff/logo-firefox-addons.svg
  html/images/misc/driveoff/product-page-auchan.png
  html/images/misc/driveoff/product-page-biocoop.png
  html/images/misc/driveoff/product-page-carrefour.png
  html/images/misc/driveoff/product-page-intermarche.png
  html/images/misc/logo-chrome-webstore.png
  lang/fr/texts/extension-pour-les-drives.html
Labels: static content

#4850 small additions to allergens taxonomy
  taxonomies/allergens.result.sto
  taxonomies/allergens.result.txt
  taxonomies/allergens.txt
Labels: taxonomies

#4856 allow org admins to edit org profile, fixes #4854
  cgi/org.pl
  lib/ProductOpener/Display.pm
Labels: producers platform

#4830 French Press page update
  lang/fr/texts/logo.html
Labels: static content

#4881 Move images between servers
  cgi/product_image_move.pl
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Products.pm
Labels: open beauty facts

#4882 remove old ecological table
  lib/ProductOpener/Display.pm
Labels: ecoscore

#4868 Multilingual help for the producer platform
  lang/de/texts/index-pro.html
  lang/en/texts/index-pro.html
Labels: producers platform

#4891 Return Ecoscore details simple html in the environment_infocard field displayed in mobile apps
  lib/ProductOpener/Display.pm
  templates/ecoscore_details_simple_html.tt.html
Labels: ecoscore

#4887 fix some packaging ratios: convert comma to dot
  lib/ProductOpener/Ecoscore.pm
  t/expected_test_results/ecoscore/packaging-en-multiple.json
Labels: ecoscore

#4893 Handle cardboard / cartonnette as both shape and material,
  lib/ProductOpener/Packaging.pm
  t/expected_test_results/packaging/packaging_en_cardboard.json
  t/expected_test_results/packaging/packaging_en_cardboard_box.json
  t/expected_test_results/packaging/packaging_fr_cartonnette.json
  t/packaging.t
  taxonomies/packaging_materials.result.sto
  taxonomies/packaging_materials.result.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.result.sto
  taxonomies/packaging_shapes.result.txt
  taxonomies/packaging_shapes.txt
Labels: packaging

#4898 fix ecoscore downgrade for non-recyclable components
  lib/ProductOpener/Ecoscore.pm
  t/ecoscore.t
  t/expected_test_results/ecoscore/grade-a-with-non-recyclable-label.json
  t/expected_test_results/ecoscore/grade-a-with-recyclable-label.json
  t/expected_test_results/ecoscore/packaging-en-multiple.json
  t/expected_test_results/ecoscore/packaging-en-pet-bottle.json
  t/expected_test_results/packaging/packaging_fr_support_carton.json
  t/packaging.t
  taxonomies/packaging_materials.result.sto
  taxonomies/packaging_shapes.result.sto
  taxonomies/packaging_shapes.result.txt
  taxonomies/packaging_shapes.txt
Labels: ecoscore
