Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2021-08, with the labels that each got.

#5437 Added script for running docker_backend-pro
  installation/Developer-guide.md
Labels: dev, devops, docker, documentation

#5439 Fix order of deploy commands
  .github/workflows/container-deploy.yml
Labels: dev, devops, github_actions

#5397 Added template file for function 'display_product_search_or_add' in D…
  lib/ProductOpener/Display.pm
  templates/web/common/includes/display_product_search_or_add.tt.html
  templates/web/common/includes/display_product_search_or_add_producer.tt.html
Labels: Template::Toolkit

#5424 Templatization of display_data_quality_description()
  lib/ProductOpener/Display.pm
  templates/web/common/includes/display_data_quality_description.tt.html
Labels: Template::Toolkit

#5438 Moved display_login_register() to Web.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Web.pm
Labels: refactor

#5440 Suggestion on how container deloyment might work
  .github/workflows/container-deploy.yml
  docker/backend-dev/conf/Config2-deploy-test.pm
  docker/docker-compose.deploy-test.yml
Labels: dev, github_actions, devops

#5445 Romanian translations
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#5428 Hummus and other categories changes
  taxonomies/categories.txt
Labels: taxonomies, categories

#5444 translations romanian
  taxonomies/additives_classes.txt
Labels: taxonomies, additives

#5443 it:farina di carrube
  taxonomies/additives.txt
Labels: taxonomies, additives

#5435 Moved the function display_my_block() to Web.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Web.pm
  templates/web/common/includes/display_my_block.tt.html
Labels: refactor

#5434 Templatization of display_possible_improvement_description in Display.pm
  lib/ProductOpener/Display.pm
  templates/web/common/includes/display_possible_improvement_description.tt.html
Labels: Template::Toolkit

#5442 Templatization of display_data_quality_issues_and_improvement_opportunities() in Display.pm
  lib/ProductOpener/Display.pm
  templates/web/common/includes/display_data_quality_issues_and_improvement_opportunities.tt.html
Labels: Template::Toolkit

#5427 add missing ingredients
  taxonomies/ingredients.txt
Labels: ingredients, taxonomy translation, polish

#5458 add icon for additives without overexposure risk
  html/images/misc/additives-efsa-evaluation-overexposure-risk-icon-no.svg
Labels: additives, Uncommitted assets

#5459 Added herb sumac to ingredients tax
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#5456 Moved the function display_product_search_or_add() to Web.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Web.pm
Labels: refactor

#5423 Templatization of function display_field() in Display.pm
  lib/ProductOpener/Display.pm
  templates/web/common/includes/display_field.tt.html
  templates/web/common/includes/display_field_br.tt.html
Labels: Template::Toolkit

#5465 Ro translations
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomy translation

#5470 Syn E410 cs
  taxonomies/additives.txt
Labels: taxonomies, additives

#5474 New plant-based spreads
  taxonomies/categories.txt
Labels: taxonomies, categories

#5472 Fix and improve Estonian ingredients
  taxonomies/ingredients.txt
Labels: ingredients, taxonomy translation

#5455 Fixing the SEO of product page
  lib/ProductOpener/Display.pm
Labels: SEO

#5475 Moved display_field() to Web.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Web.pm
Labels: refactor

#5480 Add Bottarga
  taxonomies/categories.txt
Labels: taxonomies, categories

#5479 Add limoncello
  taxonomies/categories.txt
Labels: taxonomies, categories

#5482 Falafels-related categories
  taxonomies/categories.txt
Labels: taxonomies, categories

#5530 Templatization of display_recent_changes() in Display.pm
  lib/ProductOpener/Display.pm
  templates/web/common/includes/display_recent_changes.tt.html
Labels: Template::Toolkit

#5485 Moved display_data_quality_description() to Web.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Web.pm
Labels: refactor

#5468 Templatization for display_list_of_tags_translate() in Display.pm
  lib/ProductOpener/Display.pm
  templates/web/common/includes/display_list_of_tags_translate.tt.html
Labels: Template::Toolkit

#5484 Moved display_data_quality_issues_and_improvement_opportunities() to …
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Web.pm
Labels: refactor

#5481 Update documentation for setting up PO server locally.
  installation/dev-environment-quick-start-guide.md
Labels: documentation, devops

#5547 deps(cpan): Bump dependencies
  cpanfile
Labels: dependencies, Perl

#5548 docs: Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#5550 docs: Migrate issue templates to issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: documentation

#5565 Fix typo in Footer link
  po/openbeautyfacts/openbeautyfacts.pot
Labels: footer, translations

#5567 moving-dependabot-to-daily
  .github/dependabot.yml
Labels: dependencies

#5558 2 more ids + small fixes
  lib/ProductOpener/Display.pm
  templates/web/common/site_layout.tt.html
Labels: Template::Toolkit

#5574 Add missing label logo for Eco-Score
  html/images/lang/fr/labels/nature-et-progres.65x90.svg
Labels: labels

#5578 test file for knowledge panels
  html/files/knowledge_panel_test.json
Labels: API, knowledge-cards

#5568 Generate automatically some documentation for the Perl code
  .github/workflows/generate-doc.yml
  README.md
  html/files/doc/perl/a.txt
Labels: documentation, github_actions
