Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2021-06, with the labels that each got.

#5272 Detect allergens using the ingredients taxonomy and ingredients analysis
  lib/ProductOpener/Ingredients.pm
  t/allergens_tags.t
  t/expected_test_results/attributes/en-attributes.json
Labels: allergens, ingredients-analysis

#5274 Structure the templates directory
  cgi/change_password.pl
  cgi/export_products.pl
  cgi/import_file_process.pl
  cgi/import_file_select_format.pl
  cgi/import_file_upload.pl
  cgi/import_photos_upload.pl
  cgi/import_products_categories_from_public_database.pl
  cgi/login.pl
  cgi/org.pl
  cgi/product_image.pl
  cgi/product_multilingual.pl
  cgi/remove_products.pl
  cgi/reset_password.pl
  cgi/search.pl
  cgi/session.pl
  cgi/spellcheck_test.pl
  cgi/test_ingredients_analysis.pl
  cgi/top_translators.pl
  cgi/user.pl
  lib/ProductOpener/Display.pm
  templates/web/common/includes/donate_banner.tt.html
  templates/web/common/includes/error_list.tt.html
  templates/web/common/site_layout.tt.html
  templates/web/pages/product/includes/ecoscore_details.tt.html
  templates/web/pages/product/includes/ecoscore_details_simple_html.tt.html
  templates/web/pages/product/includes/edit_history.tt.html
  templates/web/pages/product/includes/ingredients_analysis.tt.html
  templates/web/pages/product/includes/ingredients_analysis_details.tt.html
  templates/web/pages/product/includes/nutrient_levels.tt.html
  templates/web/pages/product/includes/nutriscore_details.tt.html
  templates/web/pages/product/includes/nutrition_facts_table.tt.html
  templates/web/pages/product/includes/product_image.tt.html
  templates/web/pages/product/product_page.tt.html
Labels: Template::Toolkit, design

#5273 Transform some allergens properties into likely_allergens, #3297
  taxonomies/ingredients.txt
Labels: allergens, ingredients

#5280 User form template update and fix of email address autocompleted in username field
  cgi/user.pl
  templates/web/pages/user_form/user_form.tt.js
  templates/web/pages/user_form/user_form_page.tt.html
Labels: Template::Toolkit

#5282 Localize URLs for texts in links,
  lib/ProductOpener/Display.pm
Labels: translations

#5281 improve milk recognition, fix nutriscore issue
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Food.pm
  t/expected_test_results/nutriscore/beverage-with-80-percent-milk.json
  t/expected_test_results/nutriscore/breakfast-cereals.json
  t/expected_test_results/nutriscore/colza-oil.json
  t/expected_test_results/nutriscore/cookies.json
  t/expected_test_results/nutriscore/dairy-drink-with-80-percent-milk.json
  t/expected_test_results/nutriscore/dairy-drink-with-less-than-80-percent-milk.json
  t/expected_test_results/nutriscore/dairy-drinks-without-milk.json
  t/expected_test_results/nutriscore/honey.json
  t/expected_test_results/nutriscore/milk.json
  t/expected_test_results/nutriscore/mushrooms.json
  t/expected_test_results/nutriscore/olive-oil.json
  t/expected_test_results/nutriscore/sunflower-oil.json
  t/expected_test_results/nutriscore/walnut-oil.json
  t/nutriscore.t
  taxonomies/ingredients.txt
Labels: nutriscore

#5286 Ciambella
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: categories, taxonomies

#5289 Green peas
  taxonomies/categories.txt
Labels: categories, taxonomies

#5307 Add authorized import sources for orgs for USDA and CodeOnline
  cgi/org.pl
  lib/ProductOpener/Export.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Producers.pm
  po/common/common.pot
  po/common/en.po
  scripts/convert_csv_file.pl
  scripts/convert_usda.sh
  scripts/convert_usda_small.sh
  scripts/import_csv_file.pl
  scripts/import_usda.sh
  scripts/import_usda_small.sh
Labels: data import, producers platform

#5306 Docker config: add query_uri to backend redirect
  docker/frontend-git/conf/nginx.conf
Labels: docker

#5309 Italian categories
  taxonomies/categories.txt
Labels: categories, taxonomies

#5310 Italian products
  taxonomies/categories.txt
Labels: categories, taxonomies

#5314 Add support for multi orgs imports + new email notification report for imports (USDA, CodeOnline)
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Orgs.pm
  templates/emails/import_csv_file_admin_notification.tt.html
Labels: producers platform

#5315 Templatization of export_products.pl
  cgi/export_products.pl
  templates/web/pages/export_products_results/export_products_results.tt.html
Labels: Template::Toolkit

#5316 Templatization of import_photo_upload.pl
  cgi/import_photos_upload.pl
  templates/web/pages/import_photos_upload/import_photos_upload.tt.html
  templates/web/pages/import_photos_upload/import_photos_upload.tt.js
Labels: Template::Toolkit

#5317 Added new subheading "Running minion jobs"
  installation/Developer-guide.md
Labels: documentation

#5320 Plumbing for USDA import
  cgi/product_image_crop.pl
  cgi/product_image_move.pl
  cgi/product_image_unselect.pl
  cgi/product_image_upload.pl
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/Export.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Producers.pm
  lib/ProductOpener/Products.pm
  scripts/delete_products_from_user.pl
  scripts/export_and_import_to_public_database.pl
  scripts/export_to_be_automatically_exported_data_to_public_database.sh
  scripts/import_csv_file.pl
  scripts/import_fleurymichon.pl
  scripts/import_systemeu.pl
  scripts/import_usda.sh
  scripts/import_usda_small.sh
  scripts/remove_empty_products.pl
  scripts/tag_stores_magasins_u.pl
  scripts/update_all_products.pl
  scripts/usda-import/convert_usda.sh
  scripts/usda-import/convert_usda_small.sh
  scripts/usda-import/export_usda_to_public_database.sh
  scripts/usda-import/import_usda.sh
  scripts/usda-import/import_usda_small.sh
Labels: producers platform

#5324 USDA import - start of readme file + deduplicating script
  scripts/usda-import/README.md
  scripts/usda-import/deduplicate_usda.sh
  scripts/usda-import/import_usda.sh
  scripts/usda-import/keep_most_recent_row_for_each_product.py
Labels: producers platform, python

#5329 Fix EVU Vegan duplicate
  taxonomies/labels.txt
Labels: labels, taxonomies

#5323 Templatization of import_file_select_format.pl
  cgi/import_file_select_format.pl
  templates/web/pages/import_file_select_format/import_file_select_format.tt.html
  templates/web/pages/import_file_select_format/import_file_select_format.tt.js
Labels: Template::Toolkit

#5336 Templatization of session.pl
  cgi/session.pl
  templates/web/pages/session/session.tt.html
Labels: Template::Toolkit

#5334 Templatization of remove_products.pl
  cgi/remove_products.pl
  templates/web/pages/remove_products/remove_products.tt.html
Labels: Template::Toolkit

#5326 Protect data provided by some organizations,
  cgi/org.pl
  cgi/product_image_crop.pl
  cgi/product_jqm_multilingual.pl
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Products.pm
  po/common/common.pot
  po/common/en.po
Labels: producers platform
