Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2021-10, with the labels that each got.

#5792 test repair
  t/additives.t
  t/additives_tags.t
  taxonomies/additives.txt
  taxonomies/ingredients.txt
Labels: ingredients, additives, tests

#5789 Carbon impact knowledge panel with car driving km equivalence
  icons/car.svg
  icons/check_circle.svg
  icons/help.svg
  icons/material/drive_eta-24px.svg
  lib/ProductOpener/KnowledgePanels.pm
  scss/_off.scss
  templates/api/knowledge-panels/ecoscore/carbon_impact.tt.json
  templates/api/knowledge-panels/ecoscore/ecoscore.tt.json
  templates/web/panels/panel.tt.html
Labels: knowledge-panels

#5803 fix: Change endpoint for the ingredients OCR
  lib/ProductOpener/Images.pm
  scripts/run_cloud_vision_ocr.pl
  scripts/run_ocr.py
Labels: OCR

#5795 feat: new taxonomy API
  cgi/display.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Tags.pm
Labels: API, taxonomies

#5819 fix: accessibility issues with personal search preferences
  html/js/product-preferences.js
  scss/_off.scss
Labels: accessibility ♿

#6041 Fix bring/brought/brought in Folksonomy Engine
  html/js/folksonomy.js
Labels: folksonomy project
