Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2021-12, with the labels that each got.

#6143 Simplify donation banner translations
  html/donate/fr.helloasso.html
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  templates/web/common/includes/donate_banner.tt.html
Labels: translations

#5956 Ingredients cleanup/extensions/ciqual
  lib/ProductOpener/Ingredients.pm
  t/expected_test_results/attributes/en-maybe-vegan.json
  t/ingredients_processing.t
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies, ingredients

#6158 New physical activites knowledge panel for energy consumption
  icons/activity-bicycling.svg
  icons/activity-running.svg
  icons/activity-swimming.svg
  icons/activity-walking.svg
  icons/material/bike.svg
  icons/material/run.svg
  icons/material/swim.svg
  icons/material/walk.svg
  lib/ProductOpener/Food.pm
  lib/ProductOpener/KnowledgePanels.pm
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/health/health_card.tt.json
  templates/api/knowledge-panels/health/nutrition/physical_activities.tt.json
  templates/web/panels/panel.tt.html
Labels: nutrition facts, knowledge-panels

#6156 Ricciarelli di siena
  taxonomies/categories.txt
Labels: taxonomies, categories

#6160 fix XML API issue
  lib/ProductOpener/Display.pm
Labels: API

#6165 Refactor edition of nutrition facts through product edit form and API, add support for missing fields (e.g. fiber)
  cgi/export_products.pl
  cgi/org.pl
  cgi/product_image.pl
  cgi/product_image_upload.pl
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  cgi/search.pl
  cgi/spellcheck_test.pl
  cgi/test_ingredients_analysis.pl
  cgi/translate_taxonomy.pl
  cgi/user.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Text.pm
  lib/ProductOpener/Users.pm
  t/food.t
Labels: API, nutrients, editing, API write

#6168 remove nutriscore fiber warning if not specified on product
  lib/ProductOpener/Food.pm
Labels: nutriscore

#6173 fix issue with nutrition facts edits through API
  lib/ProductOpener/Food.pm
  scripts/update_all_products.pl
Labels: API, API write

#6172 Fat and lean fishes
  taxonomies/categories.txt
Labels: taxonomies, categories

#6193 Add useragent to bypass CloudFlare blocking.
  lib/ProductOpener/Import.pm
Labels: producers platform

#6205 NOVA updates for starches + tests
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Food.pm
  t/nova.t
  taxonomies/categories.txt
Labels: nova

#6215 fix Equadis import of Nutri-Score field
  lib/ProductOpener/GS1.pm
  t/expected_test_results/import_gs1/equadis_pepsico_chips.json
  t/expected_test_results/import_gs1/equadis_pepsico_chips.off.json
Labels: producers platform, GS1

#6209 Localize Eco-Score data even if we don't have an Eco-Score category, for the origins of ingredients knowledge panel
  lib/ProductOpener/Ecoscore.pm
Labels: knowledge-panels, ecoscore

#6224 Wikidata Fixes for the Open Beauty Facts categories
  taxonomies.obf/categories.txt
Labels: taxonomies, open beauty facts
