Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2021-07, with the labels that each got.

#5342 Use Eco-Score for France in fact instead of Eco-Score missing transportation bonus
  lib/ProductOpener/Ecoscore.pm
  t/expected_test_results/attributes/en-attributes.json
  t/expected_test_results/ecoscore/carrots-plastic.json
  t/expected_test_results/ecoscore/carrots.json
  t/expected_test_results/ecoscore/grade-a-with-non-recyclable-label.json
  t/expected_test_results/ecoscore/grade-a-with-recyclable-label.json
  t/expected_test_results/ecoscore/ingredient-palm-oil-rspo.json
  t/expected_test_results/ecoscore/ingredient-palm-oil.json
  t/expected_test_results/ecoscore/known-category-butters.json
  t/expected_test_results/ecoscore/known-category-margarines.json
  t/expected_test_results/ecoscore/label-organic.json
  t/expected_test_results/ecoscore/milk.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested-2.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested.json
  t/expected_test_results/ecoscore/origins-of-ingredients-not-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-partly-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unknown-origin.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unspecified-origin.json
  t/expected_test_results/ecoscore/packaging-en-bulk.json
  t/expected_test_results/ecoscore/packaging-en-multiple.json
  t/expected_test_results/ecoscore/packaging-en-pet-bottle.json
  t/expected_test_results/ecoscore/packaging-en-plastic-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-can.json
  t/expected_test_results/ecoscore/sum-of-bonuses-greater-than-25.json
Labels: ecoscore

#5339 Small corrections to the Category taxonomy
  taxonomies/categories.txt
Labels: categories, taxonomies

#5360 serve product images from images.openfoodfacts.org
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Images.pm
Labels: images

#5347 Reenable partial translations
  .github/workflows/crowdin.yml
Labels: github_actions, i18n

#5364 Riso baldo
  taxonomies/categories.txt
Labels: categories, taxonomies

#5394 Removed joghurtkulturen
  taxonomies/allergens.txt
Labels: allergens, taxonomies

#5375 added import_sources: codeonline, database-usda
  cgi/org.pl
  lib/ProductOpener/Config_off.pm
Labels: producers platform

#5377 Translations for the states taxonomy
  taxonomies/states.txt
Labels: taxonomy translation

#5381 Translations for the additives taxonomy
  taxonomies/additives.txt
Labels: taxonomy translation

#5393 Created template file for function display_blocks() in Display.pm
  lib/ProductOpener/Display.pm
  templates/web/common/includes/display_blocks.tt.html
Labels: Product Page, Template::Toolkit

#5384 Translations for the origins taxonomy
  taxonomies/origins.txt
Labels: taxonomy translation

#5380 Translations for the ingredients analysis taxonomy
  taxonomies/ingredients_analysis.txt
Labels: taxonomy translation

#5398 Adapt the Eco-score details display to the new way to handle missing packaging data
  templates/web/pages/product/includes/ecoscore_details.tt.html
  templates/web/pages/product/includes/ecoscore_details_simple_html.tt.html
Labels: ecoscore, packaging

#5401 Correction category frozen spinachs
  taxonomies/categories.txt
Labels: categories, taxonomies

#5410 Template file for display_login_register of Display.pm
  lib/ProductOpener/Display.pm
  templates/web/common/includes/display_login_register.tt.html
Labels: Template::Toolkit

#5413 Templatization of function display_my_block() in Display.pm
  lib/ProductOpener/Display.pm
  templates/web/common/includes/display_my_block.tt.html
Labels: Template::Toolkit

#5404 Templatization of the product edit form
  cgi/product_multilingual.pl
  html/js/product-multilingual.js
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Images.pm
  templates/web/pages/product_edit/display_input_field.tt.html
  templates/web/pages/product_edit/display_input_tabs.tt.html
  templates/web/pages/product_edit/product_edit_form.tt.html
  templates/web/pages/product_edit/product_edit_form_display.tt.html
  templates/web/pages/product_edit/product_edit_form_display.tt.js
  templates/web/pages/product_edit/product_edit_form_display_user-moderator.tt.html
  templates/web/pages/product_edit/product_edit_form_process.tt.html
Labels: Template::Toolkit, editing

#5340 [WIP] product.pl templatization
  cgi/product_multilingual.pl
  html/js/product-multilingual.js
  lib/ProductOpener/Images.pm
  templates/web/pages/product_edit/display_input_field.tt.html
  templates/web/pages/product_edit/display_input_tabs.tt.html
  templates/web/pages/product_edit/product_edit_form.tt.html
  templates/web/pages/product_edit/product_edit_form_display.tt.html
  templates/web/pages/product_edit/product_edit_form_display.tt.js
  templates/web/pages/product_edit/product_edit_form_display_user-moderator.tt.html
  templates/web/pages/product_edit/product_edit_form_process.tt.html
Labels: Product Page, Template::Toolkit

#5402 Some Hebrew fixes
  taxonomies/nutrient_levels.result.txt
Labels: nutrients, taxonomies, taxonomy translation

#5415 Prevent imports from overwriting fields already set by the owner
  lib/ProductOpener/Import.pm
Labels: producers platform

#5408 Re-architecturing the Open Food Facts Perl modules and functions
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Web.pm
Labels: refactor
