Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-03, with the labels that each got.

#6433 fix: ingredient doubles continues
  t/additives.t
  t/ingredients_parsing.t
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
  taxonomies/minerals.txt
  taxonomies/nucleotides.txt
  taxonomies/vitamins.txt
Labels: taxonomies, ingredients, additives, tests

#6458 fix: Make Crowdin commit message also semantic
  .github/workflows/crowdin.yml
Labels: github_actions

#6460 chore: Auto-label tagline changes
  .github/labeler.yml
Labels: github_actions

#6468 build: better make taxonomies
  Makefile
  taxonomies/Makefile
Labels: taxonomies

#6469 chore: Update origins.txt
  taxonomies/origins.txt
Labels: taxonomies, origins

#6461 feat: Switch to the new FAQ system
  po/common/common.pot
Labels: user-support, translations

#6474 fix: Import serving size bug
  lib/ProductOpener/Import.pm
  t/expected_test_results/export/0850032917148.json
  t/expected_test_results/export_more_fields/0850032917148.json
  t/inputs/export/products.csv
Labels: export, data import, tests, producers platform

#6480 chore: Update categories.txt
  taxonomies/categories.txt
Labels: categories, translations

#6479 chore: Add BG to containers.txt
  taxonomies/old/containers.txt
Labels: taxonomies

#6478 chore: Add BG to ingredients_processing.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies

#6472 fix: Cleaning ingredients
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, additives

#6485 fix: fix image upload buttons
  html/js/product-multilingual.js
  lib/ProductOpener/Images.pm
  templates/web/pages/import_file_upload/import_file_upload.tt.html
Labels: images, Template::Toolkit

#6487 build: make tests run in isolation
  Makefile
  docker/dev.yml
Labels: docker

#6490 chore: Translations for labels.txt
  taxonomies/labels.txt
Labels: taxonomies, labels

#6489 chore: Add BG to packaging_shapes.txt
  taxonomies/packaging_shapes.txt
Labels: taxonomies, packaging

#6492 fix: untranslated string for Smoothie
  .github/labeler.yml
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/environment/ecoscore/ecoscore_unknown.tt.json
Labels: knowledge-panels, Template::Toolkit, ecoscore, github_actions, translations

#6440 fix: remove obsolete strings & remove duplicate strings
  po/common/en.po
  po/common/th.po
  po/openbeautyfacts/lol.po
  po/openbeautyfacts/openbeautyfacts.pot
  po/openpetfoodfacts/lol.po
  po/openpetfoodfacts/openpetfoodfacts.pot
  po/openproductsfacts/lol.po
  po/openproductsfacts/openproductsfacts.pot
Labels: translations

#6498 feat: Dutch additions
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/nutrients.txt
Labels: taxonomies, additives, categories

#6202 chore: Vegan categories
  taxonomies/categories.txt
Labels: taxonomies, categories

#5345 fix: Backup Open Pet Food Facts assets
  html/images/misc/opff-leaderboard.svg
  html/images/misc/opff_bird.svg
  html/images/misc/opff_cat.svg
  html/images/misc/opff_dog.svg
  html/images/misc/opff_fish.svg
  html/images/misc/opff_rabbit.svg
Labels: Uncommitted assets

#5379 chore: Translations for the allergens taxonomy
  taxonomies/allergens.txt
Labels: taxonomies, taxonomy translation, Stale

#6493 feat: link product attributes to knowledge panels
  html/js/product-search.js
  lib/ProductOpener/Attributes.pm
  scss/_off.scss
  t/expected_test_results/attributes/en-attributes.json
  t/expected_test_results/attributes/en-ecoscore-score-at-20-threshold.json
  t/expected_test_results/attributes/en-maybe-vegan.json
  t/expected_test_results/attributes/en-nutriscore.json
  t/expected_test_results/attributes/fr-palm-kernel-fat.json
  t/expected_test_results/attributes/fr-palm-oil-free.json
  t/expected_test_results/attributes/fr-palm-oil.json
  t/expected_test_results/attributes/fr-vegetable-oils.json
  templates/web/panels/panel.tt.html
Labels: tests, css, Template::Toolkit, Attributes, Knowledge panels

#6503 fix: release please should trigger actions
  .github/workflows/release-please.yml
Labels: github_actions

#6494 feat: Ag barcode in search
  cgi/user.pl
  docker/dev.yml
  html/js/product-search.js
  icons/barcode.svg
  lib/ProductOpener/Config2_docker.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Users.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  scss/_off.scss
Labels: css, docker, translations, icons, Display, Users

#6507 chore: Add ingredients translations in BG
  taxonomies/ingredients.txt
Labels: ingredients

#6504 chore: Add new labels in BG
  taxonomies/labels.txt
Labels: taxonomies, labels

#6508 chore: Translation of nutrients in BG
  taxonomies/nutrients.txt
Labels: taxonomies
