Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-12, with the labels that each got.

#7754 chore(main): release 2.4.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#7765 taxonomy: Lithuanian categories: soups edition
  taxonomies/categories.txt
Labels: taxonomies, categories

#7759 taxonomy: some Spanish and Catalan translations
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies, ingredients

#7703 fix: donation banner tweaks
  lib/ProductOpener/Display.pm
  scss/_off.scss
  templates/web/common/includes/donate_banner.tt.html
  templates/web/common/includes/donate_banner_bottom.tt.html
  templates/web/common/site_layout.tt.html
Labels: product history, css, Template::Toolkit, donations, Display

#7647 taxonomy: Meats and their products
  taxonomies/categories.txt
Labels: taxonomies, categories

#7671 taxonomy: New fr ingredients
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7802 taxonomy: Lithuanian categories, allergens, ingredients
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, allergens, categories

#7800 taxonomy: Bulgarian additions
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/states.txt
Labels: taxonomies, ingredients, categories

#7304 feat: Add more actions
  Makefile
  lib/ProductOpener/Products.pm
  po/common/common.pot
  templates/api/knowledge-panels/environment/origins_of_ingredients.tt.json
  templates/api/knowledge-panels/environment/packaging_recycling.tt.json
  templates/api/knowledge-panels/health/ingredients/nova.tt.json
  tests/integration/expected_test_results/api_v2_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_write/get-product.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_write/patch-request-fields-updated-attribute-groups-knowledge-panels.json
  tests/integration/expected_test_results/search_v1/search-no-filter.json
  tests/integration/expected_test_results/search_v1/search-tags-categories-without-ingredients-from-palm-oil.json
  tests/integration/expected_test_results/search_v1/search-without-ingredients-from-palm-oil.json
  tests/update_tests_results.sh
Labels: API, packaging, tests, knowledge-panels, nova, Template::Toolkit, ecoscore, translations, Products, :star: top pull request, knowledge panel actions, integration tests

#7807 taxonomy: fix typo for the Shrimp category
  taxonomies/categories.txt
Labels: taxonomies, categories

#7784 taxonomy: Lassi
  taxonomies/categories.txt
Labels: taxonomies, categories

#7812 docs: link to tutorial in API intro
  docs/introduction/api.md
Labels: documentation

#7810 fix: Update common.pot
  po/common/common.pot
  po/common/en.po
Labels: bug, github_actions, translations

#7785 docs: create reference cheatsheet
  docs/reference/api-cheatsheet.md
Labels: documentation, :star: top pull request

#7763 taxonomy: Corrections creamy puddings
  taxonomies/categories.txt
  tests/integration/expected_test_results/api_v2_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_write/get-product.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/export_more_fields/3661344653573.json
Labels: taxonomies, categories, tests

#7824 taxonomy: add Polish translations for caramel and safflower
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7833 taxonomy: reviewed some beers and wines in Croatia
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories

#7809 fix: chocolate eggs
  taxonomies/categories.txt
Labels: taxonomies, categories

#7776 docs: Add more body parameters to Edit A Product
  .github/labeler.yml
  docs/reference/api.yml
  docs/reference/requestBodies/add_or_edit_a_product.yaml
Labels: documentation, github_actions

#7826 fix: new misc facets for packagings with weights
  lib/ProductOpener/Packaging.pm
  tests/integration/api_v3_product_write.t
  tests/integration/expected_test_results/api_v3_product_write/patch-packagings-quantity-and-weight.json
  tests/integration/expected_test_results/api_v3_product_write/patch-weight-as-number-or-string.json
  tests/integration/expected_test_results/search_v1/search-no-filter.json
  tests/integration/expected_test_results/search_v1/search-tags-categories-without-ingredients-from-palm-oil.json
  tests/integration/expected_test_results/search_v1/search-without-ingredients-from-palm-oil.json
Labels: packaging, API write, tests, API v3

#7830 l10n: add/update Italian translations for many ingredients processing methods
  taxonomies/ingredients_processing.txt
Labels: taxonomies

#6085 feat: Add test to check Nutri-Score, Eco-Score and NOVA are not translated
  cpanfile
  po/common/fr.po
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
  tests/unit/expected_test_results/attributes/fr-palm-kernel-fat.json
  tests/unit/expected_test_results/attributes/fr-palm-oil-free.json
  tests/unit/expected_test_results/attributes/fr-palm-oil.json
  tests/unit/expected_test_results/attributes/fr-vegetable-oils.json
  tests/unit/lang.t
Labels: API, tests, knowledge-panels, translations, unit tests, integration tests

#7822 feat: Ventilate issue to more GitHub projects
  .github/workflows/github-projects-for-openfoodfacts-design.yml
Labels: github_actions

#7839 ci: Add infrastructure label to relevant GitHub Project
  .github/workflows/github-projects-for-openfoodfacts-design.yml
Labels: github_actions

#7792 chore: Week 49 updates
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
  taxonomies/packaging_materials.txt
  tests/unit/expected_test_results/packaging/packaging_text_nl_plastic_fles.json
Labels: taxonomies, ingredients, categories, packaging, labels, tests

#7843 fix: save all packaging components #7783
  templates/web/pages/product_edit/product_edit_form_packagings.tt.html
Labels: Template::Toolkit

#7849 fix: add alt attribute to make SonarCloud go green
  templates/web/common/site_layout.tt.html
Labels: product history, Template::Toolkit

#7859 taxonomy: add various Polish translations for ingredients
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7842 fix: better packaging misc facet
  lib/ProductOpener/Packaging.pm
  tests/integration/expected_test_results/api_v2_product_write/get-product-auth-good-password.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_write/patch-packagings-quantity-and-weight.json
  tests/integration/expected_test_results/api_v3_product_write/patch-weight-as-number-or-string.json
  tests/integration/expected_test_results/search_v1/search-no-filter.json
  tests/integration/expected_test_results/search_v1/search-tags-categories-without-ingredients-from-palm-oil.json
  tests/integration/expected_test_results/search_v1/search-without-ingredients-from-palm-oil.json
Labels: packaging, tests

#7840 taxonomy: Ground meats
  taxonomies/categories.txt
Labels: taxonomies, categories

#7857 feat: Add serving quantity is 0
  taxonomies/data_quality.txt
Labels: taxonomies

#7856 feat: allow setting the packagings_complete field through API v3
  docs/reference/schemas/packagings/packagings_complete.yaml
  docs/reference/schemas/product.yaml
  docs/reference/schemas/product_update_api_v3.yaml
  lib/ProductOpener/APIProductWrite.pm
  po/common/common.pot
  po/common/en.po
  tests/integration/api_v3_product_write.t
  tests/integration/expected_test_results/api_v3_product_write/patch-packagings-complete-0.json
  tests/integration/expected_test_results/api_v3_product_write/patch-packagings-complete-1.json
  tests/integration/expected_test_results/api_v3_product_write/patch-packagings-complete-2.json
Labels: packaging, documentation, API write, tests, translations, API v3

#7855 fix: Barcode is not visible in the edit mode
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: editing, Template::Toolkit

#7851 docs: some comments in Import.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Tags.pm
Labels: data import, producers platform, Tags

#7864 fix: avoid false positive errors for low energy values #7811
  lib/ProductOpener/DataQualityFood.pm
Labels: data quality

#7898 taxonomy: hr ingredients 8
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/minerals.txt
  taxonomies/vitamins.txt
Labels: taxonomies, ingredients, additives, labels

#7869 docs: Added instructions under Troubleshooting section to solve error caused by local mongodb database server.
  docs/introduction/dev-environment-quick-start-guide.md
Labels: documentation

#7917 fix: https for the footer
  po/common/en.po
Labels: translations
