Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-01, with the labels that each got.

#6234 Gelbwurst
  taxonomies/categories.txt
Labels: taxonomies, categories

#6226 Import refactor
  lib/ProductOpener/Import.pm
Labels: data import

#6225 ops: makefile should not depend on project prefix
  Makefile
Labels: docker, devops, Makefile

#6233 Add column groups to nutrition facts knowledge panel
  lib/ProductOpener/Display.pm
  templates/api/knowledge-panels/health/nutrition/nutrition_facts_table.tt.json
Labels: nutrition facts, knowledge-panels

#6237 Fix Nutri-Score panel, add reason when not computed
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanels.pm
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/health/health_card.tt.json
  templates/api/knowledge-panels/health/nutriscore/nutriscore.tt.json
  templates/api/knowledge-panels/health/nutriscore/nutriscore_warnings.tt.json
Labels: nutriscore, knowledge-panels

#6239 Clean packaging materials taxonomy, fix glass recycling codes
  t/expected_test_results/packaging/en-aa-84-c-pap.json
  t/expected_test_results/packaging/packaging_text_nl_blik_bij_restafval.json
  t/expected_test_results/packaging/packaging_text_nl_glazen_pot_met_deksel.json
  t/expected_test_results/packaging/packaging_text_nl_koffiepad_bij_gft.json
  t/expected_test_results/packaging/packaging_text_nl_over_plastic_afval.json
  t/expected_test_results/packaging/packaging_text_nl_plastic_fles.json
  t/expected_test_results/packaging/packaging_text_nl_statiegeldfles.json
  t/expected_test_results/packaging/packaging_text_nl_three_instructions.json
  t/expected_test_results/packaging/packaging_text_nl_verpakking_bij_drankencartons.json
  t/expected_test_results/packaging/packaging_text_nl_wel_pmd.json
  t/packaging.t
  taxonomies/packaging_materials.result.sto
  taxonomies/packaging_materials.result.txt
  taxonomies/packaging_materials.txt
Labels: taxonomies, packaging

#6247 Small taxonomy fixes
  taxonomies/additives.txt
  taxonomies/brands.txt
  taxonomies/containers.txt
  taxonomies/ingredients.txt
Labels: wikidata

#6196 feat: Categories taxonomy improvements for Wikidata and IGPs
  taxonomies/categories.txt
  taxonomies/categories.wip.txt
Labels: taxonomies, categories, wikidata

#6162 Start of ingredients knowledge panel
  lib/ProductOpener/KnowledgePanels.pm
  templates/api/knowledge-panels/health/ingredients/ingredients.tt.json
  templates/web/panels/panel.tt.html
Labels: knowledge-panels

#6203 fix: allow unchecking checked boxes in product edit form
  lib/ProductOpener/Food.pm
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: editing

#5805 feat: Add Wikidata items to categories
  taxonomies/categories.txt
Labels: categories, wikidata

#6252 feat: example product in API with code=example
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
Labels: API

#6243 feat: Initial support for specific ingredients parsing
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ingredients.pm
  t/additives.t
  t/additives_tags.t
  t/allergens.t
  t/allergens_tags.t
  t/attributes.t
  t/dataquality.t
  t/dataqualityfood.t
  t/display.t
  t/ecoscore.t
  t/expected_test_results/ingredients/en-specific-ingredients-multiple-strings-of-one-ingredient.json
  t/expected_test_results/ingredients/en-specific-ingredients.json
  t/expected_test_results/ingredients/fr-specific-ingredients.json
  t/expected_test_results/nutriscore/fr-gaspacho.json
  t/food.t
  t/food_groups.t
  t/food_normalize_serving_size.t
  t/forest_footprint.t
  t/i18n.t
  t/images.t
  t/import.t
  t/import_gs1.t
  t/ingredients.t
  t/ingredients_analysis.t
  t/ingredients_clean.t
  t/ingredients_nesting.t
  t/ingredients_nutriscore.t
  t/ingredients_parsing.t
  t/ingredients_percent.t
  t/ingredients_processing.t
  t/ingredients_tags.t
  t/lang.t
  t/nova.t
  t/numbers.t
  t/nutriscore.t
  t/packaging.t
  t/producers.t
  t/products.t
  t/recipes.t
  t/store.t
  t/tags.t
  t/templates.t
  t/text.t
  t/vitamins.t
  templates/web/pages/product/includes/ingredients_analysis_details.tt.html
Labels: ingredients, nutriscore, ingredients-analysis

#6254 fix: ensure windows newlines don't break panels
  lib/ProductOpener/KnowledgePanels.pm
Labels: knowledge-panels

#6253 fix: French translation for appetizers
  taxonomies/categories.txt
Labels: taxonomies, categories

#6255 add 'fruits and vegetables' entry + fr stopwords change
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#6266 feat: add allergens and traces to ingredients panel
  lib/ProductOpener/Display.pm
  templates/api/knowledge-panels/health/ingredients/ingredients.tt.json
Labels: knowledge-panels

#6216 Feat: Add auto-labelling to PRs
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github_actions

#6272 Recommendation panels (global + country specific) for health: alcohol and pulses
  html/images/misc/recommendations/recommendation_health_fr_spf_vivre_mieux_avec_moins_d_alcool.837x1188.png
  icons/arrow-bottom-right-thick.svg
  icons/arrow-right-thick.svg
  icons/arrow-top-right-thick.svg
  icons/material/arrow-bottom-right-thick.svg
  icons/material/arrow-right-thick.svg
  icons/material/arrow-top-right-thick.svg
  lib/ProductOpener/KnowledgePanels.pm
  po/common/common.pot
  po/common/en.po
  po/site-specific
  templates/api/knowledge-panels/health/health_card.tt.json
  templates/api/knowledge-panels/health/ingredients/additive.tt.json
  templates/api/knowledge-panels/recommendations/health/fr/spf_alcohol.tt.json
  templates/api/knowledge-panels/recommendations/health/fr/spf_pulses.tt.json
  templates/api/knowledge-panels/recommendations/health/world/who_alcohol.tt.json
  templates/web/panels/panel.tt.html
Labels: knowledge-panels, Template::Toolkit, translations, recommendations

#6279 ops: fixing daily task
  .github/workflows/daily.yml
Labels: github_actions

#6277 doc: document the different types of product image files
  lib/ProductOpener/Images.pm
Labels: images

#6283 Use blockquote for panel quotes + add (WHO) to alcohol panel
  templates/api/knowledge-panels/recommendations/health/world/who_alcohol.tt.json
  templates/web/panels/panel.tt.html
Labels: Template::Toolkit, recommendations

#6282 fix: ignore po/site-specific
  .gitignore
  po/site-specific
Labels: translations

#6284 add parenthesis to make precedence obvious
  lib/ProductOpener/Users.pm
Labels: Users

#6271 Creams
  taxonomies/categories.txt
Labels: taxonomies, categories

#6278 feat: different Nutri-Score icons and text for unknown and not-applicable
  html/images/attributes/src/nutriscore-not-applicable.svg
  html/images/attributes/src/nutriscore-unknown.svg
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanels.pm
  po/common/common.pot
  po/common/en.po
  t/expected_test_results/attributes/en-maybe-vegan.json
  templates/web/pages/product/includes/nutriscore.tt.html
Labels: knowledge-panels, Template::Toolkit, translations, Display, Attributes

#6269 Added - t/**/* to auto-labelling
  .github/labeler.yml
Labels: github_actions

#6295 small fix for panels display in app
  templates/api/knowledge-panels/health/ingredients/additives.tt.json
  templates/api/knowledge-panels/health/ingredients/allergens.tt.json
  templates/api/knowledge-panels/health/ingredients/ingredients.tt.json
Labels: Template::Toolkit

#6289 Dutch taxonomy additions
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies

#6298 More autolabelling
  .github/labeler.yml
Labels: github_actions

#6292 add more automatic Equadis imports to public database
  scripts/export_producers_platform_data_to_public_database.sh
Labels: producers platform

#6305 add countries list to scanbot output data
  scripts/scanbot.pl
Labels: scan statistics

#6304 Create MongoDB indexes for dev environment in docker
  Makefile
  conf/mongodb/create_indexes.js
Labels: mongodb

#6311 fix: set language of fields during init
  cgi/import_file_process.pl
  t/producers.t
  templates/web/pages/import_file_select_format/import_file_select_format.tt.js
Labels: tests, Template::Toolkit

#6309 prinsessenbonen
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#6285 Cereals
  taxonomies/categories.txt
Labels: taxonomies, categories

#6313 Add French frais/fraiche to en:fresh processing + tests
  t/ingredients_processing.t
  taxonomies/ingredients_processing.result.sto
  taxonomies/ingredients_processing.result.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies, tests

#6315 ops: add marker to block daily update in preprod
  .github/workflows/daily.yml
Labels: github_actions

#6314 Experimental extended Eco-Score panel
  cpanfile
  icons/material/scale-balance.svg
  icons/scale-balance.svg
  lib/ProductOpener/DataQualityFood.pm
  lib/ProductOpener/Ecoscore.pm
  lib/ProductOpener/KnowledgePanels.pm
  scripts/gen_top_tags_per_country.pl
  templates/api/knowledge-panels/environment/ecoscore/ecoscore.tt.json
  templates/api/knowledge-panels/environment/ecoscore/ecoscore_extended.tt.json
  templates/api/knowledge-panels/environment/environment_card.tt.json
Labels: data quality, knowledge-panels, Template::Toolkit, ecoscore, icons

#6329 chore: Fleischsalat
  taxonomies/categories.txt
Labels: taxonomies, categories

#6336 fix: links to previous revisions in product edit form
  lib/ProductOpener/Display.pm
Labels: Display

#6335 fix: changed some log levels to debug
  lib/ProductOpener/Products.pm
Labels: Products

#6340 Change styles for ingredients analysis styles
  lib/ProductOpener/Display.pm
  scss/_off.scss
  templates/web/pages/product/includes/ingredients_analysis.tt.html
Labels: css, Template::Toolkit, Display

#6333 Make Dependabot semantic
  .github/dependabot.yml
Labels: github_actions

#6342 fix: show 'we need your help' message for ingredients analysis only when needed
  lib/ProductOpener/Display.pm
  templates/web/pages/product/includes/ingredients_analysis_details.tt.html
Labels: ingredients-analysis, Template::Toolkit, Display

#6345 New food groups facet
  conf/mongodb/create_indexes.js
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  po/tags/fr.po
  scripts/refresh_products_tags.js
Labels: mongodb, translations, Food groups

#6344 Ingredients analysis refactor + small NOVA fix to remove a warning
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Ingredients.pm
Labels: ingredients, nova, Food.pm

#6353 fix: turn relative links to absolute links in knowledge panels
  lib/ProductOpener/KnowledgePanels.pm
Labels: knowledge-panels

#6358 Food groups facet and export
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/DataQualityFood.pm
  scripts/export_database.pl
Labels: data quality

#6359 fix: details of improvements opportunities
  templates/web/common/includes/display_data_quality_issues_and_improvement_opportunities.tt.html
  templates/web/common/includes/display_possible_improvement_description.tt.html
Labels: Template::Toolkit

#6360 fix lang warnings
  po/common/en_AU.po
  po/common/nl_NL.po
  po/common/pt_PT.po
  po/common/sr_RS.po
  po/common/zh_CN.po
  po/common/zh_TW.po
Labels: translations

#6368 add pouring spout in packaging shapes + Eco-Score
  lib/ProductOpener/Ecoscore.pm
  t/expected_test_results/ecoscore/fr-verseur-en-plastique.json
  taxonomies/packaging_shapes.result.sto
  taxonomies/packaging_shapes.result.txt
  taxonomies/packaging_shapes.txt
Labels: taxonomies, tests, ecoscore, packaging_shapes
