Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-02, with the labels that each got.

#6370 small improvements to display ingredients analysis
  lib/ProductOpener/Display.pm
  templates/web/pages/product/includes/ingredients_analysis.tt.html
Labels: ingredients analysis, Template::Toolkit, Display

#6373 new misc facet values for Eco-Score missing packaging warning
  lib/ProductOpener/Ecoscore.pm
  t/expected_test_results/attributes/en-attributes.json
  t/expected_test_results/attributes/en-ecoscore-score-at-20-threshold.json
  t/expected_test_results/attributes/en-nutriscore.json
  t/expected_test_results/ecoscore/carrots-plastic.json
  t/expected_test_results/ecoscore/carrots.json
  t/expected_test_results/ecoscore/foie-gras.json
  t/expected_test_results/ecoscore/fr-verseur-en-plastique.json
  t/expected_test_results/ecoscore/frozen-vegetable.json
  t/expected_test_results/ecoscore/grade-a-with-non-recyclable-label.json
  t/expected_test_results/ecoscore/grade-a-with-recyclable-label.json
  t/expected_test_results/ecoscore/ingredient-palm-oil-rspo.json
  t/expected_test_results/ecoscore/ingredient-palm-oil.json
  t/expected_test_results/ecoscore/known-category-butters.json
  t/expected_test_results/ecoscore/known-category-margarines.json
  t/expected_test_results/ecoscore/label-ab-hve-msc-asc.json
  t/expected_test_results/ecoscore/label-ab-hve.json
  t/expected_test_results/ecoscore/label-msc-asc.json
  t/expected_test_results/ecoscore/label-organic.json
  t/expected_test_results/ecoscore/lamb-leg.json
  t/expected_test_results/ecoscore/milk.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested-2.json
  t/expected_test_results/ecoscore/origins-of-ingredients-nested.json
  t/expected_test_results/ecoscore/origins-of-ingredients-not-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-partly-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified-multiple.json
  t/expected_test_results/ecoscore/origins-of-ingredients-specified.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unknown-origin.json
  t/expected_test_results/ecoscore/origins-of-ingredients-unspecified-origin.json
  t/expected_test_results/ecoscore/packaging-en-bulk.json
  t/expected_test_results/ecoscore/packaging-en-multiple-over-maximum-malus.json
  t/expected_test_results/ecoscore/packaging-en-multiple.json
  t/expected_test_results/ecoscore/packaging-en-pet-bottle.json
  t/expected_test_results/ecoscore/packaging-en-plastic-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-bottle.json
  t/expected_test_results/ecoscore/packaging-en-unspecified-material-can.json
  t/expected_test_results/ecoscore/packaging-fr-new-shapes.json
  t/expected_test_results/ecoscore/packaging-unspecified-no-a-eco-score.json
  t/expected_test_results/ecoscore/packaging-unspecified.json
  t/expected_test_results/ecoscore/sum-of-bonuses-greater-than-25.json
  t/expected_test_results/ecoscore/uk-milk.json
Labels: packaging, tests, ecoscore, packaging_shapes

#6384 change import_csv_file.pl to allow imports without an org and without setting lc and lang
  lib/ProductOpener/Import.pm
Labels: data import, producers platform

#6385 Prepare taxonomization of packagings field
  lib/ProductOpener/Packaging.pm
  t/expected_test_results/packaging/en-fr-taxonomized-packagings-other-language.json
  t/expected_test_results/packaging/en-fr-taxonomized-packagings.json
  t/expected_test_results/packaging/fr-robotoff-packagings.json
  t/packaging.t
  taxonomies/old/containers.txt
  taxonomies/old/materials.txt
  taxonomies/old/packagings.txt
  taxonomies/old/recycling_bins.txt
  taxonomies/old/recycling_instructions.txt
Labels: taxonomies, packaging, tests

#6393 Temporarily disable checks for categories taxonomy
  lib/ProductOpener/Tags.pm
Labels: Tags

#6395 Translation doubles
  taxonomies/categories.txt
Labels: taxonomies, categories

#6397 Translation doubles continued
  taxonomies/categories.txt
Labels: taxonomies, categories

#6376 Miel de cerisier
  taxonomies/categories.txt
Labels: taxonomies, categories

#6349 Labeler improvements
  .github/labeler.yml
Labels: github_actions

#6400 Translation doubles continues 3
  taxonomies/categories.txt
Labels: taxonomies, categories

#6399 Epic update
  .github/ISSUE_TEMPLATE/epic.md
Labels: github_actions

#6394 More dutch corrections
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/nutrients.txt
Labels: taxonomies, ingredients, categories

#6402 Semantic PR bot
  .github/workflows/semantic-pr.yml
Labels: github_actions

#6406 chore: Pull Request template fix
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github_actions

#6413 chore: Update nova_groups.txt
  taxonomies/nova_groups.txt
Labels: nova, translations

#6407 chore: Adding labeler rules for packaging
  .github/labeler.yml
Labels: github_actions

#6412 fix: Translation doubles 4
  taxonomies/categories.txt
Labels: taxonomies, categories, merge-conflicts

#6418 fix: Dutch finetuning
  t/ingredients_percent.t
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/vitamins.txt
Labels: taxonomies, ingredients, additives, categories, labels, tests

#6423 chore: Fix bulgarian for nutrient_levels.result.txt
  taxonomies/nutrient_levels.result.txt
Labels: taxonomy translation, nutrient-levels

#6415 ci: merge conflicts autolabel
  .github/workflows/merge-conflict-autolabel.yml
Labels: github_actions

#6420 feat: knowledge panel to display the ingredients that make a product not vegan / vegetarian / palm oil free
  cgi/display.pl
  icons/vegetarian.svg
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/KnowledgePanels.pm
  po/common/common.pot
  po/common/en.po
  t/expected_test_results/attributes/en-maybe-vegan.json
  t/expected_test_results/attributes/fr-palm-kernel-fat.json
  t/expected_test_results/attributes/fr-palm-oil.json
  t/expected_test_results/attributes/fr-vegetable-oils.json
  t/expected_test_results/forest_footprint/fr-ingredients-nested-matching-ingredient.json
  t/expected_test_results/ingredients/en-origins-u.json
  t/expected_test_results/ingredients/en-vegetal-ingredients.json
  t/expected_test_results/ingredients/fi-additives-percents.json
  t/expected_test_results/ingredients/fr-chocolate-cake.json
  t/expected_test_results/ingredients/fr-huile-de-palme-certifiee-durable.json
  t/expected_test_results/ingredients/fr-label-and-multiple-origins.json
  t/expected_test_results/ingredients/fr-marmelade.json
  t/expected_test_results/ingredients/fr-palm-kernel-fat.json
  t/expected_test_results/ingredients/fr-percents-origins-2.json
  t/expected_test_results/ingredients/fr-truncated-puree.json
  t/expected_test_results/ingredients/fr-vegetal-origin.json
  t/expected_test_results/ingredients/nl-e471-niet-dierlijk.json
  t/expected_test_results/ingredients/ru-russian-oil.json
  t/expected_test_results/ingredients/xx-single-letters.json
  t/expected_test_results/nutriscore/fr-gaspacho.json
  t/expected_test_results/nutriscore/mushrooms.json
  t/expected_test_results/nutriscore/spring-water-no-nutrition.json
  t/expected_test_results/recipes/fr-margherita-pizzas.fr-margherita-pizza-2-compound-ingredients.json
  t/expected_test_results/recipes/nectars.guava-nectar.json
  templates/api/knowledge-panels/health/health_card.tt.json
  templates/api/knowledge-panels/health/ingredients/ingredients_analysis.tt.json
  templates/api/knowledge-panels/health/ingredients/ingredients_analysis_property.tt.json
  templates/web/pages/product/includes/ingredients_analysis.tt.html
Labels: ingredients, tests, knowledge-panels, ingredients analysis, Template::Toolkit, translations, icons, Display

#6419 fix: ingredient doubles
  t/expected_test_results/ingredients/fi-do-not-match-myanmar.json
  t/expected_test_results/ingredients/fr-epices-irradiees.json
  t/expected_test_results/ingredients/fr-specific-ingredients.json
  t/expected_test_results/ingredients/fr-truncated-puree.json
  t/expected_test_results/recipes/fr-margherita-pizzas.fr-margherita-pizza-1.json
  t/ingredients_processing.t
  t/tags.t
  taxonomies/additives.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies, ingredients, additives, tests

#6409 chore: Update bg.po
  po/tags/bg.po
Labels: translations, Tags

#6403 chore: new translations for packaging taxonomies
  taxonomies/packaging.result.sto
  taxonomies/packaging.result.txt
  taxonomies/packaging_materials.result.sto
  taxonomies/packaging_materials.result.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.result.sto
  taxonomies/packaging_shapes.result.txt
  taxonomies/packaging_shapes.txt
  taxonomies/preservation.result.sto
  taxonomies/preservation.result.txt
  taxonomies/preservation.txt
Labels: taxonomies, packaging

#6318 chore: labeler improvements
  .github/labeler.yml
Labels: github_actions
