Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-08, with the labels that each got.

#7167 taxonomy: de:Koagulationsmittel
  taxonomies/additives_classes.txt
Labels: taxonomies

#7166 refactor: enable perl signatures in ImportConvert.pm
  lib/ProductOpener/ImportConvert.pm
Labels: data import, producers platform

#7159 taxonomy: Cheeses to grill
  taxonomies/categories.txt
Labels: taxonomies, categories

#7116 test: add create_product sub and test
  lib/ProductOpener/APITest.pm
  tests/integration/create_product.t
  tests/integration/create_user.t
Labels: tests

#7144 refactor: add module for default hashmaps used for integration testing
  lib/ProductOpener/APITest.pm
  lib/ProductOpener/TestDefaults.pm
  tests/integration/create_user.t
Labels: tests

#7168 refactor: compare_to_expected_result function + more import_csv_file tests
  lib/ProductOpener/Test.pm
  tests/integration/expected_test_results/import_csv_file/4270190128403.json
  tests/integration/expected_test_results/import_csv_file/5270190128403.json
  tests/integration/expected_test_results/import_csv_file/stats.json
  tests/integration/import_csv_file.t
  tests/integration/inputs/import_csv_file/test.columns_fields.json
  tests/integration/inputs/import_csv_file/test.xlsx
  tests/integration/inputs/import_csv_file/test.xlsx.csv
  tests/unit/nutriscore.t
Labels: tests

#7165 taxonomy: cukier kokosowy
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7183 refactor: enable perl signature Export.pm
  lib/ProductOpener/Export.pm
Labels: export

#7175 refactor: enable perl signature Ecoscore.pm
  lib/ProductOpener/Ecoscore.pm
Labels: ecoscore

#7171 refactor: enable perl signature Images.pm
  lib/ProductOpener/Images.pm
Labels: images

#7187 refactor: enable perl signature Product.pm
  lib/ProductOpener/Products.pm
Labels: Products

#7208 refactor: enable perl signature Food.pm
  lib/ProductOpener/Food.pm
Labels: Food.pm

#7202 refactor: enable perl signature Packaging.pm
  lib/ProductOpener/Packaging.pm
Labels: packaging

#7201 refactor: enable perl signature `Tags.pm`
  lib/ProductOpener/Tags.pm
Labels: Tags

#7196 refactor: enable perl signature `KnowledgePanels.pm`
  lib/ProductOpener/KnowledgePanels.pm
Labels: knowledge-panels

#7194 refactor: enable perl signature Producers.pm
  lib/ProductOpener/Producers.pm
Labels: producers platform

#7191 refactor: enable perl signatures Attributes.pm
  lib/ProductOpener/Attributes.pm
Labels: Attributes

#7189 feat: Add taxonomy entries for quality
  taxonomies/data_quality.txt
Labels: taxonomies, data quality

#7180 refactor: reduce nesting in Export.pm
  lib/ProductOpener/Export.pm
Labels: export

#7190 taxonomy: Bulgarian additions
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies

#7214 fix: bug introduced by previous refactor
  lib/ProductOpener/Tags.pm
Labels: Tags

#7172 taxonomy: Fermented dairy desserts
  taxonomies/categories.txt
  tests/integration/expected_test_results/export/5601009974337.json
  tests/integration/expected_test_results/export_more_fields/5601009974337.json
Labels: taxonomies, categories, tests

#7217 refactor: enable perl signature Orgs.pm
  lib/ProductOpener/Orgs.pm
Labels: producers platform, refactor, Orgs

#7218 refactor: enable perl signature ImportConvertCarrefourFrance.pm
  lib/ProductOpener/ImportConvertCarrefourFrance.pm
Labels: refactor

#7215 refactor: enable perl signature `MainCountries.pm`
  lib/ProductOpener/MainCountries.pm
Labels: refactor, MainCountries

#7220 refactor: enable perl signature GS1.pm
  lib/ProductOpener/GS1.pm
Labels: producers platform, GS1

#7221 taxonomy: Mueslis
  taxonomies/categories.txt
Labels: taxonomies, categories

#7197 refactor: enable perl signatures `Ingredients.pm`
  lib/ProductOpener/Ingredients.pm
Labels: ingredients, refactor

#7174 refactor: enable perl signatures in ForestFootprint.pm
  lib/ProductOpener/ForestFootprint.pm
Labels: refactor, forest footprint

#7178 refactor: reducing nesting
  .perlcriticrc
  lib/ProductOpener/Import.pm
Labels: data import, producers platform, refactor

#7228 taxonomy: ingredients - Pumpkin seeds
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7226 refactor: enable perl signature URL.pm
  lib/ProductOpener/URL.pm
Labels: Url

#7223 taxonomy: categories - Tartinades d'oeufs
  taxonomies/categories.txt
Labels: taxonomies, categories

#7229 taxonomy: additives classes - syn ro regulatori de aciditate
  taxonomies/additives_classes.txt
Labels: taxonomies

#7195 refactor: enable perl signature `Store.pm`
  lib/ProductOpener/MissionsConfig.pm
  lib/ProductOpener/Store.pm
  lib/ProductOpener/Tags.pm
Labels: refactor, Tags

#7164 fix: pb with initial slash in query string of redirects
  lib/ProductOpener/Display.pm
  tests/unit/display.t
Labels: tests, Display

#7188 refactor: enable perl signature `Data.pm`
  lib/ProductOpener/Data.pm
Labels: refactor

#7235 refactor: enable perl signatures GeoIP.pm
  lib/ProductOpener/GeoIP.pm
Labels: geolite

#7236 refactor: fixing typo
  .github/workflows/pull_request.yml
Labels: github_actions

#7238 refactor: enable perl signature Lang.pm
  lib/ProductOpener/Lang.pm
Labels: lang

#7237 taxonomy: Serek homogenizowany
  taxonomies/categories.txt
Labels: taxonomies, categories

#7143 taxonomy: minerals - syn nl - ijzer(II)fumaraat
  taxonomies/minerals.txt
Labels: taxonomies

#7241 refactor: reduce nesting Display.pm
  lib/ProductOpener/Display.pm
Labels: Display

#7245 taxonomy: Ingredient additions
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7251 refactor: reduce nesting `GS1.pm`
  lib/ProductOpener/GS1.pm
Labels: producers platform, GS1

#7257 refactor: `cgi/` perl signatures
  cgi/org.pl
  cgi/packaging.pl
  cgi/product_image.pl
  cgi/product_image_crop.pl
  cgi/product_image_move.pl
Labels: packaging

#7212 refactor: enable perl signature `Text.pm`
  cgi/user.pl
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Text.pm
  lib/ProductOpener/Users.pm
Labels: refactor, Food.pm, Users, Text

#7258 fix: send set-cookie headers in redirects
  lib/ProductOpener/Display.pm
Labels: Display

#7255 fix: mongodb _id must be a string
  lib/ProductOpener/Products.pm
  scripts/update_all_products.pl
Labels: Products
