Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-04, with the labels that each got.

#6528 fix: handle both absolute and relative percent values for sub-ingredients
  lib/ProductOpener/Ingredients.pm
  t/expected_test_results/ingredients/fi-additives-percents.json
  t/expected_test_results/ingredients/fr-chocolate-cake.json
  t/ingredients_percent.t
Labels: ingredients, tests

#6544 fix: Remove duplicate string
  po/common/en.po
Labels: translations

#6550 chore: Update categories.txt
  taxonomies/categories.txt
Labels: categories

#6549 chore: Add BG to packagings.txt
  taxonomies/old/packagings.txt
Labels: taxonomies, packaging

#6548 chore: update BG ingredients
  taxonomies/ingredients.txt
Labels: ingredients

#6546 fix: Format footer titles as headings in code
  templates/web/common/site_layout.tt.html
Labels: Template::Toolkit

#6553 fix: languages and nutrients taxonomies
  taxonomies/languages.result.sto
  taxonomies/languages.result.txt
  taxonomies/languages.txt
  taxonomies/nutrients.result.sto
  taxonomies/nutrients.result.txt
  taxonomies/nutrients.txt
Labels: taxonomies

#6519 fix: remove Top 10 Issue github action
  .github/workflows/top-issues.yml
Labels: github_actions

#6552 fix: use prepared nutrition values to compute nutriscore of cocoa and chocolate powders
  lib/ProductOpener/Food.pm
  t/expected_test_results/nutriscore/cocoa-and-chocolate-powders.json
  t/nutriscore.t
  taxonomies/categories.txt
Labels: taxonomies, categories, tests, Food.pm

#6559 chore: add org-d-aucy to nightly imports
  scripts/export_producers_platform_data_to_public_database.sh
Labels: producers platform

#6563 ci: add to github projects
  .github/workflows/github-projects.yml
Labels: github_actions

#6570 fix: Makes "Unselect Image" button translatable
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
  po/common/hi.po
Labels: translations, Display

#6574 chore: New Bulgarian additions
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies

#6566 feat: Improvements to GS1 imports to prepare integration of Agena3000
  cpanfile
  lib/ProductOpener/GS1.pm
  scripts/convert_gs1_json_to_off_csv.pl
  scripts/convert_gs1_xml_to_json_in_dir.js
  scripts/convert_gs1_xml_to_json_in_dir.pl
  scripts/equadis-import/README.md
  scripts/equadis-import/run_equadis_import.sh
  t/expected_test_results/import_gs1/agena3000_andros.json
  t/expected_test_results/import_gs1/agena3000_andros.off.json
  t/expected_test_results/import_gs1/agena3000_andros.xml
  t/expected_test_results/import_gs1/agena3000_aoste.json
  t/expected_test_results/import_gs1/agena3000_aoste.off.json
  t/expected_test_results/import_gs1/agena3000_aoste.xml
  t/expected_test_results/import_gs1/codeonline_bonduelle.off.json
  t/expected_test_results/import_gs1/codeonline_bongou_anguille_en_conserve.off.json
  t/expected_test_results/import_gs1/codeonline_elvir.off.json
  t/expected_test_results/import_gs1/codeonline_lou_perac.off.json
  t/expected_test_results/import_gs1/codeonline_materne_pomme_bio.off.json
  t/expected_test_results/import_gs1/codeonline_orea_pate_a_tartinet.off.json
  t/expected_test_results/import_gs1/codeonline_pepsico_benenuts_3d.off.json
  t/expected_test_results/import_gs1/codeonline_pepsico_lays.off.json
  t/expected_test_results/import_gs1/codeonline_pepsico_lays_barbecue.off.json
  t/expected_test_results/import_gs1/equadis_brasseries_kronenbourg_grimbergen_rouge.off.json
  t/expected_test_results/import_gs1/equadis_brasseries_kronenbourg_tourtel.off.json
  t/expected_test_results/import_gs1/equadis_knorr_child_item.json
  t/expected_test_results/import_gs1/equadis_knorr_child_item.off.json
  t/expected_test_results/import_gs1/equadis_knorr_child_item.xml
  t/expected_test_results/import_gs1/equadis_knorr_pesto_rouge.off.json
  t/expected_test_results/import_gs1/equadis_nestle_france_ricore.off.json
  t/expected_test_results/import_gs1/equadis_panzani_container.off.json
  t/expected_test_results/import_gs1/equadis_pepsico_chips.off.json
  t/expected_test_results/import_gs1/equadis_unilever_magnum_100g_plus_100ml_nutrition.off.json
  t/expected_test_results/import_gs1/equadis_unilever_magnum_mini_ruby.off.json
  t/expected_test_results/import_gs1/equadis_unilever_moutarde_maille.off.json
  t/expected_test_results/import_gs1/equadis_unilever_obf_signal.off.json
  t/import_gs1.t
  taxonomies/packaging_shapes.result.sto
  taxonomies/packaging_shapes.result.txt
  taxonomies/packaging_shapes.txt
Labels: taxonomies, packaging, tests, producers platform, GS1

#6556 fix: Dutch next round
  taxonomies/additives.txt
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
  taxonomies/nutrients.txt
Labels: taxonomies, ingredients, additives, categories, labels

#6577 fix: Add explicit labels (using: for & id) to input fields
  templates/web/common/includes/display_login_register.tt.html
  templates/web/pages/change_password/change_password.tt.html
  templates/web/pages/login_form/login.tt.html
  templates/web/pages/reset_password/reset_password.tt.html
Labels: Template::Toolkit

#6581 chore: BG Additions
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
Labels: taxonomies, ingredients, labels

#6555 docs: Add README to avoid overwritten contribs
  po/README.md
Labels: translations

#6583 chore: Jaffa cakes
  taxonomies/categories.txt
Labels: taxonomies, categories

#6554 chore: mv unused taxonomies to /taxonomies/unused/
  taxonomies/states_en.txt
  taxonomies/unused/allergensCheck.txt
  taxonomies/unused/brands.txt
  taxonomies/unused/categories.wip.txt
  taxonomies/unused/compliant.txt
  taxonomies/unused/eu_establishments_sections.txt
  taxonomies/unused/fao_zones.txt
  taxonomies/unused/labels_categories.txt
  taxonomies/unused/stores.txt
Labels: taxonomies

#6245 feat: integration test on import_csv
  .gitignore
  cpanfile
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Producers.pm
  lib/ProductOpener/Test.pm
  t/expected_test_results/import_csv_file/3270190128403.json
  t/export.t
  t/import_csv_file.t
  t/inputs/import_csv_file/lentils-1.jpg
  t/inputs/import_csv_file/lentils-2.jpg
  t/inputs/import_csv_file/lentils.jpg
  t/inputs/import_csv_file/test.columns_fields.json
  t/inputs/import_csv_file/test.xlsx
  t/inputs/import_csv_file/test.xlsx.csv
Labels: data import, tests, producers platform

#6599 ci: Ensure that Dependabot is not blocked
  .github/dependabot.yml
Labels: github_actions

#6595 ci: PR autoadd to GitHub projects
  .github/workflows/github-projects.yml
Labels: github_actions

#6600 fix: Give priority to ingredients over category to estimate fruits/vegetable content for Nutri-Score
  lib/ProductOpener/Food.pm
  t/expected_test_results/nutriscore/en-orange-juice-category-and-ingredients.json
  t/expected_test_results/nutriscore/en-orange-juice-category.json
  t/nutriscore.t
Labels: tests, Food.pm

#6614 fix: more precise estimate of ingredients percents min and max
  lib/ProductOpener/Ingredients.pm
  t/ingredients_percent.t
Labels: ingredients, tests

#6545 ci: enforce translation checks on PRs
  .github/workflows/translation-check.yml
Labels: github_actions

#6616 fix: check for user creation spam
  lib/ProductOpener/Users.pm
  scripts/delete_spam_users.pl
Labels: Users

#6594 feat: Agena3000 integration
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Products.pm
  po/common/common.pot
  po/common/en.po
  scripts/agena3000/run_agena3000_import.sh
  templates/web/pages/product/product_page.tt.html
Labels: data import, images, producers platform, Template::Toolkit, translations, Display, Products

#6547 chore(main): release 1.2.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#6624 chore: BG Additions
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies

#6626 fix: Dutch inspired additions
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
  taxonomies/nutrients.txt
  taxonomies/packaging_shapes.txt
Labels: taxonomies, ingredients, additives, categories, packaging, labels

#6636 fix: "Dry" not being recognized as a processing type
  t/ingredients_processing.t
  taxonomies/ingredients_processing.txt
Labels: taxonomies, tests

#6641 ci: do not run add to gh on forked pr
  .github/workflows/github-projects.yml
Labels: github_actions

#6642 ci: run crowdin every night
  .github/workflows/crowdin.yml
Labels: github_actions

#6637 fix: Add check for the definition of $user_ref->{org}
  cgi/user.pl
  po/common/common.pot
  po/common/en.po
  templates/web/pages/user_form/user_form_page.tt.html
Labels: Template::Toolkit, translations

#6623 chore(main): release 1.2.1
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#6630 feat: add support for 2 GS1 quantityContained field in nutrientDetail
  lib/ProductOpener/GS1.pm
  t/expected_test_results/import_gs1/agena3000_andros.off.json
  t/expected_test_results/import_gs1/agena3000_aoste.off.json
Labels: tests, producers platform, GS1

#6660 chore: Bulgarian additions
  taxonomies/additives_classes.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies

#6649 feat: structure Graviera in taxonomy
  taxonomies/categories.txt
Labels: taxonomies, categories

#6682 fix: unlocalized knowledge panel string for Smoothie
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/environment/carbon_footprint.tt.json
Labels: knowledge-panels, Template::Toolkit, translations

#6673 build: fix translation checks
  .github/workflows/translation-check.yml
  Dockerfile
  Makefile
  scripts/check-translations.sh
Labels: github_actions

#6699 fix: non ambiguous translation for palm oil content unknown
  taxonomies/ingredients_analysis.txt
Labels: taxonomies

#6681 fix: Dutch adds
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/nutrients.txt
  taxonomies/packaging_materials.txt
Labels: taxonomies, ingredients, additives, categories, packaging

#6707 fix: options for gulp-svgmin/svgo icons #6706
  gulpfile.js
  icons/svgo.config.js
Labels: icons

#6701 feat: add link to learn more about nutriscore + ecoscore
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/environment/ecoscore/ecoscore.tt.json
  templates/api/knowledge-panels/health/nutriscore/nutriscore.tt.json
Labels: knowledge-panels, Template::Toolkit, translations

#6631 fix: limit usernames to 20 characters
  lib/ProductOpener/Users.pm
  po/common/common.pot
  po/common/en.po
  templates/web/pages/user_form/user_form_page.tt.html
Labels: Template::Toolkit, translations, Users

#6711 ci: Send design-related issues to openfoodfacts-design
  .github/workflows/github-projects-for-openfoodfacts-design.yml
Labels: github_actions

#6710 ci: autoassign PRs
  .github/workflows/auto-assign-pr.yml
Labels: github_actions

#6569 fix: Ingredient parsing improvement for additives
  t/expected_test_results/ingredients/en-emulsifier-synonyms.json
  t/ingredients.t
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
Labels: ingredients analysis
