Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-06, with the labels that each got.

#6840 build: speed up build actions
  .github/workflows/pull_request.yml
  Makefile
  docker/dev.yml
Labels: docker, github_actions

#6841 chore: sel non iodé
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#6839 fix: ingredients and nutrition should have titles
  icons/ingredients.svg
  icons/nutrition.svg
  lib/ProductOpener/KnowledgePanels.pm
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/health/ingredients/ingredients.tt.json
  templates/api/knowledge-panels/health/nutrition/nutrition_facts_table.tt.json
Labels: knowledge-panels, Template::Toolkit, translations, icons

#6849 meat and fish spreads
  taxonomies/categories.txt
Labels: taxonomies, categories

#6844 feat: add explanation with category in the Nutri-Score and Eco-Score knowledge panels when not applicable
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/KnowledgePanels.pm
  lib/ProductOpener/Lang.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  t/ecoscore.t
  t/expected_test_results/ecoscore/exempted-category-sodas.json
  t/expected_test_results/nutriscore/en-beers-category.json
  t/nutriscore.t
  templates/api/knowledge-panels/environment/ecoscore/ecoscore_not_applicable.tt.json
Labels: tests, knowledge-panels, Food.pm, Template::Toolkit, translations, Display, Attributes, Knowledge panels, lang

#6855 Add classe en:coagulant to E509 and E511
  taxonomies/additives.txt
Labels: taxonomies, additives

#6851 fix: prefer real user userid to app uuid
  lib/ProductOpener/Products.pm
  t/products.t
Labels: tests, Products

#6801 chore(main): release 1.5.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#6867 fix: add back nutrition facts table title in knowledge panel
  templates/api/knowledge-panels/health/nutrition/nutrition_facts_table.tt.json
Labels: knowledge-panels, Template::Toolkit

#6870 chore: Sweet corn
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#6883 fix: use correct unit for nutrients expressed in IU or %DV
  lib/ProductOpener/Food.pm
  t/food.t
Labels: nutrients, tests, Food.pm

#6885 feat: new OFF logo
  html/favicon.ico
  html/images/favicon/OFF.svg
  html/images/favicon/android-chrome-144x144.png
  html/images/favicon/android-chrome-192x192.png
  html/images/favicon/android-chrome-36x36.png
  html/images/favicon/android-chrome-48x48.png
  html/images/favicon/android-chrome-512x512.png
  html/images/favicon/android-chrome-72x72.png
  html/images/favicon/android-chrome-96x96.png
  html/images/favicon/apple-touch-icon-114x114.png
  html/images/favicon/apple-touch-icon-120x120.png
  html/images/favicon/apple-touch-icon-144x144.png
  html/images/favicon/apple-touch-icon-152x152.png
  html/images/favicon/apple-touch-icon-180x180.png
  html/images/favicon/apple-touch-icon-57x57.png
  html/images/favicon/apple-touch-icon-60x60.png
  html/images/favicon/apple-touch-icon-72x72.png
  html/images/favicon/apple-touch-icon-76x76.png
  html/images/favicon/apple-touch-icon-precomposed.png
  html/images/favicon/apple-touch-icon.png
  html/images/favicon/browserconfig.xml
  html/images/favicon/favicon-16x16.png
  html/images/favicon/favicon-32x32.png
  html/images/favicon/favicon-96x96.png
  html/images/favicon/favicon.ico
  html/images/favicon/manifest.json
  html/images/favicon/mstile-144x144.png
  html/images/favicon/mstile-150x150.png
  html/images/favicon/mstile-310x150.png
  html/images/favicon/mstile-310x310.png
  html/images/favicon/mstile-70x70.png
  html/images/favicon/safari-pinned-tab.svg
  html/images/favicon/site.webmanifest
  lib/ProductOpener/Config_off.pm
  templates/web/common/site_layout.tt.html
Labels: design, Template::Toolkit

#6887 feat: suggest fuzzy + limit as a param
  cgi/suggest.pl
  lib/ProductOpener/Tags.pm
Labels: Tags

#6896 ci: commit prefixes for translation and taxonomy changes
  .github/workflows/crowdin-per-language.yml
  .github/workflows/crowdin.yml
  .github/workflows/release-please.yml
  .github/workflows/semantic-pr.yml
  CONTRIBUTING.md
Labels: github_actions

#6898 feat: redirect the press to new app blog post (nginx config)
  conf/nginx/sites-available/off
Labels: nginx

#6888 taxonomy: Arancini
  taxonomies/categories.txt
Labels: taxonomies, categories

#6873 chore(main): release 1.6.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#6890 fix: Invalid conversion
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
Labels: translations

#6906 fix: release please workflow missing a quote
  .github/workflows/release-please.yml
Labels: github_actions

#6910 fix: release please workflow pt.2
  .github/workflows/release-please.yml
Labels: github_actions

#6911 taxonomy: Minor change
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories

#6924 taxonomy: More minor changes to vegetarian / vegan categories
  taxonomies/categories.txt
Labels: taxonomies, categories

#6916 test: analyze_request unit tests
  t/display.t
Labels: tests

#6914 fix: $request_ref->{count} not used
  cgi/search.pl
  lib/ProductOpener/Display.pm
Labels: Display

#6905 feat: extend ingredients analysis panels with details and call for help
  icons/ingredients.svg
  icons/nutrition.svg
  icons/off-magnifying-glass.svg
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/KnowledgePanels.pm
  scss/_off.scss
  t/expected_test_results/forest_footprint/fr-ingredients-nested-matching-ingredient.json
  t/expected_test_results/forest_footprint/fr-ingredients-nested-matching-sub-ingredient.json
  t/expected_test_results/ingredients/en-ingredients-analysis-unknown-ingredients.json
  t/expected_test_results/ingredients/fr-label-and-multiple-origins.json
  t/expected_test_results/ingredients/fr-marmelade.json
  t/expected_test_results/ingredients/xx-single-letters.json
  t/expected_test_results/recipes/fr-margherita-pizzas.fr-margherita-pizza-2-compound-ingredients.json
  t/ingredients.t
  templates/api/knowledge-panels/health/health_card.tt.json
  templates/api/knowledge-panels/health/ingredients/ingredients_analysis_details.tt.json
  templates/api/knowledge-panels/health/ingredients/ingredients_analysis_help.tt.json
  templates/api/knowledge-panels/health/ingredients/ingredients_analysis_property.tt.json
  templates/api/knowledge-panels/health/ingredients/nova.tt.json
  templates/api/knowledge-panels/health/nutrition/nutrition_facts_table.tt.json
  templates/web/panels/panel.tt.html
Labels: ingredients, tests, knowledge-panels, css, Template::Toolkit, icons, Display

#6917 test: unit test for url_for_text
  lib/ProductOpener/Display.pm
  t/display.t
Labels: tests, Display

#6878 feat: Support for unit name normalization
  lib/ProductOpener/Food.pm
  t/food.t
  t/food_normalize_serving_size.t
Labels: tests, Food.pm

#6934 fix: invalid json
  templates/web/common/site_layout.tt.html
Labels: Template::Toolkit

#6930 test: display_preferences_api unit tests
  t/display.t
Labels: tests

#6918 chore: Bulgarian additions
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies

#6940 feat: "edible" should be recognized as a stop word
  t/tags.t
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, tests

#6939 fix: "refined wheat flour" and "maida" should be recognized as a type of flour
  t/ingredients_analysis.t
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories, tests

#6943 feat: deactivate physical activities equivalence panel
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanels.pm
Labels: knowledge-panels, Display, Knowledge panels, Knowledge panels - Health

#6938 refactor: display_form not used
  lib/ProductOpener/Display.pm
Labels: Display

#6954 refactor: remove capitalize_tag
  lib/ProductOpener/Tags.pm
Labels: Tags

#6953 refactor: remove canonicalize_saint
  lib/ProductOpener/Tags.pm
Labels: Tags

#6952 refactor: remove apply_global_params_to_all_products
  lib/ProductOpener/ImportConvert.pm
Labels: data import, producers platform

#6951 refactor: removing possibly redundant subs
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Orgs.pm
Labels: producers platform, Display, Orgs

#6949 fix: duplicate `sub product_url($)` in Products.pm
  lib/ProductOpener/Products.pm
Labels: Products

#6948 fix: display_structured_response syntax
  lib/ProductOpener/Display.pm
Labels: Display

#6958 fix: typo in release-please github action
  .github/workflows/release-please.yml
Labels: github_actions

#6955 fix: support for some common and popular US dairy ingredients
  t/ingredients_analysis.t
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories, tests

#6963 refactor: remove display_tags_list_orig
  lib/ProductOpener/Tags.pm
Labels: Tags

#6968 refactor: remove normalize_fr_a_de_enumeration
  lib/ProductOpener/Ingredients.pm
Labels: ingredients

#6967 fix: zh_CN, pt_PT and nl_NL
  po/common/nl_NL.po
  po/common/pt_PT.po
  po/common/zh_CN.po
Labels: translations

#6959 chore(main): release 1.7.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#6974 refactor: clean up redundant methods from `User.pm`
  lib/ProductOpener/Users.pm
Labels: Users

#6971 docs: create_password_hash documentation
  lib/ProductOpener/Users.pm
Labels: Users

#6979 taxonomy: Synonyms for cs
  taxonomies/additives.txt
Labels: taxonomies, additives

#6984 docs: add perl pod documentation to methods in `User.pm`
  lib/ProductOpener/Users.pm
Labels: Users
