Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-07, with the labels that each got.

#6950 taxonomy: Finnish products
  taxonomies/categories.txt
Labels: taxonomies, categories

#6996 refactor: display_image_form unused export
  lib/ProductOpener/Images.pm
Labels: images

#6990 refactor: removing unused export
  lib/ProductOpener/Orgs.pm
Labels: producers platform, Orgs

#6868 build: implementing ory kratos and ory hydra
  .env
  Ory/hydra/hydra.yml
  Ory/hydraauth.yml
  Ory/kratos/identity.schema.json
  Ory/kratos/kratos.yml
  Ory/kratosauth.yml
Labels: external auth service

#7000 refactor: remove remove_tags_except_links
  lib/ProductOpener/Text.pm
Labels: Text

#7002 taxonomy: Meat patties
  taxonomies/categories.txt
Labels: taxonomies, categories

#6994 refactor: remove add_users_team unused export
  lib/ProductOpener/Products.pm
Labels: Products

#6960 refactor: remove dims
  lib/ProductOpener/Images.pm
Labels: images

#7018 refactor: headers_ref unused variable
  lib/ProductOpener/Ecoscore.pm
Labels: ecoscore

#7017 refactor: process_image_form unused export
  lib/ProductOpener/Images.pm
Labels: images

#7015 refactor: init_languages unused export
  lib/ProductOpener/Lang.pm
Labels: lang

#7009 refactor: enable Perl signatures
  lib/ProductOpener/Nutriscore.pm
  lib/ProductOpener/PerlStandards.pm
Labels: nutriscore

#7007 refactor: add helper function to identify if a product bears a certain tag from a passed list
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Tags.pm
Labels: Display, Tags

#6998 refactor: remove kcal_to_unit
  lib/ProductOpener/Food.pm
Labels: Food.pm

#6995 feat: parse origins of ingredients field
  lib/ProductOpener/Ingredients.pm
  t/expected_test_results/ingredients/en-origin-field.json
  t/expected_test_results/ingredients/fr-origin-field.json
  t/ingredients.t
Labels: ingredients, tests

#6992 refactor: refactor repeated `delete` calls
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Products.pm
  t/products.t
Labels: ingredients, tests, Food.pm, Display, Products

#7004 refactor: refactor repeated code and add documentation
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Ingredients.pm
Labels: ingredients, Food.pm

#7027 refactor: replace perl "shift" prototype in `Recipes.pm`
  lib/ProductOpener/Recipes.pm
Labels: recipes

#6991 docs: add documentation for some methods in `user.pm` and `products.pm`
  lib/ProductOpener/Index.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Users.pm
Labels: Users, Products

#7034 refactor: replace perl shift prototype in `Users.pm`
  lib/ProductOpener/Users.pm
Labels: Users

#7033 refactor: replace perl "shift" prototype in `ProducersFood.pm`
  lib/ProductOpener/ProducersFood.pm
Labels: producers platform

#7025 refactor: replace perl "shift" prototype in `Display.pm`
  lib/ProductOpener/Display.pm
Labels: Display

#6962 feat: add perltidy
  .github/workflows/pull_request.yml
  .perltidy_excludes
  .perltidyrc
  Makefile
  cgi/search.pl
  cpanfile
Labels: github_actions

#7038 fix: better wording for adding a precise category
  po/common/common.pot
  po/common/en.po
Labels: translations

#7030 refactor: enable perl function signatures
  lib/ProductOpener/DataQuality.pm
  lib/ProductOpener/DataQualityCommon.pm
  lib/ProductOpener/DataQualityFood.pm
  lib/ProductOpener/FoodGroups.pm
  lib/ProductOpener/Mail.pm
  lib/ProductOpener/Numbers.pm
  lib/ProductOpener/Web.pm
Labels: data quality, Food groups, Web, Mail, Numbers

#7003 refactor: templatize display_search_image_form from 'Images.pm`
  lib/ProductOpener/Images.pm
  templates/web/common/includes/display_search_image_form.tt.html
Labels: images, Template::Toolkit

#4859 fix: Made changes in the readme file
  README.md
Labels: Stale

#7026 refactor: parse origins of ingredients field
  lib/ProductOpener/Ingredients.pm
  t/expected_test_results/ingredients/en-origin-field.json
Labels: ingredients, tests

#7035 taxonomy: Fixed paprika issue
  taxonomies/categories.txt
Labels: taxonomies, categories

#7058 fix: Initialization of state variables in list context currently forbidden (perl version < 5.28)
  lib/ProductOpener/Display.pm
Labels: Display

#7044 refactor: adding perltidy to t/lang.t
  .perltidy_excludes
  t/lang.t
Labels: tests

#7065 taxonomy: Corrections to cheeses
  taxonomies/categories.txt
Labels: taxonomies, categories

#7070 refactor: adding perltidy to files
  .perltidy_excludes
  t/dataquality.t
  t/dataqualityfood.t
  t/export.t
Labels: tests

#6980 feat: Nutrient levels knowledge panels with facts and recommendations
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanels.pm
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/health/health_card.tt.json
  templates/api/knowledge-panels/health/nutrition/nutrient_level.tt.json
  templates/web/pages/product/includes/nutrient_levels.tt.html
Labels: knowledge-panels, Template::Toolkit, translations, Display, Knowledge panels

#7072 fix: fix vitamin b1 thiamin %DV
  t/food.t
  taxonomies/nutrients.result.sto
  taxonomies/nutrients.result.txt
  taxonomies/nutrients.txt
Labels: taxonomies, tests

#7066 refactor: adding perltidy to files
  .perltidy_excludes
  .perltidyrc
  cgi/org.pl
  cgi/packaging.pl
  cgi/product_image.pl
Labels: packaging

#6913 refactor: comments and small refactor in build_taxonomy
  Makefile
  lib/ProductOpener/Tags.pm
  t/tags_unit.t
  taxonomies/Makefile
Labels: taxonomies, tests, Tags

#7097 fix: explicit return statements in `Ingredients.pm`
  lib/ProductOpener/Ingredients.pm
Labels: ingredients

#7081 taxonomy: "Nature & Progrès" is not biodynamic
  taxonomies/labels.txt
Labels: taxonomies, labels

#7080 taxonomy: de:braune Linsen
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7092 chore: Update user_new_pro_account.tt.txt
  templates/emails/user_new_pro_account.tt.txt
Labels: Template::Toolkit

#7088 chore: Update user_new_pro_account_org_request_validated.tt.txt
  templates/emails/user_new_pro_account_org_request_validated.tt.txt
Labels: Template::Toolkit

#7086 fix: explicit return statements in `Attributes.pm`
  lib/ProductOpener/Attributes.pm
Labels: Attributes

#7069 refactor: adding perltidy to files
  .perltidy_excludes
  .perltidyrc
  tests/unit/additives.t
  tests/unit/additives_tags.t
  tests/unit/allergens_tags.t
Labels: tests, merge-conflicts

#7103 fix: explicit return statements in `ForestFootprint.pm`
  lib/ProductOpener/ForestFootprint.pm
Labels: forest footprint

#7099 fix: columns synonyms for Packtic import
  lib/ProductOpener/Producers.pm
Labels: producers platform

#7090 chore: Update user_new_pro_account_admin_notification.tt.html
  templates/emails/user_new_pro_account_admin_notification.tt.html
Labels: Template::Toolkit

#7114 refactor: require grep and map blocks
  .perlcriticrc
  lib/ProductOpener/Tags.pm
Labels: Tags

#7112 ci:improve tmpl output
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: github_actions

#7115 fix: `Ingredients.pm` reused variables
  lib/ProductOpener/Ingredients.pm
Labels: ingredients

#7106 refactor: create a request object to replace global variables
  cgi/auth.pl
  cgi/change_password.pl
  cgi/css.pl
  cgi/display.pl
  cgi/export_products.pl
  cgi/generate_sample_import_file.pl
  cgi/import_file_job_status.pl
  cgi/import_file_process.pl
  cgi/import_file_select_format.pl
  cgi/import_file_upload.pl
  cgi/import_photos_upload.pl
  cgi/import_products_categories_from_public_database.pl
  cgi/ingredients.pl
  cgi/login.pl
  cgi/manifest.pl
  cgi/minion_job_status.pl
  cgi/nutrients.pl
  cgi/nutrition.pl
  cgi/opensearch.pl
  cgi/org.pl
  cgi/packaging.pl
  cgi/product_image.pl
  cgi/product_image_crop.pl
  cgi/product_image_move.pl
  cgi/product_image_rotate.pl
  cgi/product_image_unselect.pl
  cgi/product_image_upload.pl
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  cgi/recent_changes.pl
  cgi/remove_products.pl
  cgi/reset_password.pl
  cgi/reset_password_for_user.pl
  cgi/search.pl
  cgi/session.pl
  cgi/spellcheck_test.pl
  cgi/suggest.pl
  cgi/test_ingredients_analysis.pl
  cgi/top_translators.pl
  cgi/translate_taxonomy.pl
  cgi/user.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Users.pm
  scripts/reset_password_for_user.pl
  scripts/test_taxonomies.pl
Labels: packaging, Display, Users

#7108 chore: add construct url sub for tests
  lib/ProductOpener/APITest.pm
  tests/integration/create_user.t
Labels: tests

#7134 fix: Spelling correction
  lib/ProductOpener/Data.pm
  lib/ProductOpener/DataQualityFood.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/I18N.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Nutriscore.pm
  lib/ProductOpener/Products.pm
Labels: nutriscore, data quality, images, Display, Products

#7136 fix: fixes redirects
  cgi/css.pl
  cgi/display.pl
  lib/ProductOpener/Display.pm
Labels: Display

#7131 fix: use normalized ids for untaxonomized ingredients and specific ingredients
  lib/ProductOpener/Ingredients.pm
  tests/unit/expected_test_results/ingredients/en-ingredients-analysis-unknown-ingredients.json
  tests/unit/expected_test_results/ingredients/en-origin-field-with-not-taxonomized-entries.json
  tests/unit/expected_test_results/ingredients/en-origins-u.json
  tests/unit/expected_test_results/ingredients/en-vegetal-ingredients.json
  tests/unit/expected_test_results/ingredients/fr-label-and-multiple-origins.json
  tests/unit/expected_test_results/ingredients/fr-marmelade.json
  tests/unit/expected_test_results/ingredients/fr-origin-field.json
  tests/unit/expected_test_results/ingredients/fr-specific-ingredients.json
  tests/unit/expected_test_results/ingredients/xx-single-letters.json
  tests/unit/expected_test_results/nutriscore/fr-gaspacho.json
  tests/unit/expected_test_results/nutriscore/mushrooms.json
  tests/unit/expected_test_results/recipes/fr-margherita-pizzas.fr-margherita-pizza-2-compound-ingredients.json
  tests/unit/expected_test_results/recipes/nectars.guava-nectar.json
  tests/unit/ingredients.t
  tests/unit/ingredients_nesting.t
  tests/unit/ingredients_processing.t
  tests/unit/ingredients_tags.t
  tests/update_tests_results.sh
Labels: ingredients, tests

#7133 docs: repl and docker dev
  docs/explanations/pro-dev-setup.md
  docs/how-to-guides/docker-developer-guide.md
  docs/how-to-guides/use-repl.md
  docs/introduction/dev-environment-quick-start-guide.md
Labels: documentation

#6982 taxonomy: BG Additions
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies

#7141 fix: spelling correction
  lib/ProductOpener/Ecoscore.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/FoodGroups.pm
  lib/ProductOpener/ForestFootprint.pm
  lib/ProductOpener/GS1.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/KnowledgePanels.pm
  lib/ProductOpener/MainCountries.pm
  lib/ProductOpener/Packaging.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Recipes.pm
  lib/ProductOpener/Test.pm
  lib/ProductOpener/Users.pm
Labels: ingredients, packaging, data import, knowledge-panels, producers platform, Food.pm, ecoscore, forest footprint, recipes, GS1, Food groups, Users, Products, MainCountries

#6977 chore(main): release 1.8.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#7151 refactor: reused variables in Ingredients.pm
  lib/ProductOpener/Ingredients.pm
Labels: ingredients

#7150 refactor: Prohibit mixed boolean operators policy
  .perlcriticrc
  lib/ProductOpener/KnowledgePanels.pm
Labels: knowledge-panels

#7147 fix: Fix typos in the Folksonomy JS code
  html/js/folksonomy.js
Labels: folksonomy project

#7149 fix: set cookie when redirecting
  cgi/css.pl
  lib/ProductOpener/Display.pm
Labels: Display
