Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-10, with the labels that each got.

#7421 docs: fix nested lists and some links
  .github/workflows/generate-doc.yml
  README.md
  mkdocs.yml
  scripts/build_mkdocs.sh
Labels: github_actions

#7170 test: add search integration test for the Open Food Facts API
  Makefile
  lib/ProductOpener/APITest.pm
  lib/ProductOpener/TestDefaults.pm
  tests/integration/expected_test_results/search_test/q1.json
  tests/integration/expected_test_results/search_test/q2.json
  tests/integration/expected_test_results/search_test/q3.json
  tests/integration/expected_test_results/search_test/q4.json
  tests/integration/search_test.t
Labels: API, search, tests

#7435 taxonomy: Bulgarian additions
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/packaging_shapes.txt
Labels: taxonomies, ingredients, additives, categories, packaging

#7431 taxonomy: added ingredients for some old products in hr
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/countries.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
  taxonomies/minerals.txt
  taxonomies/packaging_shapes.txt
Labels: taxonomies, ingredients, additives, categories, packaging, labels

#7428 taxonomy: added some missing countries in HR
  taxonomies/countries.txt
Labels: taxonomies

#7406 docs: start of documentation and schema for knowledge panels
  docs/introduction/knowledge-panels.md
  docs/reference/schemas/knowledge_panels/elements/element.yaml
  docs/reference/schemas/knowledge_panels/elements/panel_element.yaml
  docs/reference/schemas/knowledge_panels/elements/panel_group_element.yaml
  docs/reference/schemas/knowledge_panels/elements/table_element.yaml
  docs/reference/schemas/knowledge_panels/elements/text_element.yaml
  docs/reference/schemas/knowledge_panels/elements/title_element.yaml
  docs/reference/schemas/knowledge_panels/panel.yaml
  docs/reference/schemas/knowledge_panels/panels.yaml
Labels: documentation

#7438 feat: add Totano to ingredients taxonomy
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7441 taxonomy: Fi and de ingredients
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7321 fix: Label parenting
  taxonomies/labels.txt
Labels: taxonomies, labels

#7281 taxonomy: Added some Dutch synonyms and translations
  taxonomies/old/containers.txt
  taxonomies/old/materials.txt
  taxonomies/old/packagings.txt
  taxonomies/old/recycling_bins.txt
  taxonomies/old/recycling_instructions.txt
  taxonomies/packaging_shapes.txt
  taxonomies/unused/labels_categories.txt
  taxonomies/unused/stores.txt
Labels: taxonomies, translations

#7454 chore: Extruded crispbread
  taxonomies/categories.txt
Labels: taxonomies, categories

#7459 taxonomy: added some ingredients in hr
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: taxonomies, ingredients, additives, labels

#7455 feat: API to login and get user username, name and email
  cgi/auth.pl
  lib/ProductOpener/Display.pm
Labels: Display

#7466 fix: put footer at the bottom of the page + sign-in button on product page
  html/js/stikelem.js
  scss/_off.scss
  templates/web/common/site_layout.tt.html
Labels: css, Template::Toolkit

#7467 fix: more responsive donate banner
  templates/web/common/includes/donate_banner.tt.html
Labels: Template::Toolkit

#7460 taxonomy: added materials name in hr
  taxonomies/packaging_materials.txt
Labels: taxonomies, packaging

#7456 taxonomy: improve category taxonomy
  taxonomies/categories.txt
Labels: taxonomies, categories, taxonomy translation

#7471 fix: add body parameter to auth.pl
  cgi/auth.pl
Labels: API, api auth

#7479 fix: add language in product edit form
  html/js/product-multilingual.js
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: bug, multingual products, Template::Toolkit, new design

#7481 fix: icon font
  scss/_product-page.scss
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: bug, css, Template::Toolkit, new design

#7487 fix: Redesign fixes - product edit cancel button, creative commons link, product silhouette
  html/js/product-search.js
  templates/web/pages/product/product_page.tt.html
  templates/web/pages/product_edit/product_edit_form_display.tt.html
  templates/web/panels/panel.tt.html
Labels: Template::Toolkit, new design

#7440 chore: Taxonomy change requests week 40
  html/images/lang/en/labels/mk-kosher-en.151x151.png
  html/images/lang/en/labels/true-source-certified.143x116.jpeg
  taxonomies/ingredients.txt
  taxonomies/labels.txt
Labels: taxonomies, ingredients, labels

#7524 fix: display front image first in product edit form
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: Template::Toolkit, new design

#7515 docs: point people to new design issues
  README.md
Labels: documentation, new design

#7529 taxonomy: added some hr entries for packaging
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.txt
Labels: taxonomies, packaging

#7527 ci: Labeler on templates to help with fixing the redesign
  .github/labeler.yml
Labels: github_actions, devops

#7532 fix: add Public Sans font + fix logos in donate banner
  templates/web/common/includes/donate_banner.tt.html
  templates/web/common/site_layout.tt.html
Labels: Template::Toolkit

#7444 docs: Introduction to the Open Food Facts API
  docs/introduction/api.md
  docs/reference/API_TODO.md
Labels: documentation

#7531 fix: add link to add product in menu
  cgi/product_multilingual.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Web.pm
  templates/web/common/includes/display_product_search_or_add.tt.html
  templates/web/common/includes/display_product_search_or_add_producer.tt.html
  templates/web/common/includes/display_search_image_form.tt.html
  templates/web/common/site_layout.tt.html
Labels: search, images, product history, Template::Toolkit, Display, Web

#7543 taxonomy: add ingredients in hr
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/packaging_recycling.txt
Labels: taxonomies, ingredients, additives, categories, packaging, labels

#7537 fix: host fonts locally
  html/fonts/material-icons-v139.ttf
  html/fonts/material-icons-v139.woff2
  html/fonts/public-sans-v14-vietnamese_latin-ext_latin-regular.eot
  html/fonts/public-sans-v14-vietnamese_latin-ext_latin-regular.svg
  html/fonts/public-sans-v14-vietnamese_latin-ext_latin-regular.ttf
  html/fonts/public-sans-v14-vietnamese_latin-ext_latin-regular.woff
  html/fonts/public-sans-v14-vietnamese_latin-ext_latin-regular.woff2
  scss/_off.scss
  templates/web/common/site_layout.tt.html
Labels: product history, css, Template::Toolkit

#3639 chore: Tablette chocolat noir
  taxonomies/categories.txt
Labels: taxonomies, categories

#7540 fix: default redis url to empty and handle reconnects
  .env
  cpanfile
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Redis.pm
Labels: Products

#7557 ci: More auto-labelling
  .github/labeler.yml
Labels: github_actions

#7572 docs: Add PR prefix to the checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github_actions

#7535 chore: Taxonomy change requests week 41
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories

#7570 feat: more fields in CSV (issue 2325)
  html/data/data-fields.md
  html/data/data-fields.txt
  lib/ProductOpener/Config_off.pm
  scripts/export_database.pl
Labels: config, exports

#7575 build: add a mongo volume in dev !
  cpanfile
  docker/dev.yml
Labels: docker

#7576 fix: text_type renamed to type
  templates/api/knowledge-panels/environment/carbon_footprint.tt.json
  templates/api/knowledge-panels/environment/ecoscore/agribalyse.tt.json
  templates/api/knowledge-panels/environment/ecoscore/ecoscore_extended.tt.json
Labels: knowledge-panels, Template::Toolkit, ecoscore, agribalyse

#7541 fix: remove old carbon footprint fields
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Ingredients.pm
  scripts/update_all_products.pl
Labels: ingredients, Food.pm, Display, update all products, multilingual products

#7542 taxonomy: added some non food products categories in HR
  taxonomies/categories.txt
Labels: taxonomies, categories

#7579 taxonomy: add croatian entries
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/minerals.txt
  taxonomies/nutrients.txt
Labels: taxonomies, ingredients, additives, categories, labels

#7578 taxonomy: Kefir yogurts
  taxonomies/categories.txt
Labels: taxonomies, categories

#7567 docs: API tutorial (initial version)
  docs/tutorials/using-the-OFF-API-tutorial.md
Labels: documentation

#7484 chore(main): release 2.1.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#7457 build: make mail log
  .env
  conf/apache.conf
  docker-compose.yml
  lib/ProductOpener/Config2_docker.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Mail.pm
Labels: merge-conflicts, Mail, config

#7526 doc: add code pointers to the issue template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: github_actions

#7593 taxonomy: add croatian
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/minerals.txt
  taxonomies/nutrients.txt
  taxonomies/origins.txt
  taxonomies/vitamins.txt
Labels: taxonomies, ingredients, additives, nutrients, labels, vitamins, processing, origins

#7606 test: fix display.t after DateTime::Locale new version
  tests/unit/display.t
Labels: tests, unit tests

#7591 taxonomy: Bulgarian additions
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories, merge-conflicts, bulgaria

#7599 fix: Removed duplicate question mark
  templates/web/pages/product_edit/product_edit_form_display_user-moderator.tt.html
Labels: Template::Toolkit

#7597 ci: fixes for labeler
  .github/labeler.yml
Labels: github_actions

#7594 taxonomy: puffed cereal cakes edit
  taxonomies/categories.txt
Labels: taxonomies, categories

#7619 fix: generated new package-lock.json to make builds work
  Makefile
  package-lock.json
Labels: dependancies

#7615 feat: Add newsletter link (#7588)
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  templates/web/common/site_layout.tt.html
Labels: product history, Template::Toolkit, translations

#7607 taxonomy: add some catalan ingredients
  taxonomies/additives.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/minerals.txt
Labels: taxonomies, ingredients, additives, catalan

#7605 fix: Issues running some make tasks on windows Fixes #7604
  docs/introduction/dev-environment-quick-start-guide.md
Labels: documentation

#7623 chore: fix capitalisation issue
  templates/web/pages/user_profile/user_profile.tt.html
Labels: Template::Toolkit, Users

#7617 taxonomy: hr ingredients
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: taxonomies, ingredients, additives, labels

#7536 taxonomy: remove duplicate (and wrong translation)
  taxonomies/categories.txt
Labels: taxonomies, categories

#7627 ci: add the tagline for the smoothie app in the labeler
  .github/labeler.yml
Labels: github_actions

#7636 ci: labeler for Open Beauty Facts, Open Pet Food Facts and Open Products Facts
  .github/labeler.yml
Labels: open beauty facts, open pet food facts, Open Products Facts, github_actions

#7628 taxonomy: add descriptions and comments as taxonomy fields
  taxonomies/categories.txt
Labels: taxonomies, categories
