Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-09, with the labels that each got.

#7290 docs: Modification of the Dev environment quick start guide to ease install…
  docs/introduction/dev-environment-quick-start-guide.md
Labels: documentation

#7294 refactor: show more info in test logs
  tests/integration/search_test.t
Labels: tests

#7297 taxonomy: Bulgarian additions
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories

#7291 docs: warn about strings with an impact on tests
  po/common/common.pot
Labels: translations

#7326 taxonomy: fi ingredients
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7332 taxonomy: added some ingredients for crunchy almonds - spar in HR
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7341 taxonomy: Create generic categ Poulardes
  taxonomies/categories.txt
Labels: taxonomies, categories

#7342 taxonomy: ro ingredients
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7344 taxonomy: create Pâtisson (squash)
  taxonomies/categories.txt
Labels: taxonomies, categories

#7331 fix: prevent default mod_perl error message to be appended
  cgi/display.pl
  cgi/export_products.pl
  cgi/import_file_process.pl
  cgi/import_file_select_format.pl
  cgi/import_file_upload.pl
  cgi/import_photos_upload.pl
  cgi/import_products_categories_from_public_database.pl
  cgi/org.pl
  cgi/product_image.pl
  cgi/product_multilingual.pl
  cgi/remove_products.pl
  cgi/reset_password.pl
  cgi/search.pl
  cgi/user.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Users.pm
Labels: Display, Users

#7371 fix: minor repairs in the categories taxonomy
  taxonomies/categories.txt
Labels: taxonomies, categories

#7364 fix: ingredient parents
  taxonomies/ingredients.txt
  tests/unit/expected_test_results/ingredients/en-origins.json
  tests/unit/expected_test_results/ingredients/fr-origin-field.json
Labels: taxonomies, ingredients, tests

#7154 chore(main): release 1.9.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#7382 taxonomy: fix Pork ham escalope
  taxonomies/categories.txt
Labels: taxonomies, categories

#7372 ci: Test top issues action
  .github/workflows/top-issues.yml
Labels: github_actions

#7379 feat: robotoff anonymous questions
  .env
  docker/dev.yml
  templates/web/pages/product/product_page.tt.html
Labels: docker, Template::Toolkit

#7388 fix: Change the URL of the blog in the footer
  po/common/common.pot
  po/common/en.po
  po/openbeautyfacts/en.po
  po/openbeautyfacts/openbeautyfacts.pot
Labels: bug, open beauty facts, footer, translations

#7395 taxonomy: use Cooked Peppers as proxy for Frozen Peppers
  taxonomies/categories.txt
Labels: taxonomies, categories

#7392 fix: fix /ecoscore redirect
  conf/nginx/sites-available/off
Labels: nginx

#7396 taxonomy: rypsiöljy
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7376 fix: small changes in product files sent by Carrefour
  lib/ProductOpener/ImportConvertCarrefourFrance.pm
  tests/unit/expected_test_results/import_convert_carrefour_france/3184830063651.json
  tests/unit/expected_test_results/import_convert_carrefour_france/3560071083557.json
  tests/unit/expected_test_results/import_convert_carrefour_france/3560071083564.json
  tests/unit/inputs/import_convert_carrefour_france/1459_3184830063651_text.xml
  tests/unit/inputs/import_convert_carrefour_france/1459_3184830063651_valnut.xml
  tests/unit/inputs/import_convert_carrefour_france/1485_3560071083557_text.xml
  tests/unit/inputs/import_convert_carrefour_france/1485_3560071083557_valnut.xml
  tests/unit/inputs/import_convert_carrefour_france/1486_3560071083564_text.xml
  tests/unit/inputs/import_convert_carrefour_france/1486_3560071083564_valnut.xml
Labels: tests

#7402 taxonomy: added ingredients for Pipi and some beers in HR
  taxonomies/additives.txt
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
Labels: taxonomies

#7401 fix: changes needed for Lactalis Fromages import through Agena3000
  lib/ProductOpener/GS1.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/ImportConvert.pm
  templates/emails/import_csv_file_admin_notification.tt.html
  tests/integration/expected_test_results/import_csv_file/3270190128403.json
  tests/integration/expected_test_results/import_csv_file/stats.json
  tests/integration/inputs/import_csv_file/test.xlsx
  tests/integration/inputs/import_csv_file/test.xlsx.csv
  tests/unit/expected_test_results/import_gs1/agena3000_lactalis.json
  tests/unit/expected_test_results/import_gs1/agena3000_lactalis.off.gs1_confirmation.xml
  tests/unit/expected_test_results/import_gs1/agena3000_lactalis.off.json
Labels: data import, tests, producers platform, Template::Toolkit, GS1

#7398 feat: improved parsing of origins of ingredients
  docker/jslint.yml
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Packaging.pm
  lib/ProductOpener/Tags.pm
  package.json
  tests/integration/query.test.js
  tests/unit/additives_tags.t
  tests/unit/expected_test_results/ingredients/en-origin-field-with-commas-and.json
  tests/unit/expected_test_results/ingredients/en-origin-field-with-commas.json
  tests/unit/expected_test_results/ingredients/en-origin-ingredient-from-origin.json
  tests/unit/expected_test_results/ingredients/en-origin-ingredient-origin-and-origin.json
  tests/unit/expected_test_results/ingredients/en-vitamin.json
  tests/unit/expected_test_results/ingredients/fr-origin-field.json
  tests/unit/expected_test_results/ingredients/fr-origin-ingredient-origin-and-origin.json
  tests/unit/ingredients.t
  tests/unit/tags_unit.t
  tests/update_tests_results.sh
Labels: ingredients, packaging, tests, docker, Tags, dependancies

#7397 taxonomy: fix some unit test errors
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/minerals.txt
  taxonomies/nucleotides.txt
Labels: taxonomies

#7405 taxonomy: add Polish translations, fix some typos
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_analysis.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: merge-conflicts

#7408 fix: sso for wiki
  cgi/sso.pl
Labels: wiki

#7383 chore(main): release 1.10.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#7407 build: auto-generate docs on github pages
  .github/workflows/generate-doc.yml
  README.md
  docs/reference/perl-pod/.keep-empty
  docs/reference/perl.md
  html/files/doc/perl/simple.min.css
  mkdocs.yml
  scripts/generate_perl_html_doc_from_pod.pl
Labels: documentation, github_actions

#7417 taxonomy: added ingredients for ice-cream in HR
  taxonomies/additives.txt
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
  taxonomies/vitamins.txt
Labels: taxonomies, ingredients, additives

#7420 taxonomy: fix typos
  taxonomies/categories.txt
Labels: taxonomies, categories
