Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2022-11, with the labels that each got.

#7637 taxonomy: hr ingredients 2
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/vitamins.txt
Labels: taxonomies, ingredients, additives, labels

#7634 taxonomy: Konjac
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7633 taxonomy: add german synonym for annato in the additives taxonomy
  taxonomies/additives.txt
Labels: taxonomies, additives

#7630 fix: Donation page fr
  .github/labeler.yml
  html/donate/fr.helloasso.html
Labels: github_actions, donations

#7618 docs: update GetText doc
  .github/labeler.yml
  po/README.md
Labels: github_actions, translations

#7635 taxonomy: Chia puddings
  taxonomies/categories.txt
Labels: taxonomies, categories

#7645 docs: add open api documentation to index
  .github/workflows/generate-doc.yml
  README.md
  docs/reference/api.md
  mkdocs.yml
Labels: documentation, github_actions

#7625 chore: fix capitalisation issue
  po/common/common.pot
  po/common/en.po
Labels: translations

#7643 ci: any PR touching Ingredients.pm pertains to analysis
  .github/labeler.yml
Labels: github_actions

#7653 docs: small fixes
  docs/introduction/api.md
  docs/reference/api.yml
Labels: documentation

#7646 taxonomy: add polish translations for cereals
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7582 chore: Week 42 taxonomies updates
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  tests/integration/expected_test_results/export/0850032917148.json
  tests/integration/expected_test_results/export/3256220513173.json
  tests/integration/expected_test_results/export_more_fields/0850032917148.json
  tests/integration/expected_test_results/export_more_fields/3256220513173.json
  tests/unit/expected_test_results/import_convert_carrefour_france/8431876196009.json
Labels: taxonomies, ingredients, labels, tests

#7657 taxonomy: Add Swedish plural form of "dried"
  taxonomies/ingredients_processing.txt
Labels: taxonomies

#7640 docs: Write Nutri-Score data for a product
  docs/reference/api.yml
  docs/tutorials/using-the-OFF-API-tutorial.md
Labels: documentation

#7656 taxonomy: fi and ee translation
  taxonomies/origins.txt
Labels: taxonomies, origins

#7668 feat: Add taglines for the 2022 donation campaign
  html/files/app/tagline/tagline-off-ios.json
  html/files/tagline-off-android-v2.json
  html/files/tagline-off-ios-v2.json
  html/files/tagline-off.json
Labels: tagline, donations

#7670 fix: downgrade tagify to solve npm dependencies conflict
  cgi/user.pl
  package-lock.json
  package.json
Labels: Users, dependancies

#7672 style: Bunch of smallfixes of top-bar, Added back arrows mentioned in issue #7501.
  scss/_topbar.scss
  templates/web/common/site_layout.tt.html
Labels: product history, css, Template::Toolkit

#7678 ci: fix small typo that created a second dependencies label
  .github/labeler.yml
Labels: github_actions

#7677 fix: add Czech donation page
  conf/nginx/sites-available/off
Labels: nginx, donations

#7538 chore: Dutch packaging shape descriptions
  taxonomies/packaging_shapes.txt
  tests/unit/expected_test_results/packaging/packaging_text_nl_three_instructions.json
Labels: taxonomies, packaging, tests

#7680 taxonomy: hr ingredients 4
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies, ingredients, additives, allergens

#7682 ci: staging redis url
  .github/workflows/container-deploy.yml
  .github/workflows/daily.yml
  .github/workflows/mongo-deploy.yml
  lib/ProductOpener/Redis.pm
Labels: mongodb, github_actions

#7683 feat: check the specified energy matches energy computed from nutrients
  lib/ProductOpener/DataQualityFood.pm
  taxonomies/packaging.all.txt
  taxonomies/packaging_materials.result.sto
  taxonomies/packaging_shapes.result.sto
  taxonomies/packaging_shapes.result.txt
  tests/unit/dataqualityfood.t
Labels: taxonomies, packaging, data quality, tests

#7685 style: Fixed filter bar
  scss/_product-list.scss
  templates/web/common/includes/list_of_products.tt.html
Labels: product history, css, Template::Toolkit, Lists of products

#7691 chore: week 46 taxonomy work
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7690 chore: ingredients errors
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#7686 taxonomy: some Catalan and Spanish translations
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, additives

#7696 fix: do not preload Minion module
  lib/startup_apache2.pl
Labels: apache

#7676 chore: week 45 taxonomy updates
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: taxonomies, ingredients, categories, labels

#7687 taxonomy: Recycling instruction additions
  taxonomies/packaging_recycling.txt
Labels: taxonomies, packaging

#7701 fix: make command to install perl dev modules
  .env
  Dockerfile
  Makefile
  cpanfile
  docker/dev.yml
Labels: docker

#7700 fix: data quality alcoholic beverages category without alcohol value
  lib/ProductOpener/DataQualityFood.pm
Labels: data quality

#7674 docs: improvement to the Images API
  docs/reference/api.yml
  docs/reference/schemas/images/image.yaml
  docs/reference/schemas/images/properties/image_size.yaml
  docs/reference/schemas/images/selected_image.yaml
Labels: documentation

#7689 chore: Packaging translations and descriptions
  taxonomies/packaging_shapes.txt
  tests/unit/expected_test_results/ecoscore/packaging-fr-new-shapes.json
Labels: taxonomies, packaging, tests

#7560 taxonomy: Lithuanian category taxonomies
  .github/workflows/pull_request.yml
  taxonomies/categories.txt
Labels: taxonomies, categories, github_actions, lithuanian

#7711 fix: access knowledge panels via API
  lib/ProductOpener/API.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanels.pm
  tests/integration/api_v2_product_read.t
  tests/integration/api_v3_product_read.t
  tests/integration/expected_test_results/api_v2_product_read/get-attribute-groups-fr.json
  tests/integration/expected_test_results/api_v2_product_read/get-attribute-groups.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-attribute-groups-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-attribute-groups.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels.json
Labels: tests, knowledge-panels, Display, API v3

#7716 fix: increase the number of top issues to make it more useful
  .github/workflows/top-issues.yml
Labels: github_actions

#7717 fix: 2022-2023
  templates/web/common/includes/donate_banner.tt.html
  templates/web/common/includes/donate_banner_bottom.tt.html
Labels: Template::Toolkit, donations

#7712 ci: labeler update
  .github/labeler.yml
Labels: github_actions

#7714 ci: fix hdown for deployment
  .github/workflows/container-deploy.yml
  Makefile
  docker-compose.yml
  docker/prod.yml
Labels: docker, github_actions

#7596 chore(main): release 2.2.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#7729 taxonomy: hr ingredients 6
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, additives, allergens

#7723 fix: downgrade jquery-ui
  package-lock.json
  package.json
Labels: dependencies

#7736 build: deploy v3 documentation
  .github/workflows/generate-doc.yml
  docs/reference/api-v3.md
Labels: documentation, github_actions

#7737 ci: Build api v3 docs
  .github/workflows/generate-doc.yml
Labels: github_actions

#7728 taxonomy: remove duplicate Pizza dough
  taxonomies/categories.txt
Labels: taxonomies, categories

#7684 feat: Improve donation conversion by adding 💕
  html/files/app/tagline/tagline-off-ios.json
  html/files/tagline-off-android-v2.json
  html/files/tagline-off-ios-v2.json
  html/files/tagline-off.json
Labels: tagline, donations

#7702 docs: search for a product tutorial
  docs/tutorials/using-the-OFF-API-tutorial.md
Labels: documentation

#7742 feat: Hunger Games on Facets
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
  templates/web/common/site_layout.tt.html
Labels: product history, hunger games, Template::Toolkit, translations, Display

#7730 chore(main): release 2.3.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#7740 taxonomy: Bulgarian additions
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories

#7725 taxonomy: some Spanish and Catalan translations
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, additives, categories

#7724 taxonomy: week 48
  taxonomies/categories.txt
Labels: taxonomies, categories

#7719 fix: add UTM to the login page donation promo
  po/common/common.pot
  po/common/en.po
Labels: translations, donations

#7726 chore: buffalo camemberts fix
  taxonomies/categories.txt
  tests/integration/expected_test_results/export/5601009974337.json
  tests/integration/expected_test_results/export_more_fields/5601009974337.json
Labels: taxonomies, categories, tests

#7750 docs: improve docs navigation
  docs/.pages
  docs/introduction/.pages
  docs/introduction/knowledge-panels.md
  docs/reference/.pages
  mkdocs.yml
  scripts/build_mkdocs.sh
Labels: documentation

#7753 taxonomy: Junkets
  taxonomies/categories.txt
Labels: taxonomies, categories

#7758 fix: move photos/data to main language
  cgi/product_multilingual.pl
  templates/web/pages/product_edit/display_input_tabs.tt.html
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: editing, Template::Toolkit, multilingual products

#7752 docs: include sorting to search in open api
  docs/reference/api.yml
Labels: documentation

#7751 taxonomy: add "Prix Juste Producteur" label
  html/images/lang/fr/labels/prix-juste-producteur.90x90.png
  taxonomies/labels.txt
Labels: taxonomies, labels

#7770 feat: allow search v1 queries using /cgi/search.pl to ask for product results in v3 format (e.g. packagings)
  cgi/search.pl
  lib/ProductOpener/Display.pm
  tests/integration/expected_test_results/search_v1/search-fields-packagings-in-api-v3-format.json
  tests/integration/expected_test_results/search_v1/search-fields-packagings.json
  tests/integration/expected_test_results/search_v1/search-no-filter.json
  tests/integration/expected_test_results/search_v1/search-specific-barcodes.json
  tests/integration/expected_test_results/search_v1/search-tags-categories-without-ingredients-from-palm-oil.json
  tests/integration/expected_test_results/search_v1/search-without-ingredients-from-palm-oil.json
  tests/integration/search_test.t
  tests/integration/search_v1.t
Labels: tests, Display

#7772 fix: put back front image first in product edit form
  cgi/product_multilingual.pl
  templates/web/pages/product_edit/display_input_tabs.tt.html
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: editing, Template::Toolkit, multilingual products

#7774 fix: Data quality issues related to energy
  lib/ProductOpener/DataQualityFood.pm
Labels: data quality

#7775 feat: add packaging parts fields to import template
  cgi/generate_sample_import_file.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Producers.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
Labels: API, tests, knowledge-panels, producers platform, translations, multilingual products, config, integration tests

#7767 docs: remove excess examples from the open api
  docs/reference/api.yml
  docs/reference/requestBodies/add_or_edit_a_product.yaml
  docs/reference/responses/add_or_edit_a_product.yaml
Labels: documentation
