Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2023-06, with the labels that each got.

#8487 docs: fix wrong API doc URL
  docs/api/explain-knowledge-panels.md
Labels: documentation

#8498 ci: augment deploy timeout
  .github/workflows/container-deploy.yml
Labels: github_actions, infrastructure, preprod

#8507 labeling for nginx
  .github/labeler.yml
Labels: github_actions

#8499 chore: update conf/nginx.conf to match production nginx conf for off
  conf/nginx.conf
Labels: nginx

#8452 fix: Preventing Email Addresses as Entries in Fields
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/APIProductWrite.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Text.pm
  tests/unit/products.t
  tests/unit/text.t
Labels: tests, Products, Text, multilingual products, unit tests

#8431 chore: script to preprocess intermarche packaging excel file
  scripts/preprocess_intermarche_packaging_csv_file.pl
  stop_words.txt
Labels: packaging

#8500 fix: Hide the Classic Packaging Field in Edit Mode
  cgi/product_multilingual.pl
Labels: packaging, multilingual products

#8512 feat: Added Pros' Meet-Ups link in Menu
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  templates/web/common/producers_resources_list.tt.html
  templates/web/common/site_layout.tt.html
  templates/web/pages/session/signed_in.tt.html
Labels: product history, Template::Toolkit, translations, Users

#8521 taxonomy: Ro translations
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories

#8530 chore: taxonomy updates
  taxonomies/categories.txt
Labels: taxonomies, categories

#8474 build: ban_abusive_ip.pl script (taken from off1)
  scripts/ban_abusive_ip.pl
Labels: maintenance

#8491 taxonomy: Add Spanish/Catalan sugars for creatine products
  taxonomies/categories.txt
  taxonomies/nutrients.txt
Labels: taxonomies, categories

#8531 fix: remove warning in get_inherited_property_from_categories_tags
  lib/ProductOpener/DataQualityFood.pm
  lib/ProductOpener/Tags.pm
Labels: data quality, Tags

#8473 taxonomy: Added German variant of inositol
  taxonomies/nutrients.txt
  taxonomies/other_nutritional_substances.txt
Labels: taxonomies, nutrients, German

#8437 fix: Squashed commits of various fixes #8408, #8332, #8354, #6525, #3372
  po/common/common.pot
  po/common/en.po
  templates/web/common/producers_resources_list.tt.html
  templates/web/common/site_layout.tt.html
Labels: product history, merge-conflicts, Template::Toolkit, translations

#8547 docs: storing expected results of tests as JSON
  docs/dev/how-to-write-and-run-tests.md
Labels: documentation, :star: top pull request

#8550 taxonomy: add fi translation for Crossed Grain Trademark
  taxonomies/labels.txt
Labels: taxonomies, labels, gluten

#8511 feat: Able to view the list of users associated with an Organization
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Users.pm
  po/common/common.pot
  po/common/en.po
  scss/_off.scss
  templates/web/pages/org_profile/org_profile.tt.html
Labels: CSS, producers platform, Template::Toolkit, translations, Display, Users

#8557 fix: Build Taxonomies does not cache the full json files
  lib/ProductOpener/Tags.pm
Labels: Tags

#8548 feat: Allow users to delete their own accounts
  cgi/user.pl
  po/common/common.pot
  po/common/en.po
  templates/web/pages/user_form/user_form_page.tt.html
Labels: Template::Toolkit, translations, Users

#8380 chore: Update polish packager codes
  packager-codes/PL-merge-UTF-8.csv
Labels: packager codes, P1, Polish

#7907 feat: translations for Fruits estimates
  taxonomies/nutrients.txt
Labels: taxonomies, translations, Stale

#8404 fix: fix the template of the feature request form
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/story.md
  .github/ISSUE_TEMPLATE/task.md
Labels: github_actions

#8571 chore: Update and rename feature_request.yml to feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github_actions

#8570 chore: Rename bug_report.yml to bug_report.MD
  .github/ISSUE_TEMPLATE/bug_report.MD
Labels: github_actions

#8538 fix: Replace existing values with Producer Supplied Allergens and Traces values
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Import.pm
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006001.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006002.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006003.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006004.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006005.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006006.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006007.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/stats.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006001.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006002.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006003.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006004.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006005.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006006.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006007.json
  tests/integration/expected_test_results/import_csv_file/test/stats.json
  tests/integration/import_csv_file.t
  tests/integration/inputs/import_csv_file/replace_existing_values_1.csv
  tests/integration/inputs/import_csv_file/replace_existing_values_2.csv
Labels: data import, tests, producers platform, config, integration tests

#8572 feat: Added Tutorial Videos about Data-Import in Pro Platform
  templates/web/pages/import_file_upload/import_file_upload.tt.html
Labels: producers platform, Template::Toolkit

#8600 fix: Add back the "Remember me" checkbox
  templates/web/pages/session/sign_in_form.tt.html
Labels: html, Template::Toolkit, Users, login

#6799 feat: Add settings explanations
  po/common/common.pot
  po/common/en.po
Labels: P1, translations, Stale

#8561 feat: allow admins to specify a timeout for MongoDB queries
  lib/ProductOpener/Data.pm
  lib/ProductOpener/Display.pm
Labels: admin tools, Display

#8606 docs: Update API documentation
  docs/api/index.md
  docs/api/ref-cheatsheet.md
  docs/api/ref/requestBodies/crop_a_photo.yaml
  docs/api/tutorial-off-api.md
  docs/api/tutorial-uploading-photo-to-a-product.md
  docs/assets/api-rapidoc.html
Labels: documentation, API write, images

#8602 taxonomy: compound dairy creams
  taxonomies/categories.txt
Labels: taxonomies, categories

#8598 fix: "make import_prod_data" incorrect mapping on data folder
  Makefile
  docker/dev.yml
Labels: docker

#8586 chore: week 24 taxonomy edits
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies, ingredients, categories

#8607 ci: Autolabeler improvements for PIMs
  .github/labeler.yml
Labels: github_actions

#8584 feat: Add logo for label PME+
  html/images/lang/fr/labels/pme+.90x90.png
  taxonomies/labels.txt
Labels: taxonomies, labels

#8542 taxonomy: some ingredients for CIQUAL
  taxonomies/ingredients.txt
  tests/unit/expected_test_results/ingredients/fi-organic-label-part-of-ingredient.json
Labels: taxonomies, ingredients, tests

#8596 fix: remove source files in agena3000 sftp
  scripts/agena3000/run_agena3000_import.sh
Labels: producers platform, agena3000

#8517 taxonomy: Add CCPAE logo
  html/images/lang/en/labels/catalan-council-of-organic-production.173x280.svg
  html/images/lang/en/labels/catalan-council-of-organic-production.56x90.png
  taxonomies/labels.txt
Labels: taxonomies, labels, Spanish, catalan

#8614 feat: tagline for 2023 survey
  html/files/tagline-off-android-v2.json
  html/files/tagline-off-ios-v2.json
Labels: tagline

#8625 feat: add tagline for French and Fallback
  html/files/tagline-off-android-v2.json
  html/files/tagline-off-ios-v2.json
Labels: tagline

#8621 feat: activate Japanese ingredients processing
  lib/ProductOpener/Ingredients.pm
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  tests/unit/ingredients_processing.t
Labels: taxonomies, ingredients, tests, ingredients analysis, ingredients processing, japan

#8613 feat: Statistics for packagings materials by categories
  Makefile
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanelsTags.pm
  lib/ProductOpener/Packaging.pm
  lib/ProductOpener/PackagingStats.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  scripts/gen_packaging_stats.pl
  scripts/import_products_with_weights.sh
  templates/api/knowledge-panels/tags/categories/packagings_materials.tt.json
  templates/api/knowledge-panels/tags/root.tt.json
  templates/web/pages/tag/tag.tt.html
  tests/unit/expected_test_results/packaging_stats/add_product_materials_to_stats_1_glass.json
  tests/unit/expected_test_results/packaging_stats/add_product_materials_to_stats_1_glass_1_plastic.json
  tests/unit/expected_test_results/packaging_stats/compute_stats_for_all_materials_1_glass_1_plastic.json
  tests/unit/packaging_stats.t
Labels: packaging, product history, tests, knowledge-panels, Template::Toolkit, translations, Display

#8629 fix: compute ecoscore bonuses for all categories
  lib/ProductOpener/Ecoscore.pm
  tests/integration/expected_test_results/export_more_fields/export_more_fields.csv
  tests/integration/expected_test_results/export_more_fields/rows/25000044984.json
  tests/integration/expected_test_results/export_more_fields/rows/3770013801303.json
  tests/unit/expected_test_results/ecoscore/category-without-ecoscore-sodas.json
  tests/unit/expected_test_results/ecoscore/energy-drink.json
  tests/unit/expected_test_results/ecoscore/exempted-category-sodas.json
  tests/unit/expected_test_results/ecoscore/fresh-vegetable.json
Labels: tests, ecoscore
