Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2023-10, with the labels that each got.

#8854 feat: Added display message for normal users for protected images
  html/js/product-multilingual.js
  lib/ProductOpener/Images.pm
  po/common/common.pot
  po/common/en.po
Labels: multilingual products, images, javascript, translations

#9095 taxonomy: syn german weitere Schalenfrüchte
  taxonomies/allergens.txt
Labels: taxonomies, allergens, German

#9103 feat: add knowledge content to additive knowledge panels
  lang-default/fr/knowledge_panels/additives/en_e100_world.html
  lib/ProductOpener/KnowledgePanels.pm
  lib/ProductOpener/Tags.pm
  templates/api/knowledge-panels/health/ingredients/additive.tt.json
  tests/unit/tags.t
Labels: additives, tests, knowledge-panels, Template::Toolkit, Tags, Knowledge panels, unit tests

#9111 taxonomy: syn german Milcherzeugnissen
  taxonomies/allergens.txt
Labels: taxonomies, allergens

#9093 taxonomy: adding german stopword Landwirtschaft
  taxonomies/origins.txt
Labels: taxonomies, German, origins

#9124 taxonomy: finnish ingredients
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#9123 taxonomy: lentil soups correction
  taxonomies/categories.txt
Labels: taxonomies, categories

#8947 feat: Use openfoodfacts-query service for facet queries instead of product_tags collection
  .env
  .github/workflows/container-deploy.yml
  Makefile
  conf/apache.conf
  docker-compose.yml
  docker/dev.yml
  docs/dev/how-to-quick-start-guide.md
  lib/ProductOpener/Config2_docker.pm
  lib/ProductOpener/Config2_sample.pm
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Data.pm
  lib/ProductOpener/Display.pm
  scripts/refresh_postgres.pl
Labels: open beauty facts, documentation, open pet food facts, Open Products Facts, docker, github_actions, Display, config

#9117 fix: conversion from IU for prepared nutrients
  lib/ProductOpener/Food.pm
  tests/unit/food.t
Labels: tests, Food.pm, unit tests

#9102 fix: better count of fruits/vegetables/legumes for Nutri-Score
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Ingredients.pm
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  tests/integration/expected_test_results/convert_and_import_excel_file/test/products/3270190128403.json
  tests/integration/expected_test_results/export_more_fields/export_more_fields.csv
  tests/integration/expected_test_results/export_more_fields/rows/7804659650035.json
  tests/unit/expected_test_results/ingredients_contents/individual_ingredients.json
  tests/unit/expected_test_results/nutriscore/en-soy-beans-processed-and-unprocessed.json
  tests/unit/expected_test_results/nutriscore/en-tofu.json
  tests/unit/expected_test_results/nutriscore/en-vegetable-crisps.json
  tests/unit/ingredients_nutriscore.t
  tests/unit/nutriscore.t
Labels: taxonomies, ingredients, categories, tests, ingredients analysis, Food.pm, nutriscore

#9127 fix: add ingredients-original facet, start to split tagtype and taxonomy
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Tags.pm
  po/tags/en.po
  po/tags/tags.pot
  tests/integration/expected_test_results/page_crawler/get-robots-txt-ch-it.txt
  tests/integration/expected_test_results/page_crawler/get-robots-txt-fr-pro-platform.txt
  tests/integration/expected_test_results/page_crawler/get-robots-txt-fr.txt
  tests/integration/expected_test_results/page_crawler/get-robots-txt-world-pro-platform.txt
  tests/integration/expected_test_results/page_crawler/get-robots-txt-world.txt
Labels: tests, translations, Display, Tags

#9053 fix: cardify Folksonomy Engine
  html/js/folksonomy.js
Labels: javascript, folksonomy project

#9142 fix: exists_taxonomy_tag for ingredients_original tag type
  lib/ProductOpener/Tags.pm
Labels: Tags

#9141 fix: milk, dairy drinks and plant-based beverages Nutri-Score 2023
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/FoodGroups.pm
  tests/unit/expected_test_results/nutriscore/beverage-with-80-percent-milk.json
  tests/unit/expected_test_results/nutriscore/dairy-drink-with-80-percent-milk.json
  tests/unit/expected_test_results/nutriscore/en-milk.json
  tests/unit/expected_test_results/nutriscore/fr-plant-beverages-soy-milk.json
  tests/unit/expected_test_results/nutriscore/milk.json
  tests/unit/nutriscore.t
Labels: tests, Food.pm, Food groups, config, nutriscore

#9135 fix: arrow is not centered in Manage image button Fixes #7489
  scss/_product-page.scss
Labels: CSS

#9145 taxonomy: Add all prefectures of Japan
  taxonomies/origins.txt
Labels: taxonomies, origins, 🇯🇵 Japan

#9152 chore: week 39 upd tests
  tests/integration/expected_test_results/convert_and_import_excel_file/test/products/3270190128403.json
  tests/integration/expected_test_results/export/export.csv
  tests/integration/expected_test_results/export/rows/3270160503070.json
  tests/integration/expected_test_results/export/rows/9002355004345.json
  tests/integration/expected_test_results/export_more_fields/export_more_fields.csv
  tests/integration/expected_test_results/export_more_fields/rows/3270160503070.json
  tests/integration/expected_test_results/export_more_fields/rows/9002355004345.json
Labels: tests

#9153 taxonomy: add german synonyme aus biologischer Landwirtschaft
  taxonomies/labels.txt
Labels: taxonomies, labels

#9150 taxonomy: polish synonym orzeszki arachidowe
  taxonomies/allergens.txt
Labels: taxonomies, allergens

#9149 chore: week41 taxonomy changes
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories

#9128 feat: add_hr_develop_ingredients_categories_and_types
  lib/ProductOpener/Ingredients.pm
  stop_words.txt
  taxonomies/ingredients.txt
  tests/unit/ingredients_parsing.t
Labels: taxonomies, ingredients, tests, ingredients analysis

#9121 refactor: simplify Carrefour import for off2 migration
  lib/ProductOpener/Export.pm
  scripts/gen_feeds_daily_off.sh
  scripts/imports/agena3000/run_agena3000_import.sh
  scripts/imports/carrefour/Nomenclature_OpenFoodFacts.csv
  scripts/imports/carrefour/import_carrefour.sh
  scripts/imports/carrefour/run_carrefour_import.sh
  scripts/imports/equadis/run_equadis_import.sh
  scripts/imports/imports_utils.sh
  tests/integration/create_user.t
Labels: export, tests

#9163 taxonomy: few additions (cocoa, anis)
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8441 taxonomy: Update improvements.txt
  taxonomies/improvements.txt
Labels: taxonomies, product reformulation

#9097 fix: more spacing in edit preferences form
  html/js/product-preferences.js
  scss/_off.scss
Labels: javascript, CSS

#9148 taxonomy: Lithuanian ingredients + processing
  lib/ProductOpener/Ingredients.pm
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: taxonomies, ingredients, categories, labels, ingredients analysis

#9162 fix: fix madenearme scripts to load geo codes
  lib/ProductOpener/Display.pm
  tests/integration/madenearme.t
Labels: tests, Display

#9146 fix: small refactor of processing parsing
  lib/ProductOpener/Ingredients.pm
  stop_words.txt
  tests/unit/expected_test_results/ingredients/fr-marmelade.json
  tests/unit/expected_test_results/nutriscore/fr-ice-tea-with-sweetener.json
  tests/unit/ingredients_nesting.t
  tests/unit/ingredients_processing.t
  tests/unit/ingredients_tags.t
Labels: ingredients, tests, ingredients analysis, ingredients processing

#9089 refactor: make ingredients percent estimation available as a product service / microservice
  lib/ProductOpener/API.pm
  lib/ProductOpener/APIProductServices.pm
  lib/ProductOpener/Ingredients.pm
  stop_words.txt
  tests/integration/api_v3_product_services.t
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_services/echo-service-hazelnut-spread-fields.json
  tests/integration/expected_test_results/api_v3_product_services/echo-service-hazelnut-spread.json
  tests/integration/expected_test_results/api_v3_product_services/estimate-ingredients-percent-analyze-ingredients-services-hazelnut-spread.json
  tests/integration/expected_test_results/api_v3_product_services/estimate-ingredients-percent-service-hazelnut-spread-specific-fields.json
  tests/integration/expected_test_results/api_v3_product_services/estimate-ingredients-percent-service-hazelnut-spread.json
  tests/integration/expected_test_results/api_v3_product_services/service-no-body.json
  tests/integration/expected_test_results/api_v3_product_services/unknown-service.json
  tests/integration/expected_test_results/api_v3_product_write/patch-broken-json-body.json
  tests/integration/expected_test_results/api_v3_product_write/patch-request-fields-updated-attribute-groups-knowledge-panels.json
  tests/unit/ingredients_contents.t
  tests/unit/ingredients_nesting.t
  tests/unit/ingredients_parsing_todo.t
  tests/unit/ingredients_percent.t
  tests/unit/ingredients_processing.t
  tests/unit/nutrition_estimation.t
Labels: API, ingredients, tests, refactor, ingredients analysis, ingredients processing

#9181 taxonomy: Even more beer categories
  taxonomies/categories.txt
Labels: taxonomies, categories

#9194 chore: put back donation banner
  templates/web/common/site_layout.tt.html
Labels: product history, Template::Toolkit, 🎁 donations

#9122 fix: processing method in one of the two ingredients around 'and'
  lib/ProductOpener/Ingredients.pm
  stop_words.txt
  tests/unit/expected_test_results/ingredients/en-ing1-and-ing2-processing-parenthesis.json
  tests/unit/expected_test_results/ingredients/en-ing1-and-ing2-processing.json
  tests/unit/expected_test_results/ingredients/fr-marmelade.json
  tests/unit/expected_test_results/nutriscore/en-soy-beans-processed-and-unprocessed.json
  tests/unit/expected_test_results/nutriscore/fr-ice-tea-with-sweetener.json
  tests/unit/ingredients.t
  tests/unit/ingredients_nesting.t
  tests/unit/ingredients_processing.t
  tests/unit/ingredients_tags.t
Labels: ingredients, tests, ingredients analysis, ingredients processing

#9204 docs: fix rate limits
  docs/api/index.md
Labels: documentation

#9205 fix: don't display translation widget for non logged-in users
  templates/web/common/site_layout.tt.html
Labels: product history, Template::Toolkit

#8826 feat: enable user to edit their preferred language and the country they live in
  cgi/countries.pl
  cgi/user.pl
  lib/ProductOpener/TestDefaults.pm
  lib/ProductOpener/Users.pm
  lib/ProductOpener/Web.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  templates/web/pages/user_form/user_form_page.tt.html
  tests/integration/countries.t
  tests/integration/create_pro_user.t
  tests/integration/create_user.t
  tests/integration/expected_test_results/countries/list-countries-filtered-fr.json
  tests/integration/expected_test_results/countries/list-countries-french.json
  tests/integration/expected_test_results/countries/list-countries-world.json
  tests/integration/expected_test_results/create_pro_user/user-after-subscription.json
  tests/integration/modify_user.t
Labels: tests, Template::Toolkit, translations, Users, Web

#9196 fix: fixes for Labeler
  .github/labeler.yml
Labels: github_actions

#9201 taxonomy: add HR taxonomy
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/other_nutritional_substances.txt
  taxonomies/vitamins.txt
Labels: taxonomies, ingredients, additives, allergens, labels, ingredients analysis

#9199 taxonomy: label: quality product made in Latvia
  html/images/lang/lv/labels/kvalitativs-produkts-razots-latvija.123x90.png
  taxonomies/labels.txt
Labels: taxonomies, labels

#9197 fix: speed up Lang.pm initialization, save 2 seconds x 100 tests
  lib/ProductOpener/Lang.pm
  scripts/build_lang.pl
Labels: tests, devops, lang

#9211 chore: add cha-delh as admin
  lib/ProductOpener/Config_off.pm
Labels: config

#9210 fix: compute percent of vegetables for Nutri-Score after removing water for canned vegetables
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Ingredients.pm
  tests/unit/expected_test_results/nutriscore/fr-canned-green-beans.json
  tests/unit/expected_test_results/nutriscore/fr-coconut-milk.json
  tests/unit/expected_test_results/nutriscore/fr-green-beans-beverage.json
  tests/unit/ingredients_nutriscore.t
  tests/unit/nutriscore.t
Labels: ingredients, tests, ingredients analysis, Food.pm, Nutri-Score, nutriscore

#9172 chore: taxonomy week 42
  lib/ProductOpener/Ingredients.pm
Labels: ingredients, ingredients analysis

#9212 feat: support-2024
  html/files/tagline-off-android-v2.json
  html/files/tagline-off-ios-v2.json
  html/files/tagline-off.json
Labels: 🤳🥫 tagline, 🎁 donations

#9215 fix: % of fruits/vegetables for canned foods and Nutri-Score
  lib/ProductOpener/Ingredients.pm
  taxonomies/categories.txt
  tests/unit/expected_test_results/nutriscore/fr-canned-pineapple.json
  tests/unit/ingredients_nutriscore.t
  tests/unit/nutriscore.t
Labels: taxonomies, ingredients, categories, tests, ingredients analysis, Nutri-Score

#9228 feat: Use query service for obsolete queries
  .github/labeler.yml
  .github/workflows/daily.yml
  Dockerfile
  Makefile
  lib/ProductOpener/Data.pm
  lib/ProductOpener/Display.pm
  scripts/checkmongodb.pl
  scripts/refresh_products_tags.js
  tests/integration/unknown_tags.t
Labels: mongodb, tests, javascript, github_actions, obsolete products, Display
