Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2023-12, with the labels that each got.

#9445 taxonomy: fix missing parents
  taxonomies/categories.txt
Labels: 🧬 Taxonomies, categories

#9439 fix: ingredient additions to norwegian bokmål
  lib/ProductOpener/Ingredients.pm
Labels: 🇳🇴 Norway, ingredients analysis, 🥗 Ingredients

#9460 taxonomy: translations for Open Beauty Facts
  taxonomies.obf/categories.txt
Labels: 🧴 Open Beauty Facts

#9457 taxonomy: More Wikidata entries for amino acids
  taxonomies/amino_acids.txt
Labels: 🧬 Taxonomies

#9461 fix: dq_nutriscore_alert_and_category_rework
  lib/ProductOpener/DataQualityFood.pm
  tests/unit/dataqualityfood.t
Labels: 🧽 Data quality, 🧪 tests, 🧽 Data quality - Nutrition

#9467 feat: feat_japanese_nutrition_table
  lib/ProductOpener/Food.pm
  taxonomies/nutrients.txt
Labels: 🧬 Taxonomies, Nutrition facts, Food.pm, 🇯🇵 Japan

#9464 fix: dq_nutrition_rm_salt_under_01g
  lib/ProductOpener/DataQualityFood.pm
  taxonomies/data_quality.txt
  tests/integration/expected_test_results/api_v2_product_write/get-product-auth-good-password.json
  tests/integration/expected_test_results/api_v2_product_write/get-product.json
  tests/unit/dataqualityfood.t
Labels: 🧬 Taxonomies, 🧽 Data quality, 🧪 tests, 🧽 Quality facet, 🧽 Data quality - Nutrition

#9458 taxonomy: Translate 2 nutrients
  taxonomies/nutrients.txt
Labels: 🧬 Taxonomies

#9456 taxonomy: some translations for labels
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels

#9455 chore: expand translations for the producer platform
  taxonomies/improvements.txt
Labels: 🧬 Taxonomies, 🏭 Producers Platform, Producers - Product Enhancement Suggestions

#9224 feat: support percentage range
  lib/ProductOpener/Ingredients.pm
  tests/unit/expected_test_results/ingredients_percent/percentage-range.json
  tests/unit/ingredients_percent.t
Labels: 🥗 Ingredients, 🧪 tests, 🥗🔍 Ingredients analysis, ingredients, ingredients analysis, 🥗 Ingredients

#9475 taxonomy: Add ingredients in Spanish
  taxonomies/additives.txt
Labels: 🧬 Taxonomies, 🧪 additives

#9474 fix: move Intermarché / Les Mousquetaires import to producers platform
  lib/ProductOpener/Import.pm
  scripts/export_producers_platform_data_to_public_database.sh
  scripts/import_csv_file.pl
  scripts/imports/carrefour/images.rules
  scripts/imports/carrefour/run_carrefour_import.sh
  scripts/imports/imports_utils.sh
  scripts/imports/intermarche/run_intermarche_import.sh
Labels: Data import, 🏭 Producers Platform

#9435 fix: Fix agena 3000 path for the labeler
  .github/labeler.yml
Labels: GitHub Actions

#9483 fix: accented values for facets
  cgi/suggest.pl
  lib/ProductOpener/APITaxonomySuggestions.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Users.pm
  tests/integration/expected_test_results/facets/brand_-brand1.json
  tests/integration/expected_test_results/facets/brand_unknown.json
  tests/integration/expected_test_results/facets/category_-apples.json
  tests/integration/expected_test_results/facets/category_-apples_label_organic.json
  tests/integration/expected_test_results/facets/contributor-alice.json
  tests/integration/expected_test_results/facets/de-accented-cafe-label.json
  tests/integration/facets.t
  tests/unit/display.t
Labels: 🧪 tests, ✏️ Editing - Auto Suggest, Display, 👥 Users, 🧪 unit tests

#9478 taxonomy: add translations for Label categories
  taxonomies/unused/labels_categories.txt
Labels: 🧬 Taxonomies

#9488 taxonomy: various label translations
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels

#9490 taxonomy: translation of the Open Beauty Facts body part taxonomy
  taxonomies.obf/body_parts.txt
Labels: 🧴 Open Beauty Facts

#9491 taxonomy: OPFF Categories translation
  taxonomies.opff/categories.txt
Labels: 🐾 Open Pet Food Facts

#9479 taxonomy: add translations for shapes and materials
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.txt
Labels: 🧬 Taxonomies, 📦 Packaging

#9494 taxonomy: further translations for the improvements taxonomy for the producer platform
  taxonomies/improvements.txt
Labels: 🧬 Taxonomies

#9497 taxonomy: add some missing description to Data Quality
  taxonomies/data_quality.txt
Labels: 🧬 Taxonomies, 🧽 Data quality

#9489 fix: Slight improvements on modifiers parsing for Spanish in Food.pm
  lib/ProductOpener/Food.pm
Labels: Food.pm

#9466 taxonomy: tax_world_unknown_ingred_3
  lib/ProductOpener/Ingredients.pm
  taxonomies/ingredients.txt
Labels: 🧬 Taxonomies, ingredients analysis, 🥗 Ingredients

#9446 chore: taxonomy updates week 47
  taxonomies/categories.txt
  taxonomies/packaging_recycling.txt
  taxonomies/packaging_shapes.txt
Labels: 🧬 Taxonomies, categories, 📦 Packaging

#9499 taxonomy: Ingredient analysis translations
  taxonomies/ingredients_analysis.txt
Labels: 🧬 Taxonomies

#9498 fix: dq_sugar_plus_starch_greater_than_carbohydrates
  lib/ProductOpener/DataQualityFood.pm
  tests/unit/dataqualityfood.t
Labels: 🧽 Data quality, 🧪 tests, 🧽 Data quality - Nutrition

#9484 taxonomy: dq_serving_size_parsing_improvements
  lib/ProductOpener/Units.pm
  taxonomies/units.txt
Labels: 🧬 Taxonomies, 🧽 Data quality, Taxonomies

#9513 docs: OpenAPI nutrients enhancements
  docs/api/ref/schemas/product_hidden.yaml
  docs/api/ref/schemas/product_nutrition.yaml
Labels: 📚 Documentation

#9501 taxonomy: translations for ingredients_processing.txt
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies

#9492 taxonomy: translate NOVA groups more broadly
  taxonomies/nova_groups.txt
Labels: 🧬 Taxonomies

#9514 ci: fix grafana-annotation-action to avoid node deprecation
  .github/workflows/container-deploy.yml
Labels: GitHub Actions

#9448 taxonomy: spanish translations and one url
  taxonomies/labels.txt
  taxonomies/packaging_materials.txt
Labels: 🧬 Taxonomies, 📦 Packaging, labels, Spanish

#9476 taxonomy: Update ingredients parsing for Spanish and Catalan
  lib/ProductOpener/Ingredients.pm
Labels: ingredients analysis, 🥗 Ingredients

#9407 taxonomy: soy base
  taxonomies/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#9516 fix: fix small js error
  html/js/display-tag.js
Labels: JavaScript

#9517 fix: allow folksonomy engine on dietetary products
  html/js/folksonomy.js
  templates/web/pages/product/product_page.tt.html
Labels: Product Page, JavaScript, Template::Toolkit, 🏷️ Folksonomy Project

#9515 taxonomy: Remove redundant alias
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels

#9518 taxonomy: Bulgarian additions
  taxonomies/additives.txt
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/vitamins.txt
Labels: 🧬 Taxonomies, 🧪 additives, 🥜 Allergens, categories, labels, 🇧🇬 Bulgaria, 🥗 Ingredients

#9521 taxonomy: label Calidad Certificada Andalucia
  html/images/lang/es/labels/calidad-certificada-andalucia.90x90.png
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels

#9485 chore: added acidity to food.pm
  lib/ProductOpener/Food.pm
Labels: Food.pm

#9428 fix: use Redis streams instead of redis queue
  .env
  .github/workflows/container-deploy.yml
  Makefile
  cpanfile
  docker-compose.yml
  docker/dev.yml
  docker/prod.yml
  lib/ProductOpener/APITest.pm
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Redis.pm
  scripts/update_all_products.pl
  stop_words.txt
  tests/integration/add_update_to_redis.t
Labels: 🧴 Open Beauty Facts, 🐾 Open Pet Food Facts, 🧪 tests, 📸 Open Products Facts, 🐋 Docker, GitHub Actions, Products, update all products, config

#9482 taxonomy: Translation of Open Beauty Facts labels
  taxonomies.obf/labels.txt
Labels: 🧴 Open Beauty Facts

#9410 feat: dq_label_nutrient_levels
  lib/ProductOpener/DataQualityFood.pm
  lib/ProductOpener/Units.pm
  stop_words.txt
  taxonomies/data_quality.txt
  taxonomies/labels.txt
  tests/unit/dataqualityfood.t
  tests/unit/dataqualityfood_labels.t
Labels: 🧬 Taxonomies, Nutrients, labels, 🧽 Data quality, 🧪 tests, 🍬 Sugar, vitamins, 🧽 Data quality - Nutrition

#9529 taxonomy: some CIQUAL matches for popular ingredients
  taxonomies/ingredients.txt
Labels: 🧬 Taxonomies, CIQUAL, 🥗 Ingredients

#9530 taxonomy: Add (gym) protein nutrients
  taxonomies/nutrients.txt
Labels: 🧬 Taxonomies

#9543 taxonomy: german syn nuts
  taxonomies/allergens.txt
Labels: 🧬 Taxonomies, 🥜 Allergens

#9546 taxonomy: some Ingredient translations
  taxonomies/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#9542 taxonomy: german additions
  taxonomies/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#9550 taxonomy: stollen
  taxonomies/categories.txt
Labels: 🧬 Taxonomies, categories

#9549 taxonomy: more german allergens
  taxonomies/allergens.txt
Labels: 🧬 Taxonomies, 🥜 Allergens

#9551 taxonomy: change German label
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels

#9548 taxonomy: german syn iron gluconate
  taxonomies/additives.txt
Labels: 🧬 Taxonomies, 🧪 additives

#9544 chore: Re-enable devcontainers (experimental)
  .devcontainer/devcontainer.json
  docker/devcontainer.yml
  docker/vscode.yml
  docs/dev/how-to-quick-start-guide.md
Labels: 📚 Documentation, 🐋 Docker

#9552 taxonomy: add processing synonyms for Spanish
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies

#9524 chore: more taxonomy improvements
  taxonomies/categories.txt
  taxonomies/labels.txt
  taxonomies/packaging_recycling.txt
Labels: 🧬 Taxonomies, categories, 📦 Packaging, labels

#9459 chore: translation of labels
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels

#9526 chore: pates a tartiner
  taxonomies/categories.txt
Labels: 🧬 Taxonomies, categories

#9535 taxonomy: CIQUAL additions and fixes for ingredients
  taxonomies/ingredients.txt
  tests/integration/expected_test_results/api_v2_product_read/get-existing-product.json
  tests/unit/expected_test_results/ingredients/en-category-types.json
  tests/unit/expected_test_results/ingredients/en-ing1-and-ing2-processing.json
  tests/unit/expected_test_results/ingredients/en-kosher.json
  tests/unit/expected_test_results/ingredients/en-origin-field.json
  tests/unit/expected_test_results/ingredients/en-origins.json
  tests/unit/expected_test_results/ingredients/en-wheat-flour-organic-gluten-free.json
  tests/unit/expected_test_results/ingredients/fi-labels.json
  tests/unit/expected_test_results/ingredients/fi-origins.json
  tests/unit/expected_test_results/ingredients/fi-percents.json
  tests/unit/expected_test_results/ingredients/fr-labels.json
  tests/unit/expected_test_results/ingredients/fr-marmelade.json
  tests/unit/expected_test_results/ingredients/fr-origins-labels.json
  tests/unit/expected_test_results/ingredients/fr-percents.json
  tests/unit/expected_test_results/ingredients/fr-starred-label.json
  tests/unit/expected_test_results/ingredients/ja-slash.json
  tests/unit/expected_test_results/nutriscore/en-orange-juice-category-and-ingredients.json
  tests/unit/expected_test_results/nutriscore/fr-coconut-milk.json
  tests/unit/expected_test_results/nutriscore/fr-orange-nectar-0-fat.json
  tests/unit/expected_test_results/recipes/fr-margherita-pizzas.fr-margherita-pizza-2-compound-ingredients.json
  tests/unit/expected_test_results/recipes/nectars.impossible-ingredients.json
Labels: 🧬 Taxonomies, 🧪 tests, CIQUAL, 🥗 Ingredients

#9432 chore: Adding Intake24 category codes to the category taxonomy
  taxonomies/categories.txt
  tests/integration/expected_test_results/api_cgi_suggest/categories-string-fr-cafe-accent.json
  tests/integration/expected_test_results/api_cgi_suggest/categories-term-fr-cafe-accent.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/categories-string-fr-cafe-accent.json
Labels: 🧬 Taxonomies, categories, 🧪 tests, ✏️ Editing - Auto Suggest, Intake24

#9493 taxonomy: origin translations
  taxonomies/origins.txt
Labels: 🧬 Taxonomies, 📍 Origins

#9480 taxonomy: data quality translations
  taxonomies/data_quality.txt
Labels: 🧬 Taxonomies, 🧽 Data quality

#9536 fix: remove Intermarche file from sftp when we import them
  scripts/imports/carrefour/run_carrefour_import.sh
  scripts/imports/intermarche/run_intermarche_import.sh
  scripts/imports/producers_imports.sh
Labels: SFTP

#9559 taxonomy: typo in labels taxonomy fegg -> egg
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels

#9561 taxonomy: add new cream ingredient
  taxonomies/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#9560 fix: fix small taxonomy encoding issues
  taxonomies/data_quality.txt
  taxonomies/ingredients.txt
Labels: 🧬 Taxonomies, 🧽 Data quality, 🥗 Ingredients

#9565 fix: export_producers_platform_data_to_public_database.sh
  scripts/export_producers_platform_data_to_public_database.sh
Labels: 🏭 Producers Platform

#9567 taxonomy: vit. abbreviation for vitamins
  lib/ProductOpener/Ingredients.pm
  taxonomies/ingredients.txt
  taxonomies/vitamins.txt
Labels: 🧬 Taxonomies, ingredients analysis, 🥗 Ingredients

#9568 fix: parsing of (fr) huile de palme, noisettes
  lib/ProductOpener/Ingredients.pm
  tests/unit/ingredients_parsing.t
Labels: 🧪 tests, ingredients analysis, 🥗 Ingredients

#9180 taxonomy: finnish and swedish ingredients
  taxonomies/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients, 🇸🇪 Sweden, 🇫🇮 Finland, 🥗 Ingredients

#9569 fix: Repair fat placements
  lib/ProductOpener/Food.pm
Labels: Food.pm

#9570 feat: madenearme speedup
  Dockerfile
  cpanfile
  scripts/gen_feeds_daily_off.sh
  scripts/generate_madenearme_page.pl
  tests/integration/inputs/madenearme/openfoodfacts-products.jsonl.gz
  tests/integration/madenearme.t
Labels: 🗺️ Made Near Me, 🧪 tests

#9590 taxonomy: Bulgarian additions
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/units.txt
Labels: 🧬 Taxonomies, categories, 🥗 Ingredients

#9594 taxonomy: jp_allergens_1 (Combined)
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/minerals.txt
  taxonomies/vitamins.txt
  tests/integration/expected_test_results/api_v2_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-raw.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-ai-data-str.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-caret.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-data-uri.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-fnc1.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-gs.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-raw.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/protected_product/get-edited-protected-product-api-v2-moderator.json
  tests/integration/expected_test_results/protected_product/get-edited-protected-product-api-v2.json
  tests/integration/expected_test_results/protected_product/get-edited-protected-product-web-form-moderator.json
  tests/integration/expected_test_results/protected_product/get-edited-protected-product-web-form.json
  tests/integration/expected_test_results/protected_product/get-edited-unprotected-product-api-v2.json
  tests/integration/expected_test_results/protected_product/get-edited-unprotected-product-web-form.json
  tests/integration/expected_test_results/search_v1/search-no-filter.json
  tests/integration/expected_test_results/search_v1/search-tags-categories-without-ingredients-from-palm-oil.json
  tests/integration/expected_test_results/search_v1/search-without-ingredients-from-palm-oil.json
Labels: API, 🧬 Taxonomies, 🥜 Allergens, categories, 🧪 tests, 📖 Knowledge Panels, 🧪 integration tests, 🥗 Ingredients

#9525 chore: Variety packs translations
  taxonomies/categories.txt
Labels: 🧬 Taxonomies, categories

#9545 taxonomy: Labels
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels

#9591 taxonomy: Add Spanish and Catalan ingredients and labels
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/preservation.txt
Labels: 🧬 Taxonomies, 🧪 additives, categories, labels, ingredients analysis, 🥗 Ingredients

#9599 taxonomy: add cherry plum tomatoes to tomato
  taxonomies/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#9600 taxonomy: chutney
  taxonomies/categories.txt
Labels: 🧬 Taxonomies, categories

#9604 taxonomy: syn E336i
  taxonomies/additives.txt
Labels: 🧬 Taxonomies, 🧪 additives
