Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2023-04, with the labels that each got.

#8281 build: fix docker image build
  .dockerignore
  .github/workflows/container-deploy.yml
  docker-compose.yml
  docker/dev.yml
  docker/prod.yml
Labels: docker, github_actions

#8288 fix: fix icons and small glitch with nutrition image
  templates/web/pages/product_edit/product_edit_form_display.tt.html
  templates/web/pages/product_edit/product_edit_form_process.tt.html
Labels: editing, Template::Toolkit

#8284 taxonomy: Taxonomy hr 20230401
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
Labels: taxonomies, ingredients, categories, labels

#8268 taxonomy: Concentrate fruit juices
  taxonomies/categories.txt
Labels: taxonomies, categories

#8293 fix: remove z-index:-3 on nutrition photo
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: editing, Template::Toolkit

#8297 fix: avoid reference to missing panel in root card
  lib/ProductOpener/KnowledgePanels.pm
  lib/ProductOpener/KnowledgePanelsContribution.pm
  templates/api/knowledge-panels/root.tt.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_write/patch-request-fields-updated-attribute-groups-knowledge-panels.json
Labels: API, tests, knowledge-panels, Template::Toolkit, integration tests

#8303 taxonomy: added translation and labels found in hr
  html/images/lang/sv/labels/pant-1kr.61x90.png
  taxonomies/labels.txt
Labels: taxonomies, labels

#8299 taxonomy: Add labels to labels.txt
  html/images/lang/pl/labels/produkt-polski.152x90.png
  html/images/lang/pl/labels/produkt-polski.152x90.svg
  html/images/lang/pl/labels/znak-v.83x90.png
  html/images/lang/pl/labels/znak-v.83x90.svg
  taxonomies/labels.txt
Labels: taxonomies, labels

#8305 fix: Fix routing pages
  lib/ProductOpener/Routing.pm
  stop_words.txt
  tests/unit/routing.t
Labels: tests

#8307 fix: loosing the second facet at the end of the url on redirection
  lib/ProductOpener/Display.pm
  tests/unit/display.t
Labels: tests, Display, unit tests

#8318 fix: typo
  templates/api/knowledge-panels/recommendations/health/fr/spf_pulses.tt.json
Labels: knowledge-panels, Template::Toolkit

#8315 taxonomy: add demain-la-terre and sans-residus-de-pesticides-collectif-nouveaux-champs labels
  html/images/lang/fr/labels/demain-la-terre.90x90.png
  html/images/lang/fr/labels/sans-residus-de-pesticides-collectif-nouveaux-champs.77x90.png
  taxonomies/labels.txt
Labels: taxonomies, labels

#8312 taxonomy: added changes from laralem
  taxonomies/nutrients.txt
Labels: taxonomies

#8271 fix: Nutrition facts completed state is not computed properly
  lib/ProductOpener/Products.pm
  tests/integration/expected_test_results/api_v2_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-raw.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-raw.json
  tests/integration/expected_test_results/convert_and_import_excel_file/test/products/5270190128403.json
  tests/integration/expected_test_results/search_v1/search-no-filter.json
  tests/integration/expected_test_results/search_v1/search-tags-categories-without-ingredients-from-palm-oil.json
  tests/integration/expected_test_results/search_v1/search-without-ingredients-from-palm-oil.json
  tests/unit/products.t
Labels: tests, Products, unit tests

#7995 taxonomy: add new 2022 infotri system
  taxonomies/packaging_recycling.txt
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-recycling-fr-recy.json
Labels: taxonomies, packaging, tests

#8331 feat: Enable Polish ingredients processing + tests
  lib/ProductOpener/Ingredients.pm
  stop_words.txt
  taxonomies/ingredients.txt
  tests/unit/ingredients_processing.t
Labels: taxonomies, ingredients, tests, ingredients analysis, ingredients processing

#8341 docs: improve OpenAPI documentation about images
  docs/api/ref/requestBodies/add_photo_to_existing_product.yaml
  docs/api/ref/requestBodies/crop_a_photo.yaml
Labels: documentation, API write, openapi

#8342 fix: canonical url for /cgi/top_translators.pl
  cgi/top_translators.pl
Labels: gamification, translations

#8343 ci: Add a better Crowdin PR
  .github/workflows/crowdin.yml
Labels: github_actions

#8324 chore: cleaning up the potatoes category
  taxonomies/categories.txt
Labels: taxonomies, categories

#8356 taxonomy: copied pasted contribution from laralem
  taxonomies/labels.txt
Labels: taxonomies, labels

#8348 taxonomy: reapply changes from previous PR
  taxonomies/labels.txt
Labels: taxonomies, labels
