Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2023-08, with the labels that each got.

#8767 chore: added PP to Vitamin B3
  taxonomies/nutrients.txt
Labels: taxonomies

#8765 chore: disallow SeekportBot & Bingbot
  html/robots.txt
Labels: performance

#8662 feat: compute stats for the main material of the packaging
  docs/api/ref/api-v3.yml
  docs/api/ref/schemas/taxonomies/tagtype.yaml
  lib/ProductOpener/API.pm
  lib/ProductOpener/APITagRead.pm
  lib/ProductOpener/Ecoscore.pm
  lib/ProductOpener/Packaging.pm
  lib/ProductOpener/PackagingStats.pm
  lib/ProductOpener/Routing.pm
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/environment/packaging_materials.tt.json
  templates/api/knowledge-panels/tags/categories/packagings_materials.tt.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390017165.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390020745.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390020806.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390020998.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390021001.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390021469.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390021544.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390021568.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390021926.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390024781.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390024804.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390024842.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390024866.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390025399.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390025863.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390026044.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390026648.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/3250390026754.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006001.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006002.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006003.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006004.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006005.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006006.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/3003004006007.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006001.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006002.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006003.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006004.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006005.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006006.json
  tests/integration/expected_test_results/import_csv_file/test/2003004006007.json
  tests/unit/expected_test_results/packaging_stats/add_product_materials_to_stats_1_glass.json
  tests/unit/expected_test_results/packaging_stats/add_product_materials_to_stats_1_glass_1_plastic.json
  tests/unit/expected_test_results/packaging_stats/compute_stats_for_all_materials_1_glass_1_plastic.json
  tests/unit/packaging.t
  tests/unit/packaging_stats.t
Labels: API, packaging, documentation, tests, knowledge-panels, Template::Toolkit, ecoscore, translations, API v3

#8772 fix: disable facets knowledge panels for crawlers
  lib/ProductOpener/Display.pm
  templates/web/pages/tag/tag.tt.html
  tests/integration/facet_page_crawler.t
Labels: product history, tests, Template::Toolkit, Display

#8785 fix: redirect for donner-a-open-food-facts
  conf/nginx/snippets/off.locations-redirects.include
Labels: nginx

#8795 taxonomy: Add Japanese form variants for vitamins and additives
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/vitamins.txt
Labels: taxonomies, additives

#8796 taxonomy: correction Roscón de Reyes
  taxonomies/categories.txt
Labels: taxonomies, categories

#8768 taxonomy: Add ingredients in Catalan and Spanish
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, additives, categories

#8801 taxonomy: correction to mueslis
  taxonomies/categories.txt
Labels: taxonomies, categories

#8783 fix: illegal division by zero in percent estimation
  lib/ProductOpener/Ingredients.pm
  tests/unit/ingredients_percent.t
Labels: ingredients, tests, ingredients analysis

#8771 taxonomy: Taxonomy update (mostly Polish) - 2
  lib/ProductOpener/DataQualityFood.pm
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_analysis.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/nutrient_levels.txt
  taxonomies/nutrients.txt
  taxonomies/packaging_materials.txt
  taxonomies/states.txt
  taxonomies/vitamins.txt
  tests/unit/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field-multiple.json
  tests/unit/expected_test_results/ecoscore/origins-of-ingredients-in-origins-field.json
  tests/unit/expected_test_results/ecoscore/origins-of-ingredients-nested-2.json
  tests/unit/expected_test_results/ecoscore/origins-of-ingredients-not-specified.json
  tests/unit/expected_test_results/ecoscore/origins-of-ingredients-partly-specified.json
  tests/unit/expected_test_results/ecoscore/origins-of-ingredients-specified-multiple.json
  tests/unit/expected_test_results/ecoscore/origins-of-ingredients-specified.json
  tests/unit/expected_test_results/ingredients/en-origins.json
  tests/unit/expected_test_results/ingredients/fi-additives-percents.json
  tests/unit/expected_test_results/ingredients/fi-labels.json
  tests/unit/expected_test_results/ingredients/fi-origins.json
  tests/unit/expected_test_results/ingredients/fr-chocolate-cake.json
  tests/unit/expected_test_results/ingredients/fr-labels.json
  tests/unit/expected_test_results/ingredients/fr-marmelade.json
  tests/unit/expected_test_results/ingredients/fr-origins-labels.json
  tests/unit/expected_test_results/ingredients/fr-percents-origins.json
  tests/unit/expected_test_results/ingredients/fr-specific-ingredients.json
  tests/unit/expected_test_results/ingredients/fr-starred-label.json
  tests/unit/expected_test_results/ingredients/fr-truncated-puree.json
  tests/unit/expected_test_results/ingredients/ja-slash.json
  tests/unit/expected_test_results/nutriscore/en-orange-juice-category-and-ingredients.json
  tests/unit/expected_test_results/nutriscore/fr-gaspacho.json
  tests/unit/expected_test_results/recipes/nectars.impossible-ingredients.json
  tests/unit/expected_test_results/recipes/nectars.strawberry-nectar.json
  tests/unit/ingredients_parsing.t
  tests/unit/ingredients_processing.t
  tests/unit/tags.t
Labels: taxonomies, ingredients, additives, allergens, categories, packaging, labels, data quality, tests, ingredients analysis, unit tests, ingredients processing

#8766 test: adding a test that check if preferences edits made by an user are saved
  tests/integration/modify_user.t
Labels: tests

#8808 docs: fix OpenAPI product_extended.yaml
  docs/api/ref/schemas/product_extended.yaml
  docs/api/ref/schemas/product_nutrition.yaml
Labels: documentation

#8790 feat: Timeout before calling autocomplete
  .github/labeler.yml
  html/js/product-multilingual.js
Labels: performance, autosuggest, javascript, github_actions

#8811 fix: obsolete support in update_all_products.pl and export status fix on producers platform
  lib/ProductOpener/Import.pm
  scripts/update_all_products.pl
Labels: data import, producers platform, obsolete products, update all products

#8821 fix: enable large file upload for Open Pet Food Facts
  conf/nginx/sites-available/opff
Labels: open pet food facts

#8822 fix: enable large file upload for Open Beauty Facts
  conf/nginx/sites-available/obf
Labels: open beauty facts

#8809 fix: do not use 'and' translations from Crowdin for ingredient analysis
  cgi/test_ingredients_analysis.pl
  lib/ProductOpener/Ingredients.pm
  po/common/common.pot
  po/common/en.po
  templates/web/pages/test_ingredients/test_ingredients_analysis.tt.html
Labels: i18n, ingredients, ingredients analysis, Template::Toolkit, translations

#8831 chore: replace packagings banner with OFF days banner
  html/images/illustrations/you-are-invited.svg
  scss/_off.scss
  templates/web/common/includes/offdays_banner.tt.html
  templates/web/common/site_layout.tt.html
Labels: product history, CSS, Template::Toolkit

#8833 fix: remove legacy robotoff-proxy nginx config
  conf/nginx/sites-available/robotoff-proxy
Labels: nginx

#8817 docs: update how-to-use-repl.md
  docs/dev/how-to-use-repl.md
Labels: documentation

#8838 fix: add me,ry,sh,wa languages to taxonomy
  lib/ProductOpener/Lang.pm
  scripts/build_languages_taxonomy_from_wikidata.pl
  taxonomies/languages.txt
  taxonomies/nutrient_levels.txt
Labels: taxonomies, wikidata, lang

#8828 taxonomy: added ingredients in taxonomies
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8836 taxonomy: semi-complete flour
  taxonomies/ingredients.txt
  tests/unit/expected_test_results/ingredients/fr-semi.json
  tests/unit/ingredients.t
Labels: taxonomies, ingredients, tests

#8610 fix: Added Protection On Images for normal Users
  cgi/product_image_crop.pl
  cgi/product_image_unselect.pl
  cgi/product_image_upload.pl
  lib/ProductOpener/Images.pm
  tests/integration/expected_test_results/protected_images/get-protected-image.json
  tests/integration/expected_test_results/protected_images/post-protected-image.json
  tests/integration/expected_test_results/protected_images/post-select-protected-image.json
  tests/integration/inputs/upload_images/pulses-cereals.jpg
  tests/integration/protected_images.t
Labels: images, tests

#8829 taxonomy: eurocode 2 group 8.10 - leaf vegetables
  taxonomies/ingredients.txt
  tests/unit/expected_test_results/ecoscore/fr-viande-porcine-francaise.json
  tests/unit/expected_test_results/ingredients/fr-viande-porcine-francaise.json
Labels: taxonomies, ingredients, tests

#8718 taxonomy: new categories and Lithuanian translations
  taxonomies/categories.txt
Labels: taxonomies, categories

#8763 feat: Allowing Org Admins to Add/Invite Users
  cgi/org.pl
  lib/ProductOpener/Users.pm
  po/common/common.pot
  po/common/en.po
  templates/web/pages/org_form/org_form.tt.html
Labels: producers platform, Template::Toolkit, translations, Users

#8848 fix: Remove category
  scripts/update_all_products.pl
Labels: update all products

#8849 fix: simplify vegan/vegetarian ingredients analysis and merge 'ignore' and 'maybe'
  lib/ProductOpener/Ingredients.pm
  taxonomies/ingredients.txt
  tests/unit/expected_test_results/ingredients/ca-middle-dot.json
  tests/unit/expected_test_results/ingredients/ja-parenthesis.json
  tests/unit/expected_test_results/recipes/fr-margherita-pizzas.fr-margherita-pizza-2-compound-ingredients.json
Labels: taxonomies, ingredients, tests, ingredients analysis

#8850 chore: remove unused code/variable full_width
  cgi/org.pl
  cgi/product_image.pl
  cgi/search.pl
  cgi/spellcheck_test.pl
  cgi/test_ingredients_analysis.pl
  cgi/user.pl
  lib/ProductOpener/Display.pm
Labels: spellcheck, ingredients analysis, Display, Users

#8845 feat: show image uploader and upload time to all users
  lib/ProductOpener/Images.pm
Labels: images

#8859 fix: link to register for the OFF days
  templates/web/common/includes/offdays_banner.tt.html
Labels: Template::Toolkit

#8866 ci: emojification of the dashboard
  .github/workflows/top-issues.yml
Labels: github_actions

#8864 feat: add some US stores
  .github/labeler.yml
  taxonomies/unused/stores.txt
Labels: taxonomies, github_actions

#8867 ci: integrate codecov and tests run
  .github/workflows/codecov.yml
  .github/workflows/pull_request.yml
  .gitignore
  Makefile
Labels: github_actions

#8873 ci: run code coverage on each push on main
  .github/workflows/pull_request.yml
Labels: github_actions

#8869 taxonomy: eurocode for ingredients - brassicas, stalk vegetables, shoot vegetables
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8870 ci: add name and concurrency to the Merge Conflict script
  .github/workflows/merge-conflict-autolabel.yml
Labels: github_actions

#8874 taxonomy: Lithuanian labels logos
  html/images/lang/lt/labels/ekologinis-žemės-ūkis.125x90.png
  html/images/lang/lt/labels/lietuvos-metų-gaminys.173x90.png
  taxonomies/labels.txt
  tests/integration/expected_test_results/export_more_fields/export_more_fields.csv
  tests/integration/expected_test_results/export_more_fields/rows/3451790834080.json
  tests/integration/expected_test_results/protected_images/get-protected-image.json
  tests/integration/expected_test_results/protected_images/post-protected-image.json
  tests/integration/expected_test_results/protected_images/post-select-protected-image.json
Labels: taxonomies, labels, tests

#8843 taxonomy: Extend en taxonomy of subcategories of `en:Biscuit with a filled chocolate bar covering`
  taxonomies/categories.txt
Labels: taxonomies, categories

#8872 ci: Emojis for checks
  .github/workflows/daily.yml
  .github/workflows/pull_request.yml
  .github/workflows/stale.yml
  .github/workflows/translation-check.yml
Labels: github_actions

#8885 ci: More emojis for checks
  .github/workflows/auto-assign-pr.yml
  .github/workflows/generate-doc.yml
  .github/workflows/github-projects-ventilation.yml
  .github/workflows/label.yml
  .github/workflows/pull_request.yml
  .github/workflows/release-please.yml
  .github/workflows/semantic-pr.yml
Labels: github_actions

#8777 taxonomy: spices and sauces updates
  taxonomies/categories.txt
Labels: taxonomies, categories

#8898 taxonomy: Update polish taxonomy
  lib/ProductOpener/Ingredients.pm
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.txt
Labels: taxonomies, ingredients, allergens, categories, packaging, ingredients analysis

#8902 taxonomy: a few Lithuanian categories
  taxonomies/categories.txt
Labels: taxonomies, categories

#8912 taxonomy: adding some german translation for ingredients of More Protein Brownie
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8891 fix: xx: entries for ingredients matching
  lib/ProductOpener/Tags.pm
  tests/unit/tags.t
Labels: tests, Tags, unit tests

#8905 fix: conflict additives variants and and
  lib/ProductOpener/Ingredients.pm
  tests/unit/ingredients_parsing.t
Labels: ingredients, tests, ingredients analysis

#8896 fix: improve web crawler indexation blocking
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Routing.pm
  templates/web/pages/robots/robots.tt.txt
  tests/integration/expected_test_results/page_crawler/get-robots-txt-ch-it.txt
  tests/integration/expected_test_results/page_crawler/get-robots-txt-fr-pro-platform.txt
  tests/integration/expected_test_results/page_crawler/get-robots-txt-fr.txt
  tests/integration/expected_test_results/page_crawler/get-robots-txt-world-pro-platform.txt
  tests/integration/expected_test_results/page_crawler/get-robots-txt-world.txt
  tests/integration/page_crawler.t
Labels: tests, Template::Toolkit, Display

#8877 fix: Language specific fields not suffixed by a language should be in the language of the interface
  cgi/product_jqm_multilingual.pl
  tests/integration/api_v2_product_write.t
  tests/integration/expected_test_results/api_v2_product_write/get-product-ingredients-text-without-language.json
  tests/integration/expected_test_results/api_v2_product_write/post-product-ingredients-text-without-language.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/search_v1/search-fields-packagings-in-api-v3-format.json
  tests/integration/expected_test_results/search_v1/search-fields-packagings.json
  tests/integration/expected_test_results/search_v1/search-no-filter.json
  tests/integration/expected_test_results/search_v1/search-specific-barcodes.json
  tests/integration/expected_test_results/search_v1/search-tags-categories-without-ingredients-from-palm-oil.json
  tests/integration/expected_test_results/search_v1/search-without-ingredients-from-palm-oil.json
  tests/integration/search_v1.t
Labels: tests, multilingual products

#8893 taxonomy: more eurocodes for onion-family / tubers / root vegetables
  lib/ProductOpener/Ingredients.pm
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  tests/unit/expected_test_results/attributes/fr-palm-oil.json
  tests/unit/expected_test_results/ecoscore/carrots-plastic.json
  tests/unit/expected_test_results/ecoscore/carrots.json
  tests/unit/expected_test_results/ecoscore/frozen-vegetable.json
  tests/unit/expected_test_results/ecoscore/grade-a-with-non-recyclable-label.json
  tests/unit/expected_test_results/ecoscore/grade-a-with-recyclable-label.json
  tests/unit/expected_test_results/ingredients/es-percent-loop.json
  tests/unit/expected_test_results/ingredients/fi-do-not-match-myanmar.json
  tests/unit/expected_test_results/ingredients/fr-origin-ingredient-origin-and-origin.json
  tests/unit/expected_test_results/nutriscore/fr-gaspacho.json
  tests/unit/expected_test_results/nutriscore/fr-orange-nectar-0-fat.json
  tests/unit/expected_test_results/parse_origins_from_text/real-list-fr.json
  tests/unit/ingredients_processing.t
Labels: taxonomies, ingredients, nutriscore, tests, ingredients analysis, ingredients processing

#8910 taxonomy: add ingredients and processing
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies, ingredients

#8879 taxonomy: start of World Customs Organization Harmonized System properties for categories
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories, external taxonomies

#8883 docs: update the doc of makefile target with lint_perltidy
  docker/README.md
Labels: docker, Makefile

#8928 ci: fix release please to be more resilient
  .github/workflows/release-please.yml
Labels: github_actions

#8897 feat: parsing of ingredients with quantity in various units
  lib/ProductOpener/Ingredients.pm
  tests/integration/expected_test_results/api_v3_product_write/patch-ingredients-categories-to-get-nutriscore.json
  tests/unit/expected_test_results/ingredients/en-specific-ingredients.json
  tests/unit/expected_test_results/ingredients/fr-specific-ingredients.json
  tests/unit/expected_test_results/ingredients_percent/2-ingredients-with-max-percent.json
  tests/unit/expected_test_results/ingredients_percent/absolute-percent.json
  tests/unit/expected_test_results/ingredients_percent/chocolate-1-sub-ingredient.json
  tests/unit/expected_test_results/ingredients_percent/chocolate-2-sub-ingredients.json
  tests/unit/expected_test_results/ingredients_percent/chocolate-sub-sub-ingredients.json
  tests/unit/expected_test_results/ingredients_percent/flour-chocolate-egg.json
  tests/unit/expected_test_results/ingredients_percent/illegal-division-by-zero-bug-0-percent.json
  tests/unit/expected_test_results/ingredients_percent/impossible-values-infinte-loop-bug.json
  tests/unit/expected_test_results/ingredients_percent/impossible-values-sub-ingredients.json
  tests/unit/expected_test_results/ingredients_percent/ingredient-with-max-percent-but-lower-than-later-ingredients.json
  tests/unit/expected_test_results/ingredients_percent/ingredient-with-max-percent-but-sum-less-than-100-percent.json
  tests/unit/expected_test_results/ingredients_percent/ingredient-with-max-percent-from-parent-ingredient.json
  tests/unit/expected_test_results/ingredients_percent/ingredient-with-max-percent-is-first-ingredient.json
  tests/unit/expected_test_results/ingredients_percent/ingredient-with-max-percent.json
  tests/unit/expected_test_results/ingredients_percent/ingredients-in-different-quantities.json
  tests/unit/expected_test_results/ingredients_percent/ingredients-in-grams-with-1-ingredient-missing-a-quantity.json
  tests/unit/expected_test_results/ingredients_percent/ingredients-in-grams-with-sum-greater-than-100.json
  tests/unit/expected_test_results/ingredients_percent/ingredients-in-grams-with-sum-lesser-than-100-not-in-quantity-order.json
  tests/unit/expected_test_results/ingredients_percent/min-in-cumin-bug.json
  tests/unit/expected_test_results/ingredients_percent/minimum-percent.json
  tests/unit/expected_test_results/ingredients_percent/missing-percent-not-first-or-last.json
  tests/unit/expected_test_results/ingredients_percent/propagate-max-percent.json
  tests/unit/expected_test_results/ingredients_percent/relative-percent-with-different-percent-min-and-percent-max-on-parent.json
  tests/unit/expected_test_results/ingredients_percent/relative-percent-with-no-percent-on-parent.json
  tests/unit/expected_test_results/ingredients_percent/relative-percent.json
  tests/unit/expected_test_results/ingredients_percent/scale-percents-when-sum-greater-than-100.json
  tests/unit/expected_test_results/ingredients_percent/sugar-90-percent-milk.json
  tests/unit/expected_test_results/ingredients_percent/sugar-milk-10-percent-water.json
  tests/unit/expected_test_results/ingredients_percent/sugar-milk-10-percent.json
  tests/unit/expected_test_results/ingredients_percent/sugar-milk-water.json
  tests/unit/expected_test_results/ingredients_percent/sugar-milk.json
  tests/unit/expected_test_results/ingredients_percent/sugar-water-milk-10-percent.json
  tests/unit/expected_test_results/ingredients_percent/sugar.json
  tests/unit/ingredients.t
  tests/unit/ingredients_percent.t
Labels: ingredients, tests, ingredients analysis

#8861 feat: add the blogpost with the new features
  html/files/tagline-off-android-v2.json
Labels: 🤳🥫 tagline, tagline

#8723 test: adding an integration test for the account deletion feature
  Makefile
  cgi/import_file_job_status.pl
  cgi/import_file_process.pl
  cgi/import_products_categories_from_public_database.pl
  cgi/minion_job_status.pl
  lib/ProductOpener/APITest.pm
  lib/ProductOpener/Producers.pm
  lib/startup_apache2.pl
  tests/integration/delete_user.t
Labels: tests, apache, producers platform, account deletion, file import
