Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2023-03, with the labels that each got.

#8149 fix: changing orgs for pro moderators
  cgi/user.pl
  lib/ProductOpener/Users.pm
  scripts/snippets/remove_broken_entry_with_empty_email.pl
Labels: Users

#8146 chore: Apple juices category improvements
  taxonomies/categories.txt
  tests/integration/expected_test_results/export/0850032917148.json
  tests/integration/expected_test_results/export_more_fields/0850032917148.json
Labels: taxonomies, categories, tests

#8161 taxonomy: Update ingredients in Catalan and Spanish
  taxonomies/additives.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, additives

#8155 taxonomy: added povratna naknada label and its image
  html/images/lang/hr/labels/povratna-naknada.99x90.png
  taxonomies/labels.txt
Labels: taxonomies, labels, logos

#8151 taxonomy: issue 7312/7313/7314/7316
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, categories

#8144 taxonomy: add :de: alias for Creme Fraiche without the accents
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8141 taxonomy: Prepared meat cuts substitutes
  taxonomies/categories.txt
Labels: taxonomies, categories

#8165 fix: link to import photos
  templates/web/common/includes/producers_platform_front_page.tt.html
Labels: Template::Toolkit

#8153 fix: removed underline of links in attribute cards
  scss/_off.scss
Labels: css

#8166 taxonomy: Changes to juices
  taxonomies/categories.txt
Labels: taxonomies, categories

#8157 chore: Week 9 additions
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
  taxonomies/nutrients.txt
  tests/unit/expected_test_results/ingredients/fr-marmelade.json
Labels: taxonomies, ingredients, additives, categories, labels, tests, merge-conflicts

#8169 fix: mongodb index for countries_tags + created_t
  conf/mongodb/create_indexes.js
Labels: mongodb

#8175 fix: remove File::Fetch
  lib/ProductOpener/Tags.pm
Labels: Tags

#8177 docs: fix open api documentation
  .github/workflows/generate-doc.yml
  docs/reference/responses/get_product_by_barcode.yaml
Labels: documentation, github_actions

#8179 ci: fix build taxonomy in ci
  .github/workflows/pull_request.yml
Labels: github_actions

#8181 docs: simple index + add docs on test / docker
  docker/README.md
  docs/api/index.md
  docs/api/intro-robotoff.md
  docs/dev/how-to-write-and-run-tests.md
  docs/dev/index.md
  docs/dev/ref-docker-commands.md
  docs/dev/ref-perl.md
  docs/index.md
  scripts/build_mkdocs.sh
Labels: documentation, docker

#8174 test: match_ingredient_origin unit test
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Test.pm
  tests/unit/expected_test_results/parse_origins_from_text/empty.json
  tests/unit/expected_test_results/parse_origins_from_text/just-a-country.json
  tests/unit/expected_test_results/parse_origins_from_text/real-list-fr.json
  tests/unit/expected_test_results/parse_origins_from_text/rubish-entry.json
  tests/unit/expected_test_results/parse_origins_from_text/simple-extraction-en.json
  tests/unit/expected_test_results/parse_origins_from_text/simple-extraction-fr.json
  tests/unit/match_ingredient_origin.t
  tests/unit/parse_origins_from_text.t
Labels: ingredients, tests, ingredients analysis

#8150 taxonomy: add some missing Italian ingredients and additives alternative spellings
  taxonomies/additives.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, additives

#8184 refactor: break huge function
  lib/ProductOpener/Import.pm
Labels: data import, producers platform, refactor

#8192 fix: remove css rule hiding legit content on pages
  scss/_off.scss
Labels: bug, static content, css

#8196 fix: responsive-scroll-bar
  scss/_product-page.scss
Labels: css

#8195 fix: link to pro platform in edit product form
  lib/ProductOpener/Display.pm
Labels: Display

#8171 taxonomy: add some labels commonly found in Croatia
  html/images/lang/en/labels/get-the-facts-drink-wise.92x90.png
  html/images/lang/en/labels/metal-recycles-forever.89x90.png
  html/images/lang/fr/labels/eauscar.133x90.png
  html/images/lang/hr/labels/brasno-hrvatskih-polja.90x90.png
  html/images/lang/hr/labels/chief-rabbi-kotel-da-don.105x90.png
  html/images/lang/hr/labels/dokazana-kvaliteta.206x90.png
  html/images/lang/hr/labels/ekoloskog-proizvoda.91x90.png
  html/images/lang/hr/labels/hrvatski-otocni-proizvod.237x90.png
  html/images/lang/hr/labels/hrvtaska-kvaliteta.128x90.png
  html/images/lang/hr/labels/izvorno-hrvatsko.169x90.png
  html/images/lang/hr/labels/jaja-hrvatskih-farmi.90x90.png
  html/images/lang/hr/labels/kruh-hrvatskih-polja.90x90.png
  html/images/lang/hr/labels/med-hrvatskih-pcelinjaka.90x90.png
  html/images/lang/hr/labels/meso-hrvatskih-farmi-rodeno-i-uzgojeno-u-rh.90x90.png
  html/images/lang/hr/labels/meso-hrvatskih-farmi-uzgojeno-u-rh.90x90.png
  html/images/lang/hr/labels/mlijeko-hrvatskih-farmi.90x90.png
  html/images/lang/hr/labels/zivjeti-zdravo.122x90.png
  html/images/lang/hr/labels/zoi.90x90.png
  html/images/lang/hr/labels/zozp.90x90.png
  html/images/lang/hr/labels/zts.90x90.png
  html/images/lang/sv/pant-1kr.61x90.png
  taxonomies/labels.txt
Labels: taxonomies, labels, logos

#8215 taxonomy: update category taxonomy
  taxonomies/categories.txt
Labels: taxonomies, categories

#8203 fix: Unlocalized string on the pro platform #8194
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: editing, Product Page, Template::Toolkit

#8218 fix: support for accented language less taxonomy entries + images
  html/images/lang/sv/labels/ä-märket.141x90.png
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Tags.pm
  taxonomies/test.txt
  tests/unit/tags.t
Labels: taxonomies, tests, Tags, config, unit tests

#8223 fix: remove extra barcode in product edit form
  templates/web/pages/product_edit/product_edit_form.tt.html
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: editing, Template::Toolkit

#8219 fix: underline links in panel text
  scss/_off.scss
Labels: css

#8224 fix: open in Gitpod and mongo shell docs links should point to right resources
  docs/dev/how-to-develop-using-docker.md
  docs/dev/how-to-use-gitpod.md
Labels: documentation

#8222 fix: delete old logo of a-market
  html/images/lang/sv/labels/ä-märket.141x90.png
  html/images/lang/sv/labels/ä-märket.85x90.png
  tests/unit/tags.t
Labels: tests, unit tests

#8205 fix: Nutri Score Nutriments with an asterisk
  po/common/common.pot
  po/common/en.po
  scss/_off.scss
  taxonomies/nutrient_levels.txt
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: taxonomies, editing, css, Template::Toolkit, translations

#8178 chore: weekly taxonomy updates
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/labels.txt
  taxonomies/packaging_recycling.txt
  taxonomies/vitamins.txt
  tests/integration/api_v3_taxonomy_suggestions.t
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-shapes-categories-mango-nectars-beverages.json
Labels: taxonomies, ingredients, additives, categories, packaging, labels, tests

#8229 taxonomy: de syn E306
  taxonomies/additives.txt
Labels: taxonomies, additives

#8206 feat: Add Perl introductory resources to warm newbies about Perl #8204
  docs/dev/how-to-learn-perl.md
  docs/dev/how-to-quick-start-guide.md
  docs/dev/how-to-use-repl.md
Labels: documentation

#8237 docs: add documentation about unselecting photo
  docs/api/ref/api.yml
  docs/api/ref/requestBodies/unselect_a_photo.yaml
Labels: documentation, editing-images

#8235 taxonomy: Mortadella
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8239 taxonomy: fix naming hr + taxonomy for mairoluin
  html/images/lang/hr/labels/brašno-hrvatskih-polja.90x90.png
  html/images/lang/hr/labels/ekološkog-proizvoda.91x90.png
  html/images/lang/hr/labels/hrvatska-kvaliteta.128x90.png
  html/images/lang/hr/labels/hrvatski-otočni-proizvod.237x90.png
  html/images/lang/hr/labels/med-hrvatskih-pčelinjaka.90x90.png
  html/images/lang/hr/labels/meso-hrvatskih-farmi-rođeno-i-uzgojeno-u-rh.90x90.png
  html/images/lang/hr/labels/živjeti-zdravo.122x90.png
  taxonomies/ingredients.txt
  taxonomies/labels.txt
  taxonomies/origins.txt
Labels: taxonomies, ingredients, labels, origins

#8236 fix: Do not show the lilo prompt in countries where it's unsupported
  templates/web/pages/session/signed_in.tt.html
  templates/web/pages/user_form/user_form_page.tt.html
Labels: Template::Toolkit, Users

#8226 taxonomy: Fish preparations
  taxonomies/categories.txt
Labels: taxonomies, categories

#8190 feat: Match synonyms and xx: entries when computing taxonomy suggestions
  lib/ProductOpener/Cache.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Ecoscore.pm
  lib/ProductOpener/Index.pm
  lib/ProductOpener/Orgs.pm
  lib/ProductOpener/Tags.pm
  lib/ProductOpener/TaxonomySuggestions.pm
  lib/ProductOpener/Users.pm
  taxonomies/packaging_materials.txt
  taxonomies/test.txt
  tests/integration/api_v3_taxonomy_suggestions.t
  tests/integration/expected_test_results/api_cgi_suggest/categories-string-strawberry.json
  tests/integration/expected_test_results/api_cgi_suggest/categories-term-fr-frais.json
  tests/integration/expected_test_results/api_cgi_suggest/categories-term-fr-fraise.json
  tests/integration/expected_test_results/api_cgi_suggest/categories-term-strawberry.json
  tests/integration/expected_test_results/api_v3_product_write/patch-packagings-quantity-and-weight.json
  tests/integration/expected_test_results/api_v3_product_write/patch-packagings-weights-as-strings-with-units.json
  tests/integration/expected_test_results/api_v3_product_write/patch-packagings-weights-as-strings.json
  tests/integration/expected_test_results/api_v3_product_write/patch-properties-with-lc-name.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/categories-string-fr-frais.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/categories-string-fr-fraise.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/categories-string-strawberry.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/categories-term-strawberry.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-01.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-1-pet.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-1.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-cc-fr-categories-yaourt-shape-pot.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-cc-fr-shape-pot.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-cc-fr.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-pet-1.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-recycling-fr-recy.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-shapes-string-fr-po.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-shapes-string-po.json
  tests/integration/expected_test_results/export/5601009974337.json
  tests/integration/expected_test_results/export_more_fields/5601009974337.json
  tests/unit/expected_test_results/ecoscore/energy-drink.json
  tests/unit/expected_test_results/ecoscore/grade-a-with-recyclable-label.json
  tests/unit/expected_test_results/ecoscore/milk.json
  tests/unit/expected_test_results/ecoscore/packaging-en-pet-bottle.json
  tests/unit/expected_test_results/ecoscore/uk-milk.json
  tests/unit/expected_test_results/packaging/en-1-pet-plastic-bottle.json
  tests/unit/expected_test_results/packaging/fr-comma-inside-a-number.json
  tests/unit/expected_test_results/packaging/packaging_text_fr_bouteille_pet.json
  tests/unit/expected_test_results/packaging/packaging_text_fr_bouteille_plastique_pet.json
  tests/unit/expected_test_results/packaging/packaging_text_fr_line_feeds.json
  tests/unit/expected_test_results/packaging/packaging_text_fr_unknown_shape.json
  tests/unit/expected_test_results/packaging/packaging_text_nl_statiegeldfles.json
  tests/unit/tags.t
  tests/unit/taxonomy_suggestions.t
Labels: taxonomies, packaging, tests, autosuggest, producers platform, ecoscore, Display, Users, Tags, Orgs, unit tests

#8246 fix: re-canonicalize packaging component properties
  lib/ProductOpener/Packaging.pm
  tests/unit/packaging.t
Labels: packaging, tests

#8254 taxonomy: minor synonymes
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8014 chore: Descriptions and translations
  lib/ProductOpener/Tags.pm
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.txt
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-1.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-cc-fr-categories-yaourt-shape-pot.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-cc-fr-shape-pot.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials-cc-fr.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-materials.json
  tests/integration/expected_test_results/export/5601009974337.json
  tests/integration/expected_test_results/export_more_fields/5601009974337.json
  tests/unit/expected_test_results/packaging/packaging_text_en_biobased.json
  tests/unit/expected_test_results/packaging/packaging_text_fr_biosource.json
  tests/unit/expected_test_results/packaging/packaging_text_nl_blik_bij_restafval.json
  tests/unit/packaging.t
Labels: taxonomies, packaging, tests, Tags

#8267 taxonomy: Bulgarian additions
  taxonomies/allergens.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, allergens, categories

#8273 fix: docker YAML key mapping duplication
  docker/dev.yml
Labels: docker

#8269 build: make docs list formating better
  docker/README.md
  mkdocs.yml
  scripts/build_mkdocs.sh
Labels: docker

#8262 taxonomy: Apple juices
  taxonomies/categories.txt
Labels: taxonomies, categories

#8234 feat: replacing incron with a specific script
  Dockerfile
  Makefile
  conf/apache.conf
  cpanfile
  docker-compose.yml
  lib/ProductOpener/APITest.pm
  lib/ProductOpener/Config2_docker.pm
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Test.pm
  scripts/process_new_image_off.sh
  scripts/run_cloud_vision_ocr.pl
  stop_words.txt
  taxonomies/nutrient_levels.txt
  tests/integration/expected_test_results/create_pro_user/mails.json
  tests/integration/expected_test_results/create_pro_user/user-after-subscription.json
  tests/integration/expected_test_results/run_cloud_vision_ocr/ocr_data.json
  tests/integration/expected_test_results/run_cloud_vision_ocr/ocr_request_body.json
  tests/integration/expected_test_results/run_cloud_vision_ocr/robotoff_request_body.json
  tests/integration/inputs/sample-products-images/300/000/000/0001/1.100.jpg
  tests/integration/inputs/sample-products-images/300/000/000/0001/1.400.jpg
  tests/integration/inputs/sample-products-images/300/000/000/0001/1.jpg
  tests/integration/inputs/sample-products-images/300/000/000/0001/1.jpg.orig
  tests/integration/inputs/sample-products-images/300/000/000/0001/1.json
  tests/integration/inputs/sample-products-images/300/000/000/0001/front_en.3.100.jpg
  tests/integration/inputs/sample-products-images/300/000/000/0001/front_en.3.200.jpg
  tests/integration/inputs/sample-products-images/300/000/000/0001/front_en.3.400.jpg
  tests/integration/inputs/sample-products-images/300/000/000/0001/front_en.3.full.jpg
  tests/integration/inputs/sample-products-images/300/000/000/0001/front_en.4.100.jpg
  tests/integration/inputs/sample-products-images/300/000/000/0001/front_en.4.200.jpg
  tests/integration/inputs/sample-products-images/300/000/000/0001/front_en.4.400.jpg
  tests/integration/inputs/sample-products-images/300/000/000/0001/front_en.4.full.jpg
  tests/integration/inputs/sample-products/300/000/000/0001/1.sto
  tests/integration/inputs/sample-products/300/000/000/0001/2.sto
  tests/integration/inputs/sample-products/300/000/000/0001/3.sto
  tests/integration/inputs/sample-products/300/000/000/0001/4.sto
  tests/integration/inputs/sample-products/300/000/000/0001/5.sto
  tests/integration/inputs/sample-products/300/000/000/0001/changes.sto
  tests/integration/inputs/sample-products/300/000/000/0001/images.sto
  tests/integration/inputs/sample-products/300/000/000/0001/product.sto
  tests/integration/inputs/small-img.jpg
  tests/integration/run_cloud_vision_ocr.t
  tests/unit/expected_test_results/ingredients/fr-marmelade.json
  tests/unit/expected_test_results/send_image_to_cloud_vision/ocr_data.json
  tests/unit/expected_test_results/send_image_to_cloud_vision/ocr_data_2.json
  tests/unit/expected_test_results/send_image_to_cloud_vision/ocr_data_3.json
  tests/unit/expected_test_results/send_image_to_cloud_vision/request_body.json
  tests/unit/expected_test_results/send_image_to_cloud_vision/request_body_2.json
  tests/unit/expected_test_results/send_image_to_cloud_vision/request_body_3.json
  tests/unit/inputs/ocr-test.jpg
  tests/unit/inputs/small-img.jpg
  tests/unit/send_image_to_cloud_vision.t
  tests/update_tests_results.sh
Labels: taxonomies, OCR, open beauty facts, open pet food facts, images, tests, Open Products Facts, config

#8255 fix: Invalid facets in the url return 404
  lib/ProductOpener/Routing.pm
  tests/unit/routing.t
Labels: tests
