Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2023-05, with the labels that each got.

#2038 fix: solve quantity false positives issue #2037
  lib/ProductOpener/DataQualityFood.pm
  tests/unit/dataqualityfood.t
Labels: quantity, data quality, tests, needs tests

#7910 taxonomy: Labels and categories additions
  taxonomies/categories.txt
  taxonomies/labels.txt
Labels: taxonomies, categories, labels

#3382 chore(taxonomies): Unknown CIQUAL codes in taxonomie Yaourts
  taxonomies/categories.txt
Labels: taxonomies, categories, data4good-environment, ciqual

#3510 chore: Removed powders from ingredients taxonomy
  lib/ProductOpener/Ingredients.pm
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
  tests/unit/ingredients_nesting.t
  tests/unit/ingredients_processing.t
  tests/unit/ingredients_tags.t
Labels: taxonomies, ingredients, tests, ingredients analysis, processing, ingredients processing

#8384 fix: explore files in sorted order to make tests non-random
  lib/ProductOpener/Store.pm
Labels: store

#8365 ci: fix-opf-autoaddition
  .github/workflows/github-projects-for-openfoodfacts-design.yml
Labels: github_actions

#5385 chore: Translations for the labels taxonomy
  taxonomies/labels.txt
Labels: taxonomies, labels, taxonomy translation

#8290 taxonomy: ro translations
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8378 taxonomy: Danish ingredients
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8366 taxonomy: chicken kievs
  taxonomies/categories.txt
Labels: taxonomies, categories

#8258 feat: Prevention - On the fly quality checks in the product edit form
  templates/web/pages/product_edit/product_edit_form_display.tt.html
  templates/web/pages/product_edit/product_edit_form_display.tt.js
Labels: editing, Template::Toolkit

#5383 chore: Translations for the ingredients taxonomy
  taxonomies/additives.txt
  taxonomies/ingredients.txt
  tests/unit/expected_test_results/parse_origins_from_text/real-list-fr.json
  tests/unit/expected_test_results/recipes/fr-margherita-pizzas.fr-margherita-pizza-2-compound-ingredients.json
  tests/unit/expected_test_results/recipes/fr-margherita-pizzas.json
Labels: taxonomies, ingredients, additives, tests, taxonomy translation

#8377 taxonomy: added logo for mexican labels
  html/images/lang/es/labels/3-sellos.82x90.png
  html/images/lang/es/labels/contiene-cafeina-evitar-en-ninos.386x90.png
  html/images/lang/es/labels/contiene-edulcorantes-no-recomendable-en-ninos.436x90.png
  html/images/lang/es/labels/exceso-azucares.82x90.png
  html/images/lang/es/labels/exceso-calorias.82x90.png
  html/images/lang/es/labels/exceso-grasas-saturadas.82x90.png
  html/images/lang/es/labels/exceso-grasas-trans.82x90.png
  html/images/lang/es/labels/exceso-sodio.82x90.png
  taxonomies/labels.txt
Labels: taxonomies, labels, scores

#8376 taxonomy: add migros stars labels
  taxonomies/labels.txt
Labels: taxonomies, labels

#8372 taxonomy: Update ingredients in Catalan
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, additives

#8370 taxonomy: added logos for beter leven
  html/images/lang/nl/labels/beter-leven-1-ster.176x90.png
  html/images/lang/nl/labels/beter-leven-2-ster.176x90.png
  html/images/lang/nl/labels/beter-leven-3-ster.176x90.png
  taxonomies/labels.txt
Labels: taxonomies, labels

#8399 fix: Add contributors link in user profile for easier account deletion
  lib/ProductOpener/Display.pm
  po/common/en.po
Labels: translations, Display

#8389 ci: labeler for packager codes files
  .github/labeler.yml
Labels: packager codes, github_actions

#8375 feat: link to new pro platform manuals
  lang-default/en/texts/index-pro.html
  templates/emails/user_new_pro_account.tt.txt
  templates/web/common/site_layout.tt.html
  templates/web/pages/session/signed_in.tt.html
  tests/integration/expected_test_results/create_pro_user/mails.json
Labels: product history, tests, Template::Toolkit, Users

#8340 fix: escape issue in additives knowledge panel - remove latex formulas
  lib/ProductOpener/KnowledgePanels.pm
  templates/api/knowledge-panels/environment/carbon_footprint.tt.json
  templates/api/knowledge-panels/environment/ecoscore/agribalyse.tt.json
  tests/unit/knowledge_panels.t
Labels: tests, knowledge-panels, Template::Toolkit, ecoscore, agribalyse

#8397 fix: export obsolete products - draft
  cgi/export_products.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Export.pm
  lib/ProductOpener/Producers.pm
  po/common/common.pot
  po/common/en.po
  templates/web/common/includes/producers_platform_front_page.tt.html
  templates/web/pages/export_products/export_products.tt.html
Labels: export, producers platform, Template::Toolkit, translations, obsolete products, Display

#8392 fix: make CORS work on dev server and API v3
  lib/ProductOpener/API.pm
  lib/ProductOpener/APITest.pm
  lib/ProductOpener/HTTP.pm
  stop_words.txt
  tests/integration/api_v3_product_write.t
  tests/integration/cors.t
  tests/unit/http.t
Labels: API, API write, tests, API v3

#8412 feat: added nitrate sulfate as suggestions in table
  lib/ProductOpener/Food.pm
  taxonomies/nutrients.txt
Labels: taxonomies, Food.pm

#8416 fix: provide Robotoff details about product updates
  lib/ProductOpener/Products.pm
Labels: robotoff, Products

#8415 docs: update docs about downloading images
  docs/api/aws-images-dataset.md
  docs/api/how-to-download-images.md
Labels: documentation

#8417 fix: uncomment error raised in tag and fix errors
  lib/ProductOpener/Tags.pm
  taxonomies/categories.txt
Labels: taxonomies, categories, Tags

#8411 fix: nutrition edit warnings
  po/common/common.pot
  po/common/en.po
  templates/web/pages/product_edit/product_edit_form_display.tt.js
Labels: Template::Toolkit, translations, :star: top pull request

#8423 fix: make products aligned again in list #7309
  scss/_product-list.scss
Labels: css

#8422 build: Deploy stagging nfs mount
  .github/workflows/container-deploy.yml
  Makefile
  docker/prod.yml
Labels: docker, github_actions

#8320 fix: gzip all JSON OCRs when saving OCR file on disk
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Test.pm
  scripts/run_cloud_vision_ocr.pl
  stop_words.txt
  tests/integration/expected_test_results/run_cloud_vision_ocr/ocr_data.json
  tests/integration/run_cloud_vision_ocr.t
  tests/unit/expected_test_results/send_image_to_cloud_vision/ocr_data.json
  tests/unit/expected_test_results/send_image_to_cloud_vision/ocr_data_2.json
  tests/unit/expected_test_results/send_image_to_cloud_vision/ocr_data_3.json
  tests/unit/send_image_to_cloud_vision.t
Labels: OCR, images, tests

#7908 feat: ingredient analysis translations
  taxonomies/ingredients_analysis.txt
Labels: taxonomies, Stale

#5382 chore: Translations for the categories taxonomy
  taxonomies/categories.txt
Labels: taxonomies, categories, merge-conflicts, taxonomy translation

#8419 fix: encode `diffs` as JSON text in send_notification_for_product_change
  lib/ProductOpener/Products.pm
Labels: Products

#8429 taxonomy: portuguese synonyme
  taxonomies/additives.txt
Labels: taxonomies, additives, Portuguese

#8426 taxonomy: german ingredients
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, German

#8322 chore: Week 15 taxonomy work (prepared lasagne etc)
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: taxonomies, ingredients, additives, categories

#8434 taxonomy: lupine, einkorn, grey pea for Divinfood + tonka bean
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients, divinfood

#8433 taxonomy: ingredients - whole chicken
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8391 chore: week 18 taxonomy changes
  taxonomies/categories.txt
  taxonomies/nutrients.txt
Labels: taxonomies, categories

#8403 feat: Don't calculate 100g nutriment if serving_quantity <=5 and value = '0', fixes #5848
  docs/dev/explain-nutition-data.md
  lib/ProductOpener/Food.pm
  lib/ProductOpener/KnowledgePanels.pm
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/health/nutrition/serving_size.tt.json
  tests/unit/food.t
Labels: documentation, tests, knowledge-panels, Food.pm, Template::Toolkit, translations, serving size, unit tests

#8410 taxonomy: non-vegetarian Brown Triangle India
  html/images/lang/en/labels/brown-dot-india.90x90.png
  html/images/lang/en/labels/brown-dot-india.90x90.svg
  html/images/lang/en/labels/brown-triangle-india.90x90.png
  html/images/lang/en/labels/brown-triangle-india.90x90.svg
  html/images/lang/en/labels/green-dot-india.90x90.png
  html/images/lang/en/labels/green-dot-india.90x90.svg
  taxonomies/labels.txt
Labels: taxonomies, labels, vegan, india

#8438 feat: added quality facet error for reversed kcal and kj
  lib/ProductOpener/DataQualityFood.pm
  taxonomies/data_quality.txt
  tests/unit/dataqualityfood.t
Labels: taxonomies, data quality, tests

#8436 fix: Update nova-group-unknown.svg
  html/images/attributes/src/nova-group-unknown.svg
Labels: nova, svg

#8450 docs: fix OpenAPI `Product` schema file, extract agribalyze.yaml
  docs/api/ref/requestBodies/crop_a_photo.yaml
  docs/api/ref/responses/get_product_by_barcode.yaml
  docs/api/ref/schemas/agribalyse.yaml
  docs/api/ref/schemas/product.yaml
Labels: documentation, API write

#8453 taxonomy: e-243 additive exposure
  taxonomies/additives.txt
Labels: taxonomies, additives

#7276 fix: removing the old logos for OBF, OPF, OPFF
  po/openbeautyfacts/af.po
  po/openbeautyfacts/en.po
  po/openbeautyfacts/openbeautyfacts.pot
  po/openfoodfacts/en.po
  po/openfoodfacts/openfoodfacts.pot
  po/openpetfoodfacts/openpetfoodfacts.pot
  po/openproductsfacts/openproductsfacts.pot
Labels: open beauty facts, open pet food facts, Open Products Facts, translations

#8444 feat: bypass data quality error for citrus
  lib/ProductOpener/DataQualityFood.pm
  lib/ProductOpener/Tags.pm
  taxonomies/categories.txt
  tests/unit/dataqualityfood.t
Labels: taxonomies, categories, data quality, tests, Tags

#8456 chore: migrate from snyk protect to @snyk/protect
  package-lock.json
  package.json
Labels: dependencies

#8451 taxonomy: Correction bars
  taxonomies/categories.txt
Labels: taxonomies, categories

#8457 chore: add babel to make possible to use latest JS features
  .eslintrc.js
  gulpfile.js
  package-lock.json
  package.json
Labels: javascript, dependencies, merge-conflicts

#5596 chore: Taxonomies (ingredients) - reapply changes from PR #5152
  taxonomies/ingredients.txt
  tests/unit/expected_test_results/ingredients/ru-russian-oil.json
  tests/unit/ingredients.t
Labels: taxonomies, ingredients, tests, Stale

#8455 chore: migrate gulpfile to TypeScript
  .eslintrc.js
  Dockerfile.frontend
  docker/dev.yml
  gulpfile.js
  gulpfile.ts
  package-lock.json
  package.json
Labels: docker, dependencies, merge-conflicts

#8454 taxonomy: rare legumes and wheat / divinfood project
  taxonomies/ingredients.txt
Labels: taxonomies, ingredients

#8463 fix: correct the link to products added by one user
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Tags.pm
Labels: Display, Tags

#8464 fix: on the fly nutrition edit checks #8420
  po/common/common.pot
  po/common/en.po
  templates/web/pages/product_edit/product_edit_form_display.tt.js
Labels: Template::Toolkit, translations

#8465 taxonomy: BG Additions
  taxonomies/additives.txt
  taxonomies/categories.txt
  taxonomies/ingredients.txt
  taxonomies/packaging_shapes.txt
Labels: taxonomies, ingredients, additives, categories, packaging, bulgaria

#8472 feat: Update delete_user to append unique hash
  cpanfile
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Users.pm
Labels: Users, Products, account deletion

#8482 docs: fix how-to-develop-producer-platform
  docs/dev/how-to-develop-producer-platform.md
Labels: documentation

#8476 fix: Iterate over both product collections on user delete
  lib/ProductOpener/Products.pm
  scripts/make_user_moderator.pl
Labels: Products, account deletion
