Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2024-07, with the labels that each got.

#10478 taxonomy: Bulgarian additions
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🧪 additives, categories, 🥗 Ingredients

#10470 feat: Edits to the app's revamped news system
  html/resources/files/tagline-off-android-v3.json
  html/resources/files/tagline-off-ios-v3.json
Labels: 🤳🥫 tagline

#10471 ci: Update labeler.yml
  .github/labeler.yml
Labels: GitHub Actions

#10499 feat: display new fields in orgs table
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  templates/web/pages/dashboard/display_orgs_table.tt.html
Labels: Template::Toolkit, 🌐 Translations

#10498 fix: make facets URLS /nova-group/unknown work
  lib/ProductOpener/Display.pm
Labels: 🚦Nutri-Score, 🧪 tests, Nova - Ultra-processed foods, 🌱 Eco-Score, Display

#10473 docs: Added the .NET repo to the list of supported SDKs on the API documentation.
  docs/api/index.md
Labels: 📚 Documentation

#10413 chore: taxonomy updates week 23
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10432 feat: add /org/[orgid] facet in pro platform URL
  cgi/product_multilingual.pl
  cgi/user.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/LoadData.pm
  lib/ProductOpener/Routing.pm
  lib/ProductOpener/Users.pm
  templates/web/common/includes/producers_platform_front_page.tt.html
  templates/web/common/site_layout.tt.html
  tests/unit/routing.t
Labels: ✨ Feature, 🧪 tests, 🏭 Producers Platform, Template::Toolkit, Display, 👥 Users, multilingual products, Site layout

#10501 fix: various fixes to data sync with crm
  lib/ProductOpener/CRM.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Orgs.pm
Labels: Data import, 🏭 Producers Platform, 🏭 Producers Platform - Odoo, 🏭 Orgs

#10262 taxonomy: double crust pies
  taxonomies/food/categories.txt
  tests/integration/expected_test_results/web_html/fr-edit-product.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/world-edit-product.html
  tests/integration/expected_test_results/web_html/world-product.html
Labels: 🧬 Taxonomies, categories, 🧪 tests

#10474 refactor: global variables removal
  cgi/display_org_table.pl
  cgi/export_products.pl
  cgi/generate_sample_import_file.pl
  cgi/import_file_process.pl
  cgi/import_file_select_format.pl
  cgi/import_file_upload.pl
  cgi/import_photos_upload.pl
  cgi/import_products_categories_from_public_database.pl
  cgi/manifest.pl
  cgi/opensearch.pl
  cgi/org.pl
  cgi/product_image_move.pl
  cgi/product_image_upload.pl
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  cgi/search.pl
  cgi/top_translators.pl
  cgi/user.pl
  lib/ProductOpener/API.pm
  lib/ProductOpener/APIProductRevert.pm
  lib/ProductOpener/APIProductServices.pm
  lib/ProductOpener/APIProductWrite.pm
  lib/ProductOpener/APITagRead.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/HTTP.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/KnowledgePanels.pm
  lib/ProductOpener/Producers.pm
  lib/ProductOpener/Routing.pm
  lib/ProductOpener/Users.pm
  scripts/export_data.pl
  scripts/gen_top_tags_per_country.pl
  scripts/generate_madenearme_page.pl
  scripts/scanbot.pl
  templates/emails/user_new_pro_account_admin_notification.tt.html
  templates/web/pages/tag/tag.tt.html
  tests/unit/display.t
Labels: API, 🗺️ Made Near Me, Data import, API WRITE, 🕹️ Gamification, 🖼️ Images, 🧪 tests, 📖 Knowledge Panels, 🏭 Producers Platform, Template::Toolkit, Display, 👥 Users, Tags, 📨 Mail, exports, 🧪 unit tests, Minion, Scanbot, file import, multilingual products, 👮 Moderation, 🌐 Translations, 🔎 Search

#10512 chore: ingredient doubles
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10513 feat: add an optional condition for routes to be used or not
  lib/ProductOpener/Routing.pm
Labels: routing

#10507 feat: a script to check if existing org can be sync with the crm
  lib/ProductOpener/CRM.pm
  scripts/check_if_orgs_can_be_safely_synced_with_crm.pl
Labels: 🏭 Producers Platform - Odoo

#10483 taxonomy: Rusks
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10500 feat: add user in pending group when requests to join an org
  cgi/org.pl
  lib/ProductOpener/Orgs.pm
  lib/ProductOpener/Users.pm
  po/common/common.pot
  po/common/en.po
  templates/web/pages/org_form/org_form.tt.html
Labels: 🧪 tests, 🏭 Producers Platform, 💥 Merge Conflicts, Template::Toolkit, 👥 Users, 🏭 Orgs, 🌐 Translations

#10439 taxonomy: Added correct translations for Dutch in categories.txt
  taxonomies/petfood/categories.txt
Labels: 🧬 Taxonomies, 🐾 Open Pet Food Facts

#10392 chore: opposite categories
  taxonomies/food/categories.txt
  tests/integration/expected_test_results/export/rows/3451790834080.json
  tests/integration/expected_test_results/export_more_fields/export_more_fields.csv
  tests/integration/expected_test_results/export_more_fields/rows/3451790834080.json
  tests/unit/expected_test_results/import_convert_carrefour_france/3270190020165.json
  tests/unit/expected_test_results/import_convert_carrefour_france/import_convert_carrefour_france_export.csv
  tests/unit/expected_test_results/import_convert_carrefour_france/rows/3270190020165.json
Labels: 🧬 Taxonomies, categories, 🧽 Data quality, 🧪 tests

#10510 feat: add filters to orgs table
  cgi/display_org_table.pl
  templates/web/pages/dashboard/display_orgs_table.tt.html
Labels: Template::Toolkit

#10484 fix: Remove "report problem" in the navigation bar if knowledge panel is not present
  templates/web/pages/product/product_page.tt.html
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/world-product.html
Labels: Product Page, 🧪 tests, Template::Toolkit

#10524 feat: make valid org filter field a dropdown
  templates/web/pages/dashboard/display_orgs_table.tt.html
Labels: Template::Toolkit

#10531 feat: allow orgs to not have a main contact if imported from an aggregator
  lib/ProductOpener/CRM.pm
  lib/ProductOpener/Orgs.pm
  scripts/migrations/2024_07_change_main_contact.pl
Labels: 🏭 Producers Platform, 🏭 Producers Platform - Odoo, 🏭 Orgs

#10532 fix: improve generated data
  lib/ProductOpener/CRM.pm
  scripts/check_if_orgs_can_be_safely_synced_with_crm.pl
Labels: 🏭 Producers Platform - Odoo

#10536 build: frontend container cannot be built since npm version 20.15.1
  Dockerfile.frontend
Labels: dev, 🐋 Docker, npm

#10516 fix: disable caching on pro platform
  lib/ProductOpener/Display.pm
Labels: Display

#10541 fix: broken user space on pro platform
  cgi/product_multilingual.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Routing.pm
  templates/web/common/includes/producers_platform_front_page.tt.html
  templates/web/common/site_layout.tt.html
Labels: Template::Toolkit, Display, multilingual products, Site layout

#10466 chore: Intake revisited
  taxonomies/food/categories.txt
  tests/integration/expected_test_results/api_v2_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-raw.json
  tests/integration/expected_test_results/api_v2_product_read/get-specific-fields.json
  tests/integration/expected_test_results/api_v2_product_write/get-product-auth-good-password.json
  tests/integration/expected_test_results/api_v2_product_write/get-product.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-ai-data-str.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-caret.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-data-uri.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-fnc1.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-gs.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-raw.json
  tests/integration/expected_test_results/api_v3_product_read/get-specific-fields.json
  tests/integration/expected_test_results/export/export.csv
  tests/integration/expected_test_results/export/rows/3451790834080.json
  tests/integration/expected_test_results/export/rows/3661344653573.json
  tests/integration/expected_test_results/export_more_fields/export_more_fields.csv
  tests/integration/expected_test_results/export_more_fields/rows/3451790834080.json
  tests/integration/expected_test_results/export_more_fields/rows/3661344653573.json
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/unit/expected_test_results/nutriscore/cookies.json
  tests/unit/expected_test_results/nutriscore/en-milk.json
  tests/unit/expected_test_results/nutriscore/milk.json
Labels: 🧬 Taxonomies, categories, 🧪 tests, 💥 Merge Conflicts

#10571 taxonomy: German synon
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10567 taxonomy: Liverwurst
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories, German

#10534 feat: add product data to org table
  po/common/common.pot
  po/common/en.po
  templates/web/pages/dashboard/display_orgs_table.tt.html
Labels: Template::Toolkit, 🌐 Translations

#10572 taxonomy: cereal bars
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10563 feat: Lint spaces in taxonomies
  lib/ProductOpener/Tags.pm
  scripts/taxonomies/lint_taxonomy.pl
  taxonomies/additives.properties.txt
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/amino_acids.txt
  taxonomies/countries.txt
  taxonomies/data_quality.txt
  taxonomies/food_groups.txt
  taxonomies/improvements.txt
  taxonomies/ingredients_analysis.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/languages.txt
  taxonomies/minerals.txt
  taxonomies/misc.txt
  taxonomies/nova_groups.txt
  taxonomies/nucleotides.txt
  taxonomies/nutrient_levels.txt
  taxonomies/nutrients.txt
  taxonomies/origins.txt
  taxonomies/other_nutritional_substances.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_recycling.txt
  taxonomies/packaging_shapes.txt
  taxonomies/periods_after_opening.txt
  taxonomies/preservation.txt
  taxonomies/states.txt
  taxonomies/test.txt
  taxonomies/units.txt
  taxonomies/vitamins.txt
Labels: 🧬 Taxonomies, 🧪 additives, 🥜 Allergens, categories, 📦 Packaging, status system, 🧽 Data quality, Nova - Ultra-processed foods, 📍 Origins, 📦 Packaging shapes, Food groups, Tags, Ingredients processing, 🥗 Ingredients, 🏭 Producer platform - improvement opportunities

#10550 fix: add product_type to redis events
  lib/ProductOpener/Redis.pm
Labels: OxF, REDIS

#10573 taxonomy: Add “akaciefiber” synonym (Swedish)
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10557 feat: measure and log duration of request and mongodb / off-query que…
  conf/log.conf
  conf/obf-log.conf
  conf/obf-minion_log.conf
  conf/off-log.conf
  conf/off-minion_log.conf
  conf/off-pro-log.conf
  conf/off-pro-minion_log.conf
  cpanfile
  lib/ProductOpener/Display.pm
  lib/ProductOpener/RequestStats.pm
  lib/ProductOpener/Routing.pm
  lib/startup_apache2.pl
Labels: 🚅 Performance, 🪶 Apache, dependencies, Display

#10548 fix: change_main_contact.pl
  scripts/migrations/2024_07_change_main_contact.pl
Labels: 🏭 Producers Platform

#10569 feat: added a drag and drop zone in pro platform
  icons/upload_file.svg
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  scss/_off.scss
  templates/web/pages/import_file_upload/import_file_upload.tt.html
  templates/web/pages/import_file_upload/import_file_upload.tt.js
Labels: CSS, 🏭 Producers Platform, Template::Toolkit, icons, :star: top pull request, 🌐 Translations

#10530 feat: add new product event types for redis queue
  lib/ProductOpener/Products.pm
Labels: Products

#10561 feat: launch the exports for all organizations that have the checkbox…
  scripts/export_producers_platform_data_to_public_database.sh
Labels: 🏭 Producers Platform

#10556 fix: GDSN import from Alnatura
  lib/ProductOpener/GS1.pm
  scripts/imports/alnatura/run_alnatura_import.sh
  tests/unit/expected_test_results/import_gs1/agena3000_andros.json
  tests/unit/expected_test_results/import_gs1/agena3000_aoste.json
  tests/unit/expected_test_results/import_gs1/alnatura_vegetarische-soja-bolognese.json
  tests/unit/expected_test_results/import_gs1/alnatura_vegetarische-soja-bolognese.off.gs1_confirmation.xml
  tests/unit/expected_test_results/import_gs1/alnatura_vegetarische-soja-bolognese.off.json
  tests/unit/expected_test_results/import_gs1/alnatura_vegetarische-soja-bolognese.xml
  tests/unit/expected_test_results/import_gs1/equadis_knorr_child_item.json
Labels: 🧪 tests, 🏭 Producers Platform, GS1

#10584 chore: lint taxonomies (again)
  scripts/taxonomies/lint_taxonomy.pl
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/labels.txt
  taxonomies/minerals.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_recycling.txt
  taxonomies/packaging_shapes.txt
  taxonomies/test.txt
Labels: 🧬 Taxonomies, 🧪 additives, 🥜 Allergens, categories, 📦 Packaging, 📦 Packaging shapes, 🥗 Ingredients

#10542 build(deps-dev): Add `UUID` module
  cpanfile
Labels: dependencies, Perl

#10579 fix: be consistent in regexp for props matching
  lib/ProductOpener/Tags.pm
Labels: Tags

#10577 ci: on demand PR actions
  .github/workflows/pr_actions.yml
  .github/workflows/pull_request.yml
  Makefile
Labels: 🧬 Taxonomies, 🧪 tests, GitHub Actions

#10588 fix: org name input field not displaying when checkbox is checked in pro pl…
  templates/web/pages/user_form/user_form.tt.js
  tests/integration/expected_test_results/web_html/user-register.html
Labels: 🧪 tests, Template::Toolkit

#10592 ci: fix pr-actions conditions (urgent)
  .github/workflows/pr_actions.yml
Labels: GitHub Actions

#10590 fix: important fix in routing
  lib/ProductOpener/Routing.pm
  tests/unit/routing.t
Labels: 🧪 tests

#10552 taxonomy: German ingr chicken
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, German, 🥗 Ingredients

#10593 ci: fix checkout fetch depth and origin/main presence
  .github/workflows/generate-doc.yml
  .github/workflows/pr_actions.yml
  .github/workflows/pull_request.yml
  Makefile
Labels: 🧪 tests, GitHub Actions

#10598 ci: fix pr actions (round 3)
  .github/workflows/pr_actions.yml
Labels: GitHub Actions

#10601 ci: fix PR action condition
  .github/workflows/pr_actions.yml
Labels: GitHub Actions

#10599 feat: add improvement to product navbar
  po/common/common.pot
  po/common/en.po
  templates/web/pages/product/product_page.tt.html
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/world-product.html
Labels: Product Page, 🧪 tests, Template::Toolkit, 🌐 Translations

#10595 chore: fix categories properties
  Makefile
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10537 chore: taxonomy updates
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/origins.txt
  tests/integration/expected_test_results/export/export.csv
  tests/integration/expected_test_results/export_more_fields/export_more_fields.csv
Labels: 🧬 Taxonomies, categories, 🧪 tests, 💥 Merge Conflicts, 📍 Origins, 🥗 Ingredients

#10626 taxonomy: resolve origins taxonomy issues
  taxonomies/food/categories.txt
  taxonomies/origins.txt
  tests/integration/expected_test_results/export/export.csv
  tests/integration/expected_test_results/export_more_fields/export_more_fields.csv
  tests/unit/expected_test_results/forest_footprint/fr-ingredients-poulet-du-gers.json
Labels: 🧬 Taxonomies, categories, 🧪 tests, 📍 Origins

#10566 feat: Display off days banner if donation banner was hidden
  html/images/misc/banners/ENG.png
  html/images/misc/banners/FR.png
  po/common/en.po
  po/common/fr.po
  scss/_off.scss
  templates/web/common/includes/donate_banner.tt.html
  templates/web/common/includes/off_days_2024_banner.tt.html
  templates/web/common/site_layout.tt.html
  tests/integration/expected_test_results/api_v2_product_read/get-auth-bad-user-password.html
  tests/integration/expected_test_results/api_v2_product_write/post-product-auth-bad-user-password.html
  tests/integration/expected_test_results/page_crawler/crawler-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/crawler-does-not-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-editor-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-list-of-tags.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-nested-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-non-official-cc-lc.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/product_read/get-unexisting-product.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form-moderator.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form.html
  tests/integration/expected_test_results/protected_product/edit-unprotected-product-web-form.html
  tests/integration/expected_test_results/unknown_tags/country-cambodia-exists-but-empty.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients-apple.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist.html
  tests/integration/expected_test_results/unknown_tags/country-france-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknownandemptyingredient-does-not-exist-and-empty.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty-labels.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty.html
  tests/integration/expected_test_results/unknown_tags/unknown-product.html
  tests/integration/expected_test_results/web_html/fr-brands.html
  tests/integration/expected_test_results/web_html/fr-categories.html
  tests/integration/expected_test_results/web_html/fr-countries.html
  tests/integration/expected_test_results/web_html/fr-edit-product.html
  tests/integration/expected_test_results/web_html/fr-index.html
  tests/integration/expected_test_results/web_html/fr-labels.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/fr-search-form.html
  tests/integration/expected_test_results/web_html/fr-search-results-cached.html
  tests/integration/expected_test_results/web_html/fr-search-results-no-cache.html
  tests/integration/expected_test_results/web_html/fr-search-results.html
  tests/integration/expected_test_results/web_html/user-register.html
  tests/integration/expected_test_results/web_html/world-brands.html
  tests/integration/expected_test_results/web_html/world-categories.html
  tests/integration/expected_test_results/web_html/world-countries.html
  tests/integration/expected_test_results/web_html/world-edit-product.html
  tests/integration/expected_test_results/web_html/world-index-signedin.html
  tests/integration/expected_test_results/web_html/world-index.html
  tests/integration/expected_test_results/web_html/world-label-organic.html
  tests/integration/expected_test_results/web_html/world-labels.html
  tests/integration/expected_test_results/web_html/world-product-not-found.html
  tests/integration/expected_test_results/web_html/world-product.html
  tests/integration/expected_test_results/web_html/world-search-form.html
  tests/integration/expected_test_results/web_html/world-search-results.html
Labels: 🧪 tests, CSS, Template::Toolkit, 🎁 donations, 🌐 Translations, Site layout

#10618 fix: routing for group by tag in English (e.g es.openfoodfacts.org/in…
  lib/ProductOpener/Routing.pm
  tests/unit/routing.t
Labels: 🧪 tests

#10622 fix: disable log buffering and add more requests stats
  conf/obf-log.conf
  conf/off-log.conf
  conf/off-minion_log.conf
  conf/off-pro-log.conf
  conf/off-pro-minion_log.conf
  lib/ProductOpener/Display.pm
  lib/ProductOpener/RequestStats.pm
  lib/ProductOpener/Routing.pm
Labels: Display
