Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2024-08, with the labels that each got.

#10623 chore: week31 changes
  lib/ProductOpener/Ingredients.pm
  taxonomies/countries.txt
  taxonomies/origins.txt
  tests/unit/expected_test_results/forest_footprint/fr-ingredients-poulet-du-gers.json
Labels: 🧬 Taxonomies, 🧪 tests, 🥗🔍 Ingredients analysis, 📍 Origins, 🥗 Ingredients

#10628 taxonomy: Add Swedish for habanero chili
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🇸🇪 Sweden, 🥗 Ingredients

#10631 taxonomy: add Polish ingredients
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10615 taxonomy: German soy protein product / concentrated
  taxonomies/food/ingredients.txt
  tests/unit/ingredients_processing.t
Labels: 🧬 Taxonomies, 🧪 tests, Ingredients processing, 🥗 Ingredients

#10627 taxonomy: paprika for color
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  tests/unit/additives_tags.t
Labels: 🧬 Taxonomies, 🧪 additives, 🇺🇸 United States, 🧪 tests

#10646 taxonomy: Add Swedish translations and synonyms
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies, 🇸🇪 Sweden, Ingredients processing, 🥗 Ingredients

#10629 feat: add more admins
  lib/ProductOpener/Config_off.pm
Labels: config

#10378 feat: dq new facet for opposite tags
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/DataQualityFood.pm
  lib/ProductOpener/Tags.pm
  stop_words.txt
  taxonomies/data_quality.txt
  taxonomies/food/categories.txt
  taxonomies/labels.txt
  tests/unit/dataqualityfood_labels.t
  tests/unit/tags.t
Labels: 🧬 Taxonomies, categories, 🧽 Data quality, 🧪 tests, Attributes, Tags, 🧪 unit tests, 🧽 on-the-fly quality checks, 🧽 Data quality - Prevention

#10651 fix: dq new facet for opposite tags fix
  taxonomies/food/categories.txt
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, categories

#10652 fix: intermarche import
  scripts/imports/intermarche/run_intermarche_import.sh
Labels: Data import

#10650 fix: add proper parent task
  .github/ISSUE_TEMPLATE/task.md
Labels: GitHub Actions

#10653 ci: don't test ownership for actions
  .github/workflows/pr_actions.yml
Labels: GitHub Actions

#10624 fix: use owners_tags indexed field in producers dashboard query
  cgi/display_org_table.pl
  lib/ProductOpener/I18N.pm
  lib/ProductOpener/Lang.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  po/common/ia.po
  po/common/kmr.po
  po/common/ku.po
  po/common/me.po
  po/common/ry.po
  po/common/sh.po
  scripts/gen_feeds_daily_off-pro.sh
  scripts/generate_madenearme_pages.sh
  scripts/import_more_sample_data.sh
  scripts/import_products_with_weights.sh
  scripts/save_org_product_data_daily_off_pro.pl
  templates/web/common/includes/off_days_2024_banner.tt.html
  templates/web/pages/dashboard/display_orgs_table.tt.html
  tests/integration/expected_test_results/page_crawler/get-robots-txt-ch-it.text
  tests/integration/expected_test_results/page_crawler/get-robots-txt-fr-pro-platform.text
  tests/integration/expected_test_results/page_crawler/get-robots-txt-fr.text
  tests/integration/expected_test_results/page_crawler/get-robots-txt-world-pro-platform.text
  tests/integration/expected_test_results/page_crawler/get-robots-txt-world.text
Labels: 🗺️ Made Near Me, 🧪 tests, Template::Toolkit, lang, 🌐 Translations

#10634 taxonomy: cured liver sausage
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10661 test: added geoip route in routing.t
  tests/unit/expected_test_results/routing/api-v0-attribute-groups.json
  tests/unit/expected_test_results/routing/api-v3-product-code.json
  tests/unit/expected_test_results/routing/api-v3-product-gs1-data-uri.json
  tests/unit/expected_test_results/routing/facet-url-group-by-in-english.json
  tests/unit/expected_test_results/routing/facet-url-group-by.json
  tests/unit/expected_test_results/routing/facet-url-with-page-number.json
  tests/unit/expected_test_results/routing/facet-url-with-synonym-and-page-number.json
  tests/unit/expected_test_results/routing/facet-url.json
  tests/unit/expected_test_results/routing/geoip-get-country-from-ipv4-us.json
  tests/unit/expected_test_results/routing/geoip-get-country-from-ipv6-fr.json
  tests/unit/expected_test_results/routing/invalid-last-url-component.json
  tests/unit/routing.t
Labels: 🧪 tests

#10663 taxonomy: Ice cream bars
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10658 taxonomy: Add Swedish translations for carrot concentrate and almond chunks/pieces
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🇸🇪 Sweden, 🥗 Ingredients

#10664 fix(docs): Correct OpenAPI definition by fixing missing reference
  docs/api/ref/api.yml
  docs/api/ref/responses/change_ref_properties.yaml
Labels: 📚 Documentation

#10657 taxonomy: add XX entry for Rainforest Alliance
  taxonomies/labels.txt
Labels: 🧬 Taxonomies

#10670 taxonomy: Add Swedish translation of rice bran oil
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10668 docs: Add OpenSSF Best Practices badge to README
  README.md
Labels: 📚 Documentation

#10671 taxonomy: Have `grape sugar` inherit from `glucose` rather than `monosaccharide`
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10609 taxonomy: corrections meat preparations
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10481 taxonomy: german again
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, German, 🥗 Ingredients

#10656 taxonomy: Add Idared (red) apples
  taxonomies/food/ingredients.txt
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
Labels: 🧬 Taxonomies, 🧪 tests, 🥗 Ingredients

#10523 feat: generate historical events from product revisions
  Makefile
  lib/ProductOpener/Redis.pm
  scripts/product_revision_to_historical_events.pl
  scripts/update_all_products.pl
Labels: 📍🏭 Packager codes, 🧪 tests, Display, update all products, REDIS

#10690 chore: taxonomy updates week 32
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10688 taxonomy: Add Swedish steaming and rolling
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies, Ingredients processing

#10686 fix: gen_users_emails.pl
  scripts/gen_users_emails.pl
Labels: 🐛 bug, 👥 Users

#10685 taxonomy: Add sv:pecannötter and sv:lönnsirap
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10684 feat: sync number of product public/pro in CRM
  lib/ProductOpener/CRM.pm
  lib/ProductOpener/Orgs.pm
  scripts/save_org_product_data_daily_off_pro.pl
Labels: 🏭 Producers Platform, 🏭 Producers Platform - Odoo, 🏭 Orgs

#10673 taxonomy: Add Swedish terms for hydrolysed soy protein and ginger extract
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies, Ingredients processing, 🥗 Ingredients

#10675 taxonomy: Add “grädd” alias for cream
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🇸🇪 Sweden, 🥗 Ingredients

#10689 taxonomy: Massively update the Keyhole label information
  html/images/lang/en/labels/keyhole.90x90.png
  html/images/lang/en/labels/keyhole.90x90.svg
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, Keyhole

#10655 fix: Show missing nutrients in Nutri-Score panel
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  templates/api/knowledge-panels/health/nutriscore/nutriscore_2023.tt.json
  templates/web/panels/panel.tt.html
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_write/patch-request-fields-updated-attribute-groups-knowledge-panels.json
  tests/integration/expected_test_results/data_quality_knowledge_panel/data-quality.json
  tests/integration/expected_test_results/data_quality_knowledge_panel/no-data-quality.json
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form-moderator.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form.html
  tests/integration/expected_test_results/protected_product/edit-unprotected-product-web-form.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/world-product.html
Labels: API, 🧪 tests, 📖 Knowledge Panels, Template::Toolkit, Display, :star: top pull request, 🧪 integration tests, 🚦 Nutri-Score, 🌐 Translations

#10692 fix: Automatically unselect images when source image is deleted
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Images.pm
  tests/integration/expected_test_results/web_html/es-ingredients.html
  tests/integration/expected_test_results/web_html/world-products-multiple-codes.html
Labels: Data import, 🖼️ Images, 🧪 tests, 🏭 Producers Platform, Food.pm

#10687 taxonomy: Add `sv:krispiga flingor` to ingredients
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🇸🇪 Sweden, 🥗 Ingredients

#10676 taxonomy: Add sv:högpastöriserad processing
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies, 🇸🇪 Sweden, Ingredients processing

#10700 feat: geoip/ api use the remote address if ip not provided as param
  lib/ProductOpener/GeoIP.pm
  lib/ProductOpener/Routing.pm
Labels: 🤳🥫 mobile apps, :star: top pull request, API v3, 📍 geolite

#10717 taxonomy: add new categories
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10701 feat: knowledge API to specify which panels should be returned
  docs/api/ref/api-v3.yml
  docs/api/ref/api.yml
  lib/ProductOpener/KnowledgePanels.pm
  templates/api/knowledge-panels/root.tt.json
  tests/integration/api_v2_product_read.t
  tests/integration/api_v3_product_read.t
  tests/integration/expected_test_results/api_v2_product_read/get-fields-knowledge-panels-knowledge-panels_excluded-environment_card.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-knowledge-panels-knowledge-panels_included-health_card-environment_card-knowledge_panels_excluded-health_card.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-knowledge-panels-knowledge-panels_included-health_card-environment_card.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-data-uri.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-fnc1.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-gs.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-knowledge-panels-knowledge-panels_excluded-environment_card.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-knowledge-panels-knowledge-panels_included-health_card-environment_card-knowledge_panels_excluded-health_card.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-knowledge-panels-knowledge-panels_included-health_card-environment_card.json
Labels: API, 📚 Documentation, API READ, 🧪 tests, 📖 Knowledge Panels, Template::Toolkit, API v3

#10698 taxonomy: Add “100% Climate Compensated” label
  html/images/lang/en/labels/risenta_100pct_climate_compensated.90x90.jpg
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels

#10697 taxonomy: Add sv:kakaokräm
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🇸🇪 Sweden, 🥗 Ingredients

#10720 ci: add a NO_DEPLOY flag to temporarily block deployments
  .github/workflows/container-deploy.yml
Labels: GitHub Actions

#10630 taxonomy: add and fix italian taxonomy terms
  taxonomies/additives.properties.txt
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/amino_acids.txt
  taxonomies/countries.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/languages.txt
  taxonomies/minerals.txt
  taxonomies/misc.txt
  taxonomies/nucleotides.txt
  taxonomies/nutrients.txt
  taxonomies/origins.txt
  taxonomies/other_nutritional_substances.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_recycling.txt
  taxonomies/packaging_shapes.txt
  taxonomies/preservation.txt
  taxonomies/test.txt
  taxonomies/units.txt
  taxonomies/vitamins.txt
Labels: 🧬 Taxonomies, 🧪 additives, 📦 Packaging, 📍 Origins, 📦 Packaging shapes, 🇮🇹 Italy, Ingredients processing, 🥗 Ingredients

#10695 taxonomy: fix specifying Norwegian as Bokmål (labels.txt)
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, 🇳🇴 Norway

#10706 docs: Update how-to-create-data-quality-controls-in-your-app.md
  docs/reference/api-tutorials/how-to-create-data-quality-controls-in-your-app.md
Labels: 📚 Documentation, 🧽 Data quality

#10707 taxonomy: Add Swedish Rainforest Alliance synonyms
  taxonomies/labels.txt
Labels: 🧬 Taxonomies

#10718 taxonomy: Polish ingredients
  taxonomies/additives.txt
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🧪 additives, 🥗 Ingredients

#10722 fix: Synonyms in taxonomized suggestions
  html/js/product-multilingual.js
Labels: multilingual products

#10723 fix: remove robotoff webhook trigger
  docker/dev.yml
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Products.pm
  scripts/run_cloud_vision_ocr.pl
  tests/integration/expected_test_results/run_cloud_vision_ocr/robotoff_request_body.json
  tests/integration/run_cloud_vision_ocr.t
Labels: OCR, 🖼️ Images, 🧪 tests, 🐋 Docker, Products

#10674 taxonomy: Teewurst
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10721 docs: add description to product.popularity_key + popularity_tags
  docs/api/ref/schemas/product_misc.yaml
Labels: 📚 Documentation, scan statistics

#10683 feat: migration script to batch import existing orgs in CRM
  lib/ProductOpener/CRM.pm
  lib/ProductOpener/Orgs.pm
  scripts/migrations/2024_08_validate_and_sync_crm_existing_orgs.pl
  scripts/save_org_product_data_daily_off_pro.pl
  templates/emails/en/org_rejected.tt.html
  templates/emails/fr/org_rejected.tt.html
  tests/integration/expected_test_results/create_pro_user/org-after-subscription.json
  tests/integration/expected_test_results/create_pro_user/org-after-validation.json
Labels: 🧪 tests, 🏭 Producers Platform, Template::Toolkit, 🏭 Producers Platform - Odoo, 🏭 Orgs

#10726 fix: ban more AI bots in robots.txt
  lib/ProductOpener/Display.pm
  templates/web/pages/robots/robots.tt.txt
  tests/integration/expected_test_results/api_v2_product_write/get-product-auth-good-password.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-fnc1.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product.json
  tests/integration/expected_test_results/page_crawler/get-robots-txt-ch-it.text
  tests/integration/expected_test_results/page_crawler/get-robots-txt-fr-pro-platform.text
  tests/integration/expected_test_results/page_crawler/get-robots-txt-fr.text
  tests/integration/expected_test_results/page_crawler/get-robots-txt-world-pro-platform.text
  tests/integration/expected_test_results/page_crawler/get-robots-txt-world.text
Labels: 🧪 tests, Template::Toolkit, Display

#10727 fix: existing orgs migration script to crm
  cgi/org.pl
  cgi/user.pl
  lib/ProductOpener/CRM.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Orgs.pm
  lib/ProductOpener/Users.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  scripts/migrations/2024_08_validate_and_sync_crm_existing_orgs.pl
  scss/_off.scss
  templates/emails/en/org_rejected.tt.html
  templates/emails/fr/org_rejected.tt.html
  templates/web/pages/org_form/org_form.tt.html
  templates/web/pages/user_form/user_form_page.tt.html
  tests/integration/expected_test_results/create_pro_user/org-after-validation.json
Labels: 🧪 tests, CSS, 🏭 Producers Platform, Template::Toolkit, Display, 👥 Users, 🏭 Producers Platform - Odoo, 🏭 Orgs, 🌐 Translations

#10737 taxonomy: add more Polish ingredients
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10740 chore: Fresh categories
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10741 docs: add reference to perl.fish in learn perl doc
  docs/dev/how-to-learn-perl.md
Labels: 📚 Documentation

#10744 feat: new [taxonomy].extended.json with extended synonyms
  lib/ProductOpener/Tags.pm
Labels: Tags

#10743 fix: remove non-JS list of products
  lib/ProductOpener/Display.pm
  templates/web/common/includes/list_of_products.tt.html
  tests/integration/expected_test_results/page_crawler/crawler-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/crawler-does-not-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-nested-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-non-official-cc-lc.html
  tests/integration/expected_test_results/unknown_tags/country-cambodia-exists-but-empty.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients-apple.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist.html
  tests/integration/expected_test_results/unknown_tags/country-france-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknownandemptyingredient-does-not-exist-and-empty.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty.html
  tests/integration/expected_test_results/web_html/fr-categories.html
  tests/integration/expected_test_results/web_html/fr-index.html
  tests/integration/expected_test_results/web_html/fr-search-results-cached.html
  tests/integration/expected_test_results/web_html/fr-search-results-no-cache.html
  tests/integration/expected_test_results/web_html/fr-search-results.html
  tests/integration/expected_test_results/web_html/world-categories.html
  tests/integration/expected_test_results/web_html/world-index-signedin.html
  tests/integration/expected_test_results/web_html/world-index.html
  tests/integration/expected_test_results/web_html/world-label-organic.html
  tests/integration/expected_test_results/web_html/world-search-results.html
  tests/unit/expected_test_results/routing/api-v0-attribute-groups.json
  tests/unit/expected_test_results/routing/api-v3-product-code.json
  tests/unit/expected_test_results/routing/api-v3-product-gs1-data-uri.json
  tests/unit/expected_test_results/routing/facet-url-group-by-in-english.json
  tests/unit/expected_test_results/routing/facet-url-group-by.json
  tests/unit/expected_test_results/routing/facet-url-with-page-number.json
  tests/unit/expected_test_results/routing/facet-url-with-synonym-and-page-number.json
  tests/unit/expected_test_results/routing/facet-url.json
  tests/unit/expected_test_results/routing/geoip-get-country-from-ipv4-us.json
  tests/unit/expected_test_results/routing/geoip-get-country-from-ipv6-fr.json
  tests/unit/expected_test_results/routing/invalid-last-url-component.json
  tests/unit/expected_test_results/routing/products-code.json
  tests/unit/expected_test_results/routing/products-codes.json
  tests/unit/expected_test_results/routing/rate-limit-on-facet-registered-user.json
Labels: 🚅 Performance, 🧪 tests, Template::Toolkit, Display, Lists of products
