Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2024-04, with the labels that each got.

#10041 feat: added unit for sodium in India
  cgi/nutrients.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/Food.pm
  taxonomies/nutrients.txt
  tests/unit/food.t
Labels: 🧬 Taxonomies, 🧪 tests, Food.pm, 🧪 unit tests, multilingual products

#9581 feat: dq_correct_wrong_lang__for_tags
  scripts/update_tags_per_languages.py
  scripts/update_tags_per_languages_tests.py
Labels: 🧽 Data quality

#10062 fix: contribution tag not highlighting as part of issue #10061
  templates/web/pages/product/product_page.tt.html
Labels: Product Page, Template::Toolkit

#10046 ci: taxonomy linter
  Makefile
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Store.pm
  lib/ProductOpener/Tags.pm
  scripts/taxonomies/build_tags_taxonomy.pl
  scripts/taxonomies/lint_taxonomy.pl
  scripts/taxonomies/sort_each_taxonomy_entry.pl
  scripts/taxonomies/sort_each_taxonomy_entry.sh
  taxonomies/additives.txt
  tests/unit/tags.t
Labels: 🧬 Taxonomies, 🧴 Open Beauty Facts, 🐾 Open Pet Food Facts, 🧪 tests, 📸 Open Products Facts, Tags, config, 🧪 unit tests, store

#10054 taxonomy: correction translation bars and frozen desserts
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies

#10037 feat: Differentiate features available only for moderators
  scss/_off.scss
  templates/web/pages/product_edit/product_edit_form_display.tt.html
Labels: ✏️ Editing, CSS, Template::Toolkit

#10035 fix: improve the POD documentation so that it conforms to usual Perl conventions
  cpanfile
  lib/ProductOpener/APIProductRevert.pm
  lib/ProductOpener/APITest.pm
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/Data.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/FoodGroups.pm
  lib/ProductOpener/HTTP.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Mail.pm
  lib/ProductOpener/Nutriscore.pm
  lib/ProductOpener/Packaging.pm
  lib/ProductOpener/Paths.pm
  lib/ProductOpener/Producers.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Redis.pm
  lib/ProductOpener/Tags.pm
  lib/ProductOpener/Test.pm
  lib/ProductOpener/TestDefaults.pm
  lib/ProductOpener/Text.pm
  lib/ProductOpener/Users.pm
  lib/ProductOpener/Web.pm
  scripts/preprocess_intermarche_packaging_csv_file.pl
  tests/unit/all_pod_correct.t
Labels: 📦 Packaging, API WRITE, 🧪 tests, dependencies, 🏭 Producers Platform, 🥗🔍 Ingredients analysis, Food.pm, Food groups, Display, 👥 Users, Attributes, Products, Tags, Web, Text, 📨 Mail, 🚦 Nutri-Score, 👮 Moderation, 🥗 Ingredients, REDIS

#10082 fix: typo preventing additives.properties.txt to be used when building taxonomies
  lib/ProductOpener/Tags.pm
Labels: Tags

#9896 taxonomy: polish translations
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/allergens.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, 🧪 additives, 🥜 Allergens, labels, 🥗🔍 Ingredients analysis, ingredients analysis, Ingredients processing, 🥗 Ingredients

#10084 fix: remove circular parent in ingredients taxonomy
  lib/ProductOpener/Tags.pm
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, Tags, 🥗 Ingredients

#10050 refactor: avoid recursion in loading panel.tt.html and divide the logic into blocks (+ HTML test)
  lib/ProductOpener/Display.pm
  templates/web/panels/panel.tt.html
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form-moderator.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form.html
  tests/integration/expected_test_results/protected_product/edit-unprotected-product-web-form.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/world-product.html
Labels: 🧬 Taxonomies, Product Page, API WRITE, 🖼️ Images, product history, 🧪 tests, 📖 Knowledge Panels, dependencies, 🏭 Producers Platform, 💥 Merge Conflicts, Template::Toolkit, Display, 👥 Users, Tags, Minion, API v3, 🔐 Password, file import, multilingual products, 👮 Moderation

#10089 taxonomy: tuna - use ciqual/agribalyse proxy for ambiguous parent categories
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, Agribalyse

#10051 docs: labeler improvements
  .github/labeler.yml
Labels: 📚 Documentation, GitHub Actions

#10026 taxonomy: ingredients for Contribalim
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients, Contribalim

#10087 fix: gen_feeds log path
  .gitignore
  conf/systemd/gen_feeds@.service
  conf/systemd/gen_feeds_daily@.service
  html/products_countries.js
Labels: systemd

#10088 fix: gen_feeds log path
  conf/systemd/gen_feeds@.service
  conf/systemd/gen_feeds_daily@.service
Labels: systemd

#10086 fix: fix gen_feeds log path
  conf/systemd/gen_feeds@.service
  conf/systemd/gen_feeds_daily@.service
Labels: 📸 Open Products Facts, systemd

#10091 fix: add missing origins
  taxonomies/origins.txt
Labels: 🧬 Taxonomies, 📍 Origins

#10085 chore: repairing taxonomies
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/labels.txt
  taxonomies/origins.txt
  taxonomies/packaging_materials.txt
Labels: 🧬 Taxonomies, categories, 📦 Packaging, labels, 📍 Origins, 🥗 Ingredients

#10093 taxonomy: ingredients for Contribalim / Rate my recipes
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  tests/unit/expected_test_results/ingredients/en-ing1-and-ing2-processing-parenthesis.json
  tests/unit/expected_test_results/ingredients/es-percent-loop.json
  tests/unit/expected_test_results/nutriscore/en-avocado-oil.json
Labels: 🧬 Taxonomies, categories, 🧪 tests, Ingredients processing, 🥗 Ingredients

#10079 taxonomy: linting
  Makefile
  scripts/taxonomies/lint_taxonomy.pl
  taxonomies/additives.properties.txt
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/data_quality.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/food_groups.txt
  taxonomies/improvements.txt
  taxonomies/labels.txt
  taxonomies/languages.txt
  taxonomies/minerals.txt
  taxonomies/misc.txt
  taxonomies/nova_groups.txt
  taxonomies/nutrient_levels.txt
  taxonomies/nutrients.txt
  taxonomies/origins.txt
  taxonomies/other_nutritional_substances.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_recycling.txt
  taxonomies/packaging_shapes.txt
  taxonomies/preservation.txt
  taxonomies/prompts.txt
  taxonomies/states.txt
  taxonomies/test.txt
  taxonomies/units.txt
  taxonomies/vitamins.txt
  tests/unit/additives_tags.t
Labels: 🧬 Taxonomies, 🥜 Allergens, categories, 📦 Packaging, labels, status system, 🧽 Data quality, 🧪 tests, 💥 Merge Conflicts, 📍 Origins, 📦 Packaging shapes, Food groups, :star: top pull request, Ingredients processing, 🥗 Ingredients

#10034 taxonomy: german syn E172
  taxonomies/additives.txt
Labels: 🧬 Taxonomies, 🧪 additives, German

#10097 docs: Mention v2 API as having priority over v3.
  docs/api/API_TODO.md
Labels: 📚 Documentation

#10058 fix: make the texts on edit organization profile buttons visible
  cgi/import_file_upload.pl
  cgi/org.pl
Labels: 🏭 Producers Platform, Template::Toolkit, file import

#10096 taxonomy: Extruded cereals
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10099 test: remove scheme in saved html
  lib/ProductOpener/Test.pm
  stop_words.txt
  tests/integration/expected_test_results/api_v2_product_read/get-auth-bad-user-password.html
  tests/integration/expected_test_results/api_v2_product_write/post-product-auth-bad-user-password.html
  tests/integration/expected_test_results/page_crawler/crawler-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/crawler-does-not-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-editor-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-list-of-tags.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-nested-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-non-official-cc-lc.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/product_read/get-unexisting-product.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form-moderator.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form.html
  tests/integration/expected_test_results/protected_product/edit-unprotected-product-web-form.html
  tests/integration/expected_test_results/unknown_tags/country-cambodia-exists-but-empty.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients-apple.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist.html
  tests/integration/expected_test_results/unknown_tags/country-france-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknownandemptyingredient-does-not-exist-and-empty.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty-labels.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty.html
  tests/integration/expected_test_results/unknown_tags/unknown-product.html
  tests/integration/expected_test_results/web_html/fr-brands.html
  tests/integration/expected_test_results/web_html/fr-categories.html
  tests/integration/expected_test_results/web_html/fr-countries.html
  tests/integration/expected_test_results/web_html/fr-edit-product.html
  tests/integration/expected_test_results/web_html/fr-index.html
  tests/integration/expected_test_results/web_html/fr-labels.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/fr-search-form.html
  tests/integration/expected_test_results/web_html/fr-search-results.html
  tests/integration/expected_test_results/web_html/user-register.html
  tests/integration/expected_test_results/web_html/world-brands.html
  tests/integration/expected_test_results/web_html/world-categories.html
  tests/integration/expected_test_results/web_html/world-countries.html
  tests/integration/expected_test_results/web_html/world-edit-product.html
  tests/integration/expected_test_results/web_html/world-index-signedin.html
  tests/integration/expected_test_results/web_html/world-index.html
  tests/integration/expected_test_results/web_html/world-label-organic.html
  tests/integration/expected_test_results/web_html/world-labels.html
  tests/integration/expected_test_results/web_html/world-product-not-found.html
  tests/integration/expected_test_results/web_html/world-product.html
  tests/integration/expected_test_results/web_html/world-search-form.html
  tests/integration/expected_test_results/web_html/world-search-results.html
Labels: 🧪 tests

#10106 feat: report a problem panels (OFF data + French SignalConso)
  html/images/panels/report_problem/signalconso-button.png
  html/images/panels/report_problem/signalconso.png
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanels.pm
  lib/ProductOpener/KnowledgePanelsReportProblem.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Store.pm
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  stop_words.txt
  templates/api/knowledge-panels/report_problem/fr_report_product_signalconso.tt.json
  templates/api/knowledge-panels/report_problem/incomplete_or_incorrect_data.tt.json
  templates/api/knowledge-panels/report_problem/report_problem_card.tt.json
  templates/api/knowledge-panels/root.tt.json
  templates/web/pages/product/product_page.tt.html
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_write/patch-request-fields-updated-attribute-groups-knowledge-panels.json
  tests/integration/expected_test_results/data_quality_knowledge_panel/data-quality.json
  tests/integration/expected_test_results/data_quality_knowledge_panel/no-data-quality.json
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/world-product.html
Labels: API, Product Page, 🧪 tests, 📖 Knowledge Panels, NGINX, Template::Toolkit, Display, Products, 🧪 integration tests, store, 🌐 Translations

#10111 fix: howmuchsugar / combiendesucres
  cgi/sugar_random.pl
Labels: 🍬 How much sugar

#10114 fix: base_paths_loading_script needs to be exported
  lib/ProductOpener/Paths.pm
  tests/unit/paths.t
Labels: 🧪 tests

#10112 fix: remove warning in KnowledgePanelsReportProblem.pm, remove report problem card from pro platform
  lib/ProductOpener/KnowledgePanels.pm
  lib/ProductOpener/KnowledgePanelsReportProblem.pm
  templates/api/knowledge-panels/report_problem/fr_report_product_signalconso.tt.json
  templates/api/knowledge-panels/root.tt.json
  templates/web/pages/product/product_page.tt.html
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/world-product.html
Labels: Product Page, 🧪 tests, 📖 Knowledge Panels, Template::Toolkit

#10122 fix: fix typo in monogdb_dump
  scripts/mongodb_dump.sh
Labels: export, MongoDB

#10113 fix: suggestions for packaging codes / EMB codes
  lib/ProductOpener/APITaxonomySuggestions.pm
  lib/ProductOpener/TaxonomySuggestions.pm
  tests/integration/api_v3_taxonomy_suggestions.t
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/categories-string-fr-tart-get-synonyms.json
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/emb-codes.json
Labels: 📍🏭 Packager codes, 🧪 tests, ✏️ Editing - Auto Suggest

#10127 taxonomy: romanian sulfit
  taxonomies/allergens.txt
Labels: 🧬 Taxonomies, 🥜 Allergens

#10126 taxonomy: romanian
  lib/ProductOpener/Ingredients.pm
Labels: 🥗🔍 Ingredients analysis, 🇷🇴 Romania, 🥗 Ingredients

#10142 docs: better alt= for panel screenshot
  docs/api/explain-knowledge-panels.md
Labels: 📚 Documentation

#10146 fix: send cookie in auth.pl
  cgi/auth.pl
  lib/ProductOpener/APITest.pm
  tests/integration/auth.t
  tests/integration/expected_test_results/auth/auth-authenticated-with-userid-and-password.json
Labels: 🧪 tests, 🔐 Auth

#10095 feat: Added view_this_revision button
  po/common/common.pot
  po/common/en.po
  templates/web/pages/product/includes/edit_history.tt.html
  tests/integration/expected_test_results/web_html/fr-edit-product.html
  tests/integration/expected_test_results/web_html/world-edit-product.html
Labels: Product Page, product history, 🧪 tests, Template::Toolkit, 🌐 Translations

#10136 fix: disable the Invite Users button until at least one email address has been entered
  templates/web/pages/org_form/org_form.tt.html
Labels: 🏭 Producers Platform, Template::Toolkit

#10152 fix: add cc field to auth.pl
  cgi/auth.pl
  tests/integration/expected_test_results/auth/auth-authenticated-with-userid-and-password.json
Labels: 🧪 tests, 🔐 Auth

#10128 taxonomy: Romanian ingr
  taxonomies/food/ingredients.txt
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
  tests/unit/expected_test_results/ingredients/fi-do-not-match-myanmar.json
Labels: 🧬 Taxonomies, 🧪 tests, 🇷🇴 Romania, 🥗 Ingredients

#10121 docs: add change ref parameters to product edit
  docs/api/ref/api.yml
  docs/api/ref/requestBodies/change_ref_properties.yaml
Labels: 📚 Documentation

#10119 chore: add jsonl sample
  scripts/export_products_data_and_images.pl
  scripts/gen_feeds_daily_off.sh
Labels: exports, Data exports, JSONL

#10149 fix: Update suggestions in more situations
  html/js/product-multilingual.js
Labels: ✏️ Editing - Auto Suggest, multilingual products

#10164 docs: refresh how-to-download-images.md
  docs/api/how-to-download-images.md
Labels: 📚 Documentation

#10117 docs: add the general rule to the splitting example
  docs/api/aws-images-dataset.md
Labels: 📚 Documentation

#7895 docs: Folksonomy API
  .github/labeler.yml
  docs/api/tutorial-dev-journey.md
  docs/reference/api-tutorials/folksonomy-engine.md
Labels: 📚 Documentation, GitHub Actions, 🏷️ Folksonomy Project, dev journeys documentation, Road to Doc

#10201 ci: Update explain-knowledge-panels.md
  docs/api/explain-knowledge-panels.md
Labels: 📚 Documentation

#10204 ci: level up NOVA labeler
  .github/labeler.yml
Labels: Nova - Ultra-processed foods, GitHub Actions

#10175 docs: Update product_tags.yaml
  docs/api/ref/schemas/product_tags.yaml
Labels: 📚 Documentation

#10172 chore: Adding OSM id to countries
  taxonomies/countries.txt
Labels: 🧬 Taxonomies, 📍 location

#10155 taxonomy: ingredients - maple sugar, flavor, extract
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10098 fix: Update labeler.yml with additives_classes and additives
  .github/labeler.yml
Labels: GitHub Actions

#6833 fix: make NOVA panel clearer
  templates/api/knowledge-panels/health/ingredients/nova.tt.json
Labels: 📖 Knowledge Panels, Nova - Ultra-processed foods, Template::Toolkit, ⏰ Stale

#10192 docs: updated quick start guide with fix to permission issue on macOS.
  docs/dev/how-to-quick-start-guide.md
Labels: 📚 Documentation
