Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2024-06, with the labels that each got.

#10379 feat: store org data in mongo db
  lib/ProductOpener/Data.pm
  lib/ProductOpener/Orgs.pm
Labels: 🏭 Producers Platform, 🏭 Orgs

#10375 fix: enable caching for logged-in users, use Cache-Control: no-cache
  lib/ProductOpener/Display.pm
  lib/ProductOpener/HTTP.pm
  tests/integration/expected_test_results/web_html/fr-search-results-no-cache.html
  tests/integration/expected_test_results/web_html/post-product-image-2.json
  tests/integration/web_html.t
Labels: MongoDB, 🚅 Performance, 🧪 tests, caching, Display

#10376 taxonomy: New german syn
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10354 chore: taxonomy updates week22
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, categories, 🥗 Ingredients

#10350 taxonomy: update wines, chicken, various
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10317 taxonomy: translate categories in croatian
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories, 🇭🇷 Croatia

#10316 taxonomy: translate ingredients in Croatian
  taxonomies/additives.txt
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🧪 additives, 🇭🇷 Croatia, Taxonomies, 🥗 Ingredients

#10390 taxonomy: translate ingredients in croatian 3
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10394 fix: utf8 orgid support in url query string
  cgi/org.pl
  lib/ProductOpener/Users.pm
Labels: 👥 Users

#10397 ci: Update labeler.yml for Producer platform - improvement opportunities
  .github/labeler.yml
Labels: GitHub Actions

#10402 fix: add missing strings to common.pot
  po/common/common.pot
Labels: 🌐 Translations

#10400 fix: checkboxes for nutrition data
  cgi/product_multilingual.pl
  lib/ProductOpener/Food.pm
Labels: Food.pm, multilingual products

#10404 taxonomy: remove duplicate split peas entry in ingredients
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10405 docs: explanation on personal search
  docs/api/ref/api.yml
  docs/api/ref/responses/get_attribute_groups.yaml
  docs/api/ref/responses/get_preferences.yaml
  docs/api/ref/schemas/product.yaml
  docs/api/ref/schemas/product_attribute_groups.yaml
  docs/dev/explain-personal-search.md
  html/js/product-search.js
Labels: 📚 Documentation

#10407 fix: raise page size limit to 1000 for logged in users
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Display.pm
Labels: 🧴 Open Beauty Facts, 🐾 Open Pet Food Facts, 📸 Open Products Facts, Display, config

#10380 docs: leveraging-links-to-wikidata.md
  .github/labeler.yml
  docs/api/leveraging-links-to-wikidata.md
Labels: 📚 Documentation, GitHub Actions

#10410 fix: move back to normal to avoid megadiff
  po/common/common.pot
Labels: 🌐 Translations

#10411 fix: better parsing of ingredient (something unknown and something known)
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/food/ingredients.txt
  tests/unit/expected_test_results/ingredients/en-comma-and-pepper.json
  tests/unit/expected_test_results/ingredients/en-ing1-and-ing2-processing.json
  tests/unit/expected_test_results/ingredients/en-some-unknown-ingredient-and-salt.json
  tests/unit/ingredients.t
  tests/unit/ingredients_tags.t
Labels: 🧬 Taxonomies, 🧪 additives, 🧪 tests, 🥗🔍 Ingredients analysis, 🥗 Ingredients

#10399 ci: Update labeler.yml for systemd apache & nginx
  .github/labeler.yml
Labels: GitHub Actions

#10426 feat: tagline-off-*-v3.json
  html/resources/files/tagline-off-android-v3.json
  html/resources/files/tagline-off-ios-v3.json
Labels: 🤳🥫 tagline

#10393 chore: add org update script
  Makefile
  scripts/migrations/2024_06_save_existing_orgs_to_mongodb.pl
Labels: 🏭 Producers Platform, 🏭 Orgs

#10430 taxonomy: Bulgarian additions
  taxonomies/additives.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/labels.txt
  taxonomies/unused/brands.txt
Labels: 🧬 Taxonomies, 🧪 additives, categories, brands, 🥗 Ingredients

#10340 feat: First step to the CRM integration
  .env
  Makefile
  cgi/import_file_process.pl
  cgi/org.pl
  cgi/product_multilingual.pl
  conf/apache-2.4/modperl.conf
  cpanfile
  docker-compose.yml
  lib/ProductOpener/CRM.pm
  lib/ProductOpener/Config2_docker.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/LoadData.pm
  lib/ProductOpener/Orgs.pm
  lib/ProductOpener/Producers.pm
  po/common/common.pot
  po/common/en.po
  scripts/migrations/2024_06_org_validation_move_field.pl
  stop_words.txt
  templates/web/pages/org_form/org_form.tt.html
  tests/integration/create_pro_user.t
  tests/integration/expected_test_results/create_pro_user/org-after-subscription.json
  tests/integration/expected_test_results/create_pro_user/org-after-validation.json
Labels: Data import, 🧪 tests, dependencies, 🏭 Producers Platform, Template::Toolkit, config, Minion, file import, multilingual products, 🏭 Orgs, 🌐 Translations

#10429 fix: reduce logs
  cgi/search.pl
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanels.pm
Labels: 📖 Knowledge Panels, Display

#10422 feat: use more the allergens:en property of the ingredients taxonomy
  lib/ProductOpener/Ingredients.pm
  taxonomies/food/ingredients.txt
  tests/unit/allergens.t
  tests/unit/allergens_tags.t
Labels: 🧬 Taxonomies, 🥜 Allergens, 🧪 tests, 🥗🔍 Ingredients analysis, 🥗 Ingredients

#10434 fix: improve logging
  conf/log.conf
  conf/minion_log.conf
  conf/off-log.conf
  conf/off-pro-log.conf
  lib/ProductOpener/Redis.pm
Labels: 🚅 Performance, 💥 Merge Conflicts, REDIS, rate limiter

#10427 taxonomy: milk improvements in ingredients and processing
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies, 🚦 Nutri-Score, Ingredients processing, 🥗 Ingredients

#10436 taxonomy: add support for "chargrilled corn" and "red capsicum"
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies, Ingredients processing, 🥗 Ingredients

#10424 chore: Nova4 additions
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10446 taxonomy: Complete `en:flavoured-oils` subcategories
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10441 feat: add a button to open the CRM page of the company / contact
  cgi/org.pl
  cgi/user.pl
  lib/ProductOpener/CRM.pm
  lib/ProductOpener/Config2_docker.pm
  po/common/common.pot
  po/common/en.po
  scss/_off.scss
  templates/web/pages/org_form/org_form.tt.html
  templates/web/pages/user_form/user_form_page.tt.html
  tests/integration/expected_test_results/web_html/user-register.html
Labels: 🧪 tests, CSS, 🏭 Producers Platform, Template::Toolkit, 👥 Users, 🏭 Producers Platform - Odoo, config, 🌐 Translations

#10346 refactor: configuration for OBF with new code + ProductsFeatures.pm for features by product type
  cgi/product_multilingual.pl
  conf/apache-2.4/obf-ports.conf
  conf/apache-2.4/opf-ports.conf
  conf/apache-2.4/opff-ports.conf
  conf/nginx/sites-available/obf
  conf/nginx/snippets/obf.domain-redirects.include
  conf/nginx/snippets/obf.locations-redirects.include
  conf/obf-log.conf
  conf/obf-minion_log.conf
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/KnowledgePanels.pm
  lib/ProductOpener/ProductsFeatures.pm
  taxonomies/beauty/inci_functions.txt
  templates/api/knowledge-panels/health/health_card.tt.json
  templates/web/common/includes/list_of_products.tt.html
  tests/integration/expected_test_results/page_crawler/crawler-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/crawler-does-not-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-nested-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/unknown_tags/country-france-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty.html
  tests/integration/expected_test_results/web_html/fr-categories.html
  tests/integration/expected_test_results/web_html/fr-index.html
  tests/integration/expected_test_results/web_html/fr-search-results-cached.html
  tests/integration/expected_test_results/web_html/fr-search-results-no-cache.html
  tests/integration/expected_test_results/web_html/fr-search-results.html
  tests/integration/expected_test_results/web_html/world-categories.html
  tests/integration/expected_test_results/web_html/world-index-signedin.html
  tests/integration/expected_test_results/web_html/world-index.html
  tests/integration/expected_test_results/web_html/world-label-organic.html
  tests/integration/expected_test_results/web_html/world-search-results.html
Labels: 🧬 Taxonomies, categories, 🧴 Open Beauty Facts, 🐾 Open Pet Food Facts, 🧪 tests, 📸 Open Products Facts, 📖 Knowledge Panels, NGINX, Template::Toolkit, Display, config, Lists of products, multilingual products, 🥗 Ingredients

#10425 taxonomy: Tempeh cultures
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10437 fix: detect_allergens_from_ingredients typo
  lib/ProductOpener/Ingredients.pm
  tests/integration/expected_test_results/api_v2_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-raw.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-ai-data-str.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-caret.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-data-uri.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-fnc1.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-gs.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-raw.json
  tests/integration/expected_test_results/protected_product/get-edited-protected-product-api-v2-moderator.json
  tests/integration/expected_test_results/protected_product/get-edited-protected-product-api-v2.json
  tests/integration/expected_test_results/protected_product/get-edited-protected-product-web-form-moderator.json
  tests/integration/expected_test_results/protected_product/get-edited-protected-product-web-form.json
  tests/integration/expected_test_results/protected_product/get-edited-unprotected-product-api-v2.json
  tests/integration/expected_test_results/protected_product/get-edited-unprotected-product-web-form.json
  tests/integration/expected_test_results/search_v1/search-no-filter.json
  tests/integration/expected_test_results/web_html/fr-index.html
  tests/integration/expected_test_results/web_html/world-categories.html
  tests/integration/expected_test_results/web_html/world-index-signedin.html
  tests/integration/expected_test_results/web_html/world-index.html
  tests/unit/allergens_tags.t
  tests/unit/expected_test_results/attributes/en-attributes.json
  tests/unit/expected_test_results/import_convert_carrefour_france/import_convert_carrefour_france_export.csv
  tests/unit/expected_test_results/import_convert_carrefour_france/rows/8431876331110.json
  tests/unit/expected_test_results/nutriscore/en-red-meat-ambiguous-category-ingredients-with-no-meat.json
  tests/unit/expected_test_results/nutriscore/en-red-meat-ambiguous-category-ingredients-with-very-little-meat.json
  tests/unit/expected_test_results/nutriscore/en-soy-beans-processed-and-unprocessed.json
Labels: 🥜 Allergens, 🧪 tests, 🥗🔍 Ingredients analysis, 🥗 Ingredients

#10457 taxonomy: nut butter cups
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10454 taxonomy: betaglucan
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10418 taxonomy: rare crops property for ingredients
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10438 feat: Rare crops knowledge panel - Divinfood project
  html/images/panels/divinfood/divinfood.png
  html/images/panels/divinfood/divinfood.svg
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/KnowledgePanels.pm
  lib/ProductOpener/Tags.pm
  po/common/common.pot
  po/common/en.po
  taxonomies/food/ingredients.txt
  templates/api/knowledge-panels/health/ingredients/ingredients_rare_crops.tt.json
  templates/api/knowledge-panels/health/ingredients_panels.tt.json
Labels: 🧬 Taxonomies, 🧴 Open Beauty Facts, 🐾 Open Pet Food Facts, 🧪 tests, 📸 Open Products Facts, 📖 Knowledge Panels, NGINX, 💥 Merge Conflicts, 🥗🔍 Ingredients analysis, Template::Toolkit, Display, Tags, config, Lists of products, divinfood, multilingual products, 🌐 Translations, 🥗 Ingredients

#10462 fix: show GLNs used by orgs in GS1 imports
  lib/ProductOpener/Import.pm
  templates/emails/import_csv_file_admin_notification.tt.html
  tests/integration/expected_test_results/convert_and_import_excel_file/carrefour-images/products/stats.json
  tests/integration/expected_test_results/convert_and_import_excel_file/openfoodfacts_import_template_fr_test/products/stats.json
  tests/integration/expected_test_results/convert_and_import_excel_file/packagings-mousquetaires/products/stats.json
  tests/integration/expected_test_results/convert_and_import_excel_file/test/products/stats.json
  tests/integration/expected_test_results/import_csv_file/replace_existing_values/stats.json
  tests/integration/expected_test_results/import_csv_file/test/stats.json
Labels: Data import, 🧪 tests, 🏭 Producers Platform, Template::Toolkit, 📨 Mail

#10417 taxonomy: Spanish allergens
  taxonomies/allergens.txt
  tests/unit/expected_test_results/ingredients/fr-allergens-and-traces.json
Labels: 🧬 Taxonomies, 🥜 Allergens, 🧪 tests, Spanish

#10465 feat: show which information is provided by manufacturers in product edit form
  cgi/product_multilingual.pl
  lib/ProductOpener/APIProductWrite.pm
  lib/ProductOpener/Food.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Products.pm
  po/common/common.pot
  po/common/en.po
  templates/web/pages/product_edit/display_input_field.tt.html
  templates/web/pages/product_edit/product_edit_form_display.tt.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form.html
  tests/integration/expected_test_results/protected_product/get-edited-protected-product-api-v2.json
  tests/integration/expected_test_results/protected_product/get-edited-protected-product-web-form.json
  tests/integration/expected_test_results/web_html/fr-edit-product.html
  tests/integration/expected_test_results/web_html/world-edit-product.html
Labels: ✏️ Editing, Data import, API WRITE, 🧪 tests, 🏭 Producers Platform, Food.pm, Template::Toolkit, Products, multilingual products, 🌐 Translations

#10440 feat: new sync data in CRM
  cgi/generate_sample_import_file.pl
  cgi/import_file_process.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/CRM.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Orgs.pm
  lib/ProductOpener/Test.pm
  lib/ProductOpener/Users.pm
  tests/integration/expected_test_results/api_v2_product_write/get-product-auth-good-password.json
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-gs.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all.json
  tests/integration/expected_test_results/create_pro_user/user-after-subscription.json
Labels: Data import, 🧪 tests, 🏭 Producers Platform, 👥 Users, 🏭 Producers Platform - Odoo, Minion, file import, multilingual products, 🏭 Orgs

#10433 feat: display orgs data in table
  cgi/display_org_table.pl
  po/common/common.pot
  po/common/en.po
  po/common/fr.po
  po/common/yo.po
  templates/web/pages/dashboard/display_orgs_table.tt.html
Labels: Template::Toolkit, 🌐 Translations

#10266 feat: Pull MongoDB and Redis from shared-services repo
  .devcontainer/devcontainer.json
  .github/workflows/daily.yml
  .github/workflows/mongo-deploy.yml
  .gitignore
  Makefile
  conf/mongodb/create_indexes.js
  docker-compose.yml
  docker/dev.yml
  docker/mongodb.yml
  docker/prod.yml
  docker/run.yml
  scripts/create_mongodb_indexes.pl
Labels: MongoDB, 🐋 Docker, GitHub Actions, Shared services

#10476 docs: explain page organization
  docs/index.md
Labels: 📚 Documentation

#10480 fix: Use a separate make target for production up to not create dependencies
  .env
  .github/workflows/container-deploy.yml
  Makefile
  docker/docker-livecheck.sh
  docker/run.yml
Labels: 🐋 Docker, GitHub Actions

#10492 taxonomy: cs translations for cranberry juice and chokeberry juice
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies, Ingredients processing, 🥗 Ingredients

#10494 fix: various fixes to data sync with CRM
  cgi/import_file_process.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/CRM.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Orgs.pm
  lib/ProductOpener/Test.pm
  tests/integration/expected_test_results/create_pro_user/org-after-subscription.json
  tests/integration/expected_test_results/create_pro_user/org-after-validation.json
Labels: Data import, 🧪 tests, 🏭 Producers Platform, 🏭 Producers Platform - Odoo, Minion, file import, multilingual products, 🏭 Orgs

#10495 fix: correct URL for OFF Android app on Google Play
  lib/ProductOpener/Config_off.pm
  tests/integration/expected_test_results/api_v2_product_read/get-auth-bad-user-password.html
  tests/integration/expected_test_results/api_v2_product_write/get-product-auth-good-password.json
  tests/integration/expected_test_results/api_v2_product_write/post-product-auth-bad-user-password.html
  tests/integration/expected_test_results/api_v3_product_read/get-existing-product-gs1-gs.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all.json
  tests/integration/expected_test_results/page_crawler/crawler-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/crawler-does-not-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-editor-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-list-of-tags.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-nested-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-non-official-cc-lc.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/product_read/get-unexisting-product.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form-moderator.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form.html
  tests/integration/expected_test_results/protected_product/edit-unprotected-product-web-form.html
  tests/integration/expected_test_results/unknown_tags/country-cambodia-exists-but-empty.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients-apple.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist.html
  tests/integration/expected_test_results/unknown_tags/country-france-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknownandemptyingredient-does-not-exist-and-empty.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty-labels.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty.html
  tests/integration/expected_test_results/unknown_tags/unknown-product.html
  tests/integration/expected_test_results/web_html/fr-brands.html
  tests/integration/expected_test_results/web_html/fr-categories.html
  tests/integration/expected_test_results/web_html/fr-countries.html
  tests/integration/expected_test_results/web_html/fr-edit-product.html
  tests/integration/expected_test_results/web_html/fr-index.html
  tests/integration/expected_test_results/web_html/fr-labels.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/fr-search-form.html
  tests/integration/expected_test_results/web_html/fr-search-results-cached.html
  tests/integration/expected_test_results/web_html/fr-search-results-no-cache.html
  tests/integration/expected_test_results/web_html/fr-search-results.html
  tests/integration/expected_test_results/web_html/user-register.html
  tests/integration/expected_test_results/web_html/world-brands.html
  tests/integration/expected_test_results/web_html/world-categories.html
  tests/integration/expected_test_results/web_html/world-countries.html
  tests/integration/expected_test_results/web_html/world-edit-product.html
  tests/integration/expected_test_results/web_html/world-index-signedin.html
  tests/integration/expected_test_results/web_html/world-index.html
  tests/integration/expected_test_results/web_html/world-label-organic.html
  tests/integration/expected_test_results/web_html/world-labels.html
  tests/integration/expected_test_results/web_html/world-product-not-found.html
  tests/integration/expected_test_results/web_html/world-product.html
  tests/integration/expected_test_results/web_html/world-search-form.html
  tests/integration/expected_test_results/web_html/world-search-results.html
Labels: 🧪 tests, config

#10497 fix: hydrogenated fat vegan maybe
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🌱 Vegan, 🥗 Ingredients

#10496 feat: add logo for the label 1% for the planet
  html/images/lang/en/labels/1-for-the-planet.75x90.png
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels, Taxonomies
