Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2024-11, with the labels that each got.

#10952 ci: cache taxonomies in pr workflow
  .github/workflows/pull_request.yml
  Makefile
Labels: 🧬 Taxonomies, 📦 Packaging, 🧽 Data quality, 🧪 tests, GitHub Actions, 📍 Origins, Tags, 🥗 Ingredients

#10956 ci: remove windows phone
  po/openbeautyfacts/en.po
  po/openpetfoodfacts/en.po
  po/openproductsfacts/en.po
Labels: 🧴 Open Beauty Facts, 🐾 Open Pet Food Facts, 📸 Open Products Facts, 🌐 Translations

#10947 ci: Update github-projects-ventilation.yml
  .github/workflows/github-projects-ventilation.yml
Labels: GitHub Actions

#10968 docs: Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: GitHub Actions

#10966 taxonomy: Add french term for E160b(ii)
  taxonomies/additives.txt
Labels: 🧬 Taxonomies, 🧪 additives

#10962 taxonomy: nuts german syn
  taxonomies/allergens.txt
Labels: 🧬 Taxonomies, 🥜 Allergens

#10973 refactor: gen_feeds_daily.pl (exports and database dumps) for all flavors
  conf/systemd/gen_feeds@.service
  conf/systemd/gen_feeds@.timer
  conf/systemd/gen_feeds_daily@.service
  lib/ProductOpener/Config.pm
  lib/ProductOpener/Config2_docker.pm
  lib/ProductOpener/Config2_sample.pm
  lib/ProductOpener/Paths.pm
  scripts/export_csv_file.pl
  scripts/export_database.pl
  scripts/export_products_data_and_images.pl
  scripts/gen_feeds.sh
  scripts/gen_feeds_daily.sh
  scripts/gen_feeds_daily_obf.sh
  scripts/gen_feeds_daily_off-pro.sh
  scripts/gen_feeds_daily_off.sh
  scripts/gen_feeds_daily_opf.sh
  scripts/gen_feeds_daily_opff.sh
  scripts/gen_feeds_obf.sh
  scripts/gen_feeds_off.sh
  scripts/gen_feeds_opf.sh
  scripts/gen_feeds_opff.sh
  scripts/gen_top_tags_per_country.pl
  scripts/generate_dump_for_offline_apps.py
  scripts/generate_dump_for_offline_apps_off.py
  scripts/mongodb_dump.sh
  tests/unit/paths.t
Labels: export, MongoDB, 🧴 Open Beauty Facts, 🐾 Open Pet Food Facts, 🧪 tests, 📸 Open Products Facts, Tags, config, exports, Data exports, systemd

#10964 taxonomy: correction coconut macaroons
  taxonomies/food/categories.txt
  tests/integration/expected_test_results/web_html/fr-categories.html
  tests/integration/expected_test_results/web_html/world-categories.html
Labels: 🧬 Taxonomies, categories, 🧪 tests

#10963 taxonomy: german additives
  taxonomies/additives.txt
Labels: 🧬 Taxonomies, 🧪 additives

#10979 ci: Revert "docs: Update bug_report.md"
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: GitHub Actions

#10980 ci: Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: GitHub Actions

#10978 ci: issue template improvements
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
Labels: GitHub Actions

#10982 feat: increase donation locales
  conf/nginx/snippets/off.locations-redirects.include
Labels: NGINX, 🎁 donations

#10994 fix: Update the mobile tagline for the donation campaign
  html/resources/files/tagline-off-android-v3.json
  html/resources/files/tagline-off-ios-v3.json
Labels: 🤳🥫 tagline, 🎁 donations

#10976 docs: Improved descriptions and schema adjustments for API references
  docs/api/ref/api.yml
  docs/api/ref/schemas/image.yaml
  docs/api/ref/schemas/image_role.yaml
  docs/api/ref/schemas/image_urls.yaml
  docs/api/ref/schemas/nutrients.yaml
  docs/api/ref/schemas/product_base.yaml
  docs/api/ref/schemas/product_ecoscore.yaml
  docs/api/ref/schemas/product_extended.yaml
  docs/api/ref/schemas/product_images.yaml
  docs/api/ref/schemas/product_tags.yaml
Labels: 📚 Documentation, 📚 OpenAPI

#11005 docs: openapi nutriscore definition
  docs/api/ref/api.yml
  docs/api/ref/schemas/product.yaml
  docs/api/ref/schemas/product_nutriscore.yaml
Labels: 📚 Documentation

#10981 fix: copy of csv exports to amazon s3
  scripts/gen_feeds_daily.sh
Labels: Data export

#11008 fix: allow to query tags without normalization
  lib/ProductOpener/Display.pm
Labels: Display

#11007 chore: remove sync-images-s3 script
  conf/systemd/sync_images_s3@.service
  conf/systemd/sync_images_s3@.timer
  scripts/sync-s3-images/README.md
  scripts/sync-s3-images/openfoodfacts-images.yaml
  scripts/sync-s3-images/requirements.txt
  scripts/sync-s3-images/sync_s3_images.py
Labels: Data export, 🖼️ Images

#11010 ci: add OpenAPI yaml files
  .github/labeler.yml
Labels: GitHub Actions, 📚 OpenAPI

#11027 taxonomy: Italian for bacon
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#11009 fix: apidoc openApi ecoscore mapping
  docs/api/ref/schemas/agribalyse.yaml
  docs/api/ref/schemas/ecoscore-country-code.yaml
  docs/api/ref/schemas/product_ecoscore.yaml
Labels: 📚 Documentation, 🌱 Eco-Score, Agribalyse, 📚 OpenAPI

#11012 feat: openApi refactor fields parameter to support multiple values with enum validation (getProductByBarCode/search)
  docs/api/ref/api.yml
  docs/api/ref/parameters/product_available_fields.yaml
  docs/api/ref/schemas/product_nutriscore.yaml
  docs/api/ref/schemas/product_nutrition.yaml
Labels: 📚 Documentation, 📚 OpenAPI

#11025 chore: week47
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, categories, 🥗 Ingredients

#11032 fix: refactor + ignore 'null' product_type sent by app
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/APIProductWrite.pm
  tests/integration/change_product_code_and_product_type.t
  tests/integration/expected_test_results/change_product_code_and_product_type/change-product-code-api-v2-normal-account.json
  tests/integration/expected_test_results/change_product_code_and_product_type/change-product-code-api-v2-not-logged-in.json
  tests/integration/expected_test_results/change_product_code_and_product_type/change-product-code-api-v3-moderator-existing-code.json
  tests/integration/expected_test_results/change_product_code_and_product_type/change-product-code-api-v3-moderator-invalid-code.json
  tests/integration/expected_test_results/change_product_code_and_product_type/change-product-type-to-beauty-api-v2-normal-account.json
  tests/integration/expected_test_results/change_product_code_and_product_type/change-product-type-to-empty-string-api-v2-moderator.json
  tests/integration/expected_test_results/change_product_code_and_product_type/change-product-type-to-null-api-v2-moderator.json
  tests/integration/expected_test_results/change_product_code_and_product_type/change-product-type-to-opff-api-v3-invalid-product-type.json
Labels: API WRITE, 🧪 tests, multilingual products

#10998 feat: Update tagline-off-android-v3.json - additional-languages-for-d…
  html/resources/files/tagline-off-android-v3.json
Labels: 🤳🥫 tagline

#11017 ci: labeler for packager codes
  .github/labeler.yml
Labels: GitHub Actions

#11031 l10n: Improve Hungarian translation of nutrient levels
  taxonomies/nutrient_levels.txt
Labels: 🧬 Taxonomies

#10991 feat: nutripatrol product report
  .env
  .github/workflows/container-deploy.yml
  cgi/product_multilingual.pl
  conf/apache-2.4/modperl.conf
  docker-compose.yml
  env/env.obf
  env/env.off
  env/env.opf
  env/env.opff
  lib/ProductOpener/ConfigEnv.pm
  lib/ProductOpener/KnowledgePanelsReportProblem.pm
  lib/ProductOpener/Products.pm
  po/common/common.pot
  po/common/en.po
  templates/api/knowledge-panels/report_problem/incomplete_or_incorrect_data.tt.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-knowledge-panels-knowledge-panels_excluded-environment_card.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-knowledge-panels-knowledge-panels_excluded-environment_card.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_write/patch-request-fields-updated-attribute-groups-knowledge-panels.json
  tests/integration/expected_test_results/data_quality_knowledge_panel/data-quality.json
  tests/integration/expected_test_results/data_quality_knowledge_panel/no-data-quality.json
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/world-product.html
Labels: API, 🧪 tests, 📖 Knowledge Panels, Template::Toolkit, GitHub Actions, Products, 🧪 integration tests, multilingual products, 👮 Moderation, 🌐 Translations

#11019 ci: send translations PRs to the translation project
  .github/workflows/github-projects-ventilation.yml
Labels: GitHub Actions

#11056 fix: API redirects for product types
  lib/ProductOpener/APIProductRead.pm
  lib/ProductOpener/Display.pm
  tests/integration/change_product_code_and_product_type.t
  tests/integration/expected_test_results/change_product_code_and_product_type/get-obf-product-with-api-v3-no-product-type.html
  tests/integration/expected_test_results/change_product_code_and_product_type/get-product-opf-with-all-product-type-api-v2.html
  tests/integration/expected_test_results/change_product_code_and_product_type/get-product-opf-with-all-product-type-api-v3.html
  tests/integration/expected_test_results/change_product_code_and_product_type/get-product-opf-with-right-product-type-api-v2.html
  tests/integration/expected_test_results/change_product_code_and_product_type/get-product-opf-with-right-product-type-api-v3.html
  tests/integration/expected_test_results/change_product_code_and_product_type/get-product-opff-with-all-product-type-api-v3.html
  tests/integration/expected_test_results/change_product_code_and_product_type/send-existing-product-type-api-v2-normal-account.json
  tests/integration/expected_test_results/change_product_code_and_product_type/send-existing-product-type-api-v3-normal-account.json
Labels: API READ, 🧪 tests, Display

#11061 chore: week48
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, categories, 🥗 Ingredients

#10812 chore: single ingredient categories
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#11059 ci: add metrics and matomo to the metrics project
  .github/workflows/github-projects-ventilation.yml
Labels: GitHub Actions

#10969 chore: week45
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies, categories, Ingredients processing, Taxonomies, 🥗 Ingredients

#11062 fix: remove warning in ecobalyse matching of ingredients
  lib/ProductOpener/Ingredients.pm
Labels: 🥗🔍 Ingredients analysis, 🥗 Ingredients

#11065 fix: pro platform product writes to the public platform MongoDB database
  cgi/product_jqm_multilingual.pl
  cgi/product_multilingual.pl
  lib/ProductOpener/APIProductRead.pm
  lib/ProductOpener/APIProductWrite.pm
  lib/ProductOpener/Config.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/Products.pm
Labels: API WRITE, API READ, Display, Products, multilingual products

#11070 build: do not import sample data in GitHub PR checks for make_dev
  .github/workflows/pull_request.yml
  Makefile
  scripts/gen_feeds_daily.sh
  scripts/import_sample_data.sh
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories, GitHub Actions

#11072 fix: Load products in mongodb
  lib/ProductOpener/Products.pm
  scripts/load_products_in_mongodb.pl
  stop_words.txt
Labels: Products
