Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2024-10, with the labels that each got.

#10847 taxonomy: Fix misplaced ja translation of en:dried-tomatoes
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10839 taxonomy: around 60 ids from Ecobalyse have been added for few ingredients
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients, Ecobalyse

#10840 chore: week39 taxonomy updates
  taxonomies/additives_classes.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🧪 additives, categories, 🥗 Ingredients

#10846 fix: indicate some attributes have only mandatory / not_important options
  lib/ProductOpener/Attributes.pm
  lib/ProductOpener/Config_off.pm
Labels: Attributes, config

#10853 fix: docs Fixed proper denomination of product in query
  docs/api/tutorial-off-api.md
Labels: 📚 Documentation

#10850 fix: docs Adding closing ) to generate proper internal link
  docs/reference/api-tutorials/get-ingredient-related-analysis.md
Labels: 📚 Documentation, Nova - Ultra-processed foods

#10836 docs: image url in how-to-download-images
  docs/api/how-to-download-images.md
  docs/api/ref/schemas/product_images.yaml
Labels: 📚 Documentation

#10784 taxonomy: Add label for MåBra health(y) food award
  taxonomies/labels.txt
  taxonomies/petfood/categories.txt
Labels: 🧬 Taxonomies, 🥜 Allergens, 🐾 Open Pet Food Facts

#10857 fix: In the Folksonomy Engine table, property and value headers were not at the right place
  html/js/folksonomy.js
Labels: 🏷️ Folksonomy Project

#10849 fix: docs (paragraph 24)
  docs/reference/api-tutorials/adding-missing-products.md
Labels: 📚 Documentation

#10475 chore: week26 taxonomy changes
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10851 fix: docs Syntax issues
  docs/reference/api-tutorials/how-to-create-data-quality-controls-in-your-app.md
Labels: 📚 Documentation, 🧽 Data quality

#10368 docs: add precisions on auth for apps
  docs/api/index.md
  docs/api/ref/api.yml
  docs/api/ref/requestBodies/change_ref_properties.yaml
Labels: 📚 Documentation

#10863 feat: upload DB dump to AWS S3
  conf/nginx/sites-available/off
  scripts/gen_feeds_daily_off.sh
  scripts/mongodb_dump.sh
Labels: export, MongoDB, NGINX, Data exports

#10875 docs: reviewing the Ecoscore.pm program and fixing the product_ecoscore.yaml schema
  docs/api/ref/schemas/product_ecoscore.yaml
Labels: 📚 Documentation

#10878 Remove duplicate strings in po/tags/tags.txt and po/common/common.txt
  po/tags/tags.pot
Labels: 🌐 Translations

#10874 taxonomy: Correction butter dairy
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#10877 fix: downgrade jquery-ui
  package-lock.json
  package.json
Labels: dependencies

#10880 ci: remove duplicates in common.pot
  po/common/common.pot
  po/tags/tags.pot
Labels: 🌐 Translations

#10886 docs: Improve api def ingredient schema
  docs/api/ref/api.yml
  docs/api/ref/requestBodies/add_or_edit_a_product.yaml
  docs/api/ref/responses/get_nutrients.yaml
  docs/api/ref/responses/get_product_by_barcode.yaml
  docs/api/ref/schemas/ingredient.yaml
  docs/api/ref/schemas/knowledge_panels/elements/element.yaml
  docs/api/ref/schemas/nutrients.yaml
  docs/api/ref/schemas/product_ingredients.yaml
Labels: ✏️ Editing, 📚 Documentation, API WRITE, 📖 Knowledge Panels

#10902 docs: add object titles def to improve SDK generation
  docs/api/ref/schemas/image.yaml
  docs/api/ref/schemas/image_size.yaml
  docs/api/ref/schemas/knowledge_panels/elements/table_element.yaml
  docs/api/ref/schemas/product_attribute_groups.yaml
  docs/api/ref/schemas/product_ecoscore.yaml
  docs/api/ref/schemas/product_extended.yaml
  docs/api/ref/schemas/product_images.yaml
  docs/api/ref/schemas/product_meta.yaml
  docs/api/ref/schemas/product_misc.yaml
  docs/api/ref/schemas/product_nutrition.yaml
Labels: 📚 Documentation, 📖 Knowledge Panels

#10901 taxonomy: Milk allergen syn german
  taxonomies/additives.txt
  taxonomies/allergens.txt
Labels: 🧬 Taxonomies, 🧪 additives, 🥜 Allergens

#10908 fix: remove off days banner
  templates/web/common/includes/donate_banner.tt.html
  templates/web/common/site_layout.tt.html
  tests/integration/expected_test_results/api_v2_product_read/get-auth-bad-user-password.html
  tests/integration/expected_test_results/api_v2_product_write/post-product-auth-bad-user-password.html
  tests/integration/expected_test_results/page_crawler/crawler-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/crawler-does-not-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-editor-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-list-of-tags.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-nested-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-non-official-cc-lc.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/product_read/get-unexisting-product.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form-moderator.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form.html
  tests/integration/expected_test_results/protected_product/edit-unprotected-product-web-form.html
  tests/integration/expected_test_results/unknown_tags/country-cambodia-exists-but-empty.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients-apple.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist.html
  tests/integration/expected_test_results/unknown_tags/country-france-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknownandemptyingredient-does-not-exist-and-empty.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty-labels.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty.html
  tests/integration/expected_test_results/unknown_tags/unknown-product.html
  tests/integration/expected_test_results/web_html/es-ingredients.html
  tests/integration/expected_test_results/web_html/fr-brands.html
  tests/integration/expected_test_results/web_html/fr-categories.html
  tests/integration/expected_test_results/web_html/fr-countries.html
  tests/integration/expected_test_results/web_html/fr-edit-product.html
  tests/integration/expected_test_results/web_html/fr-index.html
  tests/integration/expected_test_results/web_html/fr-labels.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/fr-search-form.html
  tests/integration/expected_test_results/web_html/fr-search-results-cached.html
  tests/integration/expected_test_results/web_html/fr-search-results-no-cache.html
  tests/integration/expected_test_results/web_html/fr-search-results.html
  tests/integration/expected_test_results/web_html/user-register.html
  tests/integration/expected_test_results/web_html/world-brands.html
  tests/integration/expected_test_results/web_html/world-categories.html
  tests/integration/expected_test_results/web_html/world-countries.html
  tests/integration/expected_test_results/web_html/world-edit-product.html
  tests/integration/expected_test_results/web_html/world-index-signedin.html
  tests/integration/expected_test_results/web_html/world-index.html
  tests/integration/expected_test_results/web_html/world-label-organic.html
  tests/integration/expected_test_results/web_html/world-labels.html
  tests/integration/expected_test_results/web_html/world-product-not-found.html
  tests/integration/expected_test_results/web_html/world-product.html
  tests/integration/expected_test_results/web_html/world-products-multiple-codes.html
  tests/integration/expected_test_results/web_html/world-search-form.html
  tests/integration/expected_test_results/web_html/world-search-results.html
Labels: 🧪 tests, Template::Toolkit, 🎁 donations, Site layout

#10881 chore: finish to normalize product codes, clean mongodb
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Store.pm
  scripts/check_products_in_mongodb.pl
  scripts/check_products_in_sto_files.pl
  scripts/migrations/2024_10_move_ean8_products_to_new_path.pl
  scripts/migrations/2024_10_remove_empty_dirs.pl
  tests/unit/products.t
Labels: barcodes, 🧪 tests, Template::Toolkit, 🎁 donations, GS1, Products, 🧪 unit tests, store, Site layout

#10913 docs: Improve api def - tested ts client generation
  docs/api/ref/api.yml
  docs/api/ref/requestBodies/unselect_a_photo.yaml
  docs/api/ref/responses/add_or_edit_a_product.yaml
  docs/api/ref/responses/add_photo_to_existing_product.yaml
  docs/api/ref/responses/change_ref_properties.yaml
  docs/api/ref/responses/get_attribute_groups.yaml
  docs/api/ref/responses/get_preferences.yaml
  docs/api/ref/responses/get_product_by_barcode.yaml
  docs/api/ref/responses/get_product_by_barcode_base.yaml
  docs/api/ref/responses/ocr_on_product.yaml
  docs/api/ref/responses/response-status/response_status.yaml
  docs/api/ref/responses/rotate_a_photo.yaml
  docs/api/ref/responses/search_for_products.yaml
  docs/api/ref/schemas/image.yaml
  docs/api/ref/schemas/image_role.yaml
  docs/api/ref/schemas/image_size.yaml
  docs/api/ref/schemas/ingredient.yaml
  docs/api/ref/schemas/knowledge_panels/elements/table_element.yaml
  docs/api/ref/schemas/knowledge_panels/panel.yaml
  docs/api/ref/schemas/knowledge_panels/panels.yaml
  docs/api/ref/schemas/nutrients.yaml
  docs/api/ref/schemas/packagings/material.yaml
  docs/api/ref/schemas/packagings/packaging_component-write.yaml
  docs/api/ref/schemas/packagings/packagings.yaml
  docs/api/ref/schemas/packagings/packagings_complete.yaml
  docs/api/ref/schemas/product.yaml
  docs/api/ref/schemas/product_ecoscore.yaml
  docs/api/ref/schemas/product_extended.yaml
  docs/api/ref/schemas/product_images.yaml
  docs/api/ref/schemas/product_ingredients.yaml
  docs/api/ref/schemas/product_meta.yaml
  docs/api/ref/schemas/product_nutrition.yaml
  docs/api/ref/schemas/product_tags.yaml
  docs/api/ref/schemas/product_update_api_v3.yaml
Labels: 📦 Packaging, 📚 Documentation, 📖 Knowledge Panels, 📚 OpenAPI, API Refactor

#10912 fix: add googleOther bot
  lib/ProductOpener/Display.pm
Labels: Display

#10921 fix: cosmetic changes for new Eco-Score grades
  lib/ProductOpener/KnowledgePanels.pm
  po/common/fr.po
  scss/_off.scss
  templates/api/knowledge-panels/environment/ecoscore/agribalyse.tt.json
  templates/api/knowledge-panels/environment/ecoscore/ecoscore.tt.json
  templates/api/knowledge-panels/environment/ecoscore/total.tt.json
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/world-product.html
Labels: 🧪 tests, 📖 Knowledge Panels, CSS, Template::Toolkit, 🌱 Eco-Score, Agribalyse, 🌐 Translations

#10925 taxonomy: small format fixes in ingredient taxonomy - lint
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients

#10907 ci: Add API issues for triage in the API board
  .github/workflows/github-projects-ventilation.yml
Labels: GitHub Actions, API Refactor

#10894 ci: Improve Corn support
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗 Ingredients, 🌽 Corn

#10922 feat: api docs remove query string from get by barcode and add security to solve openapi linter errors/warnings
  docs/api/ref/api.yml
  docs/api/ref/examples/get_product_by_barcode_knowledge_panels.yaml
  docs/api/ref/requestBodies/add_or_edit_a_product.yaml
  docs/api/ref/responses/get_product_by_barcode.yaml
  docs/api/ref/schemas/image_role.yaml
Labels: ✏️ Editing, 📚 Documentation, API WRITE

#10931 fix: donation page now uses Matomo like the rest of OFF
  html/donate/en.html
Labels: 🎯 P0, 🎁 donations

#10937 chore: Update the mobile tagline for the donation campaign
  html/resources/files/tagline-off-android-v3.json
  html/resources/files/tagline-off-ios-v3.json
Labels: 🤳🥫 tagline, 🎁 donations

#10946 fix: matomo config for obf, opf, opff
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Display.pm
  templates/web/common/site_layout.tt.html
Labels: 🧴 Open Beauty Facts, 🐾 Open Pet Food Facts, 📸 Open Products Facts, Template::Toolkit, Display, config, matomo, Site layout

#10951 taxonomy: synonyms, stop-words, extended json exports
  .github/workflows/pull_request.yml
  lib/ProductOpener/Tags.pm
  taxonomies/data_quality.txt
  taxonomies/food/ingredients.txt
  taxonomies/labels.txt
  taxonomies/nutrients.txt
  taxonomies/origins.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_recycling.txt
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-recycling-fr-recy.json
Labels: 🧬 Taxonomies, 📦 Packaging, 🧽 Data quality, 🧪 tests, GitHub Actions, 📍 Origins, Tags, 🥗 Ingredients

#10955 chore: week40 taxonomy updates
  taxonomies/food/categories.txt
  taxonomies/origins.txt
Labels: 🧬 Taxonomies, categories, 🧪 tests, 💥 Merge Conflicts, 📍 Origins, Ingredients processing, 🥗 Ingredients
