Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2025-03, with the labels that each got.

#11501 taxonomy: minor italian festive foods fix
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#11516 taxonomy: Copy some `se` entries to `sv`
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, categories, 🥗🔍 Ingredients analysis, Ingredients processing

#11519 taxonomy: Update labels_categories.txt
  taxonomies/unused/labels_categories.txt
Labels: 🧬 Taxonomies, labels

#11515 taxonomy: More Swedish (sv) labels
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, 🧪 additives, categories, 🥗🔍 Ingredients analysis, Ingredients processing

#11526 docs: in the YAML schema, fix the link to product_quality.yaml
  docs/api/ref/api.yml
  docs/api/ref/schemas/product.yaml
Labels: 📚 Documentation, 📚 OpenAPI

#11528 fix: Override no_cache parameter if database is explicitly set to off-query
  lib/ProductOpener/Display.pm
Labels: Display

#11407 feat: dq correct wrong language for tags v2
  scripts/tags_and_languages.py
  scripts/tags_and_languages_requirements.txt
  scripts/update_tags_per_languages.py
  scripts/update_tags_per_languages_tests.py
Labels: 🧽 Data quality - Remediation

#11523 taxonomy: new categories salted spreads
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#11504 taxonomy: 2250 italian ingredient translations from "en"
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗🔍 Ingredients analysis

#11525 docs: Add troubleshooting steps for WSL(root user) in quick-start-guide
  docs/dev/how-to-quick-start-guide.md
Labels: 📚 Documentation

#11533 fix: Use off_query parameter to not clash with existing database parameter
  lib/ProductOpener/Data.pm
  lib/ProductOpener/Display.pm
Labels: Display

#11538 chore: taxonomies week 9
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#11536 fix: data quality label threshold source of vitamins and minerals
  lib/ProductOpener/DataQualityFood.pm
  taxonomies/data_quality.txt
  taxonomies/food/categories.txt
  tests/unit/dataqualityfood.t
  tests/unit/dataqualityfood_labels.t
Labels: 🧬 Taxonomies, categories, 🧽 Data quality, 🧪 tests

#11497 fix: Update-link-user-guide-pro
  templates/emails/user_new_pro_account.tt.txt
  templates/web/common/producers_resources_list.tt.html
  tests/integration/expected_test_results/create_pro_user/mails.json
  web-default/lang/en/texts/index-pro.html
Labels: 🧪 tests, Template::Toolkit

#11517 docs: Update ref-cheatsheet.md to mention suggest from search
  docs/api/ref-cheatsheet.md
Labels: 📚 Documentation

#11487 taxonomy: taxonomies-enhancer-croatia
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/countries.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  tests/unit/ingredients_processing.t
  tests/unit/taxonomies_enhancer.t
Labels: 🧬 Taxonomies, 🧪 additives, 🥜 Allergens, 🧪 tests, 🥗🔍 Ingredients analysis, Ingredients processing

#11544 feat: Add 'delete' button in edit mode for mods
  po/common/common.pot
  po/common/en.po
  templates/web/pages/product_edit/product_edit_form_display.tt.html
  tests/integration/expected_test_results/web_html/fr-edit-product.html
  tests/integration/expected_test_results/web_html/world-edit-product.html
Labels: ✏️ Editing, 🧪 tests, Template::Toolkit, 🌐 Translations

#11542 feat: whitelist IP blocks for rate limiting
  cpanfile
  lib/ProductOpener/Config.pm
  lib/ProductOpener/Routing.pm
  tests/unit/routing.t
Labels: 🧪 tests, dependencies

#11553 ci: fix build_tags_taxonomy.pl permissions
  scripts/taxonomies/build_tags_taxonomy.pl
  tests/integration/expected_test_results/web_html/world-product-content-only.html
Labels: 🧬 Taxonomies, 🧪 tests

#11520 taxonomy: mass translate VVUC (Very Very Used Categories)
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#11563 taxonomy: Open Products Facts label translations
  taxonomies/product/labels.txt
Labels: 🧬 Taxonomies, 📸 Open Products Facts

#11562 taxonomy: opff category translation
  taxonomies/petfood/categories.txt
Labels: 🧬 Taxonomies, 🐾 Open Pet Food Facts

#11557 taxonomy: Make the Misc Facets consistent with their populated tags
  taxonomies/misc.txt
Labels: 🧬 Taxonomies

#11556 taxonomy: Cosmetic labels translations
  taxonomies/beauty/labels.txt
Labels: 🧬 Taxonomies, 🧴 Open Beauty Facts, 📸 Open Products Facts

#11554 feat: cosmetic categories translations
  taxonomies/beauty/categories.txt
Labels: 🧬 Taxonomies, 🧴 Open Beauty Facts

#11580 chore: week 10 taxonomy
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies, categories, 🥗🔍 Ingredients analysis, Ingredients processing

#11578 taxonomy: Some Danish and Swedish translations
  taxonomies/food/categories.txt
  taxonomies/packaging_shapes.txt
Labels: 🧬 Taxonomies, categories, 📦 Packaging, 📦 Packaging shapes

#11577 docs: Add note about regenerating expected results for integration tests.
  docs/dev/how-to-write-and-run-tests.md
Labels: 📚 Documentation

#11566 fix: remove duplicates in taxonomies 2
  taxonomies/additives.txt
  taxonomies/food/ingredients.txt
  taxonomies/minerals.txt
Labels: 🧬 Taxonomies, 🧪 additives, 🥗🔍 Ingredients analysis

#11571 taxonomy: More Swedish (sv)
  html/images/lang/en/labels/fran_sverige.90x90.svg
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/origins.txt
Labels: 🧬 Taxonomies, categories, 🥗🔍 Ingredients analysis, 📍 Origins, Ingredients processing

#11589 taxonomy: Various updates
  html/images/lang/en/labels/svenskt_mjol_fran_egen_kvarn.90x90.png
  taxonomies/additives_classes.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/labels.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.txt
Labels: 🧬 Taxonomies, 🧪 additives, categories, 📦 Packaging, 🥗🔍 Ingredients analysis, 📦 Packaging shapes

#11590 fix: wrap long username in cards
  scss/_off.scss
Labels: CSS

#11585 fix: Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: GitHub Actions

#11593 fix: no_cache + no_off_query
  lib/ProductOpener/Display.pm
Labels: Display

#11591 fix: Missing Template Error: Update ecoscore_details.tt.html to environmental_score_details.tt.html
  lib/ProductOpener/EnvironmentalImpact.pm
  package-lock.json
  templates/web/pages/product/includes/environmental_score_details.tt.html
  templates/web/pages/product/includes/environmental_score_details_simple_html.tt.html
  tests/integration/expected_test_results/api_product_services_estimate_environmental_impact/estimate_environmental_impact.json
  tests/integration/expected_test_results/web_html/fr-search-form.html
  tests/integration/expected_test_results/web_html/world-search-form.html
Labels: 🧪 tests, dependencies, Template::Toolkit

#11594 taxonomy: Add “Baby spinach” synonym
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#11592 fix: barcode overflow in product content
  scss/_off.scss
Labels: CSS

#11587 taxonomy: Add “Från Sverige” sub-labels
  html/images/lang/en/labels/fran_sverige_kott.90x90.png
  html/images/lang/en/labels/fran_sverige_mjolk.90x90.png
  taxonomies/labels.txt
Labels: 🧬 Taxonomies

#11595 fix: spacing between numbers in pagination
  scss/_product-list.scss
Labels: CSS

#11600 taxonomy: add stopwords and synonym for analytics nutrients
  lib/ProductOpener/Ingredients.pm
  taxonomies/nutrients.txt
Labels: 🧬 Taxonomies, 🥗🔍 Ingredients analysis

#11597 fix: allow all logged in users to change product_type
  lib/ProductOpener/Permissions.pm
  templates/web/pages/product_edit/product_edit_form_display.tt.html
  tests/integration/change_product_code_and_product_type.t
  tests/integration/expected_test_results/change_product_code_and_product_type/change-product-type-to-beauty-api-v2-normal-account.json
  tests/integration/expected_test_results/change_product_code_and_product_type/change-product-type-to-opff-api-v3-normal-account.json
  tests/integration/expected_test_results/web_html/fr-edit-product.html
  tests/integration/expected_test_results/web_html/world-edit-product.html
Labels: ✏️ Editing, 🧪 tests, Template::Toolkit

#11603 fix: Added CORS Support to `/cgi/product_image_unselect.pl` and `/cgi/product_image_crop.pl`
  cgi/product_image_crop.pl
  cgi/product_image_unselect.pl
Labels: 🖼️ Images

#11612 ci: make pr actions run on fork
  .github/workflows/pr_actions.yml
Labels: GitHub Actions

#11611 docs: ingredients_percent_analysis
  docs/api/ref/schemas/product_ingredients.yaml
Labels: 📚 Documentation

#11616 ci: fix on demand pr
  .github/workflows/pr_actions.yml
Labels: GitHub Actions

#11555 fix: added skip tests while docs updations
  .github/workflows/pull_request.yml
Labels: GitHub Actions

#11617 fix: fixed the issue of pull_request.yml file
  .github/workflows/pull_request.yml
Labels: GitHub Actions

#11619 ci: fix update_pr typo
  .github/workflows/pr_actions.yml
Labels: GitHub Actions

#11620 ci: roll-back conditional runs for now
  .github/workflows/pull_request.yml
Labels: GitHub Actions

#11625 taxonomy: Various updates/additions
  html/images/lang/da/labels/svanemaerket.90x90.svg
  html/images/lang/en/labels/asthma-allergy-nordic.90x90.png
  html/images/lang/en/labels/nordic-swan-ecolabel.90x90.svg
  html/images/lang/sv/labels/svanenmarkt.90x90.svg
  taxonomies/beauty/categories.txt
  taxonomies/beauty/labels.txt
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, 🧴 Open Beauty Facts

#11609 fix: remove the ugly bg color for the Folksonomy Engine
  html/js/folksonomy.js
Labels: 🏷️ Folksonomy Project

#11582 fix: style ui and fix bugs
  html/js/product-search.js
  scss/_product-list.scss
Labels: CSS

#11627 taxonomy: Various updates/additions
  taxonomies/beauty/categories.txt
  taxonomies/food/categories.txt
  taxonomies/ingredients_processing.txt
Labels: 🧬 Taxonomies, categories, 🧴 Open Beauty Facts, Ingredients processing

#11550 build(deps): update click to 8.1.8 and scrapy to 2.12.0 in requirements.txt
  scripts/packager-codes/non-eu/requirements.txt
Labels: 📍🏭 Packager codes

#11630 ci: replaced dorny/path-filter to tj-actions/changed-files
  .github/scripts/path-filter.sh
  .github/workflows/pull_request.yml
Labels: GitHub Actions

#11621 docs: add precision to direnv doc for mac users
  docs/dev/how-to-use-direnv.md
Labels: 📚 Documentation

#11608 docs: road to nutrition extraction API
  docs/api/api-tutorials/get-the-nutriscore.md
  docs/api/intro-robotoff.md
  docs/api/tutorials/adding-missing-products.md
  docs/api/tutorials/get-the-nutriscore.md
Labels: 📚 Documentation, 🚦 Nutri-Score

#11642 docs: Documentation for 'last_updated_t'.
  docs/api/ref/schemas/product_meta.yaml
Labels: 📚 Documentation

#11644 fix: replace tj-actions/changed-file by step-security/changed-files
  .github/workflows/pull_request.yml
Labels: GitHub Actions

#11573 taxonomy: taxonomies enhancer Croatian products 2
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  tests/unit/taxonomies_enhancer.t
Labels: 🧬 Taxonomies, 🧪 additives, 🥜 Allergens, 🧪 tests, 💥 Merge Conflicts, 🥗🔍 Ingredients analysis, Ingredients processing

#11649 taxonomy: Various updates/additions
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_analysis.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, 🥗🔍 Ingredients analysis, Ingredients processing

#11655 taxonomy: more vegan sauces
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#11654 taxonomy: openpetfoodfacts
  taxonomies/additives_classes.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/other_nutritional_substances.txt
  taxonomies/petfood/ingredients.txt
Labels: 🧬 Taxonomies, 🧪 additives, 🐾 Open Pet Food Facts, 🥗🔍 Ingredients analysis, Ingredients processing

#11648 docs: Create how-to-use-automated-pr-actions.md
  docs/dev/how-to-use-automated-pr-actions.md
Labels: 📚 Documentation, :star: top pull request

#11656 fix: CORS headers for image upload API
  cgi/product_image_upload.pl
Labels: 🖼️ Images, CORS

#11564 taxonomy: very used ingredients translations
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗🔍 Ingredients analysis

#11637 taxonomy: lint brands.txt for Open Beauty Facts
  taxonomies/beauty/brands.txt
Labels: 🧬 Taxonomies, 🧴 Open Beauty Facts

#11652 feat: tags_and_languages_script_improvements
  scripts/tags_and_languages.py
Labels: 🧽 Data quality, 🧽 Data quality - Remediation

#11658 docs: Update product_ingredients.yaml - allergens json mention
  docs/api/ref/schemas/product_ingredients.yaml
Labels: 📚 Documentation

#11653 docs: Update product_quality.yaml
  docs/api/ref/schemas/product_quality.yaml
Labels: 📚 Documentation

#11659 taxonomy: Various updates/additions
  taxonomies/food/categories.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, categories, Ingredients processing

#11674 taxonomy: Various updates/additions
  html/images/lang/en/labels/v-label-nocategory.90x90.svg
  html/images/lang/en/labels/v-label-vegan.68x90.svg
  html/images/lang/en/labels/v-label-vegetarian.76x90.svg
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, 🥗🔍 Ingredients analysis, Ingredients processing

#11559 taxonomy: Translate INCI functions
  taxonomies/beauty/inci_functions.txt
Labels: 🧬 Taxonomies, 🧴 Open Beauty Facts

#11686 fix: enable brands taxonomy for OBF and OPF
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_opf.pm
Labels: brands, 🧴 Open Beauty Facts, 📸 Open Products Facts, config

#11680 fix: update_tests_results for import_systemeu.t
  tests/integration/import_systemeu.t
Labels: 🧪 tests, :star: top pull request

#11546 fix: remove duplicates in taxonomies
  taxonomies/additives.txt
  taxonomies/food/ingredients.txt
  taxonomies/minerals.txt
  taxonomies/vitamins.txt
Labels: 🧬 Taxonomies, 🧪 additives, categories, 🥗🔍 Ingredients analysis

#11698 fix: improve canonical metadata handling in display_page function
  lib/ProductOpener/Display.pm
  tests/integration/expected_test_results/api_v2_product_read/get-auth-bad-user-password.html
  tests/integration/expected_test_results/api_v2_product_write/post-product-auth-bad-user-password.html
  tests/integration/expected_test_results/page_crawler/crawler-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/crawler-does-not-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-editor-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-list-of-tags.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-nested-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-non-official-cc-lc.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/product_read/get-unexisting-product.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form-moderator.html
  tests/integration/expected_test_results/protected_product/edit-protected-product-web-form.html
  tests/integration/expected_test_results/protected_product/edit-unprotected-product-web-form.html
  tests/integration/expected_test_results/recipes_stats/parent-ingredients-stats.html
  tests/integration/expected_test_results/unknown_tags/country-cambodia-exists-but-empty.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients-apple.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist.html
  tests/integration/expected_test_results/unknown_tags/country-france-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknownandemptyingredient-does-not-exist-and-empty.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty-labels.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty.html
  tests/integration/expected_test_results/unknown_tags/unknown-product.html
  tests/integration/expected_test_results/web_html/es-ingredients.html
  tests/integration/expected_test_results/web_html/fr-brands.html
  tests/integration/expected_test_results/web_html/fr-categories.html
  tests/integration/expected_test_results/web_html/fr-countries.html
  tests/integration/expected_test_results/web_html/fr-edit-product.html
  tests/integration/expected_test_results/web_html/fr-index.html
  tests/integration/expected_test_results/web_html/fr-labels.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/fr-search-form.html
  tests/integration/expected_test_results/web_html/fr-search-results-cached.html
  tests/integration/expected_test_results/web_html/fr-search-results-no-cache.html
  tests/integration/expected_test_results/web_html/fr-search-results.html
  tests/integration/expected_test_results/web_html/user-register.html
  tests/integration/expected_test_results/web_html/world-brands.html
  tests/integration/expected_test_results/web_html/world-categories.html
  tests/integration/expected_test_results/web_html/world-countries.html
  tests/integration/expected_test_results/web_html/world-edit-product.html
  tests/integration/expected_test_results/web_html/world-index-signedin.html
  tests/integration/expected_test_results/web_html/world-index.html
  tests/integration/expected_test_results/web_html/world-label-organic.html
  tests/integration/expected_test_results/web_html/world-labels.html
  tests/integration/expected_test_results/web_html/world-product-content-only.html
  tests/integration/expected_test_results/web_html/world-product-not-found.html
  tests/integration/expected_test_results/web_html/world-product-smoothie.html
  tests/integration/expected_test_results/web_html/world-product.html
  tests/integration/expected_test_results/web_html/world-products-multiple-codes.html
  tests/integration/expected_test_results/web_html/world-search-form.html
  tests/integration/expected_test_results/web_html/world-search-results.html
Labels: 🧪 tests, Display

#11695 refactor: Update allergens tests
  tests/unit/allergens.t
  tests/unit/expected_test_results/allergens/de-underscores.json
  tests/unit/expected_test_results/allergens/en-oat-flakes.json
  tests/unit/expected_test_results/allergens/fi-allergens-field-only.json
  tests/unit/expected_test_results/allergens/fi-basic-allergens.json
  tests/unit/expected_test_results/allergens/fi-ingredients-allergens.json
  tests/unit/expected_test_results/allergens/fi-multiple-allergens-traces.json
  tests/unit/expected_test_results/allergens/fi-pizza-ingredients.json
  tests/unit/expected_test_results/allergens/fi-sinappi-vehna-kananmuna.json
  tests/unit/expected_test_results/allergens/fi-traces.json
  tests/unit/expected_test_results/allergens/fi-vehnajauho-sulfiitteja.json
  tests/unit/expected_test_results/allergens/fi-vehnajauho.json
  tests/unit/expected_test_results/allergens/fr-allergens-field-only.json
  tests/unit/expected_test_results/allergens/fr-allergens-ingredients-and-field.json
  tests/unit/expected_test_results/allergens/fr-allergens-markup.json
  tests/unit/expected_test_results/allergens/fr-allergens-traces-fields.json
  tests/unit/expected_test_results/allergens/fr-allergens-uppercase.json
  tests/unit/expected_test_results/allergens/fr-basic-allergens.json
  tests/unit/expected_test_results/allergens/fr-farine-ble-sulfites.json
  tests/unit/expected_test_results/allergens/fr-farine-ble.json
  tests/unit/expected_test_results/allergens/fr-ingredients-allergens.json
  tests/unit/expected_test_results/allergens/fr-moutarde-ble-traces-oeufs.json
  tests/unit/expected_test_results/allergens/fr-multiple-allergens.json
  tests/unit/expected_test_results/allergens/fr-noix-saint-jacques.json
  tests/unit/expected_test_results/allergens/fr-noix-st-jacques.json
  tests/unit/expected_test_results/allergens/fr-pizza-ingredients.json
  tests/unit/expected_test_results/allergens/fr-saint-jacques.json
  tests/unit/expected_test_results/allergens/fr-salmon-not-highlighted.json
  tests/unit/expected_test_results/allergens/fr-saumon-allergens-multiple-traces.json
  tests/unit/expected_test_results/allergens/fr-st-jacques.json
  tests/unit/expected_test_results/allergens/fr-traces.json
Labels: 🥜 Allergens, 🧪 tests, GitHub Actions

#11693 ci: consolidate gh projects
  .github/workflows/github-projects-ventilation.yml
  .github/workflows/github-projects.yml
Labels: GitHub Actions

#11424 taxonomy: Packaging translations
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.txt
Labels: 🧬 Taxonomies, 📦 Packaging, 📦 Packaging shapes
