Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2025-10, with the labels that each got.

#12432 taxonomy: correction coating ingredients
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗🔍 Ingredients analysis

#12448 chore: Use slim base image and don't install recommended packages
  Dockerfile
  cpanfile
Labels: 🐋 Docker, dependencies, docker

#12454 taxonomy: fix some whole and semi-whole pastas categories
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#12431 taxonomy: Instant porridges
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#12469 build: fix CGI version
  cpanfile
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/page_crawler/normal-user-get-non-official-cc-lc.html
  tests/integration/expected_test_results/web_html/es-ingredients.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product-raw-panel.html
  tests/integration/expected_test_results/web_html/fr-product.html
Labels: API, 🧪 tests, 📖 Knowledge Panels, dependencies, 🧪 integration tests

#12423 taxonomy: synonym mustard czech
  taxonomies/allergens.txt
Labels: 🧬 Taxonomies, 🥜 Allergens, Czech, Czech republic

#12467 ci: one more generate doc file specifier
  .github/workflows/generate-doc.yml
Labels: GitHub Actions

#12356 docs: explanation on users management
  docs/dev/explain-user-management.md
Labels: 👥 User management, 📚 Documentation

#12064 ci: Split tests run in CI
  .github/scripts/update_test_groups.sh
  .github/workflows/pull_request.yml
  .github/workflows/test-dynamic-grouping.yml
  .github/workflows/test-groups-management.yml
  .gitignore
  .test_groups_cache/integration_groups.json
  .test_groups_cache/integration_groups.mk
  .test_groups_cache/unit_groups.json
  .test_groups_cache/unit_groups.mk
  Makefile
  docs/dev/explain-dynamic-test-grouping.md
  scripts/dynamic_test_grouper.py
  scripts/generate_matrix_config.py
Labels: 📚 Documentation, 🧪 tests, 🐋 Docker, dependencies, GitHub Actions
