Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2025-08, with the labels that each got.

#11917 fix: split bottom_content and add lilo only for fr
  html/images/svg/lilo-icon.svg
  po/common/common.pot
  po/common/en.po
  templates/web/common/includes/help_us_block.tt.html
  templates/web/pages/session/signed_in.tt.html
  templates/web/pages/user_form/user_form_page.tt.html
Labels: 💥 Merge Conflicts, Template::Toolkit, 👥 Users, 🌐 Translations

#12170 feat: preferred set generation
  lib/ProductOpener/Nutrition.pm
  lib/ProductOpener/Units.pm
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_serving_quantities.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_units_g.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_units_not_g.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_units_volume.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_wanted_per_100g.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_wanted_per_serving.json
  tests/unit/expected_test_results/nutrition/empty_with_empty_set.json
  tests/unit/expected_test_results/nutrition/empty_with_no_set.json
  tests/unit/expected_test_results/nutrition/keep_all_nutrients_with_same_properties.json
  tests/unit/expected_test_results/nutrition/keep_only_given_set.json
  tests/unit/expected_test_results/nutrition/keep_only_non_empty_set.json
  tests/unit/expected_test_results/nutrition/keep_standard_unit.json
  tests/unit/expected_test_results/nutrition/normalize_energy_kcal_nutrient_unit.json
  tests/unit/expected_test_results/nutrition/normalize_energy_kj_nutrient_unit.json
  tests/unit/expected_test_results/nutrition/normalize_energy_nutrient_unit.json
  tests/unit/expected_test_results/nutrition/normalize_nutrient_weights.json
  tests/unit/expected_test_results/nutrition/prioritize_by_per.json
  tests/unit/expected_test_results/nutrition/prioritize_by_per_then_preparation.json
  tests/unit/expected_test_results/nutrition/prioritize_by_preparation.json
  tests/unit/expected_test_results/nutrition/prioritize_by_source.json
  tests/unit/expected_test_results/nutrition/prioritize_by_source_then_per.json
  tests/unit/expected_test_results/nutrition/prioritize_by_source_then_preparation.json
  tests/unit/nutrition.t
Labels: 🧬 Taxonomies, Nutrition facts, 🧪 additives, 🧪 tests, API v3, 🍊 Open Food Facts

#12229 docs: update documentation about AWS images
  docs/api/aws-images-dataset.md
Labels: 📚 Documentation

#12222 taxonomy: fixes and translations for Open Products Facts
  taxonomies/product/labels.txt
Labels: 🧬 Taxonomies, 📸 Open Products Facts

#12237 fix: log oidc failures as errors
  lib/ProductOpener/Auth.pm
Labels: 👩‍💻 DevOps, 🔐 Auth

#12242 docs: product_image_crop OpenAPI
  docs/api/ref/api.yaml
  docs/api/ref/responses/product_image_crop.yaml
Labels: 📚 Documentation, 📚 OpenAPI

#12246 docs: explanation on javascript usage and strategy
  docs/dev/explain-javascript-usage-and-strategy.md
Labels: 📚 Documentation

#12257 feat: add an `ocr_ready` Redis Stream to notify of OCR result creation
  docker/run.yml
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
  lib/ProductOpener/Redis.pm
  scripts/run_cloud_vision_ocr.pl
Labels: OCR, 🧴 Open Beauty Facts, 🐾 Open Pet Food Facts, 📸 Open Products Facts, 🐋 Docker, config, REDIS

#12258 docs: Describe Redis event schemas
  Makefile
  docs/events/README.md
  docs/events/messages/product_updated.yaml
  docs/events/openfoodfacts-server.html
  docs/events/openfoodfacts-server.yaml
  docs/index.md
Labels: 📚 Documentation

#12275 taxonomy: czech synonym soy
  taxonomies/allergens.txt
Labels: 🧬 Taxonomies, 🥜 Allergens

#12239 feat: update new nutrition schema
  docs/api/ref/schemas/nutrient_values_v3_base.yaml
  docs/api/ref/schemas/nutrient_values_v3_with_value_string.yaml
  docs/api/ref/schemas/nutrients_source_v3.yaml
  docs/api/ref/schemas/nutrients_v3_base.yaml
  docs/api/ref/schemas/nutrients_v3_with_source.yaml
  docs/api/ref/schemas/product_nutrition_properties.yaml
  docs/api/ref/schemas/product_nutrition_v3.yaml
  lib/ProductOpener/Nutrition.pm
  lib/ProductOpener/Units.pm
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_serving_quantities.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_units_g.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_units_not_g.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_units_volume.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_wanted_per_100g.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_wanted_per_serving.json
  tests/unit/expected_test_results/nutrition/empty_with_empty_set.json
  tests/unit/expected_test_results/nutrition/empty_with_no_set.json
  tests/unit/expected_test_results/nutrition/keep_all_nutrients_with_same_properties.json
  tests/unit/expected_test_results/nutrition/keep_only_given_set.json
  tests/unit/expected_test_results/nutrition/keep_only_non_empty_set.json
  tests/unit/expected_test_results/nutrition/keep_only_nutrients_with_serving_quantity.json
  tests/unit/expected_test_results/nutrition/keep_standard_unit.json
  tests/unit/expected_test_results/nutrition/normalize_energy_kcal_nutrient_unit.json
  tests/unit/expected_test_results/nutrition/normalize_energy_kj_nutrient_unit.json
  tests/unit/expected_test_results/nutrition/normalize_energy_nutrient_unit.json
  tests/unit/expected_test_results/nutrition/normalize_nutrient_weights.json
  tests/unit/expected_test_results/nutrition/prioritize_by_per.json
  tests/unit/expected_test_results/nutrition/prioritize_by_per_then_preparation.json
  tests/unit/expected_test_results/nutrition/prioritize_by_preparation.json
  tests/unit/expected_test_results/nutrition/prioritize_by_source.json
  tests/unit/expected_test_results/nutrition/prioritize_by_source_then_per.json
  tests/unit/expected_test_results/nutrition/prioritize_by_source_then_preparation.json
  tests/unit/nutrition.t
  tests/unit/units.t
Labels: 📚 Documentation, 🧪 tests

#12287 docs: fix broken links
  docs/api/ref-api-and-product-schema-change-log.md
  docs/api/tutorial-dev-journey.md
  docs/api/tutorial-uploading-photo-to-a-product.md
Labels: 📚 Documentation, 🖼️ Images

#12230 fix: add export configurations for all flavors
  lib/ProductOpener/Config_obf.pm
  lib/ProductOpener/Config_opf.pm
  lib/ProductOpener/Config_opff.pm
Labels: 🧴 Open Beauty Facts, 🐾 Open Pet Food Facts, 📸 Open Products Facts, config

#12293 feat: upgrade webcomponents to 1.12.3
  package.json
Labels: dependencies, Web components

#12292 fix: block municorn-calorie-counter-app
  lib/ProductOpener/Config_off.pm
  lib/ProductOpener/Products.pm
  tests/unit/process_product_edit_rules.t
Labels: 🧪 tests, Products, config, 🧽 Data quality - edit rules

#12290 ci: Add devcontainers configuration to dependabot
  .github/dependabot.yml
Labels: GitHub Actions

#12291 fix: Fixed typo in README (thoughfully → thoughtfully)
  README.md
Labels: 📚 Documentation

#12274 fix: build and save pro platform column names mapping
  Makefile
  docs/dev/how-to-release.md
  lib/ProductOpener/Producers.pm
  scripts/build_pro_platform_fields_columns_names.pl
Labels: 📚 Documentation, 🏭 Producers Platform

#12307 fix: API blame parameter
  lib/ProductOpener/APIProductRead.pm
  lib/ProductOpener/Display.pm
  scripts/update_all_products.pl
Labels: API READ, Display, update all products

#12311 ci: verify dist volumes are removed on deployment
  .github/workflows/container-deploy.yml
Labels: GitHub Actions

#12316 taxonomy: German stopwords allergens
  taxonomies/allergens.txt
Labels: 🧬 Taxonomies, 🥜 Allergens

#12249 taxonomy: german synonym soja
  taxonomies/allergens.txt
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_serving_quantities.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_units_g.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_units_not_g.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_different_per_units_volume.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_wanted_per_100g.json
  tests/unit/expected_test_results/nutrition/convert_per_nutrients_when_wanted_per_serving.json
  tests/unit/expected_test_results/nutrition/keep_all_nutrients_with_same_properties.json
  tests/unit/expected_test_results/nutrition/keep_only_given_set.json
  tests/unit/expected_test_results/nutrition/keep_only_non_empty_set.json
  tests/unit/expected_test_results/nutrition/keep_only_nutrients_with_serving_quantity.json
  tests/unit/expected_test_results/nutrition/keep_standard_unit.json
  tests/unit/expected_test_results/nutrition/normalize_energy_kcal_nutrient_unit.json
  tests/unit/expected_test_results/nutrition/normalize_energy_kj_nutrient_unit.json
  tests/unit/expected_test_results/nutrition/normalize_energy_nutrient_unit.json
  tests/unit/expected_test_results/nutrition/normalize_nutrient_weights.json
  tests/unit/expected_test_results/nutrition/prioritize_by_per.json
  tests/unit/expected_test_results/nutrition/prioritize_by_per_then_preparation.json
  tests/unit/expected_test_results/nutrition/prioritize_by_preparation.json
  tests/unit/expected_test_results/nutrition/prioritize_by_source.json
  tests/unit/expected_test_results/nutrition/prioritize_by_source_then_per.json
  tests/unit/expected_test_results/nutrition/prioritize_by_source_then_preparation.json
Labels: 🧬 Taxonomies, 🥜 Allergens, 🧪 tests, German, 🇩🇪 Germany, Austria
