Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2025-06, with the labels that each got.

#11955 taxonomy: new 'rare' crops / NUCs for Divinfood
  taxonomies/food/ingredients.txt
  tests/integration/expected_test_results/convert_and_import_excel_file/test/products/3270190128403.json
Labels: 🧬 Taxonomies, 🧪 tests, 🥗🔍 Ingredients analysis

#11983 chore(test): Remove old and unused test along with unused testing npm packages
  .github/dependabot.yml
  package-lock.json
  package.json
  tests/integration/query.test.js
Labels: 🧪 tests, dependencies, 💥 Merge Conflicts, GitHub Actions

#11969 taxonomy: “Orphan” Kött/Mjölk från Sverige
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, labels, 🇸🇪 Sweden

#11986 ci: Keep test coverage up-to-date
  .github/workflows/pull_request.yml
Labels: GitHub Actions

#11924 fix: Update product_base.yaml
  docs/api/ref/schemas/product_base.yaml
Labels: 📚 Documentation, 📚 OpenAPI

#11927 docs: Update panel.yaml with evaluation fixes
  docs/api/ref/schemas/knowledge_panels/panel.yaml
Labels: 📚 Documentation, 📖 Knowledge Panels, 📚 OpenAPI, Paris Perl Hackathon

#12001 feat: More debuging info
  scripts/export_database.pl
  scripts/gen_feeds_daily.sh
Labels: exports

#11994 build: docker file to use developer webcompoments
  docker/dev-webcomponents.yml
  docs/dev/how-to-develop-with-webcomponents.md
Labels: 📚 Documentation, 🐋 Docker

#11916 taxonomy: Various updates/additions
  html/images/lang/en/labels/proterra.115x90.svg
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/brands.txt
  taxonomies/countries.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/nutrients.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_recycling.txt
  taxonomies/product/brands.txt
  taxonomies/product/categories.txt
  taxonomies/vitamins.txt
  tests/integration/expected_test_results/api_v3_taxonomy_suggestions/packaging-recycling-fr-recy.json
  tests/integration/expected_test_results/convert_and_import_excel_file/test/products/3270190128403.json
  tests/integration/expected_test_results/export/rows/3270160503070.json
  tests/integration/expected_test_results/export_database/rows/3270160503070.json
  tests/integration/expected_test_results/export_more_fields/rows/3270160503070.json
  tests/integration/expected_test_results/import_systemeu/rows/3256226087708.json
  tests/unit/expected_test_results/ingredients/en-origin-field.json
  tests/unit/expected_test_results/ingredients/en-origin-ingredient-from-origin.json
  tests/unit/expected_test_results/ingredients/en-origin-ingredient-origin-and-origin.json
  tests/unit/expected_test_results/ingredients/es-percent-loop.json
  tests/unit/expected_test_results/ingredients/fi-do-not-match-myanmar.json
  tests/unit/expected_test_results/nutriscore/en-cherry-tomatoes.json
  tests/unit/expected_test_results/nutriscore/en-dill.json
  tests/unit/expected_test_results/nutriscore/en-potatoes-category.json
  tests/unit/expected_test_results/nutriscore/fr-canned-green-beans.json
  tests/unit/expected_test_results/nutriscore/fr-gaspacho.json
  tests/unit/expected_test_results/nutriscore/pl-pickled-vegetables.json
Labels: 🧬 Taxonomies, 🧪 additives, 🥜 Allergens, categories, 📦 Packaging, 🌱 Vegan, 🧪 tests, 📸 Open Products Facts, 🥗🔍 Ingredients analysis, Ingredients processing

#11996 build: allow stale dependency git repo clones
  Makefile
Labels: :star: top pull request

#12029 feat: Send to off-query irrespective of sort
  .env
  lib/ProductOpener/Data.pm
  tests/integration/expected_test_results/page_crawler/crawler-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-non-official-cc-lc.html
  tests/integration/expected_test_results/recipes_stats/parent-ingredients-stats.html
  tests/integration/expected_test_results/unknown_tags/country-cambodia-exists-but-empty.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist.html
  tests/integration/expected_test_results/unknown_tags/country-france-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknownandemptyingredient-does-not-exist-and-empty.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty.html
  tests/integration/expected_test_results/web_html/fr-categories.html
  tests/integration/expected_test_results/web_html/fr-index.html
  tests/integration/expected_test_results/web_html/fr-search-results-no-cache.html
  tests/integration/expected_test_results/web_html/fr-search-results.html
  tests/integration/expected_test_results/web_html/world-categories.html
  tests/integration/expected_test_results/web_html/world-index.html
  tests/integration/expected_test_results/web_html/world-label-organic.html
  tests/integration/expected_test_results/web_html/world-search-results.html
Labels: 🧪 tests

#12025 fix: display selected image in product edit form
  cgi/product_multilingual.pl
  lib/ProductOpener/Images.pm
Labels: 🖼️ Images, multilingual products

#12032 taxonomy: Fix and amend some `expected_ingredients`
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories, 🧽 Data quality

#12049 refactor: Use shared method to create HTTP client
  cpanfile
  lib/ProductOpener/APITest.pm
  lib/ProductOpener/Brevo.pm
  lib/ProductOpener/Data.pm
  lib/ProductOpener/Display.pm
  lib/ProductOpener/EnvironmentalImpact.pm
  lib/ProductOpener/Events.pm
  lib/ProductOpener/HTTP.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/Products.pm
  lib/ProductOpener/Tags.pm
  lib/startup_apache2.pl
  scripts/build_countries_taxonomy_from_wikidata.pl
  scripts/build_languages_taxonomy_from_wikidata.pl
  scripts/check_if_orgs_can_be_safely_synced_with_crm.pl
  scripts/checkbot.pl
  scripts/checkmongodb.pl
  scripts/export_scans_to_query.pl
  scripts/gen_opff_leaderboard.pl
  scripts/obsolete/infobot_dk_irma.pl
  scripts/obsolete/moodstock_delete_all.pl
  scripts/obsolete/moodstock_delete_ketchup.pl
  scripts/obsolete/moodstock_ketchup.pl
  scripts/obsolete/moodstock_upload.pl
  scripts/packager-codes/ee-packagers-xml2tsv.pl
  scripts/packager-codes/fi-packagers-xls2csv.pl
  scripts/packager-codes/hr-packagers-refresh.pl
  scripts/product_revision_to_historical_events.pl
  scripts/refresh_postgres.pl
  scripts/scanbot.pl
  scripts/update_packager_codes_fsa_ratings.pl
  scripts/update_top_translators.pl
Labels: MongoDB, 📍🏭 Packager codes, Data import, 🐾 Open Pet Food Facts, WikiData, 🖼️ Images, 🪶 Apache, checkbot, dependencies, 🏭 Producers Platform, 🥗🔍 Ingredients analysis, Display, Products, Tags, 📨 Mail, Scanbot, 📨 Emails - Brevo, 🌐 Translations, Croatia

#12063 fix: disable off-query for API queries that may need unsupported fields
  lib/ProductOpener/Data.pm
  lib/ProductOpener/Display.pm
Labels: Display

#12075 taxonomy: New biscuits categories
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#12068 taxonomy: Add Yeo’s brand
  taxonomies/brands.txt
Labels: 🧬 Taxonomies, brands

#12078 fix: Use testcontainer directly with simplified configuration
  Makefile
  docker/integration-test.yml
Labels: 🐋 Docker

#12089 taxonomy: syn nuts german
  taxonomies/allergens.txt
Labels: 🧬 Taxonomies, 🥜 Allergens

#12005 feat: add Nutri-Score % of fruits / vegetables / nuts / legumes from GS1
  lib/ProductOpener/GS1.pm
  tests/unit/expected_test_results/convert_gs1_xml_to_json/equadis_maggi_bouillon_boeuf.products.json
  tests/unit/expected_test_results/convert_gs1_xml_to_json/equadis_mont_blanc_creme_dessert_choco_vanille_caramel.products.json
  tests/unit/expected_test_results/import_gs1/agena_bonduelle_lunch_bowl_nutritional_program.json
  tests/unit/expected_test_results/import_gs1/agena_bonduelle_lunch_bowl_nutritional_program.off.gs1_confirmation.xml
  tests/unit/expected_test_results/import_gs1/agena_bonduelle_lunch_bowl_nutritional_program.off.json
  tests/unit/expected_test_results/import_gs1/agena_bonduelle_lunch_bowl_nutritional_program.xml
  tests/unit/expected_test_results/import_gs1/agena_force_bio_jus_de_grenade_nutritional_program.json
  tests/unit/expected_test_results/import_gs1/agena_force_bio_jus_de_grenade_nutritional_program.off.gs1_confirmation.xml
  tests/unit/expected_test_results/import_gs1/agena_force_bio_jus_de_grenade_nutritional_program.off.json
  tests/unit/expected_test_results/import_gs1/agena_force_bio_jus_de_grenade_nutritional_program.xml
Labels: 🧪 tests, 🏭 Producers Platform, GS1, 🚦 Nutri-Score, Fruits & Vegetables

#12072 taxonomy: correction salty flaky biscuits
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#12084 feat: add no added sugars label from gs1
  lib/ProductOpener/GS1.pm
  tests/unit/expected_test_results/import_gs1/equadis_pompotes_no_added_sugars.json
  tests/unit/expected_test_results/import_gs1/equadis_pompotes_no_added_sugars.off.gs1_confirmation.xml
  tests/unit/expected_test_results/import_gs1/equadis_pompotes_no_added_sugars.off.json
Labels: 🧪 tests, 🏭 Producers Platform, GS1

#12094 chore: Rename Keycloak realm to openfoodfacts
  .env
  tests/integration/oidc_signin.t
Labels: 🧪 tests
