Repository openfoodfacts/openfoodfacts-server, pull requests merged in 2025-05, with the labels that each got.

#11844 fix: Update sign_in_form.tt.html with mobile ready buttons for sign in
  templates/web/pages/session/sign_in_form.tt.html
Labels: Template::Toolkit, 👥 Users

#11822 taxonomy: Various updates/additions
  html/images/lang/fi/labels/sydanmerkki.90x90.svg
  taxonomies/additives.txt
  taxonomies/brands.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/minerals.txt
  taxonomies/nutrients.txt
  taxonomies/origins.txt
  taxonomies/packaging_shapes.txt
  tests/unit/tags.t
Labels: 🧬 Taxonomies, 🧪 additives, categories, 📦 Packaging, 🌱 Vegan, 🧪 tests, 🥗🔍 Ingredients analysis, 📍 Origins, 📦 Packaging shapes, 🧪 unit tests, 🇸🇪 Sweden, 🇫🇮 Finland, Ingredients processing, 🇩🇰 Denmark

#11367 taxonomy: Translations for the nutrient levels taxonomy
  taxonomies/nutrient_levels.txt
Labels: 🧬 Taxonomies

#11850 taxonomy: Taxonomy/improve taxonomies for croatia
  lib/ProductOpener/Ingredients.pm
  taxonomies/additives.txt
  taxonomies/additives_classes.txt
  taxonomies/allergens.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/packaging_recycling.txt
  taxonomies/test.txt
  tests/unit/taxonomies_enhancer.t
Labels: 🧬 Taxonomies, 🧪 additives, 🥜 Allergens, 📦 Packaging, 🧪 tests, 🥗🔍 Ingredients analysis, Ingredients processing

#11857 feat: Use multiplication symbol for packaging counts
  templates/api/knowledge-panels/environment/packaging_components.tt.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-knowledge-panels-knowledge-panels_included-health_card-environment_card-knowledge_panels_excluded-health_card.json
  tests/integration/expected_test_results/api_v2_product_read/get-fields-knowledge-panels-knowledge-panels_included-health_card-environment_card.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v2_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-attribute-groups-all-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-knowledge-panels-knowledge-panels_included-health_card-environment_card-knowledge_panels_excluded-health_card.json
  tests/integration/expected_test_results/api_v3_product_read/get-fields-knowledge-panels-knowledge-panels_included-health_card-environment_card.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels-fr.json
  tests/integration/expected_test_results/api_v3_product_read/get-knowledge-panels.json
  tests/integration/expected_test_results/api_v3_product_write/patch-request-fields-updated-attribute-groups-knowledge-panels.json
  tests/integration/expected_test_results/product_read/get-existing-product.html
Labels: API, 🧪 tests, 📖 Knowledge Panels, Template::Toolkit, :star: top pull request, 🧪 integration tests

#11855 feat: Add weight % for single-item packaging
  lib/ProductOpener/Packaging.pm
  tests/unit/packaging.t
Labels: 📦 Packaging, 🧪 tests

#11863 docs: add how to add a translation to docs
  docs/dev/how-to-add-a-translation.md
  po/README.md
Labels: 📚 Documentation, 🌐 Translations

#11864 fix: Tests fail when run locally
  Makefile
  lib/ProductOpener/CRM.pm
  lib/ProductOpener/GS1.pm
  lib/ProductOpener/Images.pm
  lib/ProductOpener/Import.pm
  lib/ProductOpener/ImportConvert.pm
  lib/ProductOpener/ImportConvertCarrefourFrance.pm
  lib/ProductOpener/Ingredients.pm
  lib/ProductOpener/LoadData.pm
  lib/ProductOpener/NutritionCiqual.pm
  lib/ProductOpener/Routing.pm
  lib/ProductOpener/Tags.pm
  tests/unit/ingredients_extract.t
  tests/unit/ingredients_nesting.t
  tests/unit/ingredients_parsing_todo.t
  tests/unit/ingredients_processing.t
  tests/unit/ingredients_tags.t
  tests/unit/lang.t
  tests/unit/tags.t
Labels: Data import, 🖼️ Images, 🧪 tests, 🏭 Producers Platform, 🥗🔍 Ingredients analysis, GS1, Tags, 🏭 Producers Platform - Odoo, 🧪 unit tests, 🚦 Nutri-Score, Ingredients processing

#11856 fix: remove 250 and more for search size
  cgi/search.pl
  tests/integration/expected_test_results/web_html/fr-search-form.html
  tests/integration/expected_test_results/web_html/world-search-form.html
Labels: 🧪 tests

#11849 feat: adding button to report image on view image page
  cgi/product_image.pl
  po/common/common.pot
  po/common/en.po
  templates/web/pages/product/includes/product_image.tt.html
  tests/integration/expected_test_results/web_html/report-image-button.html
  tests/integration/web_html.t
Labels: Product Page, 🧪 tests, Template::Toolkit, 🌐 Translations

#11869 docs: some useful perl links
  docs/dev/how-to-learn-perl.md
Labels: 📚 Documentation

#11879 taxonomy: Sort brands.txt
  Makefile
  taxonomies/brands.txt
Labels: 🧬 Taxonomies, brands

#11878 chore: taxonomy week 18
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, categories, 🥗🔍 Ingredients analysis

#11871 docs: add troubleshooting to docs quick start for docker group
  docs/dev/how-to-quick-start-guide.md
Labels: 📚 Documentation

#11877 fix: text extraction issue for CZ and LT
  lib/ProductOpener/Ingredients.pm
Labels: 🥗🔍 Ingredients analysis

#11852 fix: Lacto-ovo-vegetarian taxonomy
  taxonomies/labels.txt
  tests/integration/expected_test_results/api_v3_product_write/patch-tags-fields.json
Labels: 🧬 Taxonomies, 🧪 tests, Vegetarian

#11854 taxonomy: Various updates/additions
  html/images/lang/en/labels/ce.126x90.svg
  lib/ProductOpener/Ingredients.pm
  taxonomies/brands.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
  taxonomies/packaging_materials.txt
  taxonomies/packaging_shapes.txt
  taxonomies/product/categories.txt
  taxonomies/product/labels.txt
  tests/unit/expected_test_results/import_convert_carrefour_france/rows/3245390028754.json
Labels: 🧬 Taxonomies, categories, 📦 Packaging, 🧪 tests, 📸 Open Products Facts, 💥 Merge Conflicts, 🥗🔍 Ingredients analysis, 📦 Packaging shapes, 🇸🇪 Sweden, Ingredients processing

#11886 taxonomy: Polish ingredients
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗🔍 Ingredients analysis

#11883 taxonomy: Various updates/additions
  taxonomies/brands.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, categories, 🌱 Vegan, 🥗🔍 Ingredients analysis, 🇸🇪 Sweden, Ingredients processing

#11881 fix: Update Display.pm to make obf edge-to-edge
  lib/ProductOpener/Display.pm
Labels: 🧴 Open Beauty Facts, Display

#11892 docs: Document popularity_tags + scans
  docs/api/ref/schemas/product_misc.yaml
Labels: 📚 Documentation

#11894 fix: Errors in food ingredients
  taxonomies/food/ingredients.txt
Labels: 🧬 Taxonomies, 🥗🔍 Ingredients analysis, 🧬 Taxonomy editor

#11890 taxonomy: large dairy products update
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#11887 taxonomy: polish syn
  taxonomies/additives.txt
Labels: 🧬 Taxonomies, 🧪 additives, Poland

#11891 taxonomy: Various updates/additions
  html/images/lang/en/labels/plantpack.128x90.svg
  lib/ProductOpener/Ingredients.pm
  taxonomies/brands.txt
  taxonomies/food/categories.txt
  taxonomies/food/ingredients.txt
  taxonomies/ingredients_processing.txt
  taxonomies/labels.txt
Labels: 🧬 Taxonomies, categories, 🥗🔍 Ingredients analysis, 🇸🇪 Sweden, Ingredients processing

#11896 docs: quantity doc
  docs/api/ref/schemas/product_base.yaml
Labels: 📚 Documentation, 📚 OpenAPI

#11870 fix: change the reset preference message depend on flavor
  html/js/product-preferences.js
  lib/ProductOpener/Display.pm
  po/common/common.pot
  po/common/en.po
  tests/integration/expected_test_results/convert_and_import_excel_file/carrefour-images/products/3560070167470.json
  tests/integration/expected_test_results/convert_and_import_excel_file/carrefour-images/products/3560070815746.json
  tests/integration/expected_test_results/page_crawler/crawler-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/crawler-access-product-page.html
  tests/integration/expected_test_results/page_crawler/crawler-does-not-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-category-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-nested-facet-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-access-product-page.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-facet-knowledge-panels.html
  tests/integration/expected_test_results/page_crawler/normal-user-get-non-official-cc-lc.html
  tests/integration/expected_test_results/product_read/get-existing-product.html
  tests/integration/expected_test_results/protected_images/get-protected-image.json
  tests/integration/expected_test_results/unknown_tags/country-cambodia-exists-but-empty.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist-ingredients-apple.html
  tests/integration/expected_test_results/unknown_tags/country-doesnotexist.html
  tests/integration/expected_test_results/unknown_tags/country-france-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-apple-exists.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknownandemptyingredient-does-not-exist-and-empty.html
  tests/integration/expected_test_results/unknown_tags/ingredient-someunknowningredient-does-not-exist-but-not-empty.html
  tests/integration/expected_test_results/upload_images/get-product-image.json
  tests/integration/expected_test_results/upload_images/get-same-image-twice.json
  tests/integration/expected_test_results/web_html/fr-categories.html
  tests/integration/expected_test_results/web_html/fr-index.html
  tests/integration/expected_test_results/web_html/fr-product-2.html
  tests/integration/expected_test_results/web_html/fr-product.html
  tests/integration/expected_test_results/web_html/fr-search-results-cached.html
  tests/integration/expected_test_results/web_html/fr-search-results-no-cache.html
  tests/integration/expected_test_results/web_html/fr-search-results.html
  tests/integration/expected_test_results/web_html/world-categories.html
  tests/integration/expected_test_results/web_html/world-index-signedin.html
  tests/integration/expected_test_results/web_html/world-index.html
  tests/integration/expected_test_results/web_html/world-label-organic.html
  tests/integration/expected_test_results/web_html/world-product-content-only.html
  tests/integration/expected_test_results/web_html/world-product-smoothie.html
  tests/integration/expected_test_results/web_html/world-product.html
  tests/integration/expected_test_results/web_html/world-products-multiple-codes.html
  tests/integration/expected_test_results/web_html/world-search-results.html
Labels: 🧪 tests, 💥 Merge Conflicts, Display, 🌐 Translations

#11893 docs: precise that user_id is username, not email
  docs/api/index.md
  docs/api/ref/api-v3.yml
  docs/api/ref/api.yml
  docs/api/ref/requestBodies/add_or_edit_a_product.yaml
  docs/api/tutorial-off-api.md
  docs/api/tutorial-uploading-photo-to-a-product.md
Labels: ✏️ Editing, 📚 Documentation, API WRITE, 🖼️ Images, :star: top pull request, API v3, 📚 OpenAPI

#11882 taxonomy: Add oryzanol to nutrients
  lib/ProductOpener/Food.pm
  taxonomies/nutrients.txt
Labels: 🧬 Taxonomies, Nutrients, 🇮🇳 India, Food.pm

#11903 fix: remove extra ingredients saved that add many keys unique keys to the database.
  lib/ProductOpener/Ingredients.pm
  scripts/update_all_products.pl
Labels: 🥗🔍 Ingredients analysis, update all products

#11908 taxonomy: fix parsing errors in food category taxonomy
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#11932 docs: docs/dev/how-to-quick-start-guide.md typofix
  docs/dev/how-to-quick-start-guide.md
Labels: 📚 Documentation, Paris Perl Hackathon

#11931 docs: lightly copyedit docs/dev/explain-personal-search.md
  docs/dev/explain-personal-search.md
Labels: 📚 Documentation, Paris Perl Hackathon

#11946 taxonomy: syn german allergen gluten
  taxonomies/allergens.txt
Labels: 🧬 Taxonomies, 🥜 Allergens, 🌾 gluten

#11928 docs: Update product_ecoscore.yaml
  docs/api/ref/schemas/product_ecoscore.yaml
Labels: Paris Perl Hackathon

#11876 taxonomy: swedish-style oat biscuits
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories

#11949 docs: Update tagtype.yaml to remove duplicate tag for data quality
  docs/api/ref/schemas/tags/tagtype.yaml
Labels: 📚 Documentation, Tags

#11895 taxonomy: large delicatessen (charcuterie) + spirits update
  taxonomies/food/categories.txt
Labels: 🧬 Taxonomies, categories, 🥗🔍 Ingredients analysis

#11956 fix: localization: lowercase the Spanish translation of the 'editors' resource string
  po/tags/es.po
Labels: Tags, 🌐 Translations
